In [161]:
import pandas as pd

In [162]:
raw_df=pd.read_csv("WriteData.csv")

In [163]:
raw_df

,1,2,3
0,한국석유공사 / 설비 / 2020 상반기,"광주전자공업고등학교 / 학점 1.7등급 / 인천 글로벌 숙련 진흥원 5일, 선반, ...",7.한국석유공사\n\n 1. 지원 분야 직무기술서 ‘직무수행 내용’ 중 본인이 가장...
1,CJ제일제당 / Food Sales / 2020 상반기,"중경외시 / 상경계열 / 학점 3.92 / 토익 905, 토스 LV 6 / 봉사활동...",CJ제일제당 및 선택한 직무에 대한 지원동기는 무엇인가요? ① 선택한 직무에 관심을...
2,한국가스안전공사 / LP가스 안전지킴이사업 / 2020 상반기,"제주대학교 / 학점 3.3 / 토익830 / 컴퓨터활용능력1급, 한국사1급",\n1. 한국가스안전공사가 진행하는 사업에 관심을 갖고 공사에 지원한 동기에 대해 ...
3,코레일 / 사무영업 / 2020 상반기,"충남대학교 / 학점 3.87 / 토익 835 / 토론동아리 3년, 컴활1급, 한국사1급","1.공동체의 일원으로서 가장 중요하게 생각하는 가치를 제시하고, 그 가치를 실천했던..."
4,한국기술교육대학교 / 행정 / 2020 상반기,"건국대학교 / 학점 4.0 / 토익 780 / 컴활 1급, 한국사1급","1. 본인이 가진 가장 뛰어난 점과 그렇게 판단한 이유, 고용노동연수원 업무수행에서..."
...,...,...,...
10102,현대자동차 / 영업관리 / 2013 상반기,"상명대학교 / 국제통상학 / 학점 4.3 / 토익 900, HSK 6급 / 해외인턴...",1. 현대자동차에 지원하게 된 동기 또는 해당 직무에 지원하게 된 동기는 무엇입니까...
10103,심팩 / 용접관리 / 2013 상반기,지방전문대 / 공업화학 / 학점 3.06,성격소개\n\n대부분의 사람들이 평가하는 첫인상은 소심하고 내성적인 성격일것이라 생...
10104,"한국전력 / 인턴[송,배전] / 2013 상반기","지거국 / 전자공학 / 학점 3.7 / 토익 900대 / 음악봉사활동, 멘토링 등","[질문 1] 취업이라는 목표 이외에 인생의 큰 목표를 세운 경험, 그 목표를 실현하..."
10105,"한국전력 / 인턴[송,배전] / 2013 상반기","지거국 / 전자공학 / 학점 3.7 / 토익 900 / 음악봉사활동, 멘토링등",한전 자가소개서 양식 500자 12줄 이내\n\n[질문 1] 취업이라는 목표 이외에...
10106,"한국전력 / 인턴[송,배전] / 2013 상반기","지거국 / 전자공학 / 학점 3.7 / 토익 900 / 음악봉사활동, 멘토링등",한전 자가소개서 양식 500자 12줄 이내\n\n[질문 1] 취업이라는 목표 이외에...

In [164]:
df=pd.read_csv("2.csv")

In [165]:
df

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,기업명,지원부서,지원시기,학교,학과,학점,어학,자격증,경험사항,자소서
0,0,0,0,한국석유공사,설비,2020 상반기,NaN,전자공학과,학점 1.7등급,NaN,NaN,"인천 글로벌 숙련 진흥원, 선반, 용접 ,특수용접, 설비보전",7.한국석유공사\n\n 1. 지원 분야 직무기술서 ‘직무수행 내용’ 중 본인이 가장...
1,1,1,1,CJ제일제당,Food Sales,2020 상반기,서울사립대(중앙대학교),상경계열학과,학점 3.92,NaN,NaN,봉사활동 일부빼고는 전무.,CJ제일제당 및 선택한 직무에 대한 지원동기는 무엇인가요? ① 선택한 직무에 관심을...
2,2,2,2,한국가스안전공사,LP가스 안전지킴이사업,2020 상반기,지방거점국립대(제주대학교),NaN,학점 3.3,토익830,NaN,NaN,\n1. 한국가스안전공사가 진행하는 사업에 관심을 갖고 공사에 지원한 동기에 대해 ...
3,3,3,3,코레일,사무영업,2020 상반기,지방거점국립대(충남대학교),NaN,학점 3.87,토익 835,NaN,NaN,"1.공동체의 일원으로서 가장 중요하게 생각하는 가치를 제시하고, 그 가치를 실천했던..."
4,4,4,4,한국기술교육대학교,행정,2020 상반기,서울사립대(건국대학교),NaN,학점 4.0,토익 780,NaN,NaN,"1. 본인이 가진 가장 뛰어난 점과 그렇게 판단한 이유, 고용노동연수원 업무수행에서..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10102,10102,10102,10102,현대자동차,영업관리,2013 상반기,서울사립대(상명대학교),국제통상학과,학점 4.3,NaN,NaN,"해외인턴1회, 중국어 말하기 대회 1등, 와인바 매니저 1년 6개월 경력",1. 현대자동차에 지원하게 된 동기 또는 해당 직무에 지원하게 된 동기는 무엇입니까...
10103,10103,10103,10103,심팩,용접관리,2013 상반기,전문대,공업화학과,학점 3.06,NaN,NaN,NaN,성격소개\n\n대부분의 사람들이 평가하는 첫인상은 소심하고 내성적인 성격일것이라 생...
10104,10104,10104,10104,한국전력,"인턴[송,배전]",2013 상반기,지방거점국립대,전자공학과,학점 3.7,NaN,NaN,"음악봉사활동, 멘토링 등","[질문 1] 취업이라는 목표 이외에 인생의 큰 목표를 세운 경험, 그 목표를 실현하..."
10105,10105,10105,10105,한국전력,"인턴[송,배전]",2013 상반기,지방거점국립대,전자공학과,학점 3.7,NaN,NaN,"음악봉사활동, 멘토링등",한전 자가소개서 양식 500자 12줄 이내\n\n[질문 1] 취업이라는 목표 이외에...
10106,10106,10106,10106,한국전력,"인턴[송,배전]",2013 상반기,지방거점국립대,전자공학과,학점 3.7,NaN,NaN,"음악봉사활동, 멘토링등",한전 자가소개서 양식 500자 12줄 이내\n\n[질문 1] 취업이라는 목표 이외에...

In [166]:
first = raw_df['2'].str.split("/",expand=True)[0]
second = raw_df['2'].str.split("/",expand=True)[1]
third = raw_df['2'].str.split("/",expand=True)[2]

In [167]:
four=raw_df["2"].str.split("/",expand=True)[3]

In [168]:
four

0                          None
1              토익 905, 토스 LV 6
2              컴퓨터활용능력1급, 한국사1급
3         토론동아리 3년, 컴활1급, 한국사1급
4                  컴활 1급, 한국사1급
                  ...
10102           토익 900, HSK 6급
10103                      None
10104                  토익 900대
10105                   토익 900
10106                   토익 900
Name: 3, Length: 10107, dtype: object

In [9]:
four[four.str.contains("토익")==True]

1           토익 905, 토스 LV 6
66                   토익 890
191                토익스피킹 레벨6
192       토익 745, 토익스피킹 130
199                  토익 910
                ...
10101                 토익 850
10102        토익 900, HSK 6급
10104               토익 900대
10105                토익 900
10106                토익 900
Name: 3, Length: 4835, dtype: object

In [170]:
four[four.str.contains("opic")==True]="오픽 IM3"
four[four.str.contains("오픽 IM3")==True]

1475                 오픽 IM3
1494                 오픽 IM3
1666                 오픽 IM3
1686                 오픽 IM3
1833                 오픽 IM3
1982                  오픽 IM3
2121                  오픽 IM3
2835         토익 880, 오픽 IM3
2967         토익 880, 오픽 IM3
3960                 오픽 IM3
3982                  오픽 IM3
4002                  오픽 IM3
4059                 오픽 IM3
4409                  오픽 IM3
4432                  오픽 IM3
5245                  오픽 IM3
5246                  오픽 IM3
5356                 오픽 IM3
5395                  오픽 IM3
5503                 오픽 IM3
5623                 오픽 IM3
5655          토익 750, 오픽 IM3
5964         토익 805, 오픽 IM3
6187         토익 805, 오픽 IM3
6307                  오픽 IM3
6431                  오픽 IM3
6694                  오픽 IM3
6781                  오픽 IM3
6996                  오픽 IM3
7016                  오픽 IM3
7409                 오픽 IM3
7470                 오픽 IM3
7490                 오픽 IM3
7884                 오픽 IM3
8234         토익 865, 오픽 IM3
8511         토익 865, 오픽 IM3
8520         토익 865, 오픽 IM3
8753         토익 915, 오픽 IM3
8769     오픽 IM3, 러시아어 오픽 AL
8791          토익 890, 오픽 IM3
8811          토익 890, 오픽 IM3
9003          토익 890, 오픽 IM3
9193          토익 890, 오픽 IM3
9308         토익 725, 오픽 IM3
Name: 3, dtype: object

In [171]:
# 컬럼에 집어넣기
df.at[four[four.str.contains("오픽 IM3")==True].index,["어학"]]=four[four.str.contains("오픽 IM3")==True]

In [172]:
four[four.str.contains("오픽 IM3")==True]=""

In [173]:
df["어학"][1475]

' 오픽 IM3 '

In [174]:
four[four.str.contains("토익")==True]

1           토익 905, 토스 LV 6
66                   토익 890
191                토익스피킹 레벨6
192       토익 745, 토익스피킹 130
199                  토익 910
                ...
10101                 토익 850
10102        토익 900, HSK 6급
10104               토익 900대
10105                토익 900
10106                토익 900
Name: 3, Length: 4821, dtype: object

In [175]:
df.at[four[four.str.contains("토익")==True].index,["어학"]]=four[four.str.contains("토익")==True]

In [186]:
df["어학"][187]

' JPT 795'

In [177]:
four[four.str.contains("토익")==True]=""

In [178]:
four[four.str.contains("토스")==True]

24        토스 lv7
25        토스 lv6
46        토스 lv7
49        토스 lv6
63        토스 Lv6
           ...
10035      토스 레벨6
10055      토스 레벨6
10062      토스 레벨6
10089     토스 lv.5
10092      토스 lv6
Name: 3, Length: 850, dtype: object

In [179]:
df.at[four[four.str.contains("토스")==True].index,["어학"]]=four[four.str.contains("토스")==True]

In [181]:
four[four.str.contains("토스")==True]=""

In [182]:
four[four.str.contains("JPT")==True]

187     JPT 795
Name: 3, dtype: object

In [183]:
df.at[four[four.str.contains("JPT")==True].index,["어학"]]=four[four.str.contains("JPT")==True]

In [185]:
four[four.str.contains("JPT")==True]=""

In [187]:
four[four.str.contains("오픽")==True]

206                      오픽 IM2
231       오픽 Im2, Hsk 4급, 240점
251       오픽 Im2, Hsk 4급, 240점
267                       오픽 IH
291                      오픽 IM2
                  ...
10025                    오픽 AL
10045                    오픽 AL
10072            오픽 IH, HSK 6급
10083                   오픽 im2
10095           오픽IH, HSK 6급 등
Name: 3, Length: 931, dtype: object

In [188]:
df.at[four[four.str.contains("오픽")==True].index,["어학"]]=four[four.str.contains("오픽")==True]

In [189]:
four[four.str.contains("오픽")==True]=""

In [193]:
four[four.str.contains("OPIC")==True]

2216      OPIC IM2
2374      OPIC IM2
4389        OPIC AL
4404     IM2(OPIC)
4424        OPIC AL
4435     IM2(OPIC)
4448     IM2(OPIC)
5022      OPIC IM2
Name: 3, dtype: object

In [194]:
df.at[four[four.str.contains("OPIC")==True].index,["어학"]]=four[four.str.contains("OPIC")==True]

In [195]:
four[four.str.contains("OPIC")==True]=""

In [196]:
four[four.str.contains("Opic")==True]

2544     HSK(5급),Opic(IH)
2560     HSK(5급),Opic(IH)
5973               Opic IH
6192               Opic IH
Name: 3, dtype: object

In [197]:
df.at[four[four.str.contains("Opic")==True].index,["어학"]]=four[four.str.contains("Opic")==True]

In [198]:
four[four.str.contains("Opic")==True]=""

In [199]:
four[four.str.contains("무역영어")==True]

741                                              무역영어 1급
770                                              무역영어 1급
9393     인턴 1회, 대외활동 1회, 산업통상자원부장관상, 봉사활동 100시간, 무역영어 ...
9611     인턴 1회, 대외활동 1회, 산업통상자원부장관상, 봉사활동 100시간, 무역영어 ...
Name: 3, dtype: object

In [200]:
df.at[four[four.str.contains("무역영어")==True].index,["자격증"]]=four[four.str.contains("무역영어")==True]

In [201]:
four[four.str.contains("무역영어")==True]=""

In [202]:
four[four.str.contains("토플")==True]

860      토플 100점대
3758        토플 89
3778        토플 89
3856        토플 89
Name: 3, dtype: object

In [203]:
df.at[four[four.str.contains("토플")==True].index,["어학"]]=four[four.str.contains("토플")==True]

In [204]:
four[four.str.contains("토플")==True]=""

In [205]:
four[four.str.contains("토픽")==True]

879     토픽 7
949     토픽 7
969     토픽 7
Name: 3, dtype: object

In [206]:
df.at[four[four.str.contains("토픽")==True].index,["어학"]]=four[four.str.contains("토픽")==True]

In [207]:
four[four.str.contains("토픽")==True]=""

In [208]:
four[four.str.contains("850")==True]

892         850
981         850
7567         850
7642         850
9522     통기 850
9582     통기 850
9629     통기 850
9649     통기 850
9801     통기 850
Name: 3, dtype: object

In [209]:
four[four.str.contains("850")==True]="토익 850"

In [210]:
df.at[four[four.str.contains("토익 850")==True].index,["어학"]]=four[four.str.contains("토익 850")==True]

In [211]:
four[four.str.contains("토익 850")==True]=""

In [212]:
four[four.str.contains("TOEIC")==True]

2837              TOEIC 960
2971              TOEIC 960
3021      TOEIC 960, OPIc Al
3141      TOEIC 960, OPIc Al
3161      TOEIC 960, OPIc Al
3241      TOEIC 960, OPIc Al
6332       HSK 6급, TOEIC 880
6562       HSK 6급, TOEIC 880
7404            TOEIC - 840
7578              TOEIC 860
7657              TOEIC 860
8888              TOEIC 765
9139              TOEIC 765
9324     TOEIC 705, JLPT N1
9344     TOEIC 705, JLPT N1
9749     TOEIC 705, JLPT N1
9769     TOEIC 705, JLPT N1
Name: 3, dtype: object

In [213]:
df.at[four[four.str.contains("TOEIC")==True].index,["어학"]]=four[four.str.contains("TOEIC")==True]

In [214]:
four[four.str.contains("TOEIC")==True]=""

In [215]:
four[four.str.contains("toeic")==True]

3958      toeic 820
4066      toeic 820
8796      toeic 930
8816      toeic 930
9030      toeic 930
10087      toeic 920
Name: 3, dtype: object

In [217]:
df.at[four[four.str.contains("toeic")==True].index,["어학"]]=four[four.str.contains("toeic")==True]

In [218]:
four[four.str.contains("toeic")==True]=""

In [219]:
four[four.str.contains("Toeic")==True]

3348     Toeic speaking LV6
3468     Toeic speaking LV6
8885         LV5, Toeic 720
Name: 3, dtype: object

In [220]:
df.at[four[four.str.contains("Toeic")==True].index,["어학"]]=four[four.str.contains("Toeic")==True]

In [221]:
four[four.str.contains("Toeic")==True]=""

In [222]:
four[four.str.contains("hsk")==True]

1288     hsk 6급
1383     hsk 6급
Name: 3, dtype: object

In [223]:
df.at[four[four.str.contains("hsk")==True].index,["어학"]]=four[four.str.contains("hsk")==True]

In [224]:
four[four.str.contains("hsk")==True]=""

In [226]:
four[four.str.contains("920")==True]="토익 920"

In [227]:
df.at[four[four.str.contains("920")==True].index,["어학"]]=four[four.str.contains("토익 920")==True]

In [228]:
four[four.str.contains("토익 920")==True]=""

In [229]:
four[four.str.contains("800")==True]

2213      800
2377      800
2380      800
2400      800
5887      800
7984     800
8266     800
Name: 3, dtype: object

In [230]:
four[four.str.contains("800")==True]="토익 800"

In [231]:
df.at[four[four.str.contains("토익 800")==True].index,["어학"]]=four[four.str.contains("토익 800")==True]

In [232]:
four[four.str.contains("토익 800")==True]=""

In [233]:
four[four.str.contains("HSK")==True]

659        중국어 HSK5급
751        중국어 HSK5급
839           HSK 5급
859           HSK 5급
934           HSK 5급
3039        중국어 HSK6급
3135     HSK 6급 276점
3148        중국어 HSK6급
3168        중국어 HSK6급
3234     HSK 6급 276점
3252        중국어 HSK6급
3580             신HSK
3604             신HSK
3711      중국어 신HSK6급
3812      중국어 신HSK6급
6713      중국어 HSK 6급
7185           HSK 6급
Name: 3, dtype: object

In [234]:
df.at[four[four.str.contains("HSK")==True].index,["어학"]]=four[four.str.contains("HSK")==True]

In [235]:
four[four.str.contains("HSK")==True]=""

In [237]:
four[four.str.contains("820")==True]="토익 820"

In [238]:
df.at[four[four.str.contains("토익 820")==True].index,["어학"]]=four[four.str.contains("토익 820")==True]

In [239]:
four[four.str.contains("토익 820")==True]=""

In [240]:
four[four.str.contains("IM2")==True]

4169            IM2
4239            IM2
4259            IM2
4260            IM2
6368      715, IM2
6638      715, IM2
6658      715, IM2
6666      715, IM2
9979            IM2
9999            IM2
10019           IM2
Name: 3, dtype: object

In [241]:
four[four.str.contains("IM1")==True]="오픽 IM1"

In [242]:
df.at[four[four.str.contains("오픽 IM1")==True].index,["어학"]]=four[four.str.contains("오픽 IM1")==True]

In [243]:
four[four.str.contains("오픽 IM1")==True]=""

In [244]:
four[four.str.contains("715, IM2")==True]

6368     715, IM2
6638     715, IM2
6658     715, IM2
6666     715, IM2
Name: 3, dtype: object

In [245]:
four[four.str.contains("715, IM2")==True]="토익 715, 오픽 IM2"

In [246]:
df.at[four[four.str.contains("토익 715, 오픽 IM2")==True].index,["어학"]]=four[four.str.contains("토익 715, 오픽 IM2")==True]

In [247]:
four[four.str.contains("토익 715, 오픽 IM2")==True]=""

In [248]:
four[four.str.contains("IM2")==True]

4169      IM2
4239      IM2
4259      IM2
4260      IM2
9979      IM2
9999      IM2
10019     IM2
Name: 3, dtype: object

In [249]:
four[four.str.contains("IM2")==True]="오픽 IM2"

In [250]:
df.at[four[four.str.contains("오픽 IM2")==True].index,["어학"]]=four[four.str.contains("오픽 IM2")==True]

In [251]:
four[four.str.contains("오픽 IM2")==True]=""

In [252]:
four[four.str.contains("IH")==True]="오픽 IH"

In [253]:
df.at[four[four.str.contains("오픽 IH")==True].index,["어학"]]=four[four.str.contains("오픽 IH")==True]

In [254]:
four[four.str.contains("오픽 IH")==True]=""

In [255]:
four[four.str.contains("900")==True]="토익 900"

In [256]:
df.at[four[four.str.contains("토익 900")==True].index,["어학"]]=four[four.str.contains("토익 900")==True]

In [257]:
four[four.str.contains("토익 900")==True]=""

In [258]:
four[four.str.contains("890")==True]="토익 890"

In [259]:
df.at[four[four.str.contains("토익 890")==True].index,["어학"]]=four[four.str.contains("토익 890")==True]

In [260]:
four[four.str.contains("토익 890")==True]=""

In [261]:
four[four.str.contains("855")==True]="토익 855"

In [262]:
df.at[four[four.str.contains("토익 855")==True].index,["어학"]]=four[four.str.contains("토익 855")==True]

In [263]:
four[four.str.contains("토익 855")==True]=""

In [264]:
four[four.str.contains("스피킹")==True]="토스 Lv7"

In [265]:
df.at[four[four.str.contains("토스 Lv7")==True].index,["어학"]]=four[four.str.contains("토스 Lv7")==True]

In [266]:
four[four.str.contains("토스 Lv7")==True]=""

In [267]:
four[four.str.contains("790")==True]="토익 790"

In [268]:
df.at[four[four.str.contains("토익 790")==True].index,["어학"]]=four[four.str.contains("토익 790")==True]

In [269]:
four[four.str.contains("토익 790")==True]=""

In [270]:
four[four.str.contains("805")==True]="토익 805"

In [271]:
df.at[four[four.str.contains("토익 805")==True].index,["어학"]]=four[four.str.contains("토익 805")==True]

In [272]:
four[four.str.contains("토익 805")==True]=""

In [273]:
four[four.str.contains("940")==True]

6793     940
7030     940
Name: 3, dtype: object

In [274]:
four[four.str.contains("940")==True]="토익 940"

In [275]:
df.at[four[four.str.contains("토익 940")==True].index,["어학"]]=four[four.str.contains("토익 940")==True]

In [276]:
four[four.str.contains("토익 940")==True]=""

In [277]:
four[four.str.contains("Hsk")==True]

6788     Hsk 6급
6999     Hsk 6급
7019     Hsk 6급
7020     Hsk 6급
Name: 3, dtype: object

In [278]:
df.at[four[four.str.contains("Hsk")==True].index,["어학"]]=four[four.str.contains("Hsk")==True]

In [279]:
four[four.str.contains("Hsk")==True]=""

In [280]:
four[four.str.contains("945")==True]="토익 945"

In [281]:
df.at[four[four.str.contains("토익 945")==True].index,["어학"]]=four[four.str.contains("토익 945")==True]

In [282]:
four[four.str.contains("토익 945")==True]=""

In [283]:
four[four.str.contains("840")==True]="토익 840"

In [284]:
df.at[four[four.str.contains("토익 840")==True].index,["어학"]]=four[four.str.contains("토익 840")==True]

In [285]:
four[four.str.contains("토익 840")==True]=""

In [286]:
four[four.str.contains("770")==True]="토익 770"

In [287]:
df.at[four[four.str.contains("토익 770")==True].index,["어학"]]=four[four.str.contains("토익 770")==True]

In [288]:
four[four.str.contains("토익 770")==True]=""

In [289]:
four[four.str.contains("780")==True]="토익 780"

In [290]:
df.at[four[four.str.contains("토익 780")==True].index,["어학"]]=four[four.str.contains("토익 780")==True]

In [291]:
four[four.str.contains("토익 780")==True]=""

In [292]:
four[four.str.contains("845")==True]="토익 845"

In [293]:
df.at[four[four.str.contains("토익 845")==True].index,["어학"]]=four[four.str.contains("토익 845")==True]

In [294]:
four[four.str.contains("토익 845")==True]=""

In [295]:
four[four.str.contains("700")==True]="토익 770"

In [296]:
df.at[four[four.str.contains("토익 770")==True].index,["어학"]]=four[four.str.contains("토익 770")==True]

In [297]:
four[four.str.contains("토익 770")==True]=""

In [298]:
four[four.str.contains("750")==True]="토익 750"

In [299]:
df.at[four[four.str.contains("토익 750")==True].index,["어학"]]=four[four.str.contains("토익 750")==True]

In [300]:
four[four.str.contains("토익 750")==True]=""

In [301]:
four[four.str.contains("895")==True]="토익 895"

In [302]:
df.at[four[four.str.contains("토익 895")==True].index,["어학"]]=four[four.str.contains("토익 895")==True]

In [303]:
four[four.str.contains("토익 895")==True]=""

In [304]:
four[four.str.contains("870")==True]="토익 870"

In [305]:
df.at[four[four.str.contains("토익 870")==True].index,["어학"]]=four[four.str.contains("토익 870")==True]

In [306]:
four[four.str.contains("토익 870")==True]=""

In [307]:
four[four.str.contains("975")==True]="토익 975"

In [308]:
df.at[four[four.str.contains("토익 975")==True].index,["어학"]]=four[four.str.contains("토익 975")==True]

In [309]:
four[four.str.contains("토익 975")==True]=""

In [310]:
four[four.str.contains("835")==True]="토익 835"

In [311]:
df.at[four[four.str.contains("토익 835")==True].index,["어학"]]=four[four.str.contains("토익 835")==True]

In [312]:
four[four.str.contains("토익 835")==True]=""

In [314]:
df

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,기업명,지원부서,지원시기,학교,학과,학점,어학,자격증,경험사항,자소서
0,0,0,0,한국석유공사,설비,2020 상반기,NaN,전자공학과,학점 1.7등급,NaN,NaN,"인천 글로벌 숙련 진흥원, 선반, 용접 ,특수용접, 설비보전",7.한국석유공사\n\n 1. 지원 분야 직무기술서 ‘직무수행 내용’ 중 본인이 가장...
1,1,1,1,CJ제일제당,Food Sales,2020 상반기,서울사립대(중앙대학교),상경계열학과,학점 3.92,"토익 905, 토스 LV 6",NaN,봉사활동 일부빼고는 전무.,CJ제일제당 및 선택한 직무에 대한 지원동기는 무엇인가요? ① 선택한 직무에 관심을...
2,2,2,2,한국가스안전공사,LP가스 안전지킴이사업,2020 상반기,지방거점국립대(제주대학교),NaN,학점 3.3,토익830,NaN,NaN,\n1. 한국가스안전공사가 진행하는 사업에 관심을 갖고 공사에 지원한 동기에 대해 ...
3,3,3,3,코레일,사무영업,2020 상반기,지방거점국립대(충남대학교),NaN,학점 3.87,토익 835,NaN,NaN,"1.공동체의 일원으로서 가장 중요하게 생각하는 가치를 제시하고, 그 가치를 실천했던..."
4,4,4,4,한국기술교육대학교,행정,2020 상반기,서울사립대(건국대학교),NaN,학점 4.0,토익 780,NaN,NaN,"1. 본인이 가진 가장 뛰어난 점과 그렇게 판단한 이유, 고용노동연수원 업무수행에서..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10102,10102,10102,10102,현대자동차,영업관리,2013 상반기,서울사립대(상명대학교),국제통상학과,학점 4.3,"토익 900, HSK 6급",NaN,"해외인턴1회, 중국어 말하기 대회 1등, 와인바 매니저 1년 6개월 경력",1. 현대자동차에 지원하게 된 동기 또는 해당 직무에 지원하게 된 동기는 무엇입니까...
10103,10103,10103,10103,심팩,용접관리,2013 상반기,전문대,공업화학과,학점 3.06,NaN,NaN,NaN,성격소개\n\n대부분의 사람들이 평가하는 첫인상은 소심하고 내성적인 성격일것이라 생...
10104,10104,10104,10104,한국전력,"인턴[송,배전]",2013 상반기,지방거점국립대,전자공학과,학점 3.7,토익 900대,NaN,"음악봉사활동, 멘토링 등","[질문 1] 취업이라는 목표 이외에 인생의 큰 목표를 세운 경험, 그 목표를 실현하..."
10105,10105,10105,10105,한국전력,"인턴[송,배전]",2013 상반기,지방거점국립대,전자공학과,학점 3.7,토익 900,NaN,"음악봉사활동, 멘토링등",한전 자가소개서 양식 500자 12줄 이내\n\n[질문 1] 취업이라는 목표 이외에...
10106,10106,10106,10106,한국전력,"인턴[송,배전]",2013 상반기,지방거점국립대,전자공학과,학점 3.7,토익 900,NaN,"음악봉사활동, 멘토링등",한전 자가소개서 양식 500자 12줄 이내\n\n[질문 1] 취업이라는 목표 이외에...

In [316]:
df.to_csv("3-1.csv",encoding="utf-8")

In [315]:
df["어학"].isnull().sum()

1514