In [1]:
import pandas as pd

In [2]:
raw_df=pd.read_csv("WriteData.csv")

In [3]:
raw_df

,1,2,3
0,한국석유공사 / 설비 / 2020 상반기,"광주전자공업고등학교 / 학점 1.7등급 / 인천 글로벌 숙련 진흥원 5일, 선반, ...",7.한국석유공사\n\n 1. 지원 분야 직무기술서 ‘직무수행 내용’ 중 본인이 가장...
1,CJ제일제당 / Food Sales / 2020 상반기,"중경외시 / 상경계열 / 학점 3.92 / 토익 905, 토스 LV 6 / 봉사활동...",CJ제일제당 및 선택한 직무에 대한 지원동기는 무엇인가요? ① 선택한 직무에 관심을...
2,한국가스안전공사 / LP가스 안전지킴이사업 / 2020 상반기,"제주대학교 / 학점 3.3 / 토익830 / 컴퓨터활용능력1급, 한국사1급",\n1. 한국가스안전공사가 진행하는 사업에 관심을 갖고 공사에 지원한 동기에 대해 ...
3,코레일 / 사무영업 / 2020 상반기,"충남대학교 / 학점 3.87 / 토익 835 / 토론동아리 3년, 컴활1급, 한국사1급","1.공동체의 일원으로서 가장 중요하게 생각하는 가치를 제시하고, 그 가치를 실천했던..."
4,한국기술교육대학교 / 행정 / 2020 상반기,"건국대학교 / 학점 4.0 / 토익 780 / 컴활 1급, 한국사1급","1. 본인이 가진 가장 뛰어난 점과 그렇게 판단한 이유, 고용노동연수원 업무수행에서..."
...,...,...,...
10102,현대자동차 / 영업관리 / 2013 상반기,"상명대학교 / 국제통상학 / 학점 4.3 / 토익 900, HSK 6급 / 해외인턴...",1. 현대자동차에 지원하게 된 동기 또는 해당 직무에 지원하게 된 동기는 무엇입니까...
10103,심팩 / 용접관리 / 2013 상반기,지방전문대 / 공업화학 / 학점 3.06,성격소개\n\n대부분의 사람들이 평가하는 첫인상은 소심하고 내성적인 성격일것이라 생...
10104,"한국전력 / 인턴[송,배전] / 2013 상반기","지거국 / 전자공학 / 학점 3.7 / 토익 900대 / 음악봉사활동, 멘토링 등","[질문 1] 취업이라는 목표 이외에 인생의 큰 목표를 세운 경험, 그 목표를 실현하..."
10105,"한국전력 / 인턴[송,배전] / 2013 상반기","지거국 / 전자공학 / 학점 3.7 / 토익 900 / 음악봉사활동, 멘토링등",한전 자가소개서 양식 500자 12줄 이내\n\n[질문 1] 취업이라는 목표 이외에...
10106,"한국전력 / 인턴[송,배전] / 2013 상반기","지거국 / 전자공학 / 학점 3.7 / 토익 900 / 음악봉사활동, 멘토링등",한전 자가소개서 양식 500자 12줄 이내\n\n[질문 1] 취업이라는 목표 이외에...

In [4]:
df = pd.DataFrame(columns=["기업명","지원부서","지원시기","학교","학과","학점","어학","자격증","경험사항","자소서"])

In [5]:
df=pd.read_csv("3-1.csv")

In [6]:
df

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Unnamed: 0.1.1.1,기업명,지원부서,지원시기,학교,학과,학점,어학,자격증,경험사항,자소서
0,0,0,0,0,한국석유공사,설비,2020 상반기,NaN,전자공학과,학점 1.7등급,NaN,NaN,"인천 글로벌 숙련 진흥원, 선반, 용접 ,특수용접, 설비보전",7.한국석유공사\n\n 1. 지원 분야 직무기술서 ‘직무수행 내용’ 중 본인이 가장...
1,1,1,1,1,CJ제일제당,Food Sales,2020 상반기,서울사립대(중앙대학교),상경계열학과,학점 3.92,"토익 905, 토스 LV 6",NaN,봉사활동 일부빼고는 전무.,CJ제일제당 및 선택한 직무에 대한 지원동기는 무엇인가요? ① 선택한 직무에 관심을...
2,2,2,2,2,한국가스안전공사,LP가스 안전지킴이사업,2020 상반기,지방거점국립대(제주대학교),NaN,학점 3.3,토익830,NaN,NaN,\n1. 한국가스안전공사가 진행하는 사업에 관심을 갖고 공사에 지원한 동기에 대해 ...
3,3,3,3,3,코레일,사무영업,2020 상반기,지방거점국립대(충남대학교),NaN,학점 3.87,토익 835,NaN,NaN,"1.공동체의 일원으로서 가장 중요하게 생각하는 가치를 제시하고, 그 가치를 실천했던..."
4,4,4,4,4,한국기술교육대학교,행정,2020 상반기,서울사립대(건국대학교),NaN,학점 4.0,토익 780,NaN,NaN,"1. 본인이 가진 가장 뛰어난 점과 그렇게 판단한 이유, 고용노동연수원 업무수행에서..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10102,10102,10102,10102,10102,현대자동차,영업관리,2013 상반기,서울사립대(상명대학교),국제통상학과,학점 4.3,"토익 900, HSK 6급",NaN,"해외인턴1회, 중국어 말하기 대회 1등, 와인바 매니저 1년 6개월 경력",1. 현대자동차에 지원하게 된 동기 또는 해당 직무에 지원하게 된 동기는 무엇입니까...
10103,10103,10103,10103,10103,심팩,용접관리,2013 상반기,전문대,공업화학과,학점 3.06,NaN,NaN,NaN,성격소개\n\n대부분의 사람들이 평가하는 첫인상은 소심하고 내성적인 성격일것이라 생...
10104,10104,10104,10104,10104,한국전력,"인턴[송,배전]",2013 상반기,지방거점국립대,전자공학과,학점 3.7,토익 900대,NaN,"음악봉사활동, 멘토링 등","[질문 1] 취업이라는 목표 이외에 인생의 큰 목표를 세운 경험, 그 목표를 실현하..."
10105,10105,10105,10105,10105,한국전력,"인턴[송,배전]",2013 상반기,지방거점국립대,전자공학과,학점 3.7,토익 900,NaN,"음악봉사활동, 멘토링등",한전 자가소개서 양식 500자 12줄 이내\n\n[질문 1] 취업이라는 목표 이외에...
10106,10106,10106,10106,10106,한국전력,"인턴[송,배전]",2013 상반기,지방거점국립대,전자공학과,학점 3.7,토익 900,NaN,"음악봉사활동, 멘토링등",한전 자가소개서 양식 500자 12줄 이내\n\n[질문 1] 취업이라는 목표 이외에...

In [7]:
df["어학"][6793]

'토익 940'

In [8]:
four=pd.read_csv("sophie.csv",index_col=0)

In [9]:
four

                            3
0                         NaN
1                         NaN
2            컴퓨터활용능력1급, 한국사1급
3       토론동아리 3년, 컴활1급, 한국사1급
4                컴활 1급, 한국사1급
...                       ...
10102                     NaN
10103                     NaN
10104                     NaN
10105                     NaN
10106                     NaN

[10107 rows x 1 columns]

In [10]:
four = four["3"]

In [11]:
four[four.str.contains("IL")==True]

1950     OPIc IL
2089     OPIc IL
Name: 3, dtype: object

In [12]:
df.at[four[four.str.contains("IL")==True].index,["어학"]]=four[four.str.contains("IL")==True]

In [13]:
four[four.str.contains("IL")==True]=""

In [14]:
four[four.str.contains("축구")==True]

87      바디텍메드 인턴 (2개월), 학과 축구동아리 회장 1년, 교육봉사 28시간
106     바디텍메드 인턴 (2개월), 학과 축구동아리 회장 1년, 교육봉사 28시간
126     바디텍메드 인턴 (2개월), 학과 축구동아리 회장 1년, 교육봉사 28시간
Name: 3, dtype: object

In [15]:
df.at[four[four.str.contains("축구")==True].index,["경험사항"]]=four[four.str.contains("축구")==True]

In [16]:
four[four.str.contains("축구")==True]=""

In [17]:
four[four.str.contains("아시아나")==True]

268     아시아나 지상직원 근무 (1년2개월), 백석대학교 어문학부 학생회 (1년), 교내...
340     아시아나 지상직원 근무 (1년2개월), 백석대학교 어문학부 학생회 (1년), 교내...
360     아시아나 지상직원 근무 (1년2개월), 백석대학교 어문학부 학생회 (1년), 교내...
Name: 3, dtype: object

In [18]:
df.at[four[four.str.contains("아시아나")==True].index,["경험사항"]]=four[four.str.contains("아시아나")==True]

In [19]:
four[four.str.contains("아시아나")==True]=""

In [20]:
four[four.str.contains("몽골")==True]

159     몽골해외 봉사, 교내 봉사 동아리, 공조냉동기계기사
185     몽골해외 봉사, 교내 봉사 동아리, 공조냉동기계기사
261     몽골해외 봉사, 교내 봉사 동아리, 공조냉동기계기사
337     몽골해외 봉사, 교내 봉사 동아리, 공조냉동기계기사
Name: 3, dtype: object

In [21]:
df.at[four[four.str.contains("몽골")==True].index,["경험사항"]]=four[four.str.contains("몽골")==True]

In [22]:
four[four.str.contains("몽골")==True]=""

In [23]:
four[four.str.contains("컴활 1급, 한국사1급")==True]

4       컴활 1급, 한국사1급
21      컴활 1급, 한국사1급
38      컴활 1급, 한국사1급
45      컴활 1급, 한국사1급
405     컴활 1급, 한국사1급
Name: 3, dtype: object

In [24]:
df.at[four[four.str.contains("컴활 1급, 한국사1급")==True].index,["자격증"]]=four[four.str.contains("컴활 1급, 한국사1급")==True]

In [25]:
four[four.str.contains("컴활 1급, 한국사1급")==True]=""

In [26]:
four[four.str.contains("슈나이더일렉트릭코리아")==True]

15      슈나이더일렉트릭코리아 대학생 공모전(9개월), 2018년 여름방학 현장실습 (4주)
216     슈나이더일렉트릭코리아 대학생 공모전(9개월), 2018년 여름방학 현장실습 (4주)
305     슈나이더일렉트릭코리아 대학생 공모전(9개월), 2018년 여름방학 현장실습 (4주)
647     슈나이더일렉트릭코리아 대학생 공모전(9개월), 2018년 여름방학 현장실습 (4주)
743     슈나이더일렉트릭코리아 대학생 공모전(9개월), 2018년 여름방학 현장실습 (4주)
Name: 3, dtype: object

In [27]:
df.at[four[four.str.contains("슈나이더일렉트릭코리아")==True].index,["경험사항"]]=four[four.str.contains("슈나이더일렉트릭코리아")==True]

In [28]:
four[four.str.contains("슈나이더일렉트릭코리아")==True]=""

In [29]:
four[four.str.contains("한국나노기술원")==True]

17       (주)에이피피 학교 연계형 인턴 (2개월, 2018년 상반기), 재료연구소 체험형...
80       (주)에이피피 학교 연계형 인턴 (2개월, 2018년 상반기), 재료연구소 체험형...
83       (주)에이피피 학교 연계형 인턴 (2개월, 2018년 상반기), 재료연구소 체험형...
113      (주)에이피피 학교 연계형 인턴 (2개월, 2018년 상반기), 재료연구소 체험형...
133      (주)에이피피 학교 연계형 인턴 (2개월, 2018년 상반기), 재료연구소 체험형...
153      (주)에이피피 학교 연계형 인턴 (2개월, 2018년 상반기), 재료연구소 체험형...
179      (주)에이피피 학교 연계형 인턴 (2개월, 2018년 상반기), 재료연구소 체험형...
208      (주)에이피피 학교 연계형 인턴 (2개월, 2018년 상반기), 재료연구소 체험형...
265      (주)에이피피 학교 연계형 인턴 (2개월, 2018년 상반기), 재료연구소 체험형...
335      (주)에이피피 학교 연계형 인턴 (2개월, 2018년 상반기), 재료연구소 체험형...
578      (주)에이피피 학교 연계형 인턴 (2개월, 2018년 상반기), 재료연구소 체험형...
646      (주)에이피피 학교 연계형 인턴 (2개월, 2018년 상반기), 재료연구소 체험형...
652      (주)에이피피 학교 연계형 인턴 (2개월, 2018년 상반기), 재료연구소 체험형...
740      (주)에이피피 학교 연계형 인턴 (2개월, 2018년 상반기), 재료연구소 체험형...
747      (주)에이피피 학교 연계형 인턴 (2개월, 2018년 상반기), 재료연구소 체험형...
769      (주)에이피피 학교 연계형 인턴 (2개월, 2018년 상반기), 재료연구소 체험형...
1277     (주)에이피피 학교 연계형 인턴 (2개월, 2018년 상반기), 재료연구소 체험형...
1364     (주)에이피피 학교 연계형 인턴 (2개월, 2018년 상반기), 재료연구소 체험형...
Name: 3, dtype: object

In [30]:
df.at[four[four.str.contains("한국나노기술원")==True].index,["경험사항"]]=four[four.str.contains("한국나노기술원")==True]

In [31]:
four[four.str.contains("한국나노기술원")==True]=""

In [32]:
four[four.str.contains("전산회계1급, ")==True]

28     전산회계1급, ERP회계정보관리사 2급, ERP 인사정보관리사 2급
50     전산회계1급, ERP회계정보관리사 2급, ERP 인사정보관리사 2급
Name: 3, dtype: object

In [33]:
df.at[four[four.str.contains("전산회계1급, ")==True].index,["자격증"]]=four[four.str.contains("전산회계1급, ")==True]

In [34]:
four[four.str.contains("전산회계1급, ")==True]=""

In [35]:
four[four.str.contains("한국장애인고용공단 ")==True]

30     한국장애인고용공단 체험형 인턴(2018 상반기)
51     한국장애인고용공단 체험형 인턴(2018 상반기)
Name: 3, dtype: object

In [36]:
df.at[four[four.str.contains("한국장애인고용공단 ")==True].index,["경험사항"]]=four[four.str.contains("한국장애인고용공단 ")==True]

In [37]:
four[four.str.contains("한국장애인고용공단 ")==True]=""

In [38]:
four[four.str.contains("백석대학교")==True]

61      백석대학교 어문학부 학생회 (1년), 교내 중국 국제교류 한국인 봉사자 (2주)
89         백석대학교 어문학부 학생회 (1년), 교내 국제교류 한국인 봉사자 (2주)
93      백석대학교 어문학부 학생회 (1년), 교내 중국 국제교류 한국인 봉사자 (2주)
108        백석대학교 어문학부 학생회 (1년), 교내 국제교류 한국인 봉사자 (2주)
128        백석대학교 어문학부 학생회 (1년), 교내 국제교류 한국인 봉사자 (2주)
Name: 3, dtype: object

In [39]:
df.at[four[four.str.contains("백석대학교")==True].index,["경험사항"]]=four[four.str.contains("백석대학교")==True]

In [40]:
four[four.str.contains("백석대학교")==True]=""

In [41]:
four[four.str.contains("재경관리사")==True]

32       컴퓨터활용능력 2급, 한국사 1급, 재경관리사, 정보처리기사
54       컴퓨터활용능력 2급, 한국사 1급, 재경관리사, 정보처리기사
74                재경관리사, 사무자동화산업기사, 정보처리기사
115       재경관리사, 정보처리기사, 사무자동화산업기사, 워드프로세서
135       재경관리사, 정보처리기사, 사무자동화산업기사, 워드프로세서
161       재경관리사, 정보처리기사, 사무자동화산업기사, 워드프로세서
204                                 재경관리사
395                                 재경관리사
436                                 재경관리사
448                                 재경관리사
459     재경관리사, 정보처리산업기사, 사무자동화산업기사, 워드프로세서
460                                 재경관리사
474                                 재경관리사
480                                 재경관리사
494                                 재경관리사
522                                 재경관리사
529                                 재경관리사
542     재경관리사, 정보처리산업기사, 사무자동화산업기사, 워드프로세서
550                                 재경관리사
553                                 재경관리사
Name: 3, dtype: object

In [42]:
df.at[four[four.str.contains("재경관리사")==True].index,["자격증"]]=four[four.str.contains("재경관리사")==True]

In [43]:
four[four.str.contains("재경관리사")==True]=""

In [44]:
four[four.str.contains("교육봉사 1")==True]

3545     교육봉사 1
3546     교육봉사 1
Name: 3, dtype: object

In [45]:
df.at[four[four.str.contains("교육봉사 1")==True].index,["경험사항"]]=four[four.str.contains("교육봉사 1")==True]

In [46]:
four[four.str.contains("교육봉사 1")==True]=""

In [47]:
four[four.str.contains("범죄학")==True]

141     교내 범죄학논문대회 2등
176     교내 범죄학논문대회 2등
Name: 3, dtype: object

In [48]:
df.at[four[four.str.contains("범죄학")==True].index,["경험사항"]]=four[four.str.contains("범죄학")==True]

In [49]:
four[four.str.contains("범죄학")==True]=""

In [50]:
four[four.str.contains("2018하반기 우수상")==True]

144     KT&G 상상마케팅스쿨 2018하반기 우수상(2위) 수상
174     KT&G 상상마케팅스쿨 2018하반기 우수상(2위) 수상
Name: 3, dtype: object

In [51]:
df.at[four[four.str.contains("2018하반기 우수상")==True].index,["경험사항"]]=four[four.str.contains("2018하반기 우수상")==True]

In [52]:
four[four.str.contains("2018하반기 우수상")==True]=""

In [53]:
four[four.str.contains("롯데자산개발")==True]

195     롯데자산개발 계약직(3개월), 철도기술연구원 계약직(3개월) 동원시스템즈 인턴 (...
Name: 3, dtype: object

In [54]:
df.at[four[four.str.contains("롯데자산개발")==True].index,["경험사항"]]=four[four.str.contains("롯데자산개발")==True]

In [55]:
four[four.str.contains("롯데자산개발")==True]=""

In [56]:
four[four.str.contains("고용노동부")==True]

209     고용노동부 청년취업아카데미(2개월)
228     고용노동부 청년취업아카데미(2개월)
248     고용노동부 청년취업아카데미(2개월)
306     고용노동부 청년취업아카데미(2개월)
318     고용노동부 청년취업아카데미(2개월)
413     고용노동부 청년취업아카데미(2개월)
414     고용노동부 청년취업아카데미(2개월)
458     고용노동부 청년취업아카데미(2개월)
501     고용노동부 청년취업아카데미(2개월)
502     고용노동부 청년취업아카데미(2개월)
649     고용노동부 청년취업아카데미(2개월)
744     고용노동부 청년취업아카데미(2개월)
Name: 3, dtype: object

In [57]:
df.at[four[four.str.contains("고용노동부")==True].index,["경험사항"]]=four[four.str.contains("고용노동부")==True]

In [58]:
four[four.str.contains("고용노동부")==True]=""

In [59]:
four[four.str.contains("해외송금")==True]

212     휴먼 번역 핀챗 6기, 해외송금 모인 서포터즈 2기, 고우해커스 지구촌 특파원 2...
309     휴먼 번역 핀챗 6기, 해외송금 모인 서포터즈 2기, 고우해커스 지구촌 특파원 2...
Name: 3, dtype: object

In [60]:
df.at[four[four.str.contains("해외송금")==True].index,["경험사항"]]=four[four.str.contains("해외송금")==True]

In [61]:
four[four.str.contains("해외송금")==True]=""

In [62]:
four[four.str.contains("학점")==True]

219       학점 3.69?(3.51
313       학점 3.69?(3.51
461              학점 2.8
481              학점 2.8
551              학점 2.8
              ...
9724             학점 3.7
9812           학점 3.58
9830           학점 3.84
9839             학점 3.7
10069           학점 3.5
Name: 3, Length: 196, dtype: object

In [63]:
df.at[four[four.str.contains("학점")==True].index,["학점"]]=four[four.str.contains("학점")==True]

In [64]:
four[four.str.contains("학점")==True]=""

In [65]:
four[four.str.contains("4점")==True]

225    4점초반
245    4점초반
323    4점초반
Name: 3, dtype: object

In [66]:
four[four.str.contains("4점")==True]="학점 4.0"

In [67]:
df.at[four[four.str.contains("학점 4.0")==True].index,["학점"]]=four[four.str.contains("학점 4.0")==True]

In [68]:
four[four.str.contains("학점 4.0")==True]=""

In [69]:
four[four.str.contains("한국전력공사 인턴 수료")==True]

2791     한국전력공사 인턴 수료(2017 상반기)
2921     한국전력공사 인턴 수료(2017 상반기)
Name: 3, dtype: object

In [70]:
df.at[four[four.str.contains("한국전력공사 인턴 수료")==True].index,["경험사항"]]=four[four.str.contains("한국전력공사 인턴 수료")==True]

In [71]:
four[four.str.contains("한국전력공사 인턴 수료")==True]=""

In [72]:
four[four.str.contains("관세청 정책기자단 2기")==True]

275      관세청 정책기자단 2기
347      관세청 정책기자단 2기
367      관세청 정책기자단 2기
561      관세청 정책기자단 2기
585      관세청 정책기자단 2기
605      관세청 정책기자단 2기
660      관세청 정책기자단 2기
698      관세청 정책기자단 2기
745      관세청 정책기자단 2기
766      관세청 정책기자단 2기
1117     관세청 정책기자단 2기
1183     관세청 정책기자단 2기
1203     관세청 정책기자단 2기
1366     관세청 정책기자단 2기
1387     관세청 정책기자단 2기
Name: 3, dtype: object

In [73]:
df.at[four[four.str.contains("관세청 정책기자단 2기")==True].index,["경험사항"]]=four[four.str.contains("관세청 정책기자단 2기")==True]

In [74]:
four[four.str.contains("관세청 정책기자단 2기")==True]=""

In [75]:
four[four.str.contains("TLO")==True]

269     청년TLO근무 (19.05.01~19.10.30), 돌봄교실 봉사단(17.08.0...
279     청년TLO근무 (19.05.01~19.10.30)\n 돌봄교실 봉사단(17.08....
341     청년TLO근무 (19.05.01~19.10.30), 돌봄교실 봉사단(17.08.0...
346     청년TLO근무 (19.05.01~19.10.30)\n 돌봄교실 봉사단(17.08....
361     청년TLO근무 (19.05.01~19.10.30), 돌봄교실 봉사단(17.08.0...
366     청년TLO근무 (19.05.01~19.10.30)\n 돌봄교실 봉사단(17.08....
418     청년TLO근무 (19.05.01~19.10.30), 돌봄교실 봉사단(17.08.0...
428     청년TLO근무 (19.05.01~19.10.30), 돌봄교실 봉사단(17.08.0...
450     청년TLO근무 (19.05.01~19.10.30), 돌봄교실 봉사단(17.08.0...
513     청년TLO근무 (19.05.01~19.10.30), 돌봄교실 봉사단(17.08.0...
531     청년TLO근무 (19.05.01~19.10.30), 돌봄교실 봉사단(17.08.0...
644     청년TLO근무 (19.05.01~19.10.30), 돌봄교실 봉사단(17.08.0...
679     청년TLO근무 (19.05.01~19.10.30), 돌봄교실 봉사단(17.08.0...
719     청년TLO근무 (19.05.01~19.10.30), 돌봄교실 봉사단(17.08.0...
739     청년TLO근무 (19.05.01~19.10.30), 돌봄교실 봉사단(17.08.0...
765     청년TLO근무 (19.05.01~19.10.30), 돌봄교실 봉사단(17.08.0...
Name: 3, dtype: object

In [76]:
df.at[four[four.str.contains("TLO")==True].index,["경험사항"]]=four[four.str.contains("TLO")==True]

In [77]:
four[four.str.contains("TLO")==True]=""

In [78]:
four[four.isin(["컴퓨터활용능력 2급"])==True]

Series([], Name: 3, dtype: object)

In [79]:
four[four.str.find("컴퓨터활용능력 2급, 한국사")==True]

1110     컴퓨터활용능력 2급, 한국사능력검정1급, 토목기사
1177     컴퓨터활용능력 2급, 한국사능력검정1급, 토목기사
Name: 3, dtype: object

In [80]:
df.at[four[four.str.find("컴퓨터활용능력 2급, 한국사")==True].index,["자격증"]]=four[four.str.find("컴퓨터활용능력 2급, 한국사")==True]

In [81]:
four[four.str.find("컴퓨터활용능력 2급, 한국사")==True]=""

In [82]:
four[four.str.contains("컴퓨터활용능력 2급")==True]

5                                              컴퓨터활용능력 2급
36       경북대학교 이종격투기 동아리 회장 (12개월), 경북대학교 총동아리연합회 홍보부장...
37       컴퓨터활용능력 2급, 사무자동화산업기사, 한국사능력검정시험 2급, ERP정보관리사...
58       경북대학교 이종격투기 동아리 회장 (12개월), 경북대학교 총동아리연합회 홍보부장...
59       컴퓨터활용능력 2급, 사무자동화산업기사, 한국사능력검정시험 2급, ERP정보관리사...
                              ...
3149                                           컴퓨터활용능력 2급
3169                                           컴퓨터활용능력 2급
3246                                           컴퓨터활용능력 2급
3358     교내 창업동아리(1년), 에너지인력양성사업(1년), 해외취업프론티어(6개월), 기...
3475     교내 창업동아리(1년), 에너지인력양성사업(1년), 해외취업프론티어(6개월), 기...
Name: 3, Length: 64, dtype: object

In [83]:
four[four.str.find("정보처리기사 ")==True]

29                정보처리기사
47                정보처리기사
6834     정보처리기사 ccna mcse
7065     정보처리기사 ccna mcse
Name: 3, dtype: object

In [84]:
df.at[four[four.str.find("정보처리기사 ")==True].index,["자격증"]]=four[four.str.find("정보처리기사 ")==True]

In [85]:
four[four.str.find("정보처리기사 ")==True]=""

In [86]:
four[four.str.find("한국사 ")==True]

82     한국사 1급
Name: 3, dtype: object

In [87]:
df.at[four[four.str.find("한국사 ")==True].index,["자격증"]]=four[four.str.find("한국사 ")==True]

In [88]:
four[four.str.find("한국사 ")==True]=""

In [89]:
four[four.str.contains("투자자산")==True]

417     컴활2급, 투자자산운용사
582     컴활2급, 투자자산운용사
602     컴활2급, 투자자산운용사
Name: 3, dtype: object

In [90]:
df.at[four[four.str.contains("투자자산")==True].index,["자격증"]]=four[four.str.contains("투자자산")==True]

In [91]:
four[four.str.contains("투자자산")==True]=""

In [92]:
four[four.str.contains("정보처리기사$")==True]

589      정보처리기사
595      정보처리기사
609      정보처리기사
615      정보처리기사
681      정보처리기사
692      정보처리기사
1036     정보처리기사
1129     정보처리기사
3070     정보처리기사
3184     정보처리기사
Name: 3, dtype: object

In [93]:
df.at[four[four.str.contains("정보처리기사$")==True].index,["자격증"]]=four[four.str.contains("정보처리기사$")==True]

In [94]:
four[four.str.contains("정보처리기사$")==True]=""

In [95]:
four[four.str.contains("토목기사$")==True]

201                  토목기사
234                  토목기사
237                  토목기사
254                  토목기사
257                  토목기사
328                  토목기사
329                  토목기사
567      컴퓨터활용능력 1급, 토목기사
587      컴퓨터활용능력 1급, 토목기사
588                  토목기사
591                  토목기사
607      컴퓨터활용능력 1급, 토목기사
608                  토목기사
611                  토목기사
662      컴퓨터활용능력 1급, 토목기사
677      컴퓨터활용능력 1급, 토목기사
684                  토목기사
686      컴퓨터활용능력 1급, 토목기사
687                  토목기사
753      컴퓨터활용능력 1급, 토목기사
1227                 토목기사
Name: 3, dtype: object

In [96]:
df.at[four[four.str.contains("토목기사$")==True].index,["자격증"]]=four[four.str.contains("토목기사$")==True]

In [97]:
four[four.str.contains("토목기사$")==True]=""

In [98]:
four[four.str.contains("품질경영기사")==True]

671     품질경영기사, 컴활 2급
760     품질경영기사, 컴활 2급
Name: 3, dtype: object

In [99]:
df.at[four[four.str.contains("품질경영기사")==True].index,["자격증"]]=four[four.str.contains("품질경영기사")==True]

In [100]:
four[four.str.contains("품질경영기사")==True]=""

In [101]:
four[four.str.contains("4.00")==True]

1419    4.00
1433    4.00
1453    4.00
3376    4.00
3498    4.00
6931    4.00
7151    4.00
Name: 3, dtype: object

In [102]:
df.at[four[four.str.contains("4.00")==True].index,["학점"]]=four[four.str.contains("4.00")==True]

In [103]:
four[four.str.contains("4.00")==True]=""

In [104]:
four[four.str.contains("성과발표회 우수상")==True]

793     안랩 학생기자단, 생산성본부 주관 AI 성과발표회 우수상
804     안랩 학생기자단, 생산성본부 주관 AI 성과발표회 우수상
Name: 3, dtype: object

In [105]:
df.at[four[four.str.contains("성과발표회 우수상")==True].index,["경험사항"]]=four[four.str.contains("성과발표회 우수상")==True]

In [106]:
four[four.str.contains("성과발표회 우수상")==True]=""

In [107]:
four[four.str.contains("4.5")==True]

423      4.5
511      4.5
813      4.5
822      4.5
842      4.5
         ...
9989     4.5
9990     4.5
10009    4.5
10010    4.5
10075    4.5
Name: 3, Length: 217, dtype: object

In [108]:
df.at[four[four.str.contains("4.5")==True].index,["학점"]]=four[four.str.contains("4.5")==True]

In [109]:
four[four.str.contains("4.5")==True]=""

In [110]:
four[four.str.contains("세계 여행")==True]

814     세계 여행 3년, 물류 포워딩 업체 근무 경험
823     세계 여행 3년, 물류 포워딩 업체 근무 경험
843     세계 여행 3년, 물류 포워딩 업체 근무 경험
Name: 3, dtype: object

In [111]:
df.at[four[four.str.contains("세계 여행")==True].index,["경험사항"]]=four[four.str.contains("세계 여행")==True]

In [112]:
four[four.str.contains("세계 여행")==True]=""

In [113]:
four[four.str.contains("인턴 1, 대외활동")==True]

895      인턴 1, 대외활동 2
993      인턴 1, 대외활동 2
5722     인턴 1, 대외활동 2
5762     인턴 1, 대외활동 2
Name: 3, dtype: object

In [114]:
df.at[four[four.str.contains("인턴 1, 대외활동")==True].index,["경험사항"]]=four[four.str.contains("인턴 1, 대외활동")==True]

In [115]:
four[four.str.contains("인턴 1, 대외활동")==True]=""

In [116]:
four[four.str.contains("4.3")==True]

869           4.3
915           4.3
1543     4.3, 3.63
1563     4.3, 3.63
2225          4.3
2383          4.3
2403          4.3
3738     4.3 (석사)
3839     4.3 (석사)
3953          4.3
5251          4.3
5281          4.3
5285          4.3
5295          4.3
5364          4.3
5406          4.3
5430          4.3
5436          4.3
5450          4.3
5456          4.3
5462          4.3
5513          4.3
5947     (석사)4.32
6151     (석사)4.32
6171     (석사)4.32
6250       4.3(석)
6380          4.3
6400          4.3
6475          4.3
6613          4.3
6682          4.3
6797          4.3
6869       4.3(석)
6889       4.3(석)
7031          4.3
7948          4.3
7968          4.3
8055          4.3
8138          4.3
8355          4.3
8415          4.3
8591          4.3
8724          4.3
8740          4.3
8833          4.3
8854     석사(4.36)
8877          4.3
8890          4.3
8937          4.3
9014          4.3
9044     석사(4.36)
9134          4.3
9502          4.3
9507          4.3
9792          4.3
9877          4.3
9897          4.3
9946          4.3
Name: 3, dtype: object

In [117]:
df.at[four[four.str.contains("4.3")==True].index,["학점"]]=four[four.str.contains("4.3")==True]

In [118]:
four[four.str.contains("4.3")==True]=""

In [119]:
four[four.str.contains("스피치대회 시장상")==True]

220      교내 마케팅동아리 1년, 스피치대회 시장상, IBK기업은행 체험형인턴(2018하계...
240      교내 마케팅동아리 1년, 스피치대회 시장상, IBK기업은행 체험형인턴(2018하계...
322      교내 마케팅동아리 1년, 스피치대회 시장상, IBK기업은행 체험형인턴(2018하계...
449      교내 마케팅동아리 1년, 스피치대회 시장상, IBK기업은행 체험형인턴(2018하계...
530      교내 마케팅동아리 1년, 스피치대회 시장상, IBK기업은행 체험형인턴(2018하계...
668      교내 마케팅동아리 1년, 스피치대회 시장상, IBK기업은행 체험형인턴(2018하계...
872      교내 마케팅동아리 1년, 스피치대회 시장상, IBK기업은행 체험형인턴(2018하계...
941      교내 마케팅동아리 1년, 스피치대회 시장상, IBK기업은행 체험형인턴(2018하계...
961      교내 마케팅동아리 1년, 스피치대회 시장상, IBK기업은행 체험형인턴(2018하계...
1101     교내 마케팅동아리 1년, 스피치대회 시장상, IBK기업은행 체험형인턴(2018하계...
1173     교내 마케팅동아리 1년, 스피치대회 시장상, IBK기업은행 체험형인턴(2018하계...
1296     교내 마케팅동아리 1년, 스피치대회 시장상, IBK기업은행 체험형인턴(2018하계...
1388     교내 마케팅동아리 1년, 스피치대회 시장상, IBK기업은행 체험형인턴(2018하계...
1610       교내 마케팅동아리 1년, 스피치대회 시장상, IBK기업은행 체험형인턴(2018하계)
1752       교내 마케팅동아리 1년, 스피치대회 시장상, IBK기업은행 체험형인턴(2018하계)
1882       교내 마케팅동아리 1년, 스피치대회 시장상, IBK기업은행 체험형인턴(2018하계)
2826                              교내 마케팅동아리 1년, 스피치대회 시장상
2960                              교내 마케팅동아리 1년, 스피치대회 시장상
Name: 3, dtype: object

In [120]:
df.at[four[four.str.contains("스피치대회 시장상")==True].index,["경험사항"]]=four[four.str.contains("스피치대회 시장상")==True]

In [121]:
four[four.str.contains("스피치대회 시장상")==True]=""

In [122]:
four[four.str.contains("한국전력공사 인턴")==True]

18       유앤트레블 인턴, 한국전력공사 인턴, 2019 하반기 말레이시아 해외봉사, 일본 ...
908                                 한국전력공사 인턴(2017년 상반기)
997                                 한국전력공사 인턴(2017년 상반기)
1000                                한국전력공사 인턴(2017년 상반기)
Name: 3, dtype: object

In [123]:
df.at[four[four.str.contains("한국전력공사 인턴")==True].index,["경험사항"]]=four[four.str.contains("한국전력공사 인턴")==True]

In [124]:
four[four.str.contains("한국전력공사 인턴")==True]=""

In [125]:
four[four.str.contains("470시간")==True]

65       봉사활동 470시간(헌혈 81회 포함), 교내 도서관 홍보대사, 대한적십자사 헌혈...
1056     봉사활동 470시간(헌혈 81회 포함), 교내 도서관 홍보대사, 대한적십자사 헌혈...
1143     봉사활동 470시간(헌혈 81회 포함), 교내 도서관 홍보대사, 대한적십자사 헌혈...
1241     봉사활동 470시간(헌혈 81회 포함), 교내 도서관 홍보대사, 대한적십자사 헌혈...
1259     봉사활동 470시간(헌혈 81회 포함), 교내 도서관 홍보대사, 대한적십자사 헌혈...
1261     봉사활동 470시간(헌혈 81회 포함), 교내 도서관 홍보대사, 대한적십자사 헌혈...
1304     봉사활동 470시간(헌혈 81회 포함), 교내 도서관 홍보대사, 대한적십자사 헌혈...
1324     봉사활동 470시간(헌혈 81회 포함), 교내 도서관 홍보대사, 대한적십자사 헌혈...
1349     봉사활동 470시간(헌혈 81회 포함), 교내 도서관 홍보대사, 대한적십자사 헌혈...
1350     봉사활동 470시간(헌혈 81회 포함), 교내 도서관 홍보대사, 대한적십자사 헌혈...
Name: 3, dtype: object

In [126]:
df.at[four[four.str.contains("470시간")==True].index,["경험사항"]]=four[four.str.contains("470시간")==True]

In [127]:
four[four.str.contains("470시간")==True]=""

In [128]:
four[four.str.contains("국제기구")==True]

654      해외 국제기구 인턴십 (6개월)
749      해외 국제기구 인턴십 (6개월)
1061     해외 국제기구 인턴십 (6개월)
1081     해외 국제기구 인턴십 (6개월)
1152     해외 국제기구 인턴십 (6개월)
Name: 3, dtype: object

In [129]:
df.at[four[four.str.contains("국제기구")==True].index,["경험사항"]]=four[four.str.contains("국제기구")==True]

In [130]:
four[four.str.contains("국제기구")==True]=""

In [131]:
four[four.str.contains("식품기사$")==True]

1074     식품기사
1094     식품기사
1166     식품기사
2329     식품기사
2486     식품기사
Name: 3, dtype: object

In [132]:
df.at[four[four.str.contains("식품기사$")==True].index,["자격증"]]=four[four.str.contains("식품기사$")==True]

In [133]:
four[four.str.contains("식품기사$")==True]=""

In [134]:
four[four.str.contains("인턴 2, 창업")==True]

9973      인턴 2, 창업 2, 공모전 2, 동아리 1
9996      인턴 2, 창업 2, 공모전 2, 동아리 1
10016     인턴 2, 창업 2, 공모전 2, 동아리 1
Name: 3, dtype: object

In [135]:
df.at[four[four.str.contains("인턴 2, 창업")==True].index,["경험사항"]]=four[four.str.contains("인턴 2, 창업")==True]

In [136]:
four[four.str.contains("인턴 2, 창업")==True]=""

In [137]:
four[four.str.contains("인턴1, 대외활동")==True]

6311     인턴1, 대외활동4
Name: 3, dtype: object

In [138]:
df.at[four[four.str.contains("인턴1, 대외활동")==True].index,["경험사항"]]=four[four.str.contains("인턴1, 대외활동")==True]

In [139]:
four[four.str.contains("인턴1, 대외활동")==True]=""

In [140]:
four[four.str.contains("4$")==True]="학점 4.0"

In [141]:
df.at[four[four.str.contains("학점 4.0")==True].index,["학점"]]=four[four.str.contains("학점 4.0")==True]

In [142]:
four[four.str.contains("학점 4.0")==True]=""

In [143]:
four[four.str.contains("4.0$")==True]="학점 4.0"

In [144]:
df.at[four[four.str.contains("학점 4.0")==True].index,["학점"]]=four[four.str.contains("학점 4.0")==True]

In [145]:
four[four.str.contains("학점 4.0")==True]=""

In [146]:
four[four.str.contains("관련직종 경력 합")==True]

1516     관련직종 경력 합 4년
1531     관련직종 경력 합 4년
Name: 3, dtype: object

In [147]:
df.at[four[four.str.contains("관련직종 경력 합")==True].index,["경험사항"]]=four[four.str.contains("관련직종 경력 합")==True]

In [148]:
four[four.str.contains("관련직종 경력 합")==True]=""

In [149]:
four[four.str.contains("품질관리 교육")==True]

1270     교내활동, 학과 학생회장 교육, 품질관리 교육 490시간
Name: 3, dtype: object

In [150]:
df.at[four[four.str.contains("품질관리 교육")==True].index,["경험사항"]]=four[four.str.contains("품질관리 교육")==True]

In [151]:
four[four.str.contains("품질관리 교육")==True]=""

In [152]:
four[four.str.contains("석사 4.0")==True]

9983      석사 4.0
10003     석사 4.0
Name: 3, dtype: object

In [153]:
df.at[four[four.str.contains("석사 4.0")==True].index,["학점"]]=four[four.str.contains("석사 4.0")==True]

In [154]:
four[four.str.contains("석사 4.0")==True]=""

In [155]:
four[four.str.contains("4.06")==True]="학점 4.06"

In [156]:
df.at[four[four.str.contains("학점 4.06")==True].index,["학점"]]=four[four.str.contains("학점 4.06")==True]

In [157]:
four[four.str.contains("학점 4.06")==True]=""

In [158]:
four[four.str.contains("봉사활동 5년")==True]

9936     봉사활동 5년, 프리랜서 강사 2회, 공모전 입선 4회, 졸업전시 은상 1회
Name: 3, dtype: object

In [159]:
df.at[four[four.str.contains("봉사활동 5년")==True].index,["경험사항"]]=four[four.str.contains("봉사활동 5년")==True]

In [160]:
four[four.str.contains("봉사활동 5년")==True]=""

In [161]:
four

0                           NaN
1                           NaN
2              컴퓨터활용능력1급, 한국사1급
3         토론동아리 3년, 컴활1급, 한국사1급
4
                  ...
10102                       NaN
10103                       NaN
10104                       NaN
10105                       NaN
10106                       NaN
Name: 3, Length: 10107, dtype: object

In [162]:
df

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Unnamed: 0.1.1.1,기업명,지원부서,지원시기,학교,학과,학점,어학,자격증,경험사항,자소서
0,0,0,0,0,한국석유공사,설비,2020 상반기,NaN,전자공학과,학점 1.7등급,NaN,NaN,"인천 글로벌 숙련 진흥원, 선반, 용접 ,특수용접, 설비보전",7.한국석유공사\n\n 1. 지원 분야 직무기술서 ‘직무수행 내용’ 중 본인이 가장...
1,1,1,1,1,CJ제일제당,Food Sales,2020 상반기,서울사립대(중앙대학교),상경계열학과,학점 3.92,"토익 905, 토스 LV 6",NaN,봉사활동 일부빼고는 전무.,CJ제일제당 및 선택한 직무에 대한 지원동기는 무엇인가요? ① 선택한 직무에 관심을...
2,2,2,2,2,한국가스안전공사,LP가스 안전지킴이사업,2020 상반기,지방거점국립대(제주대학교),NaN,학점 3.3,토익830,NaN,NaN,\n1. 한국가스안전공사가 진행하는 사업에 관심을 갖고 공사에 지원한 동기에 대해 ...
3,3,3,3,3,코레일,사무영업,2020 상반기,지방거점국립대(충남대학교),NaN,학점 3.87,토익 835,NaN,NaN,"1.공동체의 일원으로서 가장 중요하게 생각하는 가치를 제시하고, 그 가치를 실천했던..."
4,4,4,4,4,한국기술교육대학교,행정,2020 상반기,서울사립대(건국대학교),NaN,학점 4.0,토익 780,"컴활 1급, 한국사1급",NaN,"1. 본인이 가진 가장 뛰어난 점과 그렇게 판단한 이유, 고용노동연수원 업무수행에서..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10102,10102,10102,10102,10102,현대자동차,영업관리,2013 상반기,서울사립대(상명대학교),국제통상학과,학점 4.3,"토익 900, HSK 6급",NaN,"해외인턴1회, 중국어 말하기 대회 1등, 와인바 매니저 1년 6개월 경력",1. 현대자동차에 지원하게 된 동기 또는 해당 직무에 지원하게 된 동기는 무엇입니까...
10103,10103,10103,10103,10103,심팩,용접관리,2013 상반기,전문대,공업화학과,학점 3.06,NaN,NaN,NaN,성격소개\n\n대부분의 사람들이 평가하는 첫인상은 소심하고 내성적인 성격일것이라 생...
10104,10104,10104,10104,10104,한국전력,"인턴[송,배전]",2013 상반기,지방거점국립대,전자공학과,학점 3.7,토익 900대,NaN,"음악봉사활동, 멘토링 등","[질문 1] 취업이라는 목표 이외에 인생의 큰 목표를 세운 경험, 그 목표를 실현하..."
10105,10105,10105,10105,10105,한국전력,"인턴[송,배전]",2013 상반기,지방거점국립대,전자공학과,학점 3.7,토익 900,NaN,"음악봉사활동, 멘토링등",한전 자가소개서 양식 500자 12줄 이내\n\n[질문 1] 취업이라는 목표 이외에...
10106,10106,10106,10106,10106,한국전력,"인턴[송,배전]",2013 상반기,지방거점국립대,전자공학과,학점 3.7,토익 900,NaN,"음악봉사활동, 멘토링등",한전 자가소개서 양식 500자 12줄 이내\n\n[질문 1] 취업이라는 목표 이외에...

In [163]:
df.head(50)

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Unnamed: 0.1.1.1,기업명,지원부서,지원시기,학교,학과,학점,어학,자격증,경험사항,자소서
0,0,0,0,0,한국석유공사,설비,2020 상반기,NaN,전자공학과,학점 1.7등급,NaN,NaN,"인천 글로벌 숙련 진흥원, 선반, 용접 ,특수용접, 설비보전",7.한국석유공사\n\n 1. 지원 분야 직무기술서 ‘직무수행 내용’ 중 본인이 가장...
1,1,1,1,1,CJ제일제당,Food Sales,2020 상반기,서울사립대(중앙대학교),상경계열학과,학점 3.92,"토익 905, 토스 LV 6",NaN,봉사활동 일부빼고는 전무.,CJ제일제당 및 선택한 직무에 대한 지원동기는 무엇인가요? ① 선택한 직무에 관심을...
2,2,2,2,2,한국가스안전공사,LP가스 안전지킴이사업,2020 상반기,지방거점국립대(제주대학교),NaN,학점 3.3,토익830,NaN,NaN,\n1. 한국가스안전공사가 진행하는 사업에 관심을 갖고 공사에 지원한 동기에 대해 ...
3,3,3,3,3,코레일,사무영업,2020 상반기,지방거점국립대(충남대학교),NaN,학점 3.87,토익 835,NaN,NaN,"1.공동체의 일원으로서 가장 중요하게 생각하는 가치를 제시하고, 그 가치를 실천했던..."
4,4,4,4,4,한국기술교육대학교,행정,2020 상반기,서울사립대(건국대학교),NaN,학점 4.0,토익 780,"컴활 1급, 한국사1급",NaN,"1. 본인이 가진 가장 뛰어난 점과 그렇게 판단한 이유, 고용노동연수원 업무수행에서..."
5,5,5,5,5,코레일,사무영업 수송,2020 상반기,서울사립대(서강대학교),NaN,학점 3.0,토익 705,NaN,NaN,"1.공동체의 일원으로서 가장 중요하게 생각하는 가치를 제시하고, 그 가치를 실천했던..."
6,6,6,6,6,코레일,토목직,2020 상반기,지방국립대(한경대학교),NaN,학점 3.89,토익 755,NaN,NaN,"1.공동체의 일원으로서 가장 중요하게 생각하는 가치를 제시하고, 그 가치를 실천했던..."
7,7,7,7,7,코레일,토목직,2020 상반기,지방국립대(한경대학교),NaN,학점 3.89,토익 755,NaN,NaN,"1.공동체의 일원으로서 가장 중요하게 생각하는 가치를 제시하고, 그 가치를 실천했던..."
8,8,8,8,8,코레일,사무영업,2020 상반기,지방거점국립대(충남대학교),NaN,학점 3.6,"토익 965, 오픽 AL, 신HSK 4급",NaN,NaN,"직무활동, 동아리/동호회, 팀프로젝트, 연구회, 재능기부 등 주요 직무능력을 서술하..."
9,9,9,9,9,코레일,전기통신,2020 상반기,지방사립대(신한대학교),NaN,학점 3.39,NaN,한국사검정능력1급,NaN,"1. 공동체의 일원으로서 가장 중요하게 생각하는 가치를 제시하고, 그 가치를 실천했..."
10,10,10,10,10,구로문화재단,사업운영 지원,2020 상반기,서울사립대(한국외국어대학교),NaN,학점 3.81,NaN,"한국사검정능력1급, GAIQ고급","세종문화회관 인턴 (2개월), 구립망원청소년문화센터 계약직 (6개월), CJ ONE...",Q. 지원분야와 관련된 본인의 업무 역량을 중심으로 기술하시오.\n \n문예체 협력...
11,11,11,11,11,코레일,사무영업,2020 상반기,NaN,NaN,NaN,NaN,NaN,"교내 금융 동아리 3년, 학생회장단연합회 1년, 특성화고 권리 연합회 1년, 컴퓨터...","1. 공동체 일원으로서 가장 중요하게 생각하는 가치를 제시하고, 그 가치를 실천했던..."
12,12,12,12,12,한국전기안전공사,기술(전기점검직),2020 상반기,지방거점국립대(전북대학교),NaN,학점 3.5,NaN,"한국사검정능력1급, 전기기사, 전기공사기사",LG 디스플레이 3년 근무,Q. 솔선수범하여 일처리를 한 경험이 있는가?\n \n [Gray 영역에서도 앞장서...
13,13,13,13,13,코레일,차량(기계),2020 상반기,지방국립대(순천대학교),NaN,학점 3.51,NaN,"한국사검정능력1급, 산업안전기사, 위험물산산업기사",NaN,"직무활동, 동아리/동호회, 팀프로젝트, 연구회, 재능기부 등 주요 직무능력을 서술하..."
14,14,14,14,14,전략물자관리원,전산,2020 상반기,서울사립대(숭실대학교),NaN,학점 3.0,"토익 820, 오픽 IL",NaN,NaN,"지원하고자 하는 직무와 관련하여, 직무활동, 동아리/동호회, 팀프로젝트, 연구회, ..."
15,15,15,15,15,성신양회,전기직,2020 상반기,지방국립대(금오공과대학교),NaN,학점 3.04,"토익740, 오픽 IL","전기기사, 전기공사기사","슈나이더일렉트릭코리아 대학생 공모전(9개월), 2018년 여름방학 현장실습 (4주)",1. [실행중심] 새로운 아이디어 제안 또는 새롭게 시도하여 성과를 낸 경험에 대해...
16,16,16,16,16,한국보훈복지의료공단,일반행정,2020 상반기,NaN,컴퓨터공학과,학점 3.04,토익스피킹 레벨7,NaN,NaN,"[조직이해능력] 본인이 생각하는 ‘한국보훈복지의료공단’의 역할과 책임은 무엇이며, ..."
17,17,17,17,17,에코프로비엠,공정기술,2020 상반기,서울사립대(아주대학교),NaN,학점 3.84,"한자 1급, 토익 855, 오픽 IH",NaN,"(주)에이피피 학교 연계형 인턴 (2개월, 2018년 상반기), 재료연구소 체험형...",* 자유양식\n \n 1. 성장과정\n\n 인간관계나 이루고자 하는 목표에 '좋은 ...
18,18,18,18,18,코레일,사무,2020 상반기,지방사립대(순천향대학교),NaN,학점 3.85,"토익 845, 토스 lv6",NaN,"유앤트레블 인턴, 한국전력공사 인턴, 2019 하반기 말레이시아 해외봉사, 일본 ...","1. 공동체의 일원으로서 가장 중요하게 생각하는 가치를 제시하고, 그 가치를 실현했..."
19,19,19,19,19,부산교통공사,기계직,2020 상반기,지방국립대(창원대학교),NaN,학점 3.46,토익 725,NaN,NaN,(1) 부산교통공사에 지원한 동기와 본인이 공사의 인재상에 부합하는 이유를 기술하시...
20,20,20,20,20,한국관광공사,5급 한국관광진흥직,2020 상반기,서울공립대(서울시립대학교),NaN,학점 3.71,"토익 950, 토스 lv7",NaN,NaN,1. 타인의 요구사항을 사전에 파악하여 문제를 해결했던 경험에 대해 작성해 주십시오...
21,21,21,21,21,국민건강보험공단,사무직,2020 상반기,서울사립대(건국대학교),NaN,학점 4.0,토익 780,"컴활 1급, 한국사1급",NaN,1. 학교나 직장 또는 기타 단체에서 업무를 추진하는데 필요한 능력을 스스로 관리하...
22,22,22,22,22,코레일,사무영업,2020 상반기,서울사립대(한국외국어대학교),NaN,학점 2.88,"토익 800, 무역영어 1,2급",NaN,NaN,"*직무활동, 동아리/동호회, 팀프로젝트, 연구회, 재능기부 등 주요 직무능력을 서술..."
23,23,23,23,23,한국보훈복지의료공단,사무직,2020 상반기,지방사립대(동아대학교),NaN,학점 3.67,"토익 840, 토스 레벨7",NaN,NaN,"[조직이해능력] 본인이 생각하는 ‘한국보훈복지의료공단’의 역할과 책임은 무엇이며, ..."
24,24,24,24,24,한국관광공사,일반직(경영),2020 상반기,서울사립대(한양대학교),NaN,학점 3.45,토스 lv7,NaN,학생회 홍보부쟝(1년),■ 역량기술서\n\n * 입사지원서에 기술한 경력사항 및 직무 관련 기타 활동에 대...
25,25,25,25,25,신용보증기금,인턴,2020 상반기,지방사립대(동아대학교),NaN,학점 3.89,토스 lv6,무역영어 1급,NaN,1. 신용보증기금의 청년인턴에 지원하게 된 동기와 인턴생활을 통해 얻고자(배우고자)...
26,26,26,26,26,신용보증기금 청년인턴,영업점 업무지원,2020 상반기,서울사립대(한국외국어대학교),NaN,학점 3.5,토익 755,NaN,NaN,1. 신용보증기금의 청년인턴에 지원하게 된 동기와 인턴생활을 통해 얻고자(배우고자)...
27,27,27,27,27,코레일,전산,2020 상반기,지방사립대(한동대학교),NaN,학점 2.7,토익 775,NaN,NaN,"1. 공동체의 일원으로서 가장 중요하게 생각하는 가치를 제시하고, 그 가치를 실천했..."
28,28,28,28,28,아리랑국제방송,"재무, 예산",2020 상반기,지방사립대(대전대학교),NaN,학점 3.14,NaN,"전산회계1급, ERP회계정보관리사 2급, ERP 인사정보관리사 2급",중소기업 계약직 1년,1. 아리랑국제방송 해당직무를 지원한 동기 및 열정을 생각해 보시기 바랍니다. 해당...
29,29,29,29,29,농협중앙회,일반직 6급,2020 상반기,서울국립대(서울과학기술대학교),NaN,학점 4.31,오픽 IH,정보처리기사,NaN,1. 본인이 직장에서 이루고자 하는 목표와 농협중앙회에 지원한 이유를 연결지어 설명...
30,30,30,30,30,코레일,사무영업,2020 상반기,지방거점국립대(전북대학교),NaN,학점 4.0,토익 910,NaN,한국장애인고용공단 체험형 인턴(2018 상반기),"1. 공동체의 일원으로서 가장 중요하게 생각하는 가치를 제시하고, 그 가치를 실천했..."
31,31,31,31,31,GS리테일,데이터분석,2020 상반기,대학원,NaN,학점 4.13,NaN,NaN,"SAS Certified Base Programmer for SAS 9, SAS C...",1. GS리테일에 지원하게 된 동기를 서술하여 주십시오.\n\n '데이터 분석을 통...
32,32,32,32,32,한국전기안전공사,청년인턴,2020 상반기,서울국립대(서울과학기술대학교),NaN,학점 4.31,오픽 IH,"컴퓨터활용능력 2급, 한국사 1급, 재경관리사, 정보처리기사",NaN,"■ (A,B 중 택 1)A. 자신이 공동 목표 달성을 하는 과정에서 솔선수범하는 사..."
33,33,33,33,33,국민연금공단,행정사무,2020 상반기,지방사립대(순천향대학교),NaN,학점 3.41,토익 855,NaN,NaN,"1. 가장 열정적으로 임했던 경험을 기술하고, 그 경험을 통해 청년인턴으로 근무하면..."
34,34,34,34,34,한국관광공사,행정,2020 상반기,서울사립대(가톨릭대학교),NaN,학점 3.1,토익 850,NaN,NaN,타인의 요구사항을 사전에 파악하여 문제를 해결했던 경험에 대해 작성해 주십시오.(...
35,35,35,35,35,한국가스안전공사,청년인턴,2020 상반기,지방사립대(한국항공대학교),NaN,학점 3.32,토익 820,NaN,NaN,1. 한국가스안전공사가 진행하는 사업에 관심을 갖고 공사에 지원한 동기에 대해 구체...
36,36,36,36,36,코레일,행정,2020 상반기,지방거점국립대(경북대학교),NaN,학점 3.32,"토익 715, 토스 lv 6",NaN,NaN,"1.공동체의 일원으로서 가장 중요하게 생각하는 가치를 제시하고, 그 가치를 실천했던..."
37,37,37,37,37,국민연금공단,체험형 인턴,2020 상반기,지방국립대(한밭대학교),NaN,학점 3.57,토익 755,NaN,NaN,"1. 가장 열정적으로 임했던 경험을 기술하고, 그 경험을 통해 청년인턴으로 근무하면..."
38,38,38,38,38,가천대학교,행정,2020 상반기,서울사립대(건국대학교),NaN,학점 4.0,토익 780,"컴활 1급, 한국사1급",NaN,"1. 지원동기 및 입사 후 포부 (최소 1자, 최대 1,000자 입력가능)\n \n..."
39,39,39,39,39,한국기상산업기술원,전산,2020 상반기,서울사립대(단국대학교),NaN,학점 3.5,"토익850, 토스 Lv.5",NaN,NaN,"1. 지원자의 회사를 선택할 때 기준은 무엇이며, 왜 한국기상산업기술원이 그 기준에..."
40,40,40,40,40,코레일,사무영업,2020 상반기,NaN,NaN,NaN,NaN,NaN,"교내 금융 동아리 3년, 학생회장단연합회 1년, 특성화고 권리 연합회 1년, 컴퓨터...","1. 공동체 일원으로서 가장 중요하게 생각하는 가치를 제시하고, 그 가치를 실천했던..."
41,41,41,41,41,전략물자관리원,전산,2020 상반기,서울사립대(숭실대학교),NaN,학점 3.0,"토익 820, 오픽 IL",NaN,NaN,"지원하고자 하는 직무와 관련하여, 직무활동, 동아리/동호회, 팀프로젝트, 연구회, ..."
42,42,42,42,42,신용보증기금 청년인턴,영업점 업무지원,2020 상반기,서울사립대(한국외국어대학교),NaN,학점 3.5,토익 755,NaN,NaN,1. 신용보증기금의 청년인턴에 지원하게 된 동기와 인턴생활을 통해 얻고자(배우고자)...
43,43,43,43,43,코레일,전산,2020 상반기,지방사립대(한동대학교),NaN,학점 2.7,토익 775,NaN,NaN,"1. 공동체의 일원으로서 가장 중요하게 생각하는 가치를 제시하고, 그 가치를 실천했..."
44,44,44,44,44,한국관광공사,5급 한국관광진흥직,2020 상반기,서울공립대(서울시립대학교),NaN,학점 3.71,"토익 950, 토스 lv7",NaN,NaN,1. 타인의 요구사항을 사전에 파악하여 문제를 해결했던 경험에 대해 작성해 주십시오...
45,45,45,45,45,국민건강보험공단,사무직,2020 상반기,서울사립대(건국대학교),NaN,학점 4.0,토익 780,"컴활 1급, 한국사1급",NaN,1. 학교나 직장 또는 기타 단체에서 업무를 추진하는데 필요한 능력을 스스로 관리하...
46,46,46,46,46,한국관광공사,일반직(경영),2020 상반기,서울사립대(한양대학교),NaN,학점 3.45,토스 lv7,NaN,학생회 홍보부쟝(1년),■ 역량기술서\n\n * 입사지원서에 기술한 경력사항 및 직무 관련 기타 활동에 대...
47,47,47,47,47,농협중앙회,일반직 6급,2020 상반기,서울국립대(서울과학기술대학교),NaN,학점 4.31,오픽 IH,정보처리기사,NaN,1. 본인이 직장에서 이루고자 하는 목표와 농협중앙회에 지원한 이유를 연결지어 설명...
48,48,48,48,48,한국보훈복지의료공단,사무직,2020 상반기,지방사립대(동아대학교),NaN,학점 3.67,"토익 840, 토스 레벨7",NaN,NaN,"[조직이해능력] 본인이 생각하는 ‘한국보훈복지의료공단’의 역할과 책임은 무엇이며, ..."
49,49,49,49,49,신용보증기금,인턴,2020 상반기,지방사립대(동아대학교),NaN,학점 3.89,토스 lv6,무역영어 1급,NaN,1. 신용보증기금의 청년인턴에 지원하게 된 동기와 인턴생활을 통해 얻고자(배우고자)...

In [164]:
df.to_csv("4.csv",encoding="utf-8")

In [166]:
df["학점"].isnull().sum()

734