In [1]:
import pandas as pd

In [680]:
raw_df = pd.read_csv("WriteData.csv")

In [681]:
raw_df

,1,2,3
0,한국석유공사 / 설비 / 2020 상반기,"광주전자공업고등학교 / 학점 1.7등급 / 인천 글로벌 숙련 진흥원 5일, 선반, ...",7.한국석유공사\n\n 1. 지원 분야 직무기술서 ‘직무수행 내용’ 중 본인이 가장...
1,CJ제일제당 / Food Sales / 2020 상반기,"중경외시 / 상경계열 / 학점 3.92 / 토익 905, 토스 LV 6 / 봉사활동...",CJ제일제당 및 선택한 직무에 대한 지원동기는 무엇인가요? ① 선택한 직무에 관심을...
2,한국가스안전공사 / LP가스 안전지킴이사업 / 2020 상반기,"제주대학교 / 학점 3.3 / 토익830 / 컴퓨터활용능력1급, 한국사1급",\n1. 한국가스안전공사가 진행하는 사업에 관심을 갖고 공사에 지원한 동기에 대해 ...
3,코레일 / 사무영업 / 2020 상반기,"충남대학교 / 학점 3.87 / 토익 835 / 토론동아리 3년, 컴활1급, 한국사1급","1.공동체의 일원으로서 가장 중요하게 생각하는 가치를 제시하고, 그 가치를 실천했던..."
4,한국기술교육대학교 / 행정 / 2020 상반기,"건국대학교 / 학점 4.0 / 토익 780 / 컴활 1급, 한국사1급","1. 본인이 가진 가장 뛰어난 점과 그렇게 판단한 이유, 고용노동연수원 업무수행에서..."
...,...,...,...
10102,현대자동차 / 영업관리 / 2013 상반기,"상명대학교 / 국제통상학 / 학점 4.3 / 토익 900, HSK 6급 / 해외인턴...",1. 현대자동차에 지원하게 된 동기 또는 해당 직무에 지원하게 된 동기는 무엇입니까...
10103,심팩 / 용접관리 / 2013 상반기,지방전문대 / 공업화학 / 학점 3.06,성격소개\n\n대부분의 사람들이 평가하는 첫인상은 소심하고 내성적인 성격일것이라 생...
10104,"한국전력 / 인턴[송,배전] / 2013 상반기","지거국 / 전자공학 / 학점 3.7 / 토익 900대 / 음악봉사활동, 멘토링 등","[질문 1] 취업이라는 목표 이외에 인생의 큰 목표를 세운 경험, 그 목표를 실현하..."
10105,"한국전력 / 인턴[송,배전] / 2013 상반기","지거국 / 전자공학 / 학점 3.7 / 토익 900 / 음악봉사활동, 멘토링등",한전 자가소개서 양식 500자 12줄 이내\n\n[질문 1] 취업이라는 목표 이외에...
10106,"한국전력 / 인턴[송,배전] / 2013 상반기","지거국 / 전자공학 / 학점 3.7 / 토익 900 / 음악봉사활동, 멘토링등",한전 자가소개서 양식 500자 12줄 이내\n\n[질문 1] 취업이라는 목표 이외에...

In [682]:
df = pd.DataFrame(columns=["기업명","지원부서","지원시기","학교","학과","학점","어학","자격증","경험사항","자소서"])

In [683]:
df["기업명"] = raw_df['1'].str.split("/",expand=True)[0]
df["지원부서"] = raw_df['1'].str.split("/",expand=True)[1]
df["지원시기"] = raw_df['1'].str.split("/",expand=True)[2]
df["자소서"] = raw_df["3"]

In [684]:
df

,기업명,지원부서,지원시기,학교,학과,학점,어학,자격증,경험사항,자소서
0,한국석유공사,설비,2020 상반기,NaN,NaN,NaN,NaN,NaN,NaN,7.한국석유공사\n\n 1. 지원 분야 직무기술서 ‘직무수행 내용’ 중 본인이 가장...
1,CJ제일제당,Food Sales,2020 상반기,NaN,NaN,NaN,NaN,NaN,NaN,CJ제일제당 및 선택한 직무에 대한 지원동기는 무엇인가요? ① 선택한 직무에 관심을...
2,한국가스안전공사,LP가스 안전지킴이사업,2020 상반기,NaN,NaN,NaN,NaN,NaN,NaN,\n1. 한국가스안전공사가 진행하는 사업에 관심을 갖고 공사에 지원한 동기에 대해 ...
3,코레일,사무영업,2020 상반기,NaN,NaN,NaN,NaN,NaN,NaN,"1.공동체의 일원으로서 가장 중요하게 생각하는 가치를 제시하고, 그 가치를 실천했던..."
4,한국기술교육대학교,행정,2020 상반기,NaN,NaN,NaN,NaN,NaN,NaN,"1. 본인이 가진 가장 뛰어난 점과 그렇게 판단한 이유, 고용노동연수원 업무수행에서..."
...,...,...,...,...,...,...,...,...,...,...
10102,현대자동차,영업관리,2013 상반기,NaN,NaN,NaN,NaN,NaN,NaN,1. 현대자동차에 지원하게 된 동기 또는 해당 직무에 지원하게 된 동기는 무엇입니까...
10103,심팩,용접관리,2013 상반기,NaN,NaN,NaN,NaN,NaN,NaN,성격소개\n\n대부분의 사람들이 평가하는 첫인상은 소심하고 내성적인 성격일것이라 생...
10104,한국전력,"인턴[송,배전]",2013 상반기,NaN,NaN,NaN,NaN,NaN,NaN,"[질문 1] 취업이라는 목표 이외에 인생의 큰 목표를 세운 경험, 그 목표를 실현하..."
10105,한국전력,"인턴[송,배전]",2013 상반기,NaN,NaN,NaN,NaN,NaN,NaN,한전 자가소개서 양식 500자 12줄 이내\n\n[질문 1] 취업이라는 목표 이외에...
10106,한국전력,"인턴[송,배전]",2013 상반기,NaN,NaN,NaN,NaN,NaN,NaN,한전 자가소개서 양식 500자 12줄 이내\n\n[질문 1] 취업이라는 목표 이외에...

In [685]:
first = raw_df["2"].str.split("/",expand=True)[0]
second = raw_df["2"].str.split("/",expand=True)[1]
third = raw_df["2"].str.split("/",expand=True)[2]
#raw_df["2"].str.split("/",expand=True)[3]
#raw_df["2"].str.split("/",expand=True)[4]
#raw_df["2"].str.split("/",expand=True)[5]

In [686]:
first

0        광주전자공업고등학교
1              중경외시
2             제주대학교
3             충남대학교
4             건국대학교
            ...
10102         상명대학교
10103         지방전문대
10104           지거국
10105           지거국
10106           지거국
Name: 0, Length: 10107, dtype: object

In [687]:
len(first[first.str.contains("고등학교")==True])

15

In [688]:
first[first.str.contains("고등학교")==True] = "고등학교졸업"

In [689]:
len(first[first.str.contains("지방")==True])

1018

In [690]:
first[first.str.contains("해외")==True] = "해외대"

In [691]:
first[first.str.contains("미국")==True]= "해외대(미국)"

In [692]:
first[first.str.contains("중국")==True]="해외대(중국)"

In [693]:
first[first.str.contains("외국대학")==True]="해외대"

In [694]:
first[first.str.contains("외국대")==True]="해외대"

In [695]:
first[first.str.contains("북경외국")==True]="해외대(중국)"

In [696]:
first[first.str.contains("외국4년제")==True]="해외대"

In [697]:
first[first.str.contains("외국계")==True]="해외대"

In [698]:
first[first.str.contains("일본")==True]="해외대(일본)"

In [699]:
first[first.str.contains("영국")==True]="해외대(영국)"

In [700]:
first[first.str.contains("U")==True]

16            Valdosta State University
651           Valdosta State University
1043            Pennsylvania State Uni.
1108           Pennsylvania State Univ.
1134            Pennsylvania State Uni.
1188           Pennsylvania State Univ.
1208           Pennsylvania State Univ.
1639                                USC
1777                                USC
2195    University of Technology,sydney
2307                Kingston University
2355    University of Technology,sydney
2466                Kingston University
3133          Kingston University Lodon
3235          Kingston University Lodon
3359                              UNIST
3477                              UNIST
5276                              UNIST
5301                              UNIST
5321                              UNIST
5424                              UNIST
5444                              UNIST
5477                              UNIST
5653                     U. of Illinois
8769              Kyrgyz National Univ.
Name: 0, dtype: object

In [701]:
first[first.str.contains("Valdosta State University")==True]="해외대(미국)"

In [702]:
first[first.str.contains("Pennsylvania")==True]="해외대(미국)"

In [703]:
first[first.str.contains("USC")==True]="해외대(미국)"

In [704]:
first[first.str.contains("sydney")==True]="해외대(호주)"

In [705]:
first[first.str.contains("Lodon")==True]="해외대(영국)"

In [706]:
first[first.str.contains("Illinois")==True]="해외대(미국)"

In [707]:
first[first.str.contains("University")==True]="해외대"

In [708]:
first[first.str.contains("Kyrgyz")==True]="해외대"

In [709]:
len(first[first.str.contains("해외대")==True])

288

In [710]:
first[first.str.contains("학")==True]

0          고등학교졸업
2          제주대학교
3          충남대학교
4          건국대학교
6          한경대학교
           ...
10093      동아대학교
10094      경북대학교
10099      경성대학교
10101    부산경상대학교
10102      상명대학교
Name: 0, Length: 2356, dtype: object

In [711]:
first[first.str.contains("o")==True]="해외대"

In [712]:
first[first.str.contains("W")==True]="광운대학교"

In [713]:
first[first.str.contains("h")==True]="경희대학교"

In [714]:
len(first[first.str.contains("해외")==True])

290

In [715]:
first[first.str.contains("지거국")==True]="지방거점국립대"

In [716]:
first[first.str.contains("지거")==True]="지방거점국립대"

In [717]:
first[first.str.contains("강원")==True]="지방거점국립대(강원대학교)"

In [718]:
first[first.str.contains("대학원")==True]="대학원"

In [719]:
first[first.str.contains("충북")==True]="지방거점국립대(충북대학교)"

In [720]:
first[first.str.contains("충남")==True]="지방거점국립대(충남대학교)"

In [721]:
first[first.str.contains("전북")==True]="지방거점국립대(전북대학교)"

In [722]:
first[first.str.contains("전남")==True]="지방거점국립대(전남대학교)"

In [723]:
first[first.str.contains("경북대")==True]="지방거점국립대(경북대학교)"

In [724]:
first[first.str.contains("부산대")==True]="지방거점국립대(부산대학교)"

In [725]:
first[first.str.contains("제주")==True]="지방거점국립대(제주대학교)"

In [726]:
first[first.str.contains("지방거점국립대")==True]

2        지방거점국립대(제주대학교)
3        지방거점국립대(충남대학교)
8        지방거점국립대(충남대학교)
12       지방거점국립대(전북대학교)
30       지방거점국립대(전북대학교)
              ...
10094    지방거점국립대(경북대학교)
10096           지방거점국립대
10104           지방거점국립대
10105           지방거점국립대
10106           지방거점국립대
Name: 0, Length: 1067, dtype: object

In [727]:
first[first.str.contains("강릉")==True]="지방국립대(강릉대학교)"

In [728]:
first[first.str.contains("공주")==True]="지방국립대(공주대학교)"

In [729]:
first[first.str.contains("해양")==True]="지방국립대(한국해양대학교)"

In [730]:
first[first.str.contains("부경")==True]="지방국립대(부경대학교)"

In [731]:
first[first.str.contains("순천대학교")==True]="지방국립대(순천대학교)"

In [732]:
first[first.str.contains("순천향")==True]="지방사립대(순천향대학교)"

In [733]:
first[first.str.contains("인천대")==True]="지방국립대(인천대학교)"

In [734]:
first[first.str.contains("창원")==True]="지방국립대(창원대학교)"

In [735]:
first[first.str.contains("한국교통")==True]="지방국립대(한국교통대학교)"

In [736]:
first[first.str.contains("한경")==True]="지방국립대(한경대학교)"

In [737]:
first[first.str.contains("한밭")==True]="지방국립대(한밭대학교)"

In [738]:
first[first.str.contains("금오")==True]="지방국립대(금오공과대학교)"

In [739]:
first[first.str.contains("광주")==True]="지방사립대(광주대학교)"

In [740]:
first[first.str.contains("경남대학교")==True]="지방사립대(경남대학교)"

In [741]:
first[first.str.contains("부산가톨릭")==True]="지방사립대(부산가톨릭대학교)"

In [742]:
first[first.str.contains("영남")==True]="지방사립대(영남대학교)"

In [743]:
first[first.str.contains("울산대")==True]="지방사립대(울산대학교)"

In [744]:
first[first.str.contains("동아대")==True]="지방사립대(동아대학교)"

In [745]:
first[first.str.contains("조선대")==True]="지방사립대(조선대학교)"

In [746]:
first[first.str.contains("원광대")==True]="지방사립대(원광대학교)"

In [747]:
first[first.str.contains("계명")==True]="지방사립대(계명대학교)"

In [748]:
first[first.str.contains("한남")==True]="지방사립대(한남대학교)"

In [749]:
first[first.str.contains("폴리")==True]="2년제(한국폴리텍대학)"

In [750]:
first[first.str.contains("경인")==True]="지방국립대"

In [751]:
first[first.str.contains("교육")==True]="지방사립대(한국기술교육대학교)"

In [752]:
first[first.str.contains("인천")==True]

220      지방국립대(인천대학교)
232      지방국립대(인천대학교)
240      지방국립대(인천대학교)
252      지방국립대(인천대학교)
322      지방국립대(인천대학교)
             ...
9969     지방국립대(인천대학교)
9998     지방국립대(인천대학교)
10018    지방국립대(인천대학교)
10023    지방국립대(인천대학교)
10043    지방국립대(인천대학교)
Name: 0, Length: 103, dtype: object

In [753]:
first[first.str.contains("인제")==True]="지방사립대(인제대학교)"

In [754]:
first[first.str.contains("지방국립")==True]

6          지방국립대(한경대학교)
7          지방국립대(한경대학교)
13         지방국립대(순천대학교)
15       지방국립대(금오공과대학교)
19         지방국립대(창원대학교)
              ...
10032            지방국립대
10042            지방국립대
10043      지방국립대(인천대학교)
10052            지방국립대
10089             지방국립
Name: 0, Length: 564, dtype: object

In [755]:
first[first.str.contains("2년제")==True]="전문대"

In [756]:
first[first.str.contains("수도권 2년")==True]="2년제"

In [757]:
first[first.str.contains("전문")==True]="전문대"

In [758]:
first[first.str.contains("서울과학")==True]="서울국립대(서울과학기술대학교)"

In [759]:
first[first.str.contains("서울시립")==True]="서울공립대(서울시립대학교)"

In [760]:
first[first.str.contains("서울국립대")==True]

29       서울국립대(서울과학기술대학교)
32       서울국립대(서울과학기술대학교)
47       서울국립대(서울과학기술대학교)
54       서울국립대(서울과학기술대학교)
74       서울국립대(서울과학기술대학교)
               ...
8716     서울국립대(서울과학기술대학교)
9944     서울국립대(서울과학기술대학교)
9968     서울국립대(서울과학기술대학교)
9993     서울국립대(서울과학기술대학교)
10013    서울국립대(서울과학기술대학교)
Name: 0, Length: 65, dtype: object

In [761]:
first[first.str.contains("인서울대학")==True]="서울사립대"

In [762]:
first[first.str.contains("서울대")==True]="서울대학교"

In [763]:
first[first.str.contains("부산가톨릭")==True]="지방사립대(부산가톨릭대학교)"

In [764]:
# 부산카톨릭 지우고 싶음
first[first.str.contains("가톨릭대")==True]

34                가톨릭대
56                가톨릭대
78                가톨릭대
203             가톨릭대학교
230               가톨릭대
236             가톨릭대학교
250               가톨릭대
256             가톨릭대학교
292             가톨릭대학교
324               가톨릭대
326             가톨릭대학교
385             가톨릭대학교
408               가톨릭대
441               가톨릭대
525               가톨릭대
584               가톨릭대
594             가톨릭대학교
604               가톨릭대
614             가톨릭대학교
639             가톨릭대학교
658             가톨릭대학교
663               가톨릭대
680               가톨릭대
690             가톨릭대학교
715             가톨릭대학교
735             가톨릭대학교
748             가톨릭대학교
754               가톨릭대
1100            가톨릭대학교
1171            가톨릭대학교
1222            가톨릭대학교
1275            가톨릭대학교
1276            가톨릭대학교
1365            가톨릭대학교
1367            가톨릭대학교
1552              가톨릭대
1572              가톨릭대
1636              가톨릭대
1776              가톨릭대
2306            가톨릭대학교
2465            가톨릭대학교
2600    지방사립대(부산가톨릭대학교)
2621    지방사립대(부산가톨릭대학교)
2641    지방사립대(부산가톨릭대학교)
2738              가톨릭대
2824              가톨릭대
2865              가톨릭대
2866              가톨릭대
2885              가톨릭대
2886              가톨릭대
3111              가톨릭대
3207              가톨릭대
9390            가톨릭대학교
9614            가톨릭대학교
Name: 0, dtype: object

In [765]:
first[first.str.contains("건국")==True]="서울사립대(건국대학교)"

In [766]:
first[first.str.contains("경기대")==True]="서울사립대(경기대학교)"

In [767]:
first[first.str.contains("경희대")==True]="서울사립대(경희대학교)"

In [768]:
first[first.str.contains("고려대")==True]="서울사립대(고려대학교)"

In [769]:
first[first.str.contains("광운")==True]="서울사립대(광운대학교)"

In [770]:
first[first.str.contains("국민")==True]="서울사립대(국민대학교)"

In [771]:
first[first.str.contains("덕성")==True]="서울사립대(덕성여자대학교)"

In [772]:
first[first.str.contains("동국대")==True]="서울사립대(동국대학교)"

In [773]:
first[first.str.contains("동덕")==True]="서울사립대(동덕여자대학교)"

In [774]:
first[first.str.contains("명지")==True]="서울사립대(명지대학교)"

In [775]:
first[first.str.contains("삼육")==True]="서울사립대(삼육대학교)"

In [776]:
first[first.str.contains("천안")==True]="지방사립대(상명대학교)"

In [777]:
#상명대 =-> 서울캠 적고싶음
first[first.str.contains("상명")==True]

1021           상명대학교
2309           상명대학교
2467           상명대학교
5263     지방사립대(상명대학교)
5412     지방사립대(상명대학교)
7236           상명대학교
7256           상명대학교
10102          상명대학교
Name: 0, dtype: object

In [778]:
first[first.str.contains("서강")==True]="서울사립대(서강대학교)"

In [779]:
first[first.str.contains("서경")==True]="서울사립대(서경대학교)"

In [780]:
first[first.str.contains("성신")==True]="서울사립대(성신여자대학교)"

In [781]:
first[first.str.contains("인서울 여자대학교")==True]="서울사립대(성신여자대학교)"

In [782]:
first[first.str.contains("숙명")==True]="서울사립대(숙명여자대학교)"

In [783]:
first[first.str.contains("홍익대학교 세종캠퍼스")==True]="지방사립대(홍익대학교)"

In [784]:
first[first.str.contains("고대 세종")==True]="지방사립대(고려대학교)"

In [785]:
first[first.str.contains("세종")==True]="서울사립대(세종대학교)"

In [786]:
first[first.str.contains("숭실")==True]="서울사립대(숭실대학교)"

In [787]:
first[first.str.contains("연세")==True]="서울사립대(연세대학교)"

In [788]:
first[first.str.contains("이화")==True]="서울사립대(이화여자대학교)"

In [789]:
first[first.str.contains("중앙")==True]="서울사립대(중앙대학교)"

In [790]:
first[first.str.contains("성서")==True]="서울사립대(서성한)"

In [791]:
first[first.str.contains("외국")==True]="서울사립대(한국외국어대학교)"

In [792]:
first[first.str.contains("한성대")==True]="서울사립대(한성대학교)"

In [793]:
first[first.str.contains("한양")==True]="서울사립대(한양대학교)"

In [794]:
first[first.str.contains("홍익")==True]

1226            홍익대
3341    지방사립대(홍익대학교)
3458    지방사립대(홍익대학교)
3750          홍익대학교
3770          홍익대학교
3850          홍익대학교
3939          홍익대학교
3973             홍익
4075          홍익대학교
4090             홍익
4650          홍익대학교
4804          홍익대학교
4983            홍익대
5143            홍익대
6756            홍익대
6776            홍익대
6904          홍익대학교
6986            홍익대
7006            홍익대
7040            홍익대
8113          홍익대학교
8400          홍익대학교
8617          홍익대학교
8630            홍익대
8668          홍익대학교
8688          홍익대학교
8739          홍익대학교
8832          홍익대학교
9008          홍익대학교
9077          홍익대학교
9265            홍익대
9447          홍익대학교
9467          홍익대학교
9566            홍익대
9670            홍익대
9684            홍익대
9803          홍익대학교
Name: 0, dtype: object

In [795]:
first[first.str.contains("서성")==True]="서울사립대(서성한)"

KeyboardInterrupt:

In [ ]:
first[first.str.contains("중경")==True]="서울사립대(중경외시)"

In [ ]:
first[first.str.contains("건홍")==True]="서울사립대(건동홍)"

In [ ]:
first[first.str.contains("건동")==True]="서울사립대(건동홍)"

In [ ]:
first[first.str.contains("원광보건대학교")==True]="전문대"

In [ ]:
first[first.str.contains("건대")==True]="서울사립대(건국대학교)"

In [ ]:
first[first.str.contains("부산경상")==True]="전문대"

In [ ]:
first[first.str.contains("상명")==True]

In [ ]:
# 이름 바꿔야함
first[first.str.contains("수도권")==True]="지방사립대(경기)"

In [ ]:
first[first.str.contains("하위")==True]="서울사립대"

In [ ]:
first[first.str.contains("인서울")==True]="서울사립대"

In [ ]:
# 설카포
first[first.str.contains("설카")==True]

In [ ]:
first[first.str.contains("중상")==True]="서울사립대"

In [ ]:
first[first.str.contains("중하")==True]="서울사립대"

In [ ]:
first[first.str.contains("협성")==True]="지방사립대(협성대학교)"

In [ ]:
first[first.str.contains("경성대")==True]="지방사립대(경성대학교)"

In [ ]:
#성균관대
first[first.str.contains("성대")==True]

In [ ]:
first[first.str.contains("수도권4년제")==True]="서울사립대(경기)"

In [ ]:
first[first.str.contains("서울4년제")==True]="서울사립대"

In [ ]:
first[first.str.contains("지방4년제")==True]="지방사립대"

In [ ]:
first[first.str.contains("서울 4년제")==True]="서울사립대"

In [ ]:
#모름
first[first.str.contains("2년")==True]="전문대"

In [ ]:
first[first.str.contains("경기도 4년제")==True]="지방사립대(경기)"

In [ ]:
first[first.str.contains("지방 국립4년제")==True]="지방국립대"

In [ ]:
first[first.str.contains("서울 4년")==True]="서울사립대"

In [ ]:
first[first.str.contains("지방 4년제")==True]="지방사립대"

In [ ]:
first[first.str.contains("경기권 4년제")==True]="지방사립대(경기)"

In [ ]:
first[first.str.contains("지방사립 4년")==True]="지방사립대"

In [ ]:
first[first.str.contains("지방 4년")==True]="지방사립대"

In [ ]:
first[first.str.contains("00대학교")==True]="지방사립대"

In [ ]:
first[first.str.contains("지방대 4년제")==True]="지방사립대"

In [ ]:
#지방국립대4
first[first.str.contains("지방국립대 4년제")==True]="지방국립대"

In [ ]:
first[first.str.contains("서울권4년제")==True]="서울사립대"

In [ ]:
first[first.str.contains("경기 4년제")==True]="지방사립대(경기)"

In [ ]:
first[first.str.contains("서울 중위권 4년제")==True]="서울사립대"

In [ ]:
first[first.str.contains("경기원 4년제")==True]="지방사립대"

In [ ]:
first[first.str.contains("지방대4년")==True]="지방사립대"

In [ ]:
first[first.str.contains("서울소재 4년")==True]="서울사립대"

In [ ]:
first[first.str.contains("지방 국립 4년")==True]="지방국립대"

In [ ]:
first[first.str.contains("지방국립4년제")==True]="지방국립대"

In [ ]:
first[first.str.contains("지방사립4년")==True]="지방사립대"

In [ ]:
first[first.str.contains("인천지역 4년제대")==True]="지방사립대(경기)"

In [ ]:
first[first.str.contains("북경4년제")==True]="해외대(중국)"

In [ ]:
first[first.str.contains("서울권 4년제")==True]="서울사립대"

In [ ]:
first[first.str.contains("4년제")==True]="지방사립대"

In [ ]:
first[first.str.contains("중")==True]

In [ ]:
first[first.str.contains("서울 상위")==True]="서울사립대"

In [ ]:
first[first.str.contains("서상한")==True]="서울사립대(서성한)"

In [ ]:
first[first.str.contains("지방 상위")==True]="지방사립대"

In [ ]:
first[first.str.contains("경상대학교")==True]="지방국립대"

In [ ]:
first[first.str.contains("지방상위권")==True]="지방사립대"

In [ ]:
first[first.str.contains("상명대학교 ")==True]="서울사립대(상명대학교)"

In [ ]:
first[first.str.contains("서울상위권")==True]="서울사립대"

In [ ]:
first[first.str.contains("상위권")==True]="서울사립대"

In [ ]:
first[first.str.contains("광명상가")==True]="서울사립대(명지대학교)"

In [ ]:
first[first.str.contains("경상대")==True]="지방국립대"

In [ ]:
first[first.str.contains("상경")==True]="서울사립대"

In [ ]:
first[first.str.contains("서울상위")==True]='서울사립대'

In [ ]:
first[first.str.contains("라인")==True]="서울사립대"

In [ ]:
first[first.str.contains("국숭세단")==True]="서울사립대(숭실대학교)"

In [ ]:
first[first.str.contains("세단")==True]="서울사립대(숭실대학교)"

In [ ]:
first[first.str.contains("단국대학교")==True]="서울사립대(단국대학교)"

In [ ]:
first[first.str.contains("단국대학교")==True]="서울사립대(단국대학교)"

In [ ]:
first.to_csv("final.txt",encoding="utf-8")

In [ ]:
first[first.str.contains("신한대학교")==True]="지방사립대(신한대학교)"

In [ ]:
first[first.str.contains("아주대학교")==True]="서울사립대(아주대학교)"

In [ ]:
first[first.str.contains("한동대학교")==True]="지방사립대(한동대학교)"

In [ ]:
first[first.str.contains("대전대학교")==True]="지방사립대(대전대학교)"

In [ ]:
first[first.str.contains("항공대")==True]="지방사립대(한국항공대학교)"

In [ ]:
first[first.str.contains("백석대")==True]="지방사립대(백석대학교)"

In [ ]:
first[first.str.contains("성결")==True]="지방사립대(성결대학교)"

In [ ]:
first[first.str.contains("한림")==True]="지방사립대(한림대학교)"

In [ ]:
# 우선 놔둠
first[first.str.contains("학점")==True]

In [ ]:
first[first.str.contains("서울권 ")==True]="서울사립대"

In [ ]:
first[first.str.contains("경남과기대")==True]="지방국립대(경남과학기술대학교)"

In [ ]:
first[first.str.contains("인하대")==True]="지방사립대(인하대학교)"

In [ ]:
first[first.str.contains("성균")==True]="서울사립대(성균관대학교)"

In [ ]:
first[first.str.contains("경중외시")==True]="서울사립대(경희대학교)"

In [ ]:
first[first.str.contains("지방 국립대")==True]="지방국립대"

In [ ]:
first[first.str.contains("지방 사립")==True]="지방사립대"

In [ ]:
first[first.str.contains("서울 사립")==True]="서울사립대"

In [ ]:
first[first.str.contains("서울 중위권")==True]="서울사립대"

In [ ]:
first[first.str.contains("서울 중")==True]="서울사립대"

In [ ]:
first[first.str.contains("서울 과기대")==True]="서울국립대(서울과학기술대학교)"

In [ ]:
first[first.str.contains("서울 하")==True]="서울사립대"

In [ ]:
first[first.str.contains("서울 소재")==True]="서울사립대"

In [ ]:
first[first.str.contains("서울 광진구")==True]="서울사립대"

In [ ]:
first[first.str.contains("지방, 서울")==True]="지방사립대"

In [ ]:
first[first.str.contains("서울 ")==True]="서울사립대"

In [ ]:
first[first.str.contains("지방 과기원 ")==True]="UNIST"

In [ ]:
first[first.str.contains("지방 국립")==True]="지방국립대"

In [ ]:
first[first.str.contains("분교 지방")==True]="지방사립대"

In [ ]:
first[first.str.contains("지방 거점")==True]="지방거점국립대"

In [ ]:
first[first.str.contains("부산지방")==True]="지방사립대"

In [ ]:
first[first.str.contains("지방 공립")==True]="지방국립대"

In [ ]:
first[first.str.contains("지방 ")==True]="지방사립대"

In [ ]:
first[first.str.contains("지방국립")==True]

In [ ]:
first[first.str.contains("지방대")==True]="지방사립대"

In [796]:
first[first.str.contains("인천 지방사립대")==True]="지방사립대"

In [797]:
first[first.str.contains("SKY 지방캠")==True]="지방사립대"

In [798]:
first[first.str.contains("디자인 서홍국")==True]="서울사립대(홍익대학교)"

In [799]:
first[first.str.contains("신라")==True]="지방사립대(신라대학교)"

In [800]:
first[first.str.contains("서울과기대")==True]="서울국립대(서울과학기술대학교)"

In [801]:
first[first.str.contains("과기대")==True]="서울국립대(서울과학기술대학교)"

In [802]:
first[first.str.contains("과기")==True]="KAIST"

In [803]:
first[first.str.contains("서울사립대")==True]

4           서울사립대(건국대학교)
10       서울사립대(한국외국어대학교)
14          서울사립대(숭실대학교)
21          서울사립대(건국대학교)
22       서울사립대(한국외국어대학교)
              ...
10086     서울사립대(이화여자대학교)
10087       서울사립대(연세대학교)
10092       서울사립대(중앙대학교)
10098       서울사립대(동국대학교)
10100       서울사립대(경희대학교)
Name: 0, Length: 1286, dtype: object

In [804]:
first.to_csv("final.txt",encoding='utf-8')

In [805]:
first[first.str.contains("가천")==True]="지방사립대(가천대학교)"

In [806]:
first[first.str.contains("지방거점 ")==True]="지방거점국립대"

In [807]:
first[first.str.contains("ky")==True]="서울사립대(고려대학교)"

In [808]:
first[first.str.contains("s")==True]="서울국립대(서울대학교)"

In [809]:
first[first.str.contains("서울대")==True]="서울국립대(서울대학교)"

In [810]:
first[first.str.contains("SK")==True]="서울사립대(연세대학교)"

In [811]:
first[first.str.contains("아주대 석사")==True]="대학원"

In [812]:
first[first.str.contains("아주대 ")==True]="서울사립대(아주대학교)"

In [813]:
first[first.str.contains("석사")==True]="대학원"

In [814]:
first[first.str.contains("기계")==True]="지방사립대"

In [815]:
first[first.str.contains("한국외")==True]="서울사립대(한국외국어대학교)"

In [816]:
first[first.str.contains("상지")==True]="지방사립대(상지대학교)"

In [817]:
first[first.str.contains("\(경기\)")==True]="지방사립대"

In [818]:
first[first.str.contains("경기권 ")==True]="지방사립대"

In [819]:
first[first.str.contains("경기 ")==True]="지방사립대"

In [820]:
first[first.str.contains("경기과학기술대학교")==True]="전문대"

In [821]:
first[first.str.contains("학점은행")==True]="고등학교졸업"

In [822]:
first[first.str.contains("동서")==True]="지방사립대(동서대학교)"

In [823]:
first[first.str.contains("한신")==True]="지방사립대(한신대학교)"

In [824]:
first[first.str.contains("서연")==True]="서울사립대(고려대학교)"

In [825]:
first[first.str.contains("연고")==True]="서울사립대(연세대학교)"

In [826]:
first[first.str.contains("스카이")==True]="서울사립대(고려대학교)"

In [827]:
first[first.str.contains("5공")==True]="서울사립대(한양대학교)"

In [828]:
first[first.str.contains("지방국립 ")==True]="지방국립대"

In [829]:
first[first.str.contains("동국")==True]="서울사립대(동국대학교)"

In [830]:
first[first.str.contains("도시공학, 컴퓨터공학")==True]="서울공립대(서울시립대)"

In [831]:
# 컴퓨터공학과
first[first.str.contains("컴퓨터공")==True]

1262    컴퓨터공학과
1356    컴퓨터공학과
2507     컴퓨터공학
2527     컴퓨터공학
4696     컴퓨터공학
4872     컴퓨터공학
5725    컴퓨터공학과
5726    컴퓨터공학과
8853     컴퓨터공학
9043     컴퓨터공학
Name: 0, dtype: object

In [832]:
# 경영학과
first[first.str.contains("경영")==True]

1263      경영
1355      경영
2838      경영
2841      경영
2968      경영
2970      경영
3100     경영학
3203     경영학
4642      경영
4664       경영
4807      경영
4829       경영
4849       경영
5370      경영
5521      경영
5722     경영학
5756    경영학과
5762     경영학
5780    경영학과
5800    경영학과
9378    경영학과
9738    경영학과
9850    경영학과
Name: 0, dtype: object

In [833]:
first[first.str.contains("부산외대")==True]="지방사립대(부산외국어대학교)"

In [834]:
first[first.str.contains("외대 ")==True]="서울사립대(한국외국어대학교)"

In [835]:
# 바이오
first[first.str.contains("바이오")==True]

1403         바이오
6786    바이오및뇌공학과
7022    바이오및뇌공학과
Name: 0, dtype: object

In [836]:
first[first.str.contains("거제")==True]="지방사립대(거제대학교)"

In [837]:
first[first.str.contains("연대")==True]="서울사립대(연세대학교)"

In [838]:
first[first.str.contains("서성한")==True]="서울사립대(서강대학교)"

In [839]:
first[first.str.contains("건동홍")==True]="서울사립대(홍익대학교)"

In [840]:
first[first.str.contains("단국")==True]="서울사립대(단국대학교)"

In [841]:
# 컴퓨터그래픽(전공)
first[first.str.contains("그래픽")==True]

1622    컴퓨터그래픽
1763    컴퓨터그래픽
Name: 0, dtype: object

In [842]:
first[first.str.contains("고대")==True]="서울사립대(고려대학교)"

In [843]:
first[first.str.contains("경기권")==True]="지방사립대"

In [844]:
# 화공(전공)
first[first.str.contains("화공")==True]

1677     화공
1697     화공
1845     화공
4656    화공
4817    화공
5559    화공
5579    화공
5604    화공
Name: 0, dtype: object

In [845]:
first[first.str.contains(" 국립대")==True]="서울국립대"

In [846]:
# 국립대 검사해보기
first[first.str.contains("지방국립대 ")==True]="지방국립대"

In [847]:
first[first.str.contains("서울중위")==True]="서울사립대"

In [848]:
first[first.str.contains("중위")==True]="지방사립대"

In [849]:
first[first.str.contains("인하 ")==True]="지방사립대(인하대학교)"

In [850]:
first[first.str.contains("중 ")==True]="지방사립대"

In [851]:
# 국제통상(전공)
first[first.str.contains("국제통상 ")==True]

6331    국제통상
6561    국제통상
Name: 0, dtype: object

In [852]:
first[first.str.contains("영산")==True]="지방사립대(영산대학교)"

In [853]:
first[first.str.contains("S대")==True]="서울국립대(서울대학교)"

In [854]:
# 무역학과(전공)
first[first.str.contains("무역")==True]

1713    무역학과
1858    무역학과
2260    무역학과
2280    무역학과
2437    무역학과
2441    무역학과
Name: 0, dtype: object

In [855]:
first[first.str.contains("서울권")==True]="서울사립대"

In [856]:
first[first.str.contains("연대")==True]="서울사립대(연세대학교)"

In [857]:
# 메카(전공)
first[first.str.contains("메카")==True]

2190    메카르토닉스
2350    메카르토닉스
Name: 0, dtype: object

In [858]:
first[first.str.contains("KY 학사")==True]="대학원"

In [859]:
first[first.str.contains("Y")==True]="서울사립대(연세대학교)"

In [860]:
first[first.str.contains("중경외시")==True]="서울사립대(중앙대학교)"

In [861]:
#재료(전공)
first[first.str.contains("재료")==True]

2240    재료
2398    재료
2418    재료
2420    재료
7271    재료
Name: 0, dtype: object

In [862]:
first[first.str.contains("지방사립 ")==True]="지방사립대"

In [863]:
first[first.str.contains("인천 소재 대학교 ")==True]="지방사립대"

In [864]:
# 봉사새끼
first[first.str.contains("봉사")==True]

442     컴활2급, 워드프로세서, ERP(회계,인사,생산,물류), 한국사능력검정2급, 전산회...
528     컴활2급, 워드프로세서, ERP(회계,인사,생산,물류), 한국사능력검정2급, 전산회...
570     컴활2급, 워드프로세서, ERP(회계,인사,생산,물류), 한국사능력검정2급, 전산회...
674     컴활2급, 워드프로세서, ERP(회계,인사,생산,물류), 한국사능력검정2급, 전산회...
866     컴활2급, 워드프로세서, ERP(회계,인사,생산,물류), 한국사능력검정2급, 전산회...
2510                                                   봉사
2530                                                   봉사
4385                                    봉사활동, 아시아게임청년서포터즈
4386                                    봉사활동, 아시아게임청년서포터즈
7819                                        인턴2회, 봉사활동 다수
7874                                        인턴2회, 봉사활동 다수
Name: 0, dtype: object

In [865]:
first[first.str.contains("안양대")==True]="지방사립대(안양대학교)"

In [866]:
first[first.str.contains("건")==True]="서울사립대(건국대학교)"

In [867]:
first[first.str.contains("경희 수원")==True]="지방사립대(경희대학교)"

In [868]:
first[first.str.contains("경희 ")==True]="서울사립대(경희대학교)"

In [869]:
first[first.str.contains("상하이")==True]="해외대(중국)"

In [870]:
first[first.str.contains("중,아,인")==True]="서울사립대(아주대학교)"

In [871]:
first[first.str.contains("시립대")==True]="서울공립대(서울시립대학교)"

In [872]:
first[first.str.contains("중인시")==True]="지방사립대(인하대학교)"

In [873]:
first[first.str.contains("E 대학교")==True]="서울사립대(이화여자대학교)"

In [874]:
first[first.str.contains("국숭")==True]="서울사립대(숭실대학교)"

In [875]:
first[first.str.contains("홍익대학교 ")==True]="서울사립대(홍익대학교)"

In [876]:
first[first.str.contains("칭화대학교")==True]="해외대(중국)"

In [877]:
first[first.str.contains("센트럴")==True]="해외대(영국)"

In [878]:
first[first.str.contains("홍익 ")==True]="서울사립대(홍익대학교)"

In [879]:
first[first.str.contains("설카포")==True]="포항공과대학교"

In [880]:
first[first.str.contains("고려사이버")==True]="전문대"

In [881]:
first[first.str.contains("지방분교")==True]="지방사립대"

In [882]:
first[first.str.contains("명문대")==True]="서울사립대"

In [883]:
first[first.str.contains("인천소재")==True]="지방사립대"

In [884]:
"중,아,인 "

'중,아,인 '

In [885]:
first[first.str.contains("^거점국립대")==True]="지방거점국립대"

In [886]:
first[first.str.contains("경기도권")==True]="지방사립대"

In [887]:
first[first.str.contains("지방4")==True]="지방사립대"

In [888]:
first[first.str.contains("지방국립공")==True]="지방국립대"

In [889]:
first[first.str.contains("^국립대")==True]="지방국립대"

In [890]:
first[first.str.contains("숙대")==True]="서울사립대(숙명여자대학교)"

In [891]:
first[first.str.contains("서울하")==True]="서울사립대"

In [892]:
first[first.str.contains("서울소재")==True]="서울사립대"

In [893]:
first[first.str.contains("^지방사립 ")==True]

Series([], Name: 0, dtype: object)

In [894]:
first[first.str.contains("뉴")==True]="해외대(미국)"

In [895]:
first[first.str.contains("한서")==True]="지방사립대(한서대학교)"

In [896]:
first[first.str.contains("경기권")==True]

Series([], Name: 0, dtype: object)

In [897]:
first[first.str.contains("한국산업기술")==True]="지방사립대(한국산업기술대학교)"

In [898]:
first[first.str.contains("사립대학교")==True]="지방사립대"

In [899]:
first[first.str.contains("카이스트")==True]="KAIST"

In [900]:
first[first.str.contains("경남과학기술대학교")==True]="지방국립대(경남과학기술대학교)"

In [901]:
first[first.str.contains("인문")==True]

Series([], Name: 0, dtype: object)

In [902]:
first[first.str.contains("지방거점국립대학")==True]="지방거점국립대"

In [903]:
first[first.str.contains("서홍국")==True]="서울사립대(홍익대학교)"

In [904]:
first[first.str.contains("한기대")==True]="지방사립대(한국기술교육대학교)"

In [905]:
first[first.str.contains("중견")==True]="서울사립대"

In [906]:
first[first.str.contains("경원대")==True]="지방사립대(가천대학교)"

In [907]:
first[first.str.contains("목원")==True]="지방사립대(목원대학교)"

In [908]:
first[first.str.contains("c대")==True]="서울사립대(중앙대학교)"

In [909]:
first[first.str.contains("s")==True]

Series([], Name: 0, dtype: object)

In [910]:
first[first.str.contains("울산과학")==True]="UNIST"

In [911]:
first[first.str.contains("캠퍼스")==True]="지방사립대"

In [912]:
first[first.str.contains("북경항공")==True]="해외대(중국)"

In [913]:
first[first.str.contains("북경")==True]="해외대(중국)"

In [914]:
first[first.str.contains("서울사립대\(중앙대하굑\)")==True]="서울사립대(중앙대학교)"

In [915]:
first[first.str.contains("중앙대하굑")==True]

Series([], Name: 0, dtype: object)

In [916]:
first[first.str.contains("중,")==True]="서울사립대(경희대학교)"

In [917]:
first[first.str.contains("강남대학교")==True]="지방사립대(강남대학교)"

In [918]:
first[first.str.contains("홍대")==True]="서울사립대(홍익대학교)"

In [919]:
first[first.str.contains("에리카")==True]="지방사립대(한양대에리카)"

In [920]:
first[first.str.contains("교대")==True]="서울국립대(서울교육대학교)"

In [921]:
first[first.str.contains("중아인")==True]="서울사립대(아주대학교)"

In [922]:
first[first.str.contains("국외대")==True]="해외대"

In [923]:
first[first.str.contains("I대")==True]="지방사립대(인하대학교)"

In [924]:
first[first.str.contains("경기사립")==True]="지방사립대"

In [925]:
first[first.str.contains("지방거주")==True]="지방사립대"

In [926]:
first[first.str.contains("초대졸")==True]="전문대"

In [927]:
first[first.str.contains("지국대")==True]="지방국립대"

In [933]:
first=pd.read_csv("20200806.txt",encoding="utf-8")

In [934]:
first[first.str.contains("지국대")==True]="지방국립대"

       Unnamed: 0               0
0               0          고등학교졸업
1               1    서울사립대(중앙대학교)
2               2  지방거점국립대(제주대학교)
3               3  지방거점국립대(충남대학교)
4               4    서울사립대(건국대학교)
...           ...             ...
10102       10102    서울사립대(상명대학교)
10103       10103             전문대
10104       10104         지방거점국립대
10105       10105         지방거점국립대
10106       10106         지방거점국립대

[10107 rows x 2 columns]

In [935]:
first[first.str.contains("^가톨릭")==True]

AttributeError: 'DataFrame' object has no attribute 'str'

In [929]:
first[first.str.contains("IST")==True]="과학기술원"

In [930]:
first[first.str.contains("포항")==True]="과학기술원"

In [932]:
first[first.str.contains("학점")==True]

119      학점 3.57
139      학점 3.57
166      학점 3.57
811      학점 3.67
820      학점 3.67
           ...
7975     학점 3.96
8845     학점 3.99
9298     학점 3.38
10047     학점 3.6
10067     학점 3.6
Name: 0, Length: 104, dtype: object

In [939]:
df["학점"].tail(50)

10057    NaN
10058    NaN
10059    NaN
10060    NaN
10061    NaN
10062    NaN
10063    NaN
10064    NaN
10065    NaN
10066    NaN
10067    NaN
10068    NaN
10069    NaN
10070    NaN
10071    NaN
10072    NaN
10073    NaN
10074    NaN
10075    NaN
10076    NaN
10077    NaN
10078    NaN
10079    NaN
10080    NaN
10081    NaN
10082    NaN
10083    NaN
10084    NaN
10085    NaN
10086    NaN
10087    NaN
10088    NaN
10089    NaN
10090    NaN
10091    NaN
10092    NaN
10093    NaN
10094    NaN
10095    NaN
10096    NaN
10097    NaN
10098    NaN
10099    NaN
10100    NaN
10101    NaN
10102    NaN
10103    NaN
10104    NaN
10105    NaN
10106    NaN
Name: 학점, dtype: object

In [ ]:
df["학점"] = first[first.str.contains("학점")==True]

In [ ]:
first[first.str.contains("교내")==True]

In [ ]:
first[first.str.contains("컴활")==True]=""

In [594]:
df["학점"]

'학점 3.57 '

In [ ]:
df['경험사항']=first[first.str.contains("컴활")==True]

In [ ]:
df['경험사항']=first[first.str.contains("교내")==True]

In [ ]:
df['경험사항'][11]

In [ ]:
first[first.str.contains("교내")==True]=" "

In [ ]:
first[first.str.contains("전기")==True]

In [ ]:
df['학과']=first[first.str.contains("전기")==True]

In [621]:
first[first.str.contains("교내")==True]

Series([], Name: 0, dtype: object)

In [ ]:
df['학과']

In [ ]:
first[first.str.contains("전기")==True]=""

In [ ]:
df['학과']=first[first.str.contains("영어")==True]

In [ ]:
first[first.str.contains("영어")==True]=""

In [ ]:
df['학과']=first[first.str.contains("디자인")==True]

In [ ]:
first[first.str.contains("영어")==True]=''

In [ ]:
df['학과']=first[first.str.contains("그래픽")==True]

In [ ]:
first[first.str.contains("그래픽")==True]=""

In [ ]:
df['학과']=first[first.str.contains("학과")==True]

In [ ]:
first[first.str.contains("그래픽")==True]=""

In [ ]:
first[first.str.contains("학과")==True]=""

In [ ]:
df['학과']=first[first.str.contains("통상")==True]

In [ ]:
first[first.str.contains("통상")==True]=""

In [ ]:
df['학과']=first[first.str.contains("컴퓨터")==True]

In [ ]:
first[first.str.contains("컴퓨터")==True]=""

In [ ]:
first[first.str.contains("경영")==True]="경영학"

In [ ]:
df["학과"]=first[first.str.contains("경영학")==True]

In [ ]:
first[first.str.contains("경영학")==True]=""

In [ ]:
df["학과"]=first[first.str.contains("디자인")==True]

In [ ]:
first[first.str.contains("디자인")==True]=""

In [ ]:
df["학과"]=first[first.str.contains("바이오")==True]

In [ ]:
first[first.str.contains("바이오")==True]=""

In [ ]:
first[first.str.contains("화공")==True]="화학공학과"

In [ ]:
df["학과"]=first[first.str.contains("화학공학과")==True]

In [ ]:
first[first.str.contains("화학공학과")==True]=""

In [ ]:
first[first.str.contains("전자공")==True]="전자공학"

In [679]:
first[first.str.contains("전자공학")==True]=""

In [574]:
import re
text = first[first.str.contains("지방국립")==True]
regex = re.compile(r"지방국립$")
mc = regex.findall(text)
print(mc)

TypeError: expected string or bytes-like object

In [450]:
text="3050,지방국립"
regex = re.compile("지방국립$")
mc = regex.findall(text)
print(mc)

['지방국립']

In [451]:
text="3050,지방국립대(인천대학교)"
regex = re.compile(r"지방국립대")
mc = regex.findall(text)
print(mc)

['지방국립대']

In [452]:
text="3050,지방국립대(인천대학교)"
regex = re.compile(r"지방국립$")
mc = regex.findall(text)
print(mc)

[]

In [ ]:
first.to_csv("final.txt",encoding="utf-8")