In [1]:
import pandas as pd
import numpy as np

In [2]:
raw_df = pd.read_csv("WriteData.csv")
raw_df

,1,2,3
0,한국석유공사 / 설비 / 2020 상반기,"광주전자공업고등학교 / 학점 1.7등급 / 인천 글로벌 숙련 진흥원 5일, 선반, ...",7.한국석유공사\n\n 1. 지원 분야 직무기술서 ‘직무수행 내용’ 중 본인이 가장...
1,CJ제일제당 / Food Sales / 2020 상반기,"중경외시 / 상경계열 / 학점 3.92 / 토익 905, 토스 LV 6 / 봉사활동...",CJ제일제당 및 선택한 직무에 대한 지원동기는 무엇인가요? ① 선택한 직무에 관심을...
2,한국가스안전공사 / LP가스 안전지킴이사업 / 2020 상반기,"제주대학교 / 학점 3.3 / 토익830 / 컴퓨터활용능력1급, 한국사1급",\n1. 한국가스안전공사가 진행하는 사업에 관심을 갖고 공사에 지원한 동기에 대해 ...
3,코레일 / 사무영업 / 2020 상반기,"충남대학교 / 학점 3.87 / 토익 835 / 토론동아리 3년, 컴활1급, 한국사1급","1.공동체의 일원으로서 가장 중요하게 생각하는 가치를 제시하고, 그 가치를 실천했던..."
4,한국기술교육대학교 / 행정 / 2020 상반기,"건국대학교 / 학점 4.0 / 토익 780 / 컴활 1급, 한국사1급","1. 본인이 가진 가장 뛰어난 점과 그렇게 판단한 이유, 고용노동연수원 업무수행에서..."
...,...,...,...
10102,현대자동차 / 영업관리 / 2013 상반기,"상명대학교 / 국제통상학 / 학점 4.3 / 토익 900, HSK 6급 / 해외인턴...",1. 현대자동차에 지원하게 된 동기 또는 해당 직무에 지원하게 된 동기는 무엇입니까...
10103,심팩 / 용접관리 / 2013 상반기,지방전문대 / 공업화학 / 학점 3.06,성격소개\n\n대부분의 사람들이 평가하는 첫인상은 소심하고 내성적인 성격일것이라 생...
10104,"한국전력 / 인턴[송,배전] / 2013 상반기","지거국 / 전자공학 / 학점 3.7 / 토익 900대 / 음악봉사활동, 멘토링 등","[질문 1] 취업이라는 목표 이외에 인생의 큰 목표를 세운 경험, 그 목표를 실현하..."
10105,"한국전력 / 인턴[송,배전] / 2013 상반기","지거국 / 전자공학 / 학점 3.7 / 토익 900 / 음악봉사활동, 멘토링등",한전 자가소개서 양식 500자 12줄 이내\n\n[질문 1] 취업이라는 목표 이외에...
10106,"한국전력 / 인턴[송,배전] / 2013 상반기","지거국 / 전자공학 / 학점 3.7 / 토익 900 / 음악봉사활동, 멘토링등",한전 자가소개서 양식 500자 12줄 이내\n\n[질문 1] 취업이라는 목표 이외에...

In [3]:
df=pd.read_csv("1.csv")
df.tail(20)

,Unnamed: 0,Unnamed: 0.1,기업명,지원부서,지원시기,학교,학과,학점,어학,자격증,경험사항,자소서
10087,10087,10087,서울보증보험,일반사무,2014 하반기,서울사립대(연세대학교),경영학과,학점 3.9,NaN,NaN,NaN,1. 귀하의 성장과정을 토대로 성격 및 장단점을 서술해 주십시오. - 500자 이내...
10088,10088,10088,신영,해외영업,2014 하반기,지방사립대(경성대학교),NaN,학점 3.8,"토익 905, 오픽 IH",NaN,NaN,1. 본인의 성장과정 및 학창시절을 기술하여 주십시오.\n \n[더불어 살 줄 아는...
10089,10089,10089,KT,네트워크,2014 하반기,지방국립대,NaN,학점 3.7,NaN,NaN,NaN,■해당 직무에 지원하게 된 동기와 입사 후 10년 내에 이루고 싶은 목표에 대해 구...
10090,10090,10090,삼성,-,2014 하반기,NaN,NaN,NaN,NaN,NaN,NaN,최근 사회이슈 중 중요하다고 생각되는 한가지를 선택하고 이에 관한 자신의 견해를 기...
10091,10091,10091,SK하이닉스,메인트,2014 상반기,전문대,전기공학과,학점 4.09,NaN,NaN,NaN,1. 이제까지 가장 강한 소속감을 느꼈던 조직의 발전을 위해 노력한 것 중 가장 기...
10092,10092,10092,두산인프라코어,R&D,2014 상반기,서울사립대(중앙대학교),기계공학과,학점 3.72,NaN,NaN,NaN,1. 지원하는 회사와 분야(직무)에 대한 지원동기를 자유롭게 기술 하세요.(50자 ...
10093,10093,10093,동아대학교,일반행정,2014 상반기,지방사립대(동아대학교),경제학과,학점 3.97,NaN,NaN,NaN,"■ 지원동기\n\n2002년 부산,경남지역 명문사학인 동아대학교에 진학하여 6년째 ..."
10094,10094,10094,SK하이닉스,메인트,2014 상반기,지방거점국립대(경북대학교),전기공학과,학점 4.09,NaN,NaN,NaN,1. 시절 자신이 경험한 환경적인 변화 중에서 자신에게 가장 의미있거나 영향이 컸던...
10095,10095,10095,한국전력공사,사무,2014 상반기,해외대,경영학과,학점 3.0,NaN,NaN,NaN,"1. 가장 심혈을 기울여 목표를 성취한 경험이 있다면 구체적인 동기, 행동, 결과 ..."
10096,10096,10096,IBK기업은행,일반행원,2014 상반기,지방거점국립대,경영학과,학점 4.03,NaN,NaN,NaN,1. 자기소개 * 각 항목별 제시한 주제에 한해서만 입력하시기바랍니다. (단답형으로...
10097,10097,10097,NC소프트,소프트웨어,2014 상반기,서울사립대(건국대학교),정보통신공학과,학점 3.8,NaN,NaN,NaN,"1. 자신이 하고 싶은 것을 진지하고 순수한 마음으로 수행했던 경험과, 그 결과에 ..."
10098,10098,10098,금호타이어,생산관리,2014 상반기,서울사립대(동국대학교),산업공학과,학점 3.5,NaN,NaN,NaN,1. 귀하가 금호아시아나그룹(1지망 지원회사)을 지원하게 된 동기에 대해 서술해 주...
10099,10099,10099,보쉬전장,수출입관리,2014 상반기,지방사립대(경성대학교),NaN,학점 3.8,"토익 750, 오픽 IM3",NaN,NaN,[소통의 중요성을 알게 된 해외마케팅활동]\n \n대학 시절 GTEP(해외마케팅활동...
10100,10100,10100,현대파워텍,연구개발,2013 하반기,서울사립대(경희대학교),기계공학과,학점 3.76,NaN,NaN,NaN,1. 성장과정\n\n<견학을 통해 얻은 특허>\n\n특허를 취득하고 싶어서 아이디어...
10101,10101,10101,웅진코웨이,마케팅,2013 하반기,전문대,광고홍보학과,학점 3.8,NaN,NaN,NaN,"1. 지원동기\n\n인재와 기업이 함께 성장할 수 있는 곳, 그곳이 바로 웅진코웨이..."
10102,10102,10102,현대자동차,영업관리,2013 상반기,서울사립대(상명대학교),국제통상학과,학점 4.3,NaN,NaN,NaN,1. 현대자동차에 지원하게 된 동기 또는 해당 직무에 지원하게 된 동기는 무엇입니까...
10103,10103,10103,심팩,용접관리,2013 상반기,전문대,공업화학과,학점 3.06,NaN,NaN,NaN,성격소개\n\n대부분의 사람들이 평가하는 첫인상은 소심하고 내성적인 성격일것이라 생...
10104,10104,10104,한국전력,"인턴[송,배전]",2013 상반기,지방거점국립대,전자공학과,학점 3.7,NaN,NaN,NaN,"[질문 1] 취업이라는 목표 이외에 인생의 큰 목표를 세운 경험, 그 목표를 실현하..."
10105,10105,10105,한국전력,"인턴[송,배전]",2013 상반기,지방거점국립대,전자공학과,학점 3.7,NaN,NaN,NaN,한전 자가소개서 양식 500자 12줄 이내\n\n[질문 1] 취업이라는 목표 이외에...
10106,10106,10106,한국전력,"인턴[송,배전]",2013 상반기,지방거점국립대,전자공학과,학점 3.7,NaN,NaN,NaN,한전 자가소개서 양식 500자 12줄 이내\n\n[질문 1] 취업이라는 목표 이외에...

In [4]:
first = raw_df["2"].str.split("/",expand=True)[0]
second = raw_df["2"].str.split("/",expand=True)[1]
third = raw_df["2"].str.split("/",expand=True)[2]
four=raw_df["2"].str.split("/",expand=True)[3]
five=raw_df["2"].str.split("/",expand=True)[4]
six=raw_df["2"].str.split("/",expand=True)[5]

In [5]:
five

0                                             None
1                                   봉사활동 일부빼고는 전무.
2                                             None
3                                             None
4                                             None
                           ...
10102     해외인턴1회, 중국어 말하기 대회 1등, 와인바 매니저 1년 6개월 경력
10103                                         None
10104                                음악봉사활동, 멘토링 등
10105                                 음악봉사활동, 멘토링등
10106                                 음악봉사활동, 멘토링등
Name: 4, Length: 10107, dtype: object

In [6]:
five[five.str.contains("봉사")==True]

1                              봉사활동 일부빼고는 전무.
67                                  학내 봉사동아리
72                            학내 봉사동아리일반기계기사
117                                 학내 봉사동아리
137                                 학내 봉사동아리
                         ...
10095     봉사활동 3회, 공모전 3회, 대외활동 다수, 인턴 1년 2개월
10098                 사회봉사활동 126시간, 공모전 2회 수상
10104                           음악봉사활동, 멘토링 등
10105                            음악봉사활동, 멘토링등
10106                            음악봉사활동, 멘토링등
Name: 4, Length: 1333, dtype: object

In [7]:
df.at[five[five.str.contains("봉사")==True].index,["경험사항"]]=five[five.str.contains("봉사")==True]

In [8]:
five[five.str.contains("봉사")==True]=""

In [9]:
df.at[five[five.str.contains("기사")==True].index,["자격증"]]=five[five.str.contains("기사")==True]

In [10]:
five[five.str.contains("기사")==True]=""

In [11]:
df.at[five[five.str.contains("학생회")==True].index,["경험사항"]]=five[five.str.contains("학생회")==True]

In [12]:
five[five.str.contains("학생회")==True]=""

In [13]:
df.at[five[five.str.contains("인턴")==True].index,["경험사항"]]=five[five.str.contains("인턴")==True]

In [14]:
five[five.str.contains("인턴")==True]=""

In [15]:
df.at[five[five.str.contains("무역영어")==True].index,["자격증"]]=five[five.str.contains("무역영어")==True]

In [16]:
five[five.str.contains("무역영어")==True]=""

In [17]:
df.at[five[five.str.contains("워드")==True].index,["자격증"]]=five[five.str.contains("워드")==True]

In [18]:
five[five.str.contains("워드")==True]=""

In [19]:
df.at[five[five.str.contains("체험")==True].index,["경험사항"]]=five[five.str.contains("체험")==True]

In [20]:
five[five.str.contains("체험")==True]=""

In [21]:
df.at[five[five.str.contains("전기")==True].index,["경험사항"]]=five[five.str.contains("전기")==True]

In [22]:
five[five.str.contains("전기")==True]=""

In [23]:
df.at[five[five.str.contains("홍보")==True].index,["경험사항"]]=five[five.str.contains("홍보")==True]

In [24]:
five[five.str.contains("홍보")==True]=""

In [25]:
df.at[five[five.str.contains("교내")==True].index,["경험사항"]]=five[five.str.contains("교내")==True]

In [26]:
five[five.str.contains("교내")==True]=""

In [27]:
df.at[five[five.str.contains("재경")==True].index,["자격증"]]=five[five.str.contains("재경")==True]

In [28]:
five[five.str.contains("재경")==True]=""

In [29]:
df.at[five[five.str.contains("아르")==True].index,["경험사항"]]=five[five.str.contains("아르")==True]

In [30]:
five[five.str.contains("아르")==True]=""

In [31]:
five[five.str.contains("공로")==True]=""

In [32]:
df.at[five[five.str.contains("공모")==True].index,["경험사항"]]=five[five.str.contains("공모")==True]

In [33]:
five[five.str.contains("공모")==True]=""

In [34]:
five[five.str.contains("삼성취업")==True]=""

In [35]:
five[five.str.contains("지원하는 회사")==True]=""

In [36]:
df.at[five[five.str.contains("공")==True].index,["경험사항"]]=five[five.str.contains("공")==True]

In [37]:
five[five.str.contains("공")==True]=""

In [38]:
df.at[five[five.str.contains("국제")==True].index,["경험사항"]]=five[five.str.contains("국제")==True]

In [39]:
five[five.str.contains("국제")==True]=""

In [40]:
df.at[five[five.str.contains("국내")==True].index,["경험사항"]]=five[five.str.contains("국내")==True]

In [41]:
five[five.str.contains("국내")==True]=""

In [42]:
df.at[five[five.str.contains("컴퓨터")==True].index,["자격증"]]=five[five.str.contains("컴퓨터")==True]

In [43]:
five[five.str.contains("컴퓨터")==True]=""

In [44]:
df.at[five[five.str.contains("토익")==True].index,["어학"]]=five[five.str.contains("토익")==True]

In [45]:
five[five.str.contains("토익")==True]=""

In [46]:
df.at[five[five.str.contains("토스")==True].index,["어학"]]=five[five.str.contains("토스")==True]

In [47]:
five[five.str.contains("토스")==True]=""

In [48]:
df.at[five[five.str.contains("오픽")==True].index,["어학"]]=five[five.str.contains("오픽")==True]

In [49]:
five[five.str.contains("오픽")==True]=""

In [50]:
df.at[five[five.str.contains("오")==True].index,["경험사항"]]=five[five.str.contains("오")==True]

In [51]:
five[five.str.contains("오")==True]=""

In [52]:
df.at[five[five.str.contains("컴활")==True].index,["자격증"]]=five[five.str.contains("컴활")==True]

In [53]:
five[five.str.contains("컴활")==True]=""

In [54]:
df.at[five[five.str.contains("한국")==True].index,["경험사항"]]=five[five.str.contains("한국")==True]

In [55]:
five[five.str.contains("한국")==True]=""

In [56]:
df.at[five[five.str.contains("현장")==True].index,["경험사항"]]=five[five.str.contains("현장")==True]

In [57]:
five[five.str.contains("현장")==True]=""

In [58]:
df.at[five[five.str.contains("국")==True].index,["경험사항"]]=five[five.str.contains("국")==True]

In [59]:
five[five.str.contains("국")==True]=""

In [60]:
df.at[five[five.str.contains("지")==True].index,["경험사항"]]=five[five.str.contains("지")==True]

In [61]:
five[five.str.contains("지")==True]=""

In [62]:
five[five.str.contains("2018")==True]=""

In [63]:
df.at[five[five.str.contains("기")==True].index,["경험사항"]]=five[five.str.contains("기")==True]

In [64]:
five[five.str.contains("기")==True]=""

In [65]:
df.at[five[five.str.contains("중")==True].index,["경험사항"]]=five[five.str.contains("중")==True]

In [66]:
five[five.str.contains("중")==True]=""

In [67]:
df.at[five[five.str.contains("일")==True].index,["경험사항"]]=five[five.str.contains("일")==True]

In [68]:
five[five.str.contains("일")==True]=""

In [69]:
df.at[five[five.str.contains("영")==True].index,["경험사항"]]=five[five.str.contains("영")==True]

In [70]:
five[five.str.contains("영")==True]=""

In [71]:
df.at[five[five.str.contains("인")==True].index,["경험사항"]]=five[five.str.contains("인")==True]

In [72]:
five[five.str.contains("인")==True]=""

In [73]:
df.at[five[five.str.contains("학부")==True].index,["경험사항"]]=five[five.str.contains("학부")==True]

In [74]:
five[five.str.contains("학부")==True]=""

In [75]:
five[five.str.contains("4.3")==True]="학점 4.3"

In [76]:
df.at[five[five.str.contains("4.3")==True].index,["학점"]]=five[five.str.contains("4.3")==True]

In [77]:
five[five.str.contains("4.3")==True]=""

In [78]:
df.at[five[five.str.contains("Ad")==True].index,["자격증"]]=five[five.str.contains("Ad")==True]

In [79]:
five[five.str.contains("Ad")==True]=""

In [80]:
five[five.str.contains("3.7")==True]="학점 3.7"

In [81]:
df.at[five[five.str.contains("3.7")==True].index,["학점"]]=five[five.str.contains("3.7")==True]

In [82]:
five[five.str.contains("3.7")==True]=""

In [83]:
df.at[five[five.str.contains("연구")==True].index,["경험사항"]]=five[five.str.contains("연구")==True]

In [84]:
five[five.str.contains("연구")==True]=""

In [85]:
df.at[five[five.str.contains("대외활동")==True].index,["경험사항"]]=five[five.str.contains("대외활동")==True]

In [86]:
five[five.str.contains("대외활동")==True]=""

In [87]:
df.at[five[five.str.contains("대외")==True].index,["경험사항"]]=five[five.str.contains("대외")==True]

In [88]:
five[five.str.contains("대외")==True]=""

In [89]:
df.at[five[five.str.contains("동아리")==True].index,["경험사항"]]=five[five.str.contains("동아리")==True]

In [90]:
five[five.str.contains("동아리")==True]=""

In [91]:
df.at[five[five.str.contains("동")==True].index,["경험사항"]]=five[five.str.contains("동")==True]

In [92]:
five[five.str.contains("동")==True]=""

In [93]:
df.at[five[five.str.contains("자격증")==True].index,["자격증"]]=five[five.str.contains("자격증")==True]

In [94]:
five[five.str.contains("자격증")==True]=""

In [95]:
df.at[five[five.str.contains("1회")==True].index,["경험사항"]]=five[five.str.contains("1회")==True]

In [96]:
five[five.str.contains("1회")==True]=""

In [97]:
five[five.str.contains("4.0")==True]="학점 4.0"

In [98]:
df.at[five[five.str.contains("4.0")==True].index,["학점"]]=five[five.str.contains("4.0")==True]

In [99]:
five[five.str.contains("4.0")==True]=""

In [100]:
df.at[five[five.str.contains("어학")==True].index,["경험사항"]]=five[five.str.contains("어학")==True]

In [101]:
five[five.str.contains("어학")==True]=""

In [102]:
df.at[five[five.str.contains("캠프")==True].index,["경험사항"]]=five[five.str.contains("캠프")==True]

In [103]:
five[five.str.contains("캠프")==True]=""

In [104]:
df.at[five[five.str.contains("수료")==True].index,["경험사항"]]=five[five.str.contains("수료")==True]

In [105]:
five[five.str.contains("수료")==True]=""

In [106]:
df.at[five[five.str.contains("창")==True].index,["경험사항"]]=five[five.str.contains("창")==True]

In [107]:
five[five.str.contains("창")==True]=""

In [108]:
five[five.str.contains("없음")==True]=""

In [109]:
five[five.str.contains("x")==True]=""

In [110]:
df.at[five[five.str.contains("수상")==True].index,["경험사항"]]=five[five.str.contains("수상")==True]

In [111]:
five[five.str.contains("수상")==True]=""

In [112]:
df.at[five[five.str.contains("학점")==True].index,["학점"]]=five[five.str.contains("학점")==True]

In [113]:
five[five.str.contains("학점")==True]=""

In [114]:
five[five.str.contains("4.1")==True]="학점 4.13"

In [115]:
df.at[five[five.str.contains("학점")==True].index,["학점"]]=five[five.str.contains("학점")==True]

In [116]:
five[five.str.contains("학점")==True]=""

In [117]:
df.at[five[five.str.contains("헌혈")==True].index,["경험사항"]]=five[five.str.contains("헌혈")==True]

In [118]:
five[five.str.contains("헌혈")==True]=""

In [119]:
df.at[five[five.str.contains("3대")==True].index,["경험사항"]]=five[five.str.contains("3대")==True]

In [120]:
five[five.str.contains("3대")==True]=""

In [121]:
df.at[five[five.str.contains("3")==True].index,["경험사항"]]=five[five.str.contains("3")==True]

In [122]:
five[five.str.contains("3")==True]=""

In [123]:
five[five.str.contains("Lev")==True]="토스 Level5"

In [124]:
df.at[five[five.str.contains("Lev")==True].index,["경험사항"]]=five[five.str.contains("Lev")==True]

In [125]:
five[five.str.contains("Lev")==True]=""

In [126]:
df.at[five[five.str.contains("2015")==True].index,["경험사항"]]=five[five.str.contains("2015")==True]

In [127]:
five[five.str.contains("2015")==True]=""

In [128]:
df.at[five[five.str.contains("ERP")==True].index,["자격증"]]=five[five.str.contains("ERP")==True]

In [129]:
five[five.str.contains("ERP")==True]=""

In [130]:
df.at[five[five.str.contains("상")==True].index,["경험사항"]]=five[five.str.contains("상")==True]

In [131]:
five[five.str.contains("상")==True]=""

In [132]:
df.at[five[five.str.contains("hsk")==True].index,["어학"]]=five[five.str.contains("hsk")==True]

In [133]:
five[five.str.contains("hsk")==True]=""

In [134]:
five[five.str.contains("280시간, SK sunny")==True]="SK sunny"

In [135]:
df.at[five[five.str.contains("sunny")==True].index,["경험사항"]]=five[five.str.contains("sunny")==True]

In [136]:
five[five.str.contains("sunny")==True]=""

In [137]:
five[five.str.contains("SU")==True]="SK sunny"

In [138]:
df.at[five[five.str.contains("sunny")==True].index,["경험사항"]]=five[five.str.contains("sunny")==True]

In [139]:
five[five.str.contains("sunny")==True]=""

In [140]:
five[five.str.contains("알바")==True]="편의점아르바이트"
df.at[five[five.str.contains("편의점아르바이트")==True].index,["경험사항"]]=five[five.str.contains("편의점아르바이트")==True]

In [141]:
five[five.str.contains("편의점아르바이트")==True]=""

In [142]:
five[five.str.contains("근무")==True]
df.at[five[five.str.contains("근무")==True].index,["경험사항"]]=five[five.str.contains("근무")==True]

In [143]:
five[five.str.contains("근무")==True]=""

In [144]:
five[five.str.contains("이전")==True]=""

In [145]:
five[five.str.contains("교환")==True]="교환학생"
df.at[five[five.str.contains("교환학생")==True].index,["경험사항"]]=five[five.str.contains("교환학생")==True]

In [146]:
five[five.str.contains("교환학생")==True]=""

In [147]:
five[five.str.contains("특허")==True]
df.at[five[five.str.contains("특허")==True].index,["경험사항"]]=five[five.str.contains("특허")==True]

In [148]:
five[five.str.contains("특허")==True]=""

In [149]:
five[five.str.contains("RCY")==True]
df.at[five[five.str.contains("RCY")==True].index,["경험사항"]]=five[five.str.contains("RCY")==True]

In [150]:
five[five.str.contains("RCY")==True]=""

In [151]:
five[five.str.contains("OPIC")==True]="오픽 IL"
df.at[five[five.str.contains("오픽")==True].index,["어학"]]=five[five.str.contains("오픽")==True]

In [152]:
five[five.str.contains("오픽")==True]=""

In [153]:
five[five.str.contains("C")==True]
df.at[five[five.str.contains("C")==True].index,["자격증"]]=five[five.str.contains("C")==True]

In [154]:
five[five.str.contains("C")==True]=""

In [155]:
five[five.str.contains("경력")==True]
df.at[five[five.str.contains("경력")==True].index,["경험사항"]]=five[five.str.contains("경력")==True]

In [156]:
five[five.str.contains("경력")==True]=""

In [157]:
five[five.str.contains("X")==True]=""

In [158]:
five[five.str.contains("장교")==True]="장교복무"
df.at[five[five.str.contains("장교")==True].index,["경험사항"]]=five[five.str.contains("장교")==True]

In [159]:
five[five.str.contains("장교")==True]=""

In [160]:
five[five.str.contains("석사")==True]=""

In [161]:
five[five.str.contains("다수")==True]=""

In [162]:
five[five.str.contains("2회")==True]=""

In [163]:
five[five.str.contains("병역")==True]=""

In [164]:
five[five.str.contains("과정")==True]
df.at[five[five.str.contains("과정")==True].index,["경험사항"]]=five[five.str.contains("과정")==True]

In [165]:
five[five.str.contains("과정")==True]=""

In [166]:
five[five.str.contains("J")==True]
df.at[five[five.str.contains("J")==True].index,["어학"]]=five[five.str.contains("J")==True]

In [167]:
five[five.str.contains("J")==True]=""

In [168]:
five[five.str.contains("서포터즈")==True]
df.at[five[five.str.contains("서포터즈")==True].index,["경험사항"]]=five[five.str.contains("서포터즈")==True]

In [169]:
five[five.str.contains("서포터즈")==True]=""

In [170]:
five[five.str.contains("건설사")==True]
df.at[five[five.str.contains("건설사")==True].index,["경험사항"]]=five[five.str.contains("건설사")==True]

In [171]:
five[five.str.contains("건설사")==True]=""

In [172]:
five[five.str.contains("s")==True]
df.at[five[five.str.contains("s")==True].index,["경험사항"]]=five[five.str.contains("s")==True]
five[five.str.contains("s")==True]=""

In [173]:
five[five.str.contains("석")==True]=""

In [174]:
five[five.str.contains("4회")==True]=""

In [175]:
five[five.str.contains("산업")==True]=""

In [176]:
five[five.str.contains("LEV")==True]="토스 Level6"

In [177]:
five[five.str.contains("LEV7")==True]="토스 Level7"
df.at[five[five.str.contains("토스")==True].index,["어학"]]=five[five.str.contains("토스")==True]

In [178]:
five[five.str.contains("토스")==True]=""

In [179]:
five[five.str.contains("99")==True]="토익 990"
df.at[five[five.str.contains("토익")==True].index,["어학"]]=five[five.str.contains("토익")==True]

In [180]:
five[five.str.contains("토익")==True]=""

In [181]:
five[five.str.contains("IM")==True]="오픽 IM2"
df.at[five[five.str.contains("오픽")==True].index,["어학"]]=five[five.str.contains("오픽")==True]

In [182]:
five[five.str.contains("오픽")==True]=""

In [183]:
five[five.str.contains("어문")==True]=""

In [184]:
five[five.str.contains("코트")==True]
df.at[five[five.str.contains("코트")==True].index,["경험사항"]]=five[five.str.contains("코트")==True]

In [185]:
five[five.str.contains("코트")==True]=""

In [186]:
df.at[five[five.str.contains("IT")==True].index,["자격증"]]=five[five.str.contains("IT")==True]
five[five.str.contains("IT")==True]=""

In [187]:
five[five.str.contains("MIS")==True]=""

In [188]:
five[five.str.contains("4.5")==True]="학점 4.5"
df.at[five[five.str.contains("학점")==True].index,["학점"]]=five[five.str.contains("학점")==True]
five[five.str.contains("학점")==True]=""

In [189]:
five[five.str.contains("삼성")==True]
df.at[five[five.str.contains("삼성")==True].index,["경험사항"]]=five[five.str.contains("삼성")==True]
five[five.str.contains("삼성")==True]=""

In [190]:
five[five.str.contains("보험")==True]
df.at[five[five.str.contains("보험")==True].index,["경험사항"]]=five[five.str.contains("보험")==True]
five[five.str.contains("보험")==True]=""

In [191]:
five[five.str.contains("-")==True]=""

In [192]:
five[five.str.contains("5회")==True]=""

In [193]:
five[five.str.contains("SA")==True]
df.at[five[five.str.contains("SA")==True].index,["경험사항"]]=five[five.str.contains("SA")==True]
five[five.str.contains("SA")==True]=""

In [194]:
five[five.str.contains("유")==True]=""

In [195]:
five[five.str.contains("무역")==True]
df.at[five[five.str.contains("무역")==True].index,["경험사항"]]=five[five.str.contains("무역")==True]
five[five.str.contains("무역")==True]=""

In [196]:
five[five.str.contains("스펙업\n\n마이크로소프트\n\n눔 코리아\n\n야놀자\n\n식신 핫플레이스")==True]="스펙업, 마이크로소프트, 눔 코리아, 야놀자, 식신 핫플레이스"

In [197]:
df.at[five[five.str.contains("스펙업")==True].index,["경험사항"]]=five[five.str.contains("스펙업")==True]
five[five.str.contains("스펙업")==True]=""

In [198]:
five[five.str.contains("4번")==True]=""

In [199]:
five[five.str.contains("경험")==True]="실무 경험 1년"
df.at[five[five.str.contains("실무")==True].index,["경험사항"]]=five[five.str.contains("실무")==True]
five[five.str.contains("실무")==True]=""

In [200]:
five[five.str.contains("멘토링")==True]
df.at[five[five.str.contains("멘토링")==True].index,["경험사항"]]=five[five.str.contains("멘토링")==True]
five[five.str.contains("멘토링")==True]=""

In [201]:
five[five.str.contains("워킹")==True]
df.at[five[five.str.contains("워킹")==True].index,["경험사항"]]=five[five.str.contains("워킹")==True]
five[five.str.contains("워킹")==True]=""

In [202]:
five[five.str.contains("농활")==True]="농촌활동"
df.at[five[five.str.contains("농활")==True].index,["경험사항"]]=five[five.str.contains("농활")==True]
five[five.str.contains("농활")==True]=""

In [203]:
five[five.str.contains("HSK")==True]

8602     HSK 6
Name: 4, dtype: object

In [204]:
df.at[five[five.str.contains("HSK")==True].index,["어학"]]=five[five.str.contains("HSK")==True]
five[five.str.contains("HSK")==True]=""

In [205]:
five[five.str.contains("2")==True]=""

In [206]:
df.at[five[five.str.contains("플랜")==True].index,["경험사항"]]=five[five.str.contains("플랜")==True]
five[five.str.contains("플랜")==True]=""

In [207]:
five[five.str.contains("여러")==True]=""

In [208]:
five[five.str.contains("N")==True]=""

In [209]:
five[five.str.contains(".")==True]=""

In [210]:
df

,Unnamed: 0,Unnamed: 0.1,기업명,지원부서,지원시기,학교,학과,학점,어학,자격증,경험사항,자소서
0,0,0,한국석유공사,설비,2020 상반기,NaN,전자공학과,학점 1.7등급,NaN,NaN,"인천 글로벌 숙련 진흥원, 선반, 용접 ,특수용접, 설비보전",7.한국석유공사\n\n 1. 지원 분야 직무기술서 ‘직무수행 내용’ 중 본인이 가장...
1,1,1,CJ제일제당,Food Sales,2020 상반기,서울사립대(중앙대학교),상경계열학과,학점 3.92,NaN,NaN,봉사활동 일부빼고는 전무.,CJ제일제당 및 선택한 직무에 대한 지원동기는 무엇인가요? ① 선택한 직무에 관심을...
2,2,2,한국가스안전공사,LP가스 안전지킴이사업,2020 상반기,지방거점국립대(제주대학교),NaN,학점 3.3,토익830,NaN,NaN,\n1. 한국가스안전공사가 진행하는 사업에 관심을 갖고 공사에 지원한 동기에 대해 ...
3,3,3,코레일,사무영업,2020 상반기,지방거점국립대(충남대학교),NaN,학점 3.87,토익 835,NaN,NaN,"1.공동체의 일원으로서 가장 중요하게 생각하는 가치를 제시하고, 그 가치를 실천했던..."
4,4,4,한국기술교육대학교,행정,2020 상반기,서울사립대(건국대학교),NaN,학점 4.0,토익 780,NaN,NaN,"1. 본인이 가진 가장 뛰어난 점과 그렇게 판단한 이유, 고용노동연수원 업무수행에서..."
...,...,...,...,...,...,...,...,...,...,...,...,...
10102,10102,10102,현대자동차,영업관리,2013 상반기,서울사립대(상명대학교),국제통상학과,학점 4.3,NaN,NaN,"해외인턴1회, 중국어 말하기 대회 1등, 와인바 매니저 1년 6개월 경력",1. 현대자동차에 지원하게 된 동기 또는 해당 직무에 지원하게 된 동기는 무엇입니까...
10103,10103,10103,심팩,용접관리,2013 상반기,전문대,공업화학과,학점 3.06,NaN,NaN,NaN,성격소개\n\n대부분의 사람들이 평가하는 첫인상은 소심하고 내성적인 성격일것이라 생...
10104,10104,10104,한국전력,"인턴[송,배전]",2013 상반기,지방거점국립대,전자공학과,학점 3.7,NaN,NaN,"음악봉사활동, 멘토링 등","[질문 1] 취업이라는 목표 이외에 인생의 큰 목표를 세운 경험, 그 목표를 실현하..."
10105,10105,10105,한국전력,"인턴[송,배전]",2013 상반기,지방거점국립대,전자공학과,학점 3.7,NaN,NaN,"음악봉사활동, 멘토링등",한전 자가소개서 양식 500자 12줄 이내\n\n[질문 1] 취업이라는 목표 이외에...
10106,10106,10106,한국전력,"인턴[송,배전]",2013 상반기,지방거점국립대,전자공학과,학점 3.7,NaN,NaN,"음악봉사활동, 멘토링등",한전 자가소개서 양식 500자 12줄 이내\n\n[질문 1] 취업이라는 목표 이외에...

In [211]:
df.drop(["Unnamed: 0.1"], axis=1)
df

,Unnamed: 0,Unnamed: 0.1,기업명,지원부서,지원시기,학교,학과,학점,어학,자격증,경험사항,자소서
0,0,0,한국석유공사,설비,2020 상반기,NaN,전자공학과,학점 1.7등급,NaN,NaN,"인천 글로벌 숙련 진흥원, 선반, 용접 ,특수용접, 설비보전",7.한국석유공사\n\n 1. 지원 분야 직무기술서 ‘직무수행 내용’ 중 본인이 가장...
1,1,1,CJ제일제당,Food Sales,2020 상반기,서울사립대(중앙대학교),상경계열학과,학점 3.92,NaN,NaN,봉사활동 일부빼고는 전무.,CJ제일제당 및 선택한 직무에 대한 지원동기는 무엇인가요? ① 선택한 직무에 관심을...
2,2,2,한국가스안전공사,LP가스 안전지킴이사업,2020 상반기,지방거점국립대(제주대학교),NaN,학점 3.3,토익830,NaN,NaN,\n1. 한국가스안전공사가 진행하는 사업에 관심을 갖고 공사에 지원한 동기에 대해 ...
3,3,3,코레일,사무영업,2020 상반기,지방거점국립대(충남대학교),NaN,학점 3.87,토익 835,NaN,NaN,"1.공동체의 일원으로서 가장 중요하게 생각하는 가치를 제시하고, 그 가치를 실천했던..."
4,4,4,한국기술교육대학교,행정,2020 상반기,서울사립대(건국대학교),NaN,학점 4.0,토익 780,NaN,NaN,"1. 본인이 가진 가장 뛰어난 점과 그렇게 판단한 이유, 고용노동연수원 업무수행에서..."
...,...,...,...,...,...,...,...,...,...,...,...,...
10102,10102,10102,현대자동차,영업관리,2013 상반기,서울사립대(상명대학교),국제통상학과,학점 4.3,NaN,NaN,"해외인턴1회, 중국어 말하기 대회 1등, 와인바 매니저 1년 6개월 경력",1. 현대자동차에 지원하게 된 동기 또는 해당 직무에 지원하게 된 동기는 무엇입니까...
10103,10103,10103,심팩,용접관리,2013 상반기,전문대,공업화학과,학점 3.06,NaN,NaN,NaN,성격소개\n\n대부분의 사람들이 평가하는 첫인상은 소심하고 내성적인 성격일것이라 생...
10104,10104,10104,한국전력,"인턴[송,배전]",2013 상반기,지방거점국립대,전자공학과,학점 3.7,NaN,NaN,"음악봉사활동, 멘토링 등","[질문 1] 취업이라는 목표 이외에 인생의 큰 목표를 세운 경험, 그 목표를 실현하..."
10105,10105,10105,한국전력,"인턴[송,배전]",2013 상반기,지방거점국립대,전자공학과,학점 3.7,NaN,NaN,"음악봉사활동, 멘토링등",한전 자가소개서 양식 500자 12줄 이내\n\n[질문 1] 취업이라는 목표 이외에...
10106,10106,10106,한국전력,"인턴[송,배전]",2013 상반기,지방거점국립대,전자공학과,학점 3.7,NaN,NaN,"음악봉사활동, 멘토링등",한전 자가소개서 양식 500자 12줄 이내\n\n[질문 1] 취업이라는 목표 이외에...

In [212]:
df.to_csv("2.csv",encoding='utf-8')

In [213]:
df["어학"].isnull().sum()

8130