In [19]:
import pandas as pd
import numpy as np

In [31]:
raw_df = pd.read_csv("WriteData.csv")

In [25]:
raw_df1=pd.read_csv("20200807.csv")

In [30]:
raw_df1

,Unnamed: 0,기업명,지원부서,지원시기,학교,학과,학점,어학,자격증,경험사항,자소서
0,0,한국석유공사,설비,2020 상반기,고등학교졸업,NaN,학점 1.7등급,NaN,NaN,NaN,7.한국석유공사\n\n 1. 지원 분야 직무기술서 ‘직무수행 내용’ 중 본인이 가장...
1,1,CJ제일제당,Food Sales,2020 상반기,서울사립대(중앙대학교),NaN,NaN,NaN,NaN,NaN,CJ제일제당 및 선택한 직무에 대한 지원동기는 무엇인가요? ① 선택한 직무에 관심을...
2,2,한국가스안전공사,LP가스 안전지킴이사업,2020 상반기,지방거점국립대(제주대학교),NaN,학점 3.3,NaN,NaN,NaN,\n1. 한국가스안전공사가 진행하는 사업에 관심을 갖고 공사에 지원한 동기에 대해 ...
3,3,코레일,사무영업,2020 상반기,지방거점국립대(충남대학교),NaN,학점 3.87,NaN,NaN,NaN,"1.공동체의 일원으로서 가장 중요하게 생각하는 가치를 제시하고, 그 가치를 실천했던..."
4,4,한국기술교육대학교,행정,2020 상반기,서울사립대(건국대학교),NaN,학점 4.0,NaN,NaN,NaN,"1. 본인이 가진 가장 뛰어난 점과 그렇게 판단한 이유, 고용노동연수원 업무수행에서..."
...,...,...,...,...,...,...,...,...,...,...,...
10102,10102,현대자동차,영업관리,2013 상반기,서울사립대(상명대학교),NaN,NaN,NaN,NaN,NaN,1. 현대자동차에 지원하게 된 동기 또는 해당 직무에 지원하게 된 동기는 무엇입니까...
10103,10103,심팩,용접관리,2013 상반기,전문대,NaN,NaN,NaN,NaN,NaN,성격소개\n\n대부분의 사람들이 평가하는 첫인상은 소심하고 내성적인 성격일것이라 생...
10104,10104,한국전력,"인턴[송,배전]",2013 상반기,지방거점국립대,NaN,NaN,NaN,NaN,NaN,"[질문 1] 취업이라는 목표 이외에 인생의 큰 목표를 세운 경험, 그 목표를 실현하..."
10105,10105,한국전력,"인턴[송,배전]",2013 상반기,지방거점국립대,NaN,NaN,NaN,NaN,NaN,한전 자가소개서 양식 500자 12줄 이내\n\n[질문 1] 취업이라는 목표 이외에...
10106,10106,한국전력,"인턴[송,배전]",2013 상반기,지방거점국립대,NaN,NaN,NaN,NaN,NaN,한전 자가소개서 양식 500자 12줄 이내\n\n[질문 1] 취업이라는 목표 이외에...

In [32]:
df = pd.DataFrame(columns=["기업명","지원부서","지원시기","학교","학과","학점","어학","자격증","경험사항","자소서"])

In [26]:
df1 = pd.DataFrame(columns=["기업명","지원부서","지원시기","학교","학과","학점","어학","자격증","경험사항","자소서"])

In [34]:
df["기업명"] = raw_df['1'].str.split("/",expand=True)[0]
df["지원부서"] = raw_df['1'].str.split("/",expand=True)[1]
df["지원시기"] = raw_df['1'].str.split("/",expand=True)[2]
df["자소서"] = raw_df["3"]

In [24]:
raw_df["1"]

0                    한국석유공사 / 설비 / 2020 상반기
1            CJ제일제당 / Food Sales / 2020 상반기
2        한국가스안전공사 / LP가스 안전지킴이사업 / 2020 상반기
3                     코레일 / 사무영업 / 2020 상반기
4                 한국기술교육대학교 / 행정 / 2020 상반기
                        ...
10102               현대자동차 / 영업관리 / 2013 상반기
10103                  심팩 / 용접관리 / 2013 상반기
10104            한국전력 / 인턴[송,배전] / 2013 상반기
10105            한국전력 / 인턴[송,배전] / 2013 상반기
10106            한국전력 / 인턴[송,배전] / 2013 상반기
Name: 1, Length: 10107, dtype: object

In [40]:
df

,기업명,지원부서,지원시기,학교,학과,학점,어학,자격증,경험사항,자소서
0,한국석유공사,설비,2020 상반기,NaN,NaN,학점 1.7등급,NaN,NaN,NaN,7.한국석유공사\n\n 1. 지원 분야 직무기술서 ‘직무수행 내용’ 중 본인이 가장...
1,CJ제일제당,Food Sales,2020 상반기,NaN,NaN,NaN,NaN,NaN,NaN,CJ제일제당 및 선택한 직무에 대한 지원동기는 무엇인가요? ① 선택한 직무에 관심을...
2,한국가스안전공사,LP가스 안전지킴이사업,2020 상반기,NaN,NaN,학점 3.3,NaN,NaN,NaN,\n1. 한국가스안전공사가 진행하는 사업에 관심을 갖고 공사에 지원한 동기에 대해 ...
3,코레일,사무영업,2020 상반기,NaN,NaN,학점 3.87,NaN,NaN,NaN,"1.공동체의 일원으로서 가장 중요하게 생각하는 가치를 제시하고, 그 가치를 실천했던..."
4,한국기술교육대학교,행정,2020 상반기,NaN,NaN,학점 4.0,NaN,NaN,NaN,"1. 본인이 가진 가장 뛰어난 점과 그렇게 판단한 이유, 고용노동연수원 업무수행에서..."
...,...,...,...,...,...,...,...,...,...,...
10102,현대자동차,영업관리,2013 상반기,NaN,NaN,NaN,NaN,NaN,NaN,1. 현대자동차에 지원하게 된 동기 또는 해당 직무에 지원하게 된 동기는 무엇입니까...
10103,심팩,용접관리,2013 상반기,NaN,NaN,NaN,NaN,NaN,NaN,성격소개\n\n대부분의 사람들이 평가하는 첫인상은 소심하고 내성적인 성격일것이라 생...
10104,한국전력,"인턴[송,배전]",2013 상반기,NaN,NaN,NaN,NaN,NaN,NaN,"[질문 1] 취업이라는 목표 이외에 인생의 큰 목표를 세운 경험, 그 목표를 실현하..."
10105,한국전력,"인턴[송,배전]",2013 상반기,NaN,NaN,NaN,NaN,NaN,NaN,한전 자가소개서 양식 500자 12줄 이내\n\n[질문 1] 취업이라는 목표 이외에...
10106,한국전력,"인턴[송,배전]",2013 상반기,NaN,NaN,NaN,NaN,NaN,NaN,한전 자가소개서 양식 500자 12줄 이내\n\n[질문 1] 취업이라는 목표 이외에...

In [124]:
first = raw_df["2"].str.split("/",expand=True)[0]
second = raw_df["2"].str.split("/",expand=True)[1]
third = raw_df["2"].str.split("/",expand=True)[2]
#raw_df["2"].str.split("/",expand=True)[3]
#raw_df["2"].str.split("/",expand=True)[4]
#raw_df["2"].str.split("/",expand=True)[5]

In [96]:
df["학과"].tail(50)

10057    NaN
10058    NaN
10059    NaN
10060    NaN
10061    NaN
10062    NaN
10063    NaN
10064    NaN
10065    NaN
10066    NaN
10067    NaN
10068    NaN
10069    NaN
10070    NaN
10071    NaN
10072    NaN
10073    NaN
10074    NaN
10075    NaN
10076    NaN
10077    NaN
10078    NaN
10079    NaN
10080    NaN
10081    NaN
10082    NaN
10083    NaN
10084    NaN
10085    NaN
10086    NaN
10087    NaN
10088    NaN
10089    NaN
10090    NaN
10091    NaN
10092    NaN
10093    NaN
10094    NaN
10095    NaN
10096    NaN
10097    NaN
10098    NaN
10099    NaN
10100    NaN
10101    NaN
10102    NaN
10103    NaN
10104    NaN
10105    NaN
10106    NaN
Name: 학과, dtype: object

In [97]:
second.tail(50)

10057               기계과
10058              전자전기
10059                경영
10060               컴퓨터
10061                재료
10062                경제
10063             전자공학과
10064               기계과
10065              전자전기
10066                경영
10067            토익 880
10068              전기전자
10069                영문과
10070              신문방송
10071           전자전기공학부
10072               경영학
10073               법학과
10074              경영학부
10075            국제통상학과
10076              지리학과
10077             바이오나노
10078                기계
10079                화공
10080             바이오나노
10081                기계
10082                화공
10083     경영학, 경제학 복수전공
10084                전기
10085                기계
10086            컴퓨터공학과
10087              경영학과
10088            학점 3.8
10089                전자
10090                NaN
10091              전기공학
10092                기계
10093              경제학과
10094             전기공학과
10095               경영학
10096                경영
10097              정보통신
10098              산업공학
10099            학점 3.8
10100                기계
10101            광고마케팅과
10102             국제통상학
10103              공업화학
10104              전자공학
10105              전자공학
10106              전자공학
Name: 1, dtype: object

In [368]:
second[second.str.contains("학점 ")==True]

0              학점 1.7등급
2                학점 3.3
3               학점 3.87
4                학점 4.0
5                학점 3.0
              ...
9905            학점 3.96
9932      학점 3.56, 4.28
9933            학점 4.17
10088            학점 3.8
10099            학점 3.8
Name: 1, Length: 1483, dtype: object

In [369]:
score

0              학점 1.7등급
2                학점 3.3
3               학점 3.87
4                학점 4.0
5                학점 3.0
              ...
9905            학점 3.96
9932      학점 3.56, 4.28
9933            학점 4.17
10088            학점 3.8
10099            학점 3.8
Name: 1, Length: 1483, dtype: object

In [370]:
second[second.str.contains("학점 ")==True]=""

In [100]:
df["어학"]=second[second.str.contains("토익")==True]

In [101]:
second[second.str.contains("토익")==True]=""

In [163]:
second[second.str.contains("전자공학")==True]="전자공학과"

In [164]:
second[second.str.contains("전자공학과")==True]

775      전자공학과
781      전자공학과
784      전자공학과
862      전자공학과
863      전자공학과
         ...
10056    전자공학과
10063    전자공학과
10104    전자공학과
10105    전자공학과
10106    전자공학과
Name: 1, Length: 369, dtype: object

In [136]:
# df.loc[:,"학과"]=second[second.str.contains("전자공학과")==True]

In [138]:
# df["학과"]=second[second.str.contains("전자공학과")==True]

In [141]:
df

0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
        ...
10102    NaN
10103    NaN
10104    NaN
10105    NaN
10106    NaN
Name: 학과, Length: 10107, dtype: object

In [165]:
second[second.str.contains("전기전자")==True]="전기전자공학과"

In [166]:
second[second.str.contains("전기전자공학과")==True]

670      전기전자공학과
762      전기전자공학과
1473     전기전자공학과
1497     전기전자공학과
2185     전기전자공학과
          ...
9399     전기전자공학과
9505     전기전자공학과
9609     전기전자공학과
9827     전기전자공학과
10068    전기전자공학과
Name: 1, Length: 79, dtype: object

In [112]:
#df["학과"]=second[second.str.contains("전기전자공학과")==True]

In [114]:
df["학과"]

0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
        ...
10102    NaN
10103    NaN
10104    NaN
10105    NaN
10106    NaN
Name: 학과, Length: 10107, dtype: object

In [167]:
#df["학과"]=second[second.str.contains("전자공학")==True]

In [168]:
second[second.str.contains("전자공학부")==True]="전자공학과"

In [56]:
#df["학과"]=second[second.str.contains("전자공학과")==True]

In [169]:
second[second.str.contains("전자공학")==True]="전자공학과"

In [58]:
#df["학과"]=second[second.str.contains("전자공학과")==True]

In [59]:
#second[second.str.contains("전자공학과")==True]=""

In [170]:
second[second.str.contains("전자전기")==True]="전기전자공학과"

In [65]:
#df["학과"]=second[second.str.contains("전기전자공학과")==True]

In [66]:
#second[second.str.contains("전기전자공학과")==True]=""

In [67]:
#df["학과"]=second[second.str.contains("전자컴퓨터통신공학과")==True]

In [68]:
#second[second.str.contains("전자컴퓨터통신공학과")==True]=""

In [171]:
second[second.str.contains("전자통신공학")==True]="전자통신공학과"

In [70]:
df["학과"]=second[second.str.contains("전자통신공학과")==True]

In [71]:
second[second.str.contains("전자통신공학과")==True]=""

In [172]:
second[second.str.contains("전기전자과")==True]="전기전자공학과"

In [2011]:
df["학과"]=second[second.str.contains("전기전자공학과")==True]

In [173]:
second[second.str.contains("전자과")==True]="전자공학과"

In [2013]:
df["학과"]=second[second.str.contains("전자공학과")==True]

In [174]:
second[second.str.contains("전기전자")==True]="전기전자공학과"

In [2015]:
df["학과"]=second[second.str.contains("전기전자")==True]

In [1293]:
second[second.str.contains("전기전자")==True]=""

In [175]:
second[second.str.contains("광전자화공소재")==True]="광전자화공소재공학과"

In [2017]:
df["학과"]=second[second.str.contains("광전자화공소재")==True]

In [1296]:
second[second.str.contains("광전자화공소재")==True]=""

In [176]:
second[second.str.contains("전자")==True]="전자공학과"

In [2019]:
df["학과"]=second[second.str.contains("전자")==True]

In [1299]:
second[second.str.contains("전자")==True]=""

In [2020]:
df["학과"]=second[second.str.contains("컴퓨터공학과")==True]

In [1301]:
second[second.str.contains("컴퓨터공학과")==True]=""

In [177]:
second[second.str.contains("컴퓨터공학부")==True]="컴퓨터공학과"

In [2022]:
df["학과"]=second[second.str.contains("컴퓨터공학과")==True]

In [1304]:
second[second.str.contains("컴퓨터공학과")==True]=""

In [178]:
second[second.str.contains("컴퓨터학")==True]="컴퓨터공학과"

In [179]:
second[second.str.contains("컴퓨터공학")==True]="컴퓨터공학과"

In [180]:
second[second.str.contains("컴퓨")==True]="컴퓨터공학과"

In [2026]:
df["학과"]=second[second.str.contains("컴퓨터공학과")==True]

In [1309]:
second[second.str.contains("컴퓨터공학과")==True]=""

In [181]:
second[second.str.contains("패션")==True]="패션디자인학과"

In [2028]:
df["학과"]=second[second.str.contains("패션")==True]

In [1312]:
second[second.str.contains("패션")==True]=""

In [2029]:
df["학과"]=second[second.str.contains("기계시스템디자인공학과")==True]

In [1314]:
second[second.str.contains("기계시스템디자인공학과")==True]=""

In [182]:
second[second.str.contains("기계공학부")==True]="기계공학과"

In [183]:
second[second.str.contains("기계공학")==True]="기계공학과"

In [184]:
second[second.str.contains("기계공")==True]="기계공학과"

In [185]:
second[second.str.contains("기계")==True]="기계공학과"

In [2034]:
df["학과"]=second[second.str.contains("기계공학과")==True]

In [1320]:
second[second.str.contains("기계공학과")==True]=""

In [186]:
second[second.str.contains("설비")==True]="건축설비공학과"

In [2036]:
df["학과"]=second[second.str.contains("설비")==True]

In [1323]:
second[second.str.contains("설비")==True]=""

In [187]:
second[second.str.contains("건설환경")==True]="건설환경공학과"

In [2038]:
df["학과"]=second[second.str.contains("건설환경공학과")==True]

In [1326]:
second[second.str.contains("건설환경공학과")==True]=""

In [188]:
second[second.str.contains("도시건설")==True]="도시건설공학과"

In [2040]:
df["학과"]=second[second.str.contains("도시건설공학과")==True]

In [1329]:
second[second.str.contains("도시건설공학과")==True]=""

In [189]:
second[second.str.contains("건설")==True]="건설공학과"

In [2042]:
df["학과"]=second[second.str.contains("건설공학과")==True]

In [1332]:
second[second.str.contains("건설공학과")==True]=""

In [190]:
second[second.str.contains("실내건축")==True]="실내건축학과"

In [2044]:
df["학과"]=second[second.str.contains("실내건축학과")==True]

In [1335]:
second[second.str.contains("실내건축학과")==True]=""

In [191]:
second[second.str.contains("건축공")==True]="건축공학과"

In [2046]:
df["학과"]=second[second.str.contains("건축공학과")==True]

In [1338]:
second[second.str.contains("건축공학과")==True]=""

In [192]:
second[second.str.contains("건축설")==True]="건축설계학과"

In [2048]:
df["학과"]=second[second.str.contains("건축설계")==True]

In [1341]:
second[second.str.contains("건축설계")==True]=""

In [193]:
second[second.str.contains("건축")==True]="건축학과"

In [2050]:
df["학과"]=second[second.str.contains("건축학과")==True]

In [1344]:
second[second.str.contains("건축학과")==True]=""

In [194]:
second[second.str.contains("화공")==True]="화학공학과"

In [195]:
second[second.str.contains("화학공")==True]="화학공학과"

In [196]:
second[second.str.contains("공업화학")==True]="공업화학과"

In [2054]:
df["학과"]=second[second.str.contains("화학공학과")==True]

In [1349]:
second[second.str.contains("화학공학과")==True]=""

In [2055]:
df["학과"]=second[second.str.contains("공업공학과")==True]

In [1351]:
second[second.str.contains("공업화학과")==True]=""

In [2056]:
df["학과"]=second[second.str.contains("영화학과")==True]

In [1353]:
second[second.str.contains("영화학과")==True]=""

In [2057]:
df["학과"]=second[second.str.contains("화학과")==True]

In [1355]:
second[second.str.contains("화학과")==True]=""

In [197]:
second[second.str.contains("연극")==True]="연극영화학과"

In [2059]:
df["학과"]=second[second.str.contains("연극")==True]

In [1358]:
second[second.str.contains("연극")==True]=""

In [198]:
second[second.str.contains("화학생명")==True]="화학생명공학과"

In [2061]:
df["학과"]=second[second.str.contains("화학생명")==True]

In [1361]:
second[second.str.contains("화학생명")==True]=""

In [199]:
second[second.str.contains("응용화학")==True]="응용화학공학과"

In [2063]:
df["학과"]=second[second.str.contains("응용화학")==True]

In [1364]:
second[second.str.contains("응용화학")==True]=""

In [200]:
second[second.str.contains("중국언어문화학")==True]="중국언어문화학과"

In [2065]:
df["학과"]=second[second.str.contains("중국언어문화학")==True]

In [1367]:
second[second.str.contains("중국언어문화학")==True]=""

In [201]:
second[second.str.contains("화학")==True]="화학공학과"

In [2067]:
df["학과"]=second[second.str.contains("화학공학과")==True]

In [1370]:
second[second.str.contains("화학공학과")==True]=""

In [202]:
second[second.str.contains("호텔경영")==True]="호텔경영학과"

In [2069]:
df["학과"]=second[second.str.contains("호텔경영")==True]

In [1373]:
second[second.str.contains("호텔경영")==True]=""

In [2076]:
df["학과"].isnull()

0        True
1        True
2        True
3        True
4        True
         ...
10102    True
10103    True
10104    True
10105    True
10106    True
Name: 학과, Length: 10107, dtype: bool

In [1374]:
second[second.str.contains("관광")==True]

659          관광경영
751          관광경영
2314           관광
2474           관광
2482           관광
3311           관광
3319           관광
3320           관광
3430           관광
3437           관광
3440           관광
3992            관광
4012            관광
4097            관광
5238           관광
5386           관광
7230        ㄱ관광경영
7250        ㄱ관광경영
7622     관광영어통역학과
7746      문화관광콘텐츠
7747      문화관광콘텐츠
7778      문화관광콘텐츠
7883           관광
7896           관광
9501         관광경영
9795         관광경영
9872         관광경영
9892         관광경영
Name: 1, dtype: object

In [203]:
second[second.str.contains("문화관광")==True]="문화관광콘텐츠학과"

In [1376]:
df["학과"]=second[second.str.contains("문화관광")==True]

In [1377]:
second[second.str.contains("문화관광")==True]=""

In [204]:
second[second.str.contains("관광경영")==True]="관광경영학과"

In [1379]:
df["학과"]=second[second.str.contains("관광경영학과")==True]

In [1380]:
second[second.str.contains("관광경영학과")==True]=""

In [1381]:
df["학과"]=second[second.str.contains("통역")==True]

In [1382]:
second[second.str.contains("통역")==True]=""

In [205]:
second[second.str.contains("아태물류")==True]="아태물류학과"

In [1384]:
df["학과"]=second[second.str.contains("아태물류")==True]

In [1385]:
second[second.str.contains("아태물류")==True]=""

In [1386]:
df["학과"]=second[second.str.contains("물류학")==True]

In [1387]:
second[second.str.contains("물류학")==True]=""

In [1388]:
df["자격증"]=second[second.str.contains("컴활")==True]

In [1389]:
second[second.str.contains("컴활")==True]=""

In [206]:
second[second.str.contains("물리")==True]="물리학과"

In [1391]:
df["학과"]=second[second.str.contains("물리")==True]

In [1392]:
second[second.str.contains("물리")==True]=""

In [207]:
second[second.str.contains("러시아어문학")==True]="러시어문학과"

In [1394]:
df["학과"]=second[second.str.contains("러시아어문학")==True]

In [1395]:
second[second.str.contains("러시아어문학")==True]=""

In [1396]:
df["학과"]=second[second.str.contains("북한학과")==True]

In [1397]:
second[second.str.contains("북한학과")==True]=""

In [1398]:
df["학과"]=second[second.str.contains("러시어")==True]

In [1399]:
second[second.str.contains("러시어")==True]=""

In [208]:
second[second.str.contains("심리학 복")==True]="국어국문학과"

In [1401]:
df["학과"]=second[second.str.contains("국어국문화, 심리학과")==True]

In [1402]:
second[second.str.contains("국어국문화, 심리학과")==True]=""

In [209]:
second[second.str.contains("문예창작, 국어국문")==True]="문예창작학과"

In [1404]:
df["학과"]=second[second.str.contains("문예창작과, 국어국문과")==True]

In [1405]:
second[second.str.contains("문예창작과, 국어국문과")==True]=""

In [210]:
second[second.str.contains("국어국")==True]="국어국문학과"

In [1407]:
df["학과"]=second[second.str.contains("국어국문학과")==True]

In [1408]:
second[second.str.contains("국어국문학과")==True]=""

In [211]:
second[second.str.contains("중국문")==True]="중국문화학과"

In [1410]:
df["학과"]=second[second.str.contains("중국문화학과")==True]

In [1411]:
second[second.str.contains("중국문화학과")==True]=""

In [212]:
second[second.str.contains("경영&중국어")==True]="경영학과"

In [1413]:
df["학과"]=second[second.str.contains("경영학과, 중국어학과")==True]

In [1414]:
second[second.str.contains("경영학과, 중국어학과")==True]=""

In [213]:
second[second.str.contains("중국어, 국제물류")==True]="중국어학과"

In [1416]:
df["학과"]=second[second.str.contains("중국어학과, 국제물류학과")==True]

In [1417]:
second[second.str.contains("중국어학과, 국제물류학과")==True]=""

In [214]:
second[second.str.contains("비즈니스중국어")==True]="비즈니스중국어학과"

In [1419]:
df["학과"]=second[second.str.contains("비즈니스중국어학과")==True]

In [1420]:
second[second.str.contains("비즈니스중국어학과")==True]=""

In [215]:
second[second.str.contains("중국어")==True]="중국어학과"

In [1422]:
df["학과"]=second[second.str.contains("중국어학과")==True]

In [1423]:
second[second.str.contains("중국어학과")==True]=""

In [216]:
second[second.str.contains("중국학")==True]="중국학과"

In [1425]:
df["학과"]=second[second.str.contains("중국학과")==True]

In [1426]:
second[second.str.contains("중국학과")==True]=""

In [217]:
second[second.str.contains("중국지역학")==True]="중국지역학과"

In [1428]:
df["학과"]=second[second.str.contains("중국지역학과")==True]

In [1429]:
second[second.str.contains("중국지역학과")==True]=""

In [218]:
second[second.str.contains("중국")==True]="국제통상학과"

In [219]:
second[second.str.contains("국제통")==True]="국제통상학과"

In [220]:
second[second.str.contains("경제통상")==True]="경제통상학과"

In [1433]:
df["학과"]=second[second.str.contains("국제통상학과")==True]

In [1434]:
df["학과"]=second[second.str.contains("경제통상학과")==True]

In [1435]:
second[second.str.contains("국제통상학과")==True]=""

In [1436]:
second[second.str.contains("경제통상학과")==True]=""

In [221]:
second[second.str.contains("통상")==True]="일본통상학과"

In [1438]:
df["학과"]=second[second.str.contains("일본통상학과")==True]

In [1439]:
second[second.str.contains("일본통상학과")==True]=""

In [222]:
second[second.str.contains("정보통신")==True]="정보통신공학과"

In [1441]:
df["학과"]=second[second.str.contains("정보통신공학과")==True]

In [1442]:
second[second.str.contains("정보통신공학과")==True]=""

In [223]:
second[second.str.contains("항공우주정보시스템공학")==True]="항공우주시스템공학과"

In [224]:
second[second.str.contains("항공우주시스템공학")==True]="항공우주시스템공학과"

In [1445]:
df["학과"]=second[second.str.contains("항공우주시스템공학과")==True]

In [1446]:
second[second.str.contains("항공우주시스템공학과")==True]=""

In [225]:
second[second.str.contains("항공우주시스템")==True]="항공우주시스템공학과"

In [1448]:
df["학과"]=second[second.str.contains("항공우주시스템공학과")==True]

In [1449]:
second[second.str.contains("항공우주시스템공학과")==True]=""

In [1450]:
second[second.str.contains("항공")==True]

1256      항공우주공학
1348      항공우주공학
1583      항공교통학과
1617      항공우주공학
1725      항공교통학과
1753      항공우주공학
2264     항공우주공학과
2265      항공우주공학
2284     항공우주공학과
2285      항공우주공학
2440     항공우주공학과
2442      항공우주공학
3946     항공우주공학과
5251        항공우주
5406        항공우주
5888      항공교통학과
5904      항공우주공학
5924      항공우주공학
6130      항공우주공학
6365         항공과
6674         항공과
7903      항공기시스템
7933      항공기시스템
8197        항공우주
8217        항공우주
8434        항공우주
8454        항공우주
8504        항공우주
8888          항공
9139          항공
9374      항공우주공학
9440      항공우주공학
9460      항공우주공학
9734      항공우주공학
9931         항공과
Name: 1, dtype: object

In [226]:
second[second.str.contains("항공우주")==True]="항공우주공학과"

In [1452]:
df["학과"]=second[second.str.contains("항공우주공학과")==True]

In [1453]:
second[second.str.contains("항공우주공학과")==True]=""

In [227]:
second[second.str.contains("항공교통")==True]="항공교통학과"

In [1455]:
df["학과"]=second[second.str.contains("항공교통학과")==True]

In [1456]:
second[second.str.contains("항공교통학과")==True]=""

In [228]:
second[second.str.contains("항공기")==True]="항공기시스템학과"

In [1458]:
df["학과"]=second[second.str.contains("항공기시스템학과")==True]

In [1459]:
second[second.str.contains("항공기시스템학과")==True]=""

In [229]:
second[second.str.contains("항공")==True]="항공학과"

In [1461]:
df["학과"]=second[second.str.contains("항공학과")==True]

In [1462]:
second[second.str.contains("항공학과")==True]=""

In [230]:
second[second.str.contains("광고")==True]="광고홍보학과"

In [1464]:
df["학과"]=second[second.str.contains("광고홍보학과")==True]

In [1465]:
second[second.str.contains("광고홍보학과")==True]=""

In [231]:
second[second.str.contains("산업공")==True]="산업공학과"

In [1467]:
df["학과"]=second[second.str.contains("산업공학과")==True]

In [1468]:
second[second.str.contains("산업공학과")==True]=""

In [232]:
second[second.str.contains("전기공")==True]="전기공학과"

In [1470]:
df["학과"]=second[second.str.contains("전기공학과")==True]

In [1471]:
second[second.str.contains("전기공학과")==True]=""

In [233]:
second[second.str.contains("전기정보")==True]="전기정보공학과"

In [1473]:
df["학과"]=second[second.str.contains("전기정보공학과")==True]

In [1474]:
second[second.str.contains("전기정보공학과")==True]=""

In [234]:
second[second.str.contains("전기")==True]="전기공학과"

In [1476]:
df["학과"]=second[second.str.contains("전기공학과")==True]

In [1477]:
second[second.str.contains("전기공학과")==True]=""

In [235]:
second[second.str.contains("경영")==True]="경영학과"

In [1479]:
df["학과"]=second[second.str.contains("경영학과")==True]

In [1480]:
second[second.str.contains("경영학과")==True]=""

In [236]:
second[second.str.contains("바이오나노")==True]="바이오나노학과"

In [1482]:
df["학과"]=second[second.str.contains("바이오나노학과")==True]

In [1483]:
second[second.str.contains("바이오나노학과")==True]=""

In [237]:
second[second.str.contains("바이오")==True]="바이오공학과"

In [1485]:
df["학과"]=second[second.str.contains("바이오공학과")==True]

In [1486]:
second[second.str.contains("바이오공학과")==True]=""

In [238]:
second[second.str.contains("생명나노공학")==True]="생명나노공학과"

In [239]:
second[second.str.contains("나노메디컬유기재료공학과")==True]="생명나노공학과"

In [240]:
second[second.str.contains("유기나노공학과")==True]="생명나노공학과"

In [1490]:
df["학과"]=second[second.str.contains("생명나노공학과")==True]

In [1491]:
second[second.str.contains("생명나노공학과")==True]=""

In [241]:
second[second.str.contains("나노")==True]="나노공학과"

In [1493]:
df["학과"]=second[second.str.contains("나노공학과")==True]

In [1494]:
second[second.str.contains("나노공학과")==True]=""

In [1495]:
df["학과"]=second[second.str.contains("지리")==True]

In [1496]:
second[second.str.contains("지리")==True]=""

In [1497]:
df["어학"]=second[second.str.contains("토익")==True]

In [1498]:
second[second.str.contains("토익")==True]=""

In [242]:
second[second.str.contains("법학")==True]="법학과"

In [1500]:
df["학과"]=second[second.str.contains("법학과")==True]

In [1501]:
second[second.str.contains("법학과")==True]=""

In [243]:
second[second.str.contains("신문")==True]="신문방송학과"

In [1503]:
df["학과"]=second[second.str.contains("신문방송학과")==True]

In [1504]:
second[second.str.contains("신문방송학과")==True]=""

In [244]:
second[second.str.contains("영문")==True]="영문학과"

In [1506]:
df["학과"]=second[second.str.contains("영문학과")==True]

In [1507]:
second[second.str.contains("영문학과")==True]=""

In [245]:
second[second.str.contains("경제")==True]="경제학과"

In [1509]:
df["학과"]=second[second.str.contains("경제학과")==True]

In [1510]:
second[second.str.contains("경제학과")==True]=""

In [246]:
second[second.str.contains("토목")==True]="토목공학과"

In [1512]:
df["학과"]=second[second.str.contains("토목공학과")==True]

In [1513]:
second[second.str.contains("토목공학과")==True]=""

In [247]:
second[second.str.contains("국제정치")==True]="국제정치학과"

In [1515]:
df["학과"]=second[second.str.contains("국제정치학과")==True]

In [1516]:
second[second.str.contains("국제정치학과")==True]=""

In [248]:
second[second.str.contains("정치")==True]="정치외교학과"

In [1518]:
df["학과"]=second[second.str.contains("정치외교학과")==True]

In [1519]:
second[second.str.contains("정치외교학과")==True]=""

In [249]:
second[second.str.contains("대학원")==True]="대학원"

In [1521]:
df["학과"]=second[second.str.contains("대학원")==True]

In [1522]:
second[second.str.contains("대학원")==True]=""

In [250]:
second[second.str.contains("수학")==True]="수학과"

In [1524]:
df["학과"]=second[second.str.contains("수학과")==True]

In [1525]:
second[second.str.contains("수학과")==True]=""

In [251]:
second[second.str.contains("컴공")==True]="컴퓨터공학과"

In [1527]:
df["학과"]=second[second.str.contains("컴퓨터공학과")==True]

In [1528]:
second[second.str.contains("컴퓨터공학과")==True]=""

In [252]:
second[second.str.contains("이탈")==True]="이탈리아어학과"

In [1530]:
df["학과"]=second[second.str.contains("이탈리아어학과")==True]

In [1531]:
second[second.str.contains("이탈리아어학과")==True]=""

In [253]:
second[second.str.contains("유기응용재료공학")==True]="유기응용재료공학과"

In [1533]:
df["학과"]=second[second.str.contains("유기응용재료공학과")==True]

In [1534]:
second[second.str.contains("유기응용재료공학과")==True]=""

In [254]:
second[second.str.contains("재료")==True]="재료공학과"

In [1536]:
df["학과"]=second[second.str.contains("재료공학과")==True]

In [1537]:
second[second.str.contains("재료공학과")==True]=""

In [255]:
second[second.str.contains("신소재")==True]="신소재공학과"

In [1539]:
df["학과"]=second[second.str.contains("신소재공학과")==True]

In [1540]:
second[second.str.contains("신소재공학과")==True]=""

In [256]:
second[second.str.contains("사회과학")==True]="사회과학계열학과"

In [1542]:
df["학과"]=second[second.str.contains("사회과학계열학과")==True]

In [1543]:
second[second.str.contains("사회과학계열학과")==True]=""

In [257]:
second[second.str.contains("상경")==True]="상경계열학과"

In [1545]:
df["학과"]=second[second.str.contains("상경계열학과")==True]

In [1546]:
second[second.str.contains("상경계열학과")==True]=""

In [258]:
second[second.str.contains("문사")==True]="인문사회계열학과"

In [1548]:
df["학과"]=second[second.str.contains("인문사회계열학과")==True]

In [1549]:
second[second.str.contains("인문사회계열학과")==True]=""

In [259]:
second[second.str.contains("중문")==True]="중어중문학과"

In [1551]:
df["학과"]=second[second.str.contains("중어중문학과")==True]

In [1552]:
second[second.str.contains("중어중문학과")==True]=""

In [1553]:
df["학과"]=second[second.str.contains("축산")==True]

In [1554]:
second[second.str.contains("축산")==True]=""

In [260]:
second[second.str.contains("식품공")==True]="식품공학과"

In [1556]:
df["학과"]=second[second.str.contains("식품공학과")==True]

In [1557]:
second[second.str.contains("식품공학과")==True]=""

In [1558]:
df["학과"]=second[second.str.contains("식품생명")==True]

In [1559]:
second[second.str.contains("식품생명")==True]=""

In [261]:
second[second.str.contains("식품")==True]="식품영양학과"

In [1561]:
df["학과"]=second[second.str.contains("식품영양학과")==True]

In [1562]:
second[second.str.contains("식품영양학과")==True]=""

In [262]:
second[second.str.contains("공과")==True]="공과계열학과"

In [1564]:
df["학과"]=second[second.str.contains("공과계열학과")==True]

In [1565]:
second[second.str.contains("공과계열학과")==True]=""

In [263]:
second[second.str.contains("의류")==True]="의류학과"

In [1567]:
df["학과"]=second[second.str.contains("의류학과")==True]

In [1568]:
second[second.str.contains("의류학과")==True]=""

In [264]:
second[second.str.contains("국제무역")==True]="국제무역학과"

In [1570]:
df["학과"]=second[second.str.contains("국제무역학과")==True]

In [1571]:
second[second.str.contains("국제무역학과")==True]=""

In [265]:
second[second.str.contains("무역")==True]="무역학과"

In [1573]:
df["학과"]=second[second.str.contains("무역학과")==True]

In [1574]:
second[second.str.contains("무역학과")==True]=""

In [266]:
second[second.str.contains("산업디자인")==True]="산업디자인학과"

In [1576]:
df["학과"]=second[second.str.contains("산업디자인학과")==True]

In [1577]:
second[second.str.contains("산업디자인학과")==True]=""

In [1578]:
df["학과"]=second[second.str.contains("외식산업학과")==True]

In [1579]:
second[second.str.contains("외식산업학과")==True]=""

In [267]:
second[second.str.contains("산업")==True]="산업시스템공학과"

In [1581]:
df["학과"]=second[second.str.contains("산업시스템공학과")==True]

In [1582]:
second[second.str.contains("산업시스템공학과")==True]=""

In [268]:
second[second.str.contains("어문")==True]="어문계열학과"

In [1584]:
df["학과"]=second[second.str.contains("어문계열학과")==True]

In [269]:
second[second.str.contains("국제물류")==True]="국제물류학과"

In [1586]:
df["학과"]=second[second.str.contains("국제물류학과")==True]

In [1587]:
second[second.str.contains("국제물류학과")==True]=""

In [270]:
second[second.str.contains("물류")==True]="물류학과"

In [1589]:
df["학과"]=second[second.str.contains("물류학과")==True]

In [1590]:
second[second.str.contains("물류학과")==True]=""

In [271]:
second[second.str.contains("멀티미디어")==True]="멀티미디어학과"

In [1592]:
df["학과"]=second[second.str.contains("멀티미디어학과")==True]

In [1593]:
second[second.str.contains("멀티미디어학과")==True]=""

In [1594]:
df["학과"]=second[second.str.contains("미디어커뮤니케이션학과")==True]

In [1595]:
second[second.str.contains("미디어커뮤니케이션학과")==True]=""

In [272]:
second[second.str.contains("미디어")==True]="미디어학과"

In [1597]:
df["학과"]=second[second.str.contains("미디어학과")==True]

In [1598]:
second[second.str.contains("미디어학과")==True]=""

In [273]:
second[second.str.contains("사회")==True]="사회학과"

In [1600]:
df["학과"]=second[second.str.contains("사회학과")==True]

In [1601]:
second[second.str.contains("사회학과")==True]=""

In [274]:
second[second.str.contains("디지털콘텐츠")==True]="디지털콘텐츠학과"

In [275]:
second[second.str.contains("디지털컨텐츠")==True]="디지털콘텐츠학과"

In [1604]:
df["학과"]=second[second.str.contains("디지털콘텐츠학과")==True]

In [1605]:
second[second.str.contains("디지털콘텐츠학과")==True]=""

In [276]:
second[second.str.contains("디지털마케팅과")==True]="디지털마케팅학과"

In [1607]:
df["학과"]=second[second.str.contains("디지털마케팅학과")==True]

In [1608]:
second[second.str.contains("디지털콘텐츠학과")==True]=""

In [1609]:
second[second.str.contains("디지털")==True]=""

In [277]:
second[second.str.contains("소프트")==True]="소프트웨어공학과"

In [1611]:
df["학과"]=second[second.str.contains("소프트웨어공학과")==True]

In [1612]:
second[second.str.contains("소프트웨어공학과")==True]=""

In [278]:
second[second.str.contains("통계")==True]="통계학과"

In [1614]:
df["학과"]=second[second.str.contains("통계학과")==True]

In [1615]:
second[second.str.contains("통계학과")==True]=""

In [279]:
second[second.str.contains("초등")==True]="초등교육학과"

In [1617]:
df["학과"]=second[second.str.contains("초등교육학과")==True]

In [1618]:
second[second.str.contains("초등교육학과")==True]=""

In [280]:
second[second.str.contains("조선")==True]="조선해양공학과"

In [1620]:
df["학과"]=second[second.str.contains("조선해양공학과")==True]

In [1621]:
second[second.str.contains("조선해양공학과")==True]=""

In [281]:
second[second.str.contains("영어통번역")==True]="영어통번역학과"

In [1623]:
df["학과"]=second[second.str.contains("영어통번역학과")==True]

In [1624]:
second[second.str.contains("영어통번역학과")==True]=""

In [282]:
second[second.str.contains("설계")==True]="기계설계공학과"

In [1626]:
df["학과"]=second[second.str.contains("기계설계공학과")==True]

In [1627]:
second[second.str.contains("기계설계공학과")==True]=""

In [283]:
second[second.str.contains("의상")==True]="의상학과"

In [1629]:
df["학과"]=second[second.str.contains("의상학과")==True]

In [1630]:
second[second.str.contains("의상학과")==True]=""

In [1631]:
df["학과"]=second[second.str.contains("조경")==True]

In [1632]:
second[second.str.contains("조경")==True]=""

In [284]:
second[second.str.contains("이공")==True]="이공계열학과"

In [1634]:
df["학과"]=second[second.str.contains("이공계열학과")==True]

In [1635]:
second[second.str.contains("이공계열학과")==True]=""

In [285]:
second[second.str.contains("지질")==True]="지질환경과학과"

In [1637]:
df["학과"]=second[second.str.contains("지질환경과학과")==True]

In [1638]:
second[second.str.contains("지질환경과학과")==True]=""

In [286]:
second[second.str.contains("유기응용")==True]="유기응용공학과"

In [1640]:
df["학과"]=second[second.str.contains("유기응용공학과")==True]

In [1641]:
second[second.str.contains("유기응용공학과")==True]=""

In [287]:
second[second.str.contains("유기")==True]="유기소재공학과"

In [1643]:
df["학과"]=second[second.str.contains("유기소재공학과")==True]

In [1644]:
second[second.str.contains("유기소재공학과")==True]=""

In [1645]:
df["학과"]=second[second.str.contains("어문")==True]

In [1646]:
second[second.str.contains("어문")==True]=""

In [288]:
second[second.str.contains("독")==True]="독어독문학과"

In [1648]:
df["학과"]=second[second.str.contains("독어독문학과")==True]

In [1649]:
second[second.str.contains("독어독문학과")==True]=""

In [289]:
second[second.str.contains("불어")==True]="불어불문학과"

In [1651]:
df["학과"]=second[second.str.contains("불어불문학과")==True]

In [1652]:
second[second.str.contains("불어불문학과")==True]=""

In [290]:
second[second.str.contains("자연")==True]="자연계열학과"

In [1654]:
df["학과"]=second[second.str.contains("자연계열학과")==True]

In [1655]:
second[second.str.contains("자연계열학과")==True]=""

In [291]:
second[second.str.contains("도시교통공학")==True]="도시교통공학과"

In [1657]:
df["학과"]=second[second.str.contains("도시교통공학과")==True]

In [1658]:
second[second.str.contains("도시교통공학과")==True]=""

In [292]:
second[second.str.contains("도시정보")==True]="도시정보공학과"

In [1660]:
df["학과"]=second[second.str.contains("도시정보공학과")==True]

In [1661]:
second[second.str.contains("도시정보공학과")==True]=""

In [293]:
second[second.str.contains("도시")==True]="도시공학과"

In [1663]:
df["학과"]=second[second.str.contains("도시공학과")==True]

In [1664]:
second[second.str.contains("도시공학과")==True]=""

In [294]:
second[second.str.contains("포어")==True]="포르투칼어학과"

In [1666]:
df["학과"]=second[second.str.contains("포르투칼어학과")==True]

In [1667]:
second[second.str.contains("포르투칼어학과")==True]=""

In [295]:
second[second.str.contains("철학")==True]="철학과"

In [1669]:
df["학과"]=second[second.str.contains("철학과")==True]

In [1670]:
second[second.str.contains("철학과")==True]=""

In [296]:
second[second.str.contains("심리학")==True]="심리학과"

In [1672]:
df["학과"]=second[second.str.contains("심리학과")==True]

In [1673]:
second[second.str.contains("심리학과")==True]=""

In [297]:
second[second.str.contains("생명공")==True]="생명공학과"

In [1675]:
df["학과"]=second[second.str.contains("생명공학과")==True]

In [1676]:
second[second.str.contains("생명공학과")==True]=""

In [298]:
second[second.str.contains("생명과")==True]="생명과학과"

In [1678]:
df["학과"]=second[second.str.contains("생명과학과")==True]

In [1679]:
second[second.str.contains("생명과학과")==True]=""

In [299]:
second[second.str.contains("의료")==True]="의료계열학과"

In [1681]:
df["학과"]=second[second.str.contains("의료계열학과")==True]

In [1682]:
second[second.str.contains("의료계열학과")==True]=""

In [300]:
second[second.str.contains("광홍")==True]="광고홍보학과"

In [1684]:
df["학과"]=second[second.str.contains("광고")==True]

In [1685]:
second[second.str.contains("광고")==True]=""

In [301]:
second[second.str.contains("국제")==True]="국제학과"

In [1687]:
df["학과"]=second[second.str.contains("국제학과")==True]

In [1688]:
second[second.str.contains("국제학과")==True]=""

In [302]:
second[second.str.contains("간호")==True]="간호학과"

In [1690]:
df["학과"]=second[second.str.contains("간호학과")==True]

In [1691]:
second[second.str.contains("간호학과")==True]=""

In [303]:
second[second.str.contains("환경공")==True]="환경공학과"

In [1693]:
df["학과"]=second[second.str.contains("환경공학과")==True]

In [1694]:
second[second.str.contains("환경공학과")==True]=""

In [304]:
second[second.str.contains("보건과학")==True]="보건과학학과"

In [1696]:
df["학과"]=second[second.str.contains("보건과학학과")==True]

In [1697]:
second[second.str.contains("보건과학학과")==True]=""

In [1698]:
df["학과"]=second[second.str.contains("보건관리학과")==True]

In [1699]:
second[second.str.contains("보건관리학과")==True]=""

In [305]:
second[second.str.contains("보건환경")==True]="보건환경학과"

In [1701]:
df["학과"]=second[second.str.contains("보건환경학과")==True]

In [1702]:
second[second.str.contains("보건환경학과")==True]=""

In [306]:
second[second.str.contains("보건")==True]="보건학과"

In [1704]:
df["학과"]=second[second.str.contains("보건학과")==True]

In [1705]:
second[second.str.contains("보건학과")==True]=""

In [1706]:
# 이상함
second[second.str.contains("시립")==True]=""

In [307]:
second[second.str.contains("생명")==True]="생명공학과"

In [1708]:
df["학과"]=second[second.str.contains("생명공학과")==True]

In [1709]:
second[second.str.contains("생명공학과")==True]=""

In [1710]:
df["학과"]=second[second.str.contains("미생물학")==True]

In [1711]:
second[second.str.contains("미생물학")==True]=""

In [308]:
second[second.str.contains("생물학")==True]="생물학과"

In [1713]:
df["학과"]=second[second.str.contains("생물학과")==True]

In [1714]:
second[second.str.contains("생물학과")==True]=""

In [309]:
second[second.str.contains("생물")==True]="생물학과"

In [1716]:
df["학과"]=second[second.str.contains("생물학과")==True]

In [1717]:
second[second.str.contains("생물학과")==True]=""

In [310]:
second[second.str.contains("행")==True]="행정학과"

In [1720]:
df["학과"]=second[second.str.contains("행정학과")==True]

In [1721]:
second[second.str.contains("행정학과")==True]=""

In [311]:
second[second.str.contains("공대")==True]="공학계열학과"

In [1726]:
df["학과"]=second[second.str.contains("공학계열학과")==True]

In [1727]:
second[second.str.contains("공학계열학과")==True]=""

In [312]:
second[second.str.contains("고분자")==True]="고분자공학과"

In [1731]:
df["학과"]=second[second.str.contains("고분자공학과")==True]

In [1732]:
second[second.str.contains("고분자공학과")==True]=""

In [313]:
second[second.str.contains("산공")==True]="산업공학과"

In [1736]:
df["학과"]=second[second.str.contains("산업공학과")==True]

In [1737]:
second[second.str.contains("산업공학과")==True]=""

In [314]:
second[second.str.contains("제어자동화")==True]="제어자동화학과"

In [1741]:
df["학과"]=second[second.str.contains("제어자동화학과")==True]

In [1742]:
second[second.str.contains("제어자동화학과")==True]=""

In [315]:
second[second.str.contains("자동차")==True]="자동차공학과"

In [1746]:
df["학과"]=second[second.str.contains("자동차공학과")==True]

In [316]:
second[second.str.contains("에너지시스템")==True]="에너지시스템학과"

In [1752]:
df["학과"]=second[second.str.contains("에너지시스템학과")==True]

In [1753]:
second[second.str.contains("에너지시스템학과")==True]=""

In [317]:
second[second.str.contains("에너지")==True]="에너지공학과"

In [1756]:
df["학과"]=second[second.str.contains("에너지공학과")==True]

In [1757]:
second[second.str.contains("에너지공학과")==True]=""

In [1759]:
df["어학"]=second[second.str.contains("오픽")==True]

In [1761]:
second[second.str.contains("오픽")==True]=""

In [318]:
second[second.str.contains("식영")==True]="식품영양학과"

In [1764]:
df["학과"]=second[second.str.contains("식품영양학과")==True]

In [1765]:
second[second.str.contains("식품영양학과")==True]=""

In [1767]:
df["학과"]=second[second.str.contains("천문대기과학과")==True]

In [1768]:
second[second.str.contains("천문대기과학과")==True]=""

In [319]:
second[second.str.contains("국문")==True]="국어국문학과"

In [1772]:
df["학과"]=second[second.str.contains("국어국문학과")==True]

In [1773]:
second[second.str.contains("국어국문학과")==True]=""

In [1776]:
df["학과"]=second[second.str.contains("문화인류학과")==True]

In [1777]:
second[second.str.contains("문화인류학과")==True]=""

In [320]:
second[second.str.contains("문대")==True]="인문대학과"

In [1780]:
df["학과"]=second[second.str.contains("인문대학과")==True]

In [1781]:
second[second.str.contains("인문대학과")==True]=""

In [321]:
second[second.str.contains("공간디자인")==True]="공간디자인학과"

In [1786]:
df["학과"]=second[second.str.contains("공간디자인학과")==True]

In [1787]:
second[second.str.contains("공간디자인학과")==True]=""

In [322]:
second[second.str.contains("시각디자인")==True]="시각디자인학과"

In [1790]:
df["학과"]=second[second.str.contains("시각디자인학과")==True]

In [1791]:
second[second.str.contains("시각디자인학과")==True]=""

In [323]:
second[second.str.contains("실내디자인")==True]="실내디자인학과"

In [1795]:
df["학과"]=second[second.str.contains("실내디자인학과")==True]

In [1796]:
second[second.str.contains("실내디자인학과")==True]=""

In [324]:
second[second.str.contains("디자인")==True]="디자인학과"

In [1798]:
df["학과"]=second[second.str.contains("디자인학과")==True]

In [1799]:
second[second.str.contains("디자인학과")==True]=""

In [325]:
second[second.str.contains("회계")==True]="회계학과"

In [1802]:
df["학과"]=second[second.str.contains("회계학과")==True]

In [1803]:
second[second.str.contains("회계학과")==True]=""

In [326]:
second[second.str.contains("안전")==True]="안전공학과"

In [1806]:
df["학과"]=second[second.str.contains("안전공학과")==True]

In [1807]:
second[second.str.contains("안전공학과")==True]=""

In [1809]:
df["어학"]=second[second.str.contains("토스")==True]

In [1810]:
second[second.str.contains("토스")==True]=""

In [327]:
second[second.str.contains("환경")==True]="환경과학과"

In [1813]:
df["학과"]=second[second.str.contains("환경과학과")==True]

In [1814]:
second[second.str.contains("환경과학과")==True]=""

In [328]:
second[second.str.contains("커뮤")==True]="미디어커뮤니케이션학과"

In [1817]:
df["학과"]=second[second.str.contains("미디어커뮤니케이션학과")==True]

In [1818]:
second[second.str.contains("미디어커뮤니케이션학과")==True]=""

In [329]:
second[second.str.contains("약")==True]="약학과"

In [1821]:
df["학과"]=second[second.str.contains("약학과")==True]

In [1822]:
second[second.str.contains("약학과")==True]=""

In [330]:
second[second.str.contains("금융")==True]="경제금융학과"

In [1826]:
df["학과"]=second[second.str.contains("경제금융학과")==True]

In [1827]:
second[second.str.contains("경제금융학과")==True]=""

In [331]:
second[second.str.contains("치")==True]="치기공학과"

In [1831]:
df["학과"]=second[second.str.contains("치기공학과")==True]

In [1832]:
second[second.str.contains("치기공학과")==True]=""

In [1834]:
df["학과"]=second[second.str.contains("태권도")==True]

In [1835]:
second[second.str.contains("태권도")==True]=""

In [332]:
second[second.str.contains("소비자학")==True]="소비자학과"

In [1839]:
df["학과"]=second[second.str.contains("소비자학과")==True]

In [1840]:
second[second.str.contains("소비자학과")==True]=""

In [333]:
second[second.str.contains("러시아")==True]="러시아학과"

In [1843]:
df["학과"]=second[second.str.contains("러시아학과")==True]

In [1844]:
second[second.str.contains("러시아학과")==True]=""

In [334]:
second[second.str.contains("영어교육")==True]="영어교육과"

In [1848]:
df["학과"]=second[second.str.contains("영어교육과")==True]

In [1849]:
second[second.str.contains("영어교육과")==True]=""

In [335]:
second[second.str.contains("영어")==True]="영어영문학과"

In [1852]:
df["학과"]=second[second.str.contains("영어영문학과")==True]

In [1853]:
second[second.str.contains("영어영문학과")==True]=""

In [336]:
second[second.str.contains("인지")==True]="인지과학학과"

In [1856]:
df["학과"]=second[second.str.contains("인지과학학과")==True]

In [1857]:
second[second.str.contains("인지과학학과")==True]=""

In [337]:
second[second.str.contains("반도체")==True]="반도체공학과"

In [1860]:
df["학과"]=second[second.str.contains("반도체공학과")==True]

In [1861]:
second[second.str.contains("반도체공학과")==True]=""

In [338]:
second[second.str.contains("기게")==True]="기계공학과"

In [1864]:
df["학과"]=second[second.str.contains("기계공학과")==True]

In [1865]:
second[second.str.contains("기계공학과")==True]=""

In [339]:
second[second.str.contains("체육")==True]="체육학과"

In [1868]:
df["학과"]=second[second.str.contains("체육학과")==True]

In [1869]:
second[second.str.contains("체육학과")==True]=""

In [340]:
second[second.str.contains("통신")==True]="정보통신학과"

In [1872]:
df["학과"]=second[second.str.contains("정보통신학과")==True]

In [1873]:
second[second.str.contains("정보통신학과")==True]=""

In [341]:
second[second.str.contains("유아교육")==True]="유아교육과"

In [1876]:
df["학과"]=second[second.str.contains("유아교육과")==True]

In [1877]:
second[second.str.contains("유아교육과")==True]=""

In [342]:
second[second.str.contains("역사교육")==True]="역사교육학과"

In [1881]:
df["학과"]=second[second.str.contains("역사교육학과")==True]

In [1882]:
second[second.str.contains("역사교육학과")==True]=""

In [343]:
second[second.str.contains("과학교육")==True]="과학교육학과"

In [1885]:
df["학과"]=second[second.str.contains("과학교육학과")==True]

In [1886]:
second[second.str.contains("과학교육학과")==True]=""

In [344]:
second[second.str.contains("교육")==True]="교육학과"

In [1889]:
df["학과"]=second[second.str.contains("교육학과")==True]

In [1890]:
second[second.str.contains("교육학과")==True]=""

In [1891]:
second[second.str.contains("부산대")==True]=""

In [345]:
second[second.str.contains("생공")==True]="생명공학과"

In [1894]:
df["학과"]=second[second.str.contains("생명공학과")==True]

In [1895]:
second[second.str.contains("생명공학과")==True]=""

In [346]:
second[second.str.contains("특수")==True]="특수어학과"

In [1898]:
df["학과"]=second[second.str.contains("특수어학과")==True]

In [1899]:
second[second.str.contains("특수어학과")==True]=""

In [347]:
second[second.str.contains("Illustration Animation BA")==True]="디자인학과"

In [1902]:
df["학과"]=second[second.str.contains("디자인학과")==True]

In [1903]:
second[second.str.contains("디자인학과")==True]=""

In [348]:
second[second.str.contains("영상")==True]="영상학과"

In [1906]:
df["학과"]=second[second.str.contains("영상학과")==True]

In [1907]:
second[second.str.contains("영상학과")==True]=""

In [349]:
second[second.str.contains("관광")==True]="관광학과"

In [1910]:
df["학과"]=second[second.str.contains("관광학과")==True]

In [1911]:
second[second.str.contains("관광학과")==True]=""

In [1914]:
df["학과"]=second[second.str.contains("메카트로닉스공학과")==True]

In [1915]:
second[second.str.contains("메카트로닉스공학과")==True]=""

In [350]:
second[second.str.contains("제어계측공학")==True]="제어계측공학과"

In [1919]:
df["학과"]=second[second.str.contains("제어계측공학과")==True]

In [1920]:
second[second.str.contains("제어계측공학과")==True]=""

In [1923]:
df["학과"]=second[second.str.contains("생체공학과")==True]

In [1924]:
second[second.str.contains("생체공학과")==True]=""

In [1926]:
df["학과"]=second[second.str.contains("유전공학과")==True]

In [1927]:
second[second.str.contains("유전공학과")==True]=""

In [351]:
second[second.str.contains("기전공학부")==True]="기계전자공학과"

In [1930]:
df["학과"]=second[second.str.contains("기계전자공학과")==True]

In [1931]:
second[second.str.contains("기계전자공학과")==True]=""

In [352]:
second[second.str.contains("금속공학")==True]="금속공학과"

In [1934]:
df["학과"]=second[second.str.contains("금속공학과")==True]

In [1935]:
second[second.str.contains("금속공학과")==True]=""

In [1976]:
second[second.str.contains("공")==True]

883           공학
2156        공학계열
2176        공학계열
2199        공학계열
2200        공학계열
2342        공학계열
2359        공학계열
2586        의공학부
2597         공모전1
2599        냉동공조
2612        의공학부
2619         공모전1
2620        냉동공조
2640        냉동공조
3041        공간정보
3081        공간정보
3103         공학계
3200         공학계
3345         공모전1
3453         공모전1
3684       언론 전공
4102         비공개
4122         비공개
4328           공간
4352           공간
4372           공간
5893        공학계열
6113        공학계열
6342          식공
6571          식공
7913        공학계열
7939        공학계열
8012         생체의공
8296         생체의공
8705        생체공학
8712       제어공학과
8736     정보제어공학과
9494          공학
9799          공학
9903          공학
Name: 1, dtype: object

In [1940]:
second[second.str.contains("경험사항")==True]="공모전1"

In [1942]:
df["경험사항"]=second[second.str.contains("공모전1")==True]

In [353]:
second[second.str.contains("기공")==True]="기계공학과"

In [1945]:
df["학과"]=second[second.str.contains("기계공학과")==True]

In [1946]:
second[second.str.contains("기계공학과")==True]=""

In [1950]:
df["학과"]=second[second.str.contains("뇌")==True]

In [1951]:
second[second.str.contains("뇌")==True]=""

In [354]:
second[second.str.contains("디자인")==True]="디자인학과"

In [1954]:
df["학과"]=second[second.str.contains("디자인학과")==True]

In [1955]:
second[second.str.contains("디자인학과")==True]=""

In [355]:
second[second.str.contains("병원")==True]="의료학과"

In [1958]:
df["학과"]=second[second.str.contains("의료학과")==True]

In [1959]:
second[second.str.contains("의료학과")==True]=""

In [356]:
second[second.str.contains("인문")==True]="인문계열학과"

In [1962]:
df["학과"]=second[second.str.contains("인문계열학과")==True]

In [1963]:
second[second.str.contains("인문계열학과")==True]=""

In [1965]:
df["경험사항"]=second[second.str.contains("인턴")==True]

In [1966]:
second[second.str.contains("인턴")==True]=""

In [357]:
second[second.str.contains("보안")==True]="보안학과"

In [1969]:
df["학과"]=second[second.str.contains("보안학과")==True]

In [1970]:
second[second.str.contains("보안학과")==True]=""

In [358]:
second[second.str.contains("SW")==True]="소프트웨어학과"

In [1974]:
df["학과"]=second[second.str.contains("소프트웨어학과")==True]

In [1975]:
second[second.str.contains("소프트웨어학과")==True]=""

In [1978]:
df["학과"]=second[second.str.contains("정보제어")==True]

In [1979]:
second[second.str.contains("정보제어")==True]=""

In [359]:
second[second.str.contains("원자")==True]="원자력공학과"

In [1982]:
df["학과"]=second[second.str.contains("원자력공학과")==True]

In [1983]:
second[second.str.contains("원자력공학과")==True]=""

In [360]:
second[second.str.contains("식")==True]="식품공학과"

In [1986]:
df["학과"]=second[second.str.contains("식품공학과")==True]

In [1987]:
second[second.str.contains("식품공학과")==True]=""

In [1988]:
df["학과"]

0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
        ...
10102    NaN
10103    NaN
10104    NaN
10105    NaN
10106    NaN
Name: 학과, Length: 10107, dtype: object

In [9]:
len(first[first.str.contains("고등학교")==True])

15

In [10]:
first[first.str.contains("고등학교")==True] = "고등학교졸업"

In [11]:
len(first[first.str.contains("지방")==True])

1018

In [12]:
first[first.str.contains("해외")==True] = "해외대"

In [13]:
first[first.str.contains("미국")==True]= "해외대(미국)"

In [14]:
first[first.str.contains("중국")==True]="해외대(중국)"

In [15]:
first[first.str.contains("외국대학")==True]="해외대"

In [16]:
first[first.str.contains("외국대")==True]="해외대"

In [17]:
first[first.str.contains("북경외국")==True]="해외대(중국)"

In [18]:
first[first.str.contains("외국4년제")==True]="해외대"

In [19]:
first[first.str.contains("외국계")==True]="해외대"

In [20]:
first[first.str.contains("일본")==True]="해외대(일본)"

In [21]:
first[first.str.contains("영국")==True]="해외대(영국)"

In [22]:
first[first.str.contains("U")==True]

16            Valdosta State University
651           Valdosta State University
1043            Pennsylvania State Uni.
1108           Pennsylvania State Univ.
1134            Pennsylvania State Uni.
1188           Pennsylvania State Univ.
1208           Pennsylvania State Univ.
1639                                USC
1777                                USC
2195    University of Technology,sydney
2307                Kingston University
2355    University of Technology,sydney
2466                Kingston University
3133          Kingston University Lodon
3235          Kingston University Lodon
3359                              UNIST
3477                              UNIST
5276                              UNIST
5301                              UNIST
5321                              UNIST
5424                              UNIST
5444                              UNIST
5477                              UNIST
5653                     U. of Illinois
8769              Kyrgyz National Univ.
Name: 0, dtype: object

In [23]:
first[first.str.contains("Valdosta State University")==True]="해외대(미국)"

In [24]:
first[first.str.contains("Pennsylvania")==True]="해외대(미국)"

In [25]:
first[first.str.contains("USC")==True]="해외대(미국)"

In [26]:
first[first.str.contains("sydney")==True]="해외대(호주)"

In [27]:
first[first.str.contains("Lodon")==True]="해외대(영국)"

In [28]:
first[first.str.contains("Illinois")==True]="해외대(미국)"

In [29]:
first[first.str.contains("University")==True]="해외대"

In [30]:
first[first.str.contains("Kyrgyz")==True]="해외대"

In [31]:
len(first[first.str.contains("해외대")==True])

288

In [32]:
first[first.str.contains("학")==True]

0          고등학교졸업
2          제주대학교
3          충남대학교
4          건국대학교
6          한경대학교
           ...
10093      동아대학교
10094      경북대학교
10099      경성대학교
10101    부산경상대학교
10102      상명대학교
Name: 0, Length: 2356, dtype: object

In [33]:
first[first.str.contains("o")==True]="해외대"

In [34]:
first[first.str.contains("W")==True]="광운대학교"

In [35]:
first[first.str.contains("h")==True]="경희대학교"

In [36]:
len(first[first.str.contains("해외")==True])

290

In [37]:
first[first.str.contains("지거국")==True]="지방거점국립대"

In [38]:
first[first.str.contains("지거")==True]="지방거점국립대"

In [39]:
first[first.str.contains("강원")==True]="지방거점국립대(강원대학교)"

In [40]:
first[first.str.contains("대학원")==True]="대학원"

In [41]:
first[first.str.contains("충북")==True]="지방거점국립대(충북대학교)"

In [42]:
first[first.str.contains("충남")==True]="지방거점국립대(충남대학교)"

In [43]:
first[first.str.contains("전북")==True]="지방거점국립대(전북대학교)"

In [44]:
first[first.str.contains("전남")==True]="지방거점국립대(전남대학교)"

In [45]:
first[first.str.contains("경북대")==True]="지방거점국립대(경북대학교)"

In [46]:
first[first.str.contains("부산대")==True]="지방거점국립대(부산대학교)"

In [47]:
first[first.str.contains("제주")==True]="지방거점국립대(제주대학교)"

In [48]:
first[first.str.contains("지방거점국립대")==True]

2        지방거점국립대(제주대학교)
3        지방거점국립대(충남대학교)
8        지방거점국립대(충남대학교)
12       지방거점국립대(전북대학교)
30       지방거점국립대(전북대학교)
              ...
10094    지방거점국립대(경북대학교)
10096           지방거점국립대
10104           지방거점국립대
10105           지방거점국립대
10106           지방거점국립대
Name: 0, Length: 1067, dtype: object

In [49]:
first[first.str.contains("강릉")==True]="지방국립대(강릉대학교)"

In [50]:
first[first.str.contains("공주")==True]="지방국립대(공주대학교)"

In [51]:
first[first.str.contains("해양")==True]="지방국립대(한국해양대학교)"

In [52]:
first[first.str.contains("부경")==True]="지방국립대(부경대학교)"

In [53]:
first[first.str.contains("순천대학교")==True]="지방국립대(순천대학교)"

In [54]:
first[first.str.contains("순천향")==True]="지방사립대(순천향대학교)"

In [55]:
first[first.str.contains("인천대")==True]="지방국립대(인천대학교)"

In [56]:
first[first.str.contains("창원")==True]="지방국립대(창원대학교)"

In [57]:
first[first.str.contains("한국교통")==True]="지방국립대(한국교통대학교)"

In [58]:
first[first.str.contains("한경")==True]="지방국립대(한경대학교)"

In [59]:
first[first.str.contains("한밭")==True]="지방국립대(한밭대학교)"

In [60]:
first[first.str.contains("금오")==True]="지방국립대(금오공과대학교)"

In [61]:
first[first.str.contains("광주")==True]="지방사립대(광주대학교)"

In [62]:
first[first.str.contains("경남대학교")==True]="지방사립대(경남대학교)"

In [63]:
first[first.str.contains("부산가톨릭")==True]="지방사립대(부산가톨릭대학교)"

In [64]:
first[first.str.contains("영남")==True]="지방사립대(영남대학교)"

In [65]:
first[first.str.contains("울산대")==True]="지방사립대(울산대학교)"

In [66]:
first[first.str.contains("동아대")==True]="지방사립대(동아대학교)"

In [67]:
first[first.str.contains("조선대")==True]="지방사립대(조선대학교)"

In [68]:
first[first.str.contains("원광대")==True]="지방사립대(원광대학교)"

In [69]:
first[first.str.contains("계명")==True]="지방사립대(계명대학교)"

In [70]:
first[first.str.contains("한남")==True]="지방사립대(한남대학교)"

In [71]:
first[first.str.contains("폴리")==True]="2년제(한국폴리텍대학)"

In [72]:
first[first.str.contains("경인")==True]="지방국립대"

In [73]:
first[first.str.contains("교육")==True]="지방사립대(한국기술교육대학교)"

In [74]:
first[first.str.contains("인천")==True]

220      지방국립대(인천대학교)
232      지방국립대(인천대학교)
240      지방국립대(인천대학교)
252      지방국립대(인천대학교)
322      지방국립대(인천대학교)
             ...
9969     지방국립대(인천대학교)
9998     지방국립대(인천대학교)
10018    지방국립대(인천대학교)
10023    지방국립대(인천대학교)
10043    지방국립대(인천대학교)
Name: 0, Length: 103, dtype: object

In [75]:
first[first.str.contains("인제")==True]="지방사립대(인제대학교)"

In [76]:
first[first.str.contains("지방국립")==True]

6          지방국립대(한경대학교)
7          지방국립대(한경대학교)
13         지방국립대(순천대학교)
15       지방국립대(금오공과대학교)
19         지방국립대(창원대학교)
              ...
10032            지방국립대
10042            지방국립대
10043      지방국립대(인천대학교)
10052            지방국립대
10089             지방국립
Name: 0, Length: 564, dtype: object

In [77]:
first[first.str.contains("2년제")==True]="전문대"

In [78]:
first[first.str.contains("수도권 2년")==True]="2년제"

In [79]:
first[first.str.contains("전문")==True]="전문대"

In [80]:
first[first.str.contains("서울과학")==True]="서울국립대(서울과학기술대학교)"

In [81]:
first[first.str.contains("서울시립")==True]="서울공립대(서울시립대학교)"

In [82]:
first[first.str.contains("서울국립대")==True]

29       서울국립대(서울과학기술대학교)
32       서울국립대(서울과학기술대학교)
47       서울국립대(서울과학기술대학교)
54       서울국립대(서울과학기술대학교)
74       서울국립대(서울과학기술대학교)
               ...
8716     서울국립대(서울과학기술대학교)
9944     서울국립대(서울과학기술대학교)
9968     서울국립대(서울과학기술대학교)
9993     서울국립대(서울과학기술대학교)
10013    서울국립대(서울과학기술대학교)
Name: 0, Length: 65, dtype: object

In [83]:
first[first.str.contains("인서울대학")==True]="서울사립대"

In [84]:
first[first.str.contains("서울대")==True]="서울대학교"

In [85]:
first[first.str.contains("부산가톨릭")==True]="지방사립대(부산가톨릭대학교)"

In [86]:
# 부산카톨릭 지우고 싶음
first[first.str.contains("가톨릭대")==True]

34                가톨릭대
56                가톨릭대
78                가톨릭대
203             가톨릭대학교
230               가톨릭대
236             가톨릭대학교
250               가톨릭대
256             가톨릭대학교
292             가톨릭대학교
324               가톨릭대
326             가톨릭대학교
385             가톨릭대학교
408               가톨릭대
441               가톨릭대
525               가톨릭대
584               가톨릭대
594             가톨릭대학교
604               가톨릭대
614             가톨릭대학교
639             가톨릭대학교
658             가톨릭대학교
663               가톨릭대
680               가톨릭대
690             가톨릭대학교
715             가톨릭대학교
735             가톨릭대학교
748             가톨릭대학교
754               가톨릭대
1100            가톨릭대학교
1171            가톨릭대학교
1222            가톨릭대학교
1275            가톨릭대학교
1276            가톨릭대학교
1365            가톨릭대학교
1367            가톨릭대학교
1552              가톨릭대
1572              가톨릭대
1636              가톨릭대
1776              가톨릭대
2306            가톨릭대학교
2465            가톨릭대학교
2600    지방사립대(부산가톨릭대학교)
2621    지방사립대(부산가톨릭대학교)
2641    지방사립대(부산가톨릭대학교)
2738              가톨릭대
2824              가톨릭대
2865              가톨릭대
2866              가톨릭대
2885              가톨릭대
2886              가톨릭대
3111              가톨릭대
3207              가톨릭대
9390            가톨릭대학교
9614            가톨릭대학교
Name: 0, dtype: object

In [87]:
first[first.str.contains("건국")==True]="서울사립대(건국대학교)"

In [88]:
first[first.str.contains("경기대")==True]="서울사립대(경기대학교)"

In [89]:
first[first.str.contains("경희대")==True]="서울사립대(경희대학교)"

In [90]:
first[first.str.contains("고려대")==True]="서울사립대(고려대학교)"

In [91]:
first[first.str.contains("광운")==True]="서울사립대(광운대학교)"

In [92]:
first[first.str.contains("국민")==True]="서울사립대(국민대학교)"

In [93]:
first[first.str.contains("덕성")==True]="서울사립대(덕성여자대학교)"

In [94]:
first[first.str.contains("동국대")==True]="서울사립대(동국대학교)"

In [95]:
first[first.str.contains("동덕")==True]="서울사립대(동덕여자대학교)"

In [96]:
first[first.str.contains("명지")==True]="서울사립대(명지대학교)"

In [97]:
first[first.str.contains("삼육")==True]="서울사립대(삼육대학교)"

In [98]:
first[first.str.contains("천안")==True]="지방사립대(상명대학교)"

In [99]:
#상명대 =-> 서울캠 적고싶음
first[first.str.contains("상명")==True]

1021           상명대학교
2309           상명대학교
2467           상명대학교
5263     지방사립대(상명대학교)
5412     지방사립대(상명대학교)
7236           상명대학교
7256           상명대학교
10102          상명대학교
Name: 0, dtype: object

In [100]:
first[first.str.contains("서강")==True]="서울사립대(서강대학교)"

In [101]:
first[first.str.contains("서경")==True]="서울사립대(서경대학교)"

In [102]:
first[first.str.contains("성신")==True]="서울사립대(성신여자대학교)"

In [103]:
first[first.str.contains("인서울 여자대학교")==True]="서울사립대(성신여자대학교)"

In [104]:
first[first.str.contains("숙명")==True]="서울사립대(숙명여자대학교)"

In [105]:
first[first.str.contains("홍익대학교 세종캠퍼스")==True]="지방사립대(홍익대학교)"

In [106]:
first[first.str.contains("고대 세종")==True]="지방사립대(고려대학교)"

In [107]:
first[first.str.contains("세종")==True]="서울사립대(세종대학교)"

In [108]:
first[first.str.contains("숭실")==True]="서울사립대(숭실대학교)"

In [109]:
first[first.str.contains("연세")==True]="서울사립대(연세대학교)"

In [110]:
first[first.str.contains("이화")==True]="서울사립대(이화여자대학교)"

In [111]:
first[first.str.contains("중앙")==True]="서울사립대(중앙대학교)"

In [112]:
first[first.str.contains("성서")==True]="서울사립대(서성한)"

In [113]:
first[first.str.contains("외국")==True]="서울사립대(한국외국어대학교)"

In [114]:
first[first.str.contains("한성대")==True]="서울사립대(한성대학교)"

In [115]:
first[first.str.contains("한양")==True]="서울사립대(한양대학교)"

In [116]:
first[first.str.contains("홍익")==True]

1226            홍익대
3341    지방사립대(홍익대학교)
3458    지방사립대(홍익대학교)
3750          홍익대학교
3770          홍익대학교
3850          홍익대학교
3939          홍익대학교
3973             홍익
4075          홍익대학교
4090             홍익
4650          홍익대학교
4804          홍익대학교
4983            홍익대
5143            홍익대
6756            홍익대
6776            홍익대
6904          홍익대학교
6986            홍익대
7006            홍익대
7040            홍익대
8113          홍익대학교
8400          홍익대학교
8617          홍익대학교
8630            홍익대
8668          홍익대학교
8688          홍익대학교
8739          홍익대학교
8832          홍익대학교
9008          홍익대학교
9077          홍익대학교
9265            홍익대
9447          홍익대학교
9467          홍익대학교
9566            홍익대
9670            홍익대
9684            홍익대
9803          홍익대학교
Name: 0, dtype: object

In [117]:
first[first.str.contains("서성")==True]="서울사립대(서성한)"

In [118]:
first[first.str.contains("중경")==True]="서울사립대(중경외시)"

In [119]:
first[first.str.contains("건홍")==True]="서울사립대(건동홍)"

In [120]:
first[first.str.contains("건동")==True]="서울사립대(건동홍)"

In [121]:
first[first.str.contains("원광보건대학교")==True]="전문대"

In [122]:
first[first.str.contains("건대")==True]="서울사립대(건국대학교)"

In [123]:
first[first.str.contains("부산경상")==True]="전문대"

In [124]:
first[first.str.contains("상명")==True]

1021           상명대학교
2309           상명대학교
2467           상명대학교
5263     지방사립대(상명대학교)
5412     지방사립대(상명대학교)
7236           상명대학교
7256           상명대학교
10102          상명대학교
Name: 0, dtype: object

In [125]:
# 이름 바꿔야함
first[first.str.contains("수도권")==True]="지방사립대(경기)"

In [126]:
first[first.str.contains("하위")==True]="서울사립대"

In [127]:
first[first.str.contains("인서울")==True]="서울사립대"

In [128]:
# 설카포
first[first.str.contains("설카")==True]

4106     설카포
4126     설카포
4207     설카포
9959     설카포
9963     설카포
10034    설카포
10054    설카포
10061    설카포
Name: 0, dtype: object

In [129]:
first[first.str.contains("중상")==True]="서울사립대"

In [130]:
first[first.str.contains("중하")==True]="서울사립대"

In [131]:
first[first.str.contains("협성")==True]="지방사립대(협성대학교)"

In [132]:
first[first.str.contains("경성대")==True]="지방사립대(경성대학교)"

In [133]:
#성균관대
first[first.str.contains("성대")==True]

281      서울사립대(한성대학교)
293      서울사립대(한성대학교)
381      서울사립대(한성대학교)
386      서울사립대(한성대학교)
397      서울사립대(한성대학교)
433      서울사립대(한성대학교)
434      서울사립대(한성대학교)
445      지방사립대(협성대학교)
454      서울사립대(한성대학교)
514      서울사립대(한성대학교)
533      지방사립대(협성대학교)
534      서울사립대(한성대학교)
545      서울사립대(한성대학교)
560      서울사립대(한성대학교)
1260     서울사립대(한성대학교)
1352     서울사립대(한성대학교)
1967     서울사립대(한성대학교)
1969     서울사립대(한성대학교)
2105     서울사립대(한성대학교)
2107     서울사립대(한성대학교)
2318     서울사립대(한성대학교)
2478     서울사립대(한성대학교)
3702              성대
3930              성대
4039              성대
4048              성대
9912              성대
10038             성대
10058             성대
10065             성대
10088    지방사립대(경성대학교)
10099    지방사립대(경성대학교)
Name: 0, dtype: object

In [134]:
first[first.str.contains("수도권4년제")==True]="서울사립대(경기)"

In [135]:
first[first.str.contains("서울4년제")==True]="서울사립대"

In [136]:
first[first.str.contains("지방4년제")==True]="지방사립대"

In [137]:
first[first.str.contains("서울 4년제")==True]="서울사립대"

In [138]:
#모름
first[first.str.contains("2년")==True]="전문대"

In [139]:
first[first.str.contains("경기도 4년제")==True]="지방사립대(경기)"

In [140]:
first[first.str.contains("지방 국립4년제")==True]="지방국립대"

In [141]:
first[first.str.contains("서울 4년")==True]="서울사립대"

In [142]:
first[first.str.contains("지방 4년제")==True]="지방사립대"

In [143]:
first[first.str.contains("경기권 4년제")==True]="지방사립대(경기)"

In [144]:
first[first.str.contains("지방사립 4년")==True]="지방사립대"

In [145]:
first[first.str.contains("지방 4년")==True]="지방사립대"

In [146]:
first[first.str.contains("00대학교")==True]="지방사립대"

In [147]:
first[first.str.contains("지방대 4년제")==True]="지방사립대"

In [148]:
#지방국립대4
first[first.str.contains("지방국립대 4년제")==True]="지방국립대"

In [149]:
first[first.str.contains("서울권4년제")==True]="서울사립대"

In [150]:
first[first.str.contains("경기 4년제")==True]="지방사립대(경기)"

In [151]:
first[first.str.contains("서울 중위권 4년제")==True]="서울사립대"

In [152]:
first[first.str.contains("경기원 4년제")==True]="지방사립대"

In [153]:
first[first.str.contains("지방대4년")==True]="지방사립대"

In [154]:
first[first.str.contains("서울소재 4년")==True]="서울사립대"

In [155]:
first[first.str.contains("지방 국립 4년")==True]="지방국립대"

In [156]:
first[first.str.contains("지방국립4년제")==True]="지방국립대"

In [157]:
first[first.str.contains("지방사립4년")==True]="지방사립대"

In [158]:
first[first.str.contains("인천지역 4년제대")==True]="지방사립대(경기)"

In [159]:
first[first.str.contains("북경4년제")==True]="해외대(중국)"

In [160]:
first[first.str.contains("서울권 4년제")==True]="서울사립대"

In [161]:
first[first.str.contains("4년제")==True]="지방사립대"

In [162]:
first[first.str.contains("중")==True]

1         서울사립대(중경외시)
114      서울사립대(중앙대학교)
134      서울사립대(중앙대학교)
150      서울사립대(중앙대학교)
158      서울사립대(중앙대학교)
             ...
10055     서울사립대(중경외시)
10062     서울사립대(중경외시)
10070     서울사립대(중경외시)
10071    서울사립대(중앙대학교)
10092    서울사립대(중앙대학교)
Name: 0, Length: 1018, dtype: object

In [163]:
first[first.str.contains("서울 상위")==True]="서울사립대"

In [164]:
first[first.str.contains("서상한")==True]="서울사립대(서성한)"

In [165]:
first[first.str.contains("지방 상위")==True]="지방사립대"

In [166]:
first[first.str.contains("경상대학교")==True]="지방국립대"

In [167]:
first[first.str.contains("지방상위권")==True]="지방사립대"

In [168]:
first[first.str.contains("상명대학교 ")==True]="서울사립대(상명대학교)"

In [169]:
first[first.str.contains("서울상위권")==True]="서울사립대"

In [170]:
first[first.str.contains("상위권")==True]="서울사립대"

In [171]:
first[first.str.contains("광명상가")==True]="서울사립대(명지대학교)"

In [172]:
first[first.str.contains("경상대")==True]="지방국립대"

In [173]:
first[first.str.contains("상경")==True]="서울사립대"

In [174]:
first[first.str.contains("서울상위")==True]='서울사립대'

In [175]:
first[first.str.contains("라인")==True]="서울사립대"

In [176]:
first[first.str.contains("국숭세단")==True]="서울사립대(숭실대학교)"

In [177]:
first[first.str.contains("세단")==True]="서울사립대(숭실대학교)"

In [178]:
first[first.str.contains("단국대학교")==True]="서울사립대(단국대학교)"

In [179]:
first[first.str.contains("단국대학교")==True]="서울사립대(단국대학교)"

In [180]:
#first.to_csv("20200806.txt",encoding="utf-8")

In [181]:
first[first.str.contains("신한대학교")==True]="지방사립대(신한대학교)"

In [182]:
first[first.str.contains("아주대학교")==True]="서울사립대(아주대학교)"

In [183]:
first[first.str.contains("한동대학교")==True]="지방사립대(한동대학교)"

In [184]:
first[first.str.contains("대전대학교")==True]="지방사립대(대전대학교)"

In [185]:
first[first.str.contains("항공대")==True]="지방사립대(한국항공대학교)"

In [186]:
first[first.str.contains("백석대")==True]="지방사립대(백석대학교)"

In [187]:
first[first.str.contains("성결")==True]="지방사립대(성결대학교)"

In [188]:
first[first.str.contains("한림")==True]="지방사립대(한림대학교)"

In [162]:
# 우선 놔둠
first[first.str.contains("학점")==True]

119      학점 3.57
139      학점 3.57
166      학점 3.57
811      학점 3.67
820      학점 3.67
           ...
7975     학점 3.96
8845     학점 3.99
9298     학점 3.38
10047     학점 3.6
10067     학점 3.6
Name: 0, Length: 107, dtype: object

In [161]:
df["학점"] = pd.concat((df["학점"], first[first.str.contains("학점")==True])

SyntaxError: unexpected EOF while parsing (<ipython-input-161-c427309e5df3>, line 1)

In [149]:
s = pd.Series()

C:\Users\samsung\anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  """Entry point for launching an IPython kernel.

In [150]:
s=first[first.str.contains("학점")==True]

In [153]:
[df["학점"]

442     컴활2급, 워드프로세서, ERP(회계,인사,생산,물류), 한국사능력검정2급, 전산회...
528     컴활2급, 워드프로세서, ERP(회계,인사,생산,물류), 한국사능력검정2급, 전산회...
570     컴활2급, 워드프로세서, ERP(회계,인사,생산,물류), 한국사능력검정2급, 전산회...
674     컴활2급, 워드프로세서, ERP(회계,인사,생산,물류), 한국사능력검정2급, 전산회...
866     컴활2급, 워드프로세서, ERP(회계,인사,생산,물류), 한국사능력검정2급, 전산회...
2510                                                   봉사
2530                                                   봉사
4385                                    봉사활동, 아시아게임청년서포터즈
4386                                    봉사활동, 아시아게임청년서포터즈
7819                                        인턴2회, 봉사활동 다수
7874                                        인턴2회, 봉사활동 다수
Name: 0, dtype: object

In [152]:
s=first[first.str.contains("봉사")==True]

In [146]:
first[first.str.contains("봉사")==True]

442     컴활2급, 워드프로세서, ERP(회계,인사,생산,물류), 한국사능력검정2급, 전산회...
528     컴활2급, 워드프로세서, ERP(회계,인사,생산,물류), 한국사능력검정2급, 전산회...
570     컴활2급, 워드프로세서, ERP(회계,인사,생산,물류), 한국사능력검정2급, 전산회...
674     컴활2급, 워드프로세서, ERP(회계,인사,생산,물류), 한국사능력검정2급, 전산회...
866     컴활2급, 워드프로세서, ERP(회계,인사,생산,물류), 한국사능력검정2급, 전산회...
2510                                                   봉사
2530                                                   봉사
4385                                    봉사활동, 아시아게임청년서포터즈
4386                                    봉사활동, 아시아게임청년서포터즈
7819                                        인턴2회, 봉사활동 다수
7874                                        인턴2회, 봉사활동 다수
Name: 0, dtype: object

In [148]:
df["학점"][119]

nan

In [190]:
first[first.str.contains("서울권 ")==True]="서울사립대"

In [191]:
first[first.str.contains("경남과기대")==True]="지방국립대(경남과학기술대학교)"

In [192]:
first[first.str.contains("인하대")==True]="지방사립대(인하대학교)"

In [193]:
first[first.str.contains("성균")==True]="서울사립대(성균관대학교)"

In [194]:
first[first.str.contains("경중외시")==True]="서울사립대(경희대학교)"

In [195]:
first[first.str.contains("지방 국립대")==True]="지방국립대"

In [196]:
first[first.str.contains("지방 사립")==True]="지방사립대"

In [197]:
first[first.str.contains("서울 사립")==True]="서울사립대"

In [198]:
first[first.str.contains("서울 중위권")==True]="서울사립대"

In [199]:
first[first.str.contains("서울 중")==True]="서울사립대"

In [200]:
first[first.str.contains("서울 과기대")==True]="서울국립대(서울과학기술대학교)"

In [201]:
first[first.str.contains("서울 하")==True]="서울사립대"

In [202]:
first[first.str.contains("서울 소재")==True]="서울사립대"

In [203]:
first[first.str.contains("서울 광진구")==True]="서울사립대"

In [204]:
first[first.str.contains("지방, 서울")==True]="지방사립대"

In [205]:
first[first.str.contains("서울 ")==True]="서울사립대"

In [206]:
first[first.str.contains("지방 과기원 ")==True]="UNIST"

In [207]:
first[first.str.contains("지방 국립")==True]="지방국립대"

In [208]:
first[first.str.contains("분교 지방")==True]="지방사립대"

In [209]:
first[first.str.contains("지방 거점")==True]="지방거점국립대"

In [210]:
first[first.str.contains("부산지방")==True]="지방사립대"

In [211]:
first[first.str.contains("지방 공립")==True]="지방국립대"

In [212]:
first[first.str.contains("지방 ")==True]="지방사립대"

In [213]:
first[first.str.contains("지방국립")==True]

6          지방국립대(한경대학교)
7          지방국립대(한경대학교)
13         지방국립대(순천대학교)
15       지방국립대(금오공과대학교)
19         지방국립대(창원대학교)
              ...
10032            지방국립대
10042            지방국립대
10043      지방국립대(인천대학교)
10052            지방국립대
10089             지방국립
Name: 0, Length: 663, dtype: object

In [214]:
first[first.str.contains("지방대")==True]="지방사립대"

In [215]:
first[first.str.contains("인천 지방사립대")==True]="지방사립대"

In [216]:
first[first.str.contains("SKY 지방캠")==True]="지방사립대"

In [217]:
first[first.str.contains("디자인 서홍국")==True]="서울사립대(홍익대학교)"

In [218]:
first[first.str.contains("신라")==True]="지방사립대(신라대학교)"

In [219]:
first[first.str.contains("서울과기대")==True]="서울국립대(서울과학기술대학교)"

In [220]:
first[first.str.contains("과기대")==True]="서울국립대(서울과학기술대학교)"

In [221]:
first[first.str.contains("과기")==True]="KAIST"

In [222]:
first[first.str.contains("서울사립대")==True]

1            서울사립대(중경외시)
4           서울사립대(건국대학교)
5             서울사립대(서성한)
10       서울사립대(한국외국어대학교)
14          서울사립대(숭실대학교)
              ...
10092       서울사립대(중앙대학교)
10097       서울사립대(건국대학교)
10098       서울사립대(동국대학교)
10100       서울사립대(경희대학교)
10102       서울사립대(상명대학교)
Name: 0, Length: 4315, dtype: object

In [223]:
#first.to_csv("first.txt",encoding='utf-8')

In [224]:
first[first.str.contains("가천")==True]="지방사립대(가천대학교)"

In [225]:
first[first.str.contains("지방거점 ")==True]="지방거점국립대"

In [226]:
first[first.str.contains("ky")==True]="서울사립대(고려대학교)"

In [227]:
first[first.str.contains("s")==True]="서울국립대(서울대학교)"

In [228]:
first[first.str.contains("서울대")==True]="서울국립대(서울대학교)"

In [229]:
first[first.str.contains("SK")==True]="서울사립대(연세대학교)"

In [230]:
first[first.str.contains("아주대 석사")==True]="대학원"

In [231]:
first[first.str.contains("아주대 ")==True]="서울사립대(아주대학교)"

In [232]:
first[first.str.contains("석사")==True]="대학원"

In [233]:
first[first.str.contains("기계")==True]="지방사립대"

In [234]:
first[first.str.contains("한국외")==True]="서울사립대(한국외국어대학교)"

In [235]:
first[first.str.contains("상지")==True]="지방사립대(상지대학교)"

In [236]:
first[first.str.contains("\(경기\)")==True]="지방사립대"

In [237]:
first[first.str.contains("경기권 ")==True]="지방사립대"

In [238]:
first[first.str.contains("경기 ")==True]="지방사립대"

In [239]:
first[first.str.contains("경기과학기술대학교")==True]="전문대"

In [240]:
first[first.str.contains("학점은행")==True]="고등학교졸업"

In [241]:
first[first.str.contains("동서")==True]="지방사립대(동서대학교)"

In [242]:
first[first.str.contains("한신")==True]="지방사립대(한신대학교)"

In [243]:
first[first.str.contains("서연")==True]="서울사립대(고려대학교)"

In [244]:
first[first.str.contains("연고")==True]="서울사립대(연세대학교)"

In [245]:
first[first.str.contains("스카이")==True]="서울사립대(고려대학교)"

In [246]:
first[first.str.contains("5공")==True]="서울사립대(한양대학교)"

In [247]:
first[first.str.contains("지방국립 ")==True]="지방국립대"

In [248]:
first[first.str.contains("동국")==True]="서울사립대(동국대학교)"

In [249]:
first[first.str.contains("도시공학, 컴퓨터공학")==True]="서울공립대(서울시립대)"

In [250]:
# 컴퓨터공학과
first[first.str.contains("컴퓨터공")==True]

1262    컴퓨터공학과
1356    컴퓨터공학과
2507     컴퓨터공학
2527     컴퓨터공학
4696     컴퓨터공학
4872     컴퓨터공학
5725    컴퓨터공학과
5726    컴퓨터공학과
8853     컴퓨터공학
9043     컴퓨터공학
Name: 0, dtype: object

In [251]:
# 경영학과
first[first.str.contains("경영")==True]

1263      경영
1355      경영
2838      경영
2841      경영
2968      경영
2970      경영
3100     경영학
3203     경영학
4642      경영
4664       경영
4807      경영
4829       경영
4849       경영
5370      경영
5521      경영
5722     경영학
5756    경영학과
5762     경영학
5780    경영학과
5800    경영학과
9378    경영학과
9738    경영학과
9850    경영학과
Name: 0, dtype: object

In [252]:
first[first.str.contains("부산외대")==True]="지방사립대(부산외국어대학교)"

In [253]:
first[first.str.contains("외대 ")==True]="서울사립대(한국외국어대학교)"

In [254]:
# 바이오
first[first.str.contains("바이오")==True]

1403         바이오
6786    바이오및뇌공학과
7022    바이오및뇌공학과
Name: 0, dtype: object

In [255]:
first[first.str.contains("거제")==True]="지방사립대(거제대학교)"

In [256]:
first[first.str.contains("연대")==True]="서울사립대(연세대학교)"

In [257]:
first[first.str.contains("서성한")==True]="서울사립대(서강대학교)"

In [258]:
first[first.str.contains("건동홍")==True]="서울사립대(홍익대학교)"

In [259]:
first[first.str.contains("단국")==True]="서울사립대(단국대학교)"

In [260]:
# 컴퓨터그래픽(전공)
first[first.str.contains("그래픽")==True]

1622    컴퓨터그래픽
1763    컴퓨터그래픽
Name: 0, dtype: object

In [261]:
first[first.str.contains("고대")==True]="서울사립대(고려대학교)"

In [262]:
first[first.str.contains("경기권")==True]="지방사립대"

In [263]:
# 화공(전공)
first[first.str.contains("화공")==True]

1677     화공
1697     화공
1845     화공
4656    화공
4817    화공
5559    화공
5579    화공
5604    화공
Name: 0, dtype: object

In [264]:
first[first.str.contains(" 국립대")==True]="서울국립대"

In [265]:
# 국립대 검사해보기
first[first.str.contains("지방국립대 ")==True]="지방국립대"

In [266]:
first[first.str.contains("서울중위")==True]="서울사립대"

In [267]:
first[first.str.contains("중위")==True]="지방사립대"

In [268]:
first[first.str.contains("인하 ")==True]="지방사립대(인하대학교)"

In [269]:
first[first.str.contains("중 ")==True]="지방사립대"

In [270]:
# 국제통상(전공)
first[first.str.contains("국제통상 ")==True]

6331    국제통상
6561    국제통상
Name: 0, dtype: object

In [271]:
first[first.str.contains("영산")==True]="지방사립대(영산대학교)"

In [272]:
first[first.str.contains("S대")==True]="서울국립대(서울대학교)"

In [273]:
# 무역학과(전공)
first[first.str.contains("무역")==True]

1713    무역학과
1858    무역학과
2260    무역학과
2280    무역학과
2437    무역학과
2441    무역학과
Name: 0, dtype: object

In [274]:
first[first.str.contains("서울권")==True]="서울사립대"

In [275]:
first[first.str.contains("연대")==True]="서울사립대(연세대학교)"

In [276]:
# 메카(전공)
first[first.str.contains("메카")==True]

2190    메카르토닉스
2350    메카르토닉스
Name: 0, dtype: object

In [277]:
first[first.str.contains("KY 학사")==True]="대학원"

In [278]:
first[first.str.contains("Y")==True]="서울사립대(연세대학교)"

In [279]:
first[first.str.contains("중경외시")==True]="서울사립대(중앙대학교)"

In [280]:
#재료(전공)
first[first.str.contains("재료")==True]

2240    재료
2398    재료
2418    재료
2420    재료
7271    재료
Name: 0, dtype: object

In [281]:
first[first.str.contains("지방사립 ")==True]="지방사립대"

In [282]:
first[first.str.contains("인천 소재 대학교 ")==True]="지방사립대"

In [283]:
# 봉사새끼
first[first.str.contains("봉사")==True]

442     컴활2급, 워드프로세서, ERP(회계,인사,생산,물류), 한국사능력검정2급, 전산회...
528     컴활2급, 워드프로세서, ERP(회계,인사,생산,물류), 한국사능력검정2급, 전산회...
570     컴활2급, 워드프로세서, ERP(회계,인사,생산,물류), 한국사능력검정2급, 전산회...
674     컴활2급, 워드프로세서, ERP(회계,인사,생산,물류), 한국사능력검정2급, 전산회...
866     컴활2급, 워드프로세서, ERP(회계,인사,생산,물류), 한국사능력검정2급, 전산회...
2510                                                   봉사
2530                                                   봉사
4385                                    봉사활동, 아시아게임청년서포터즈
4386                                    봉사활동, 아시아게임청년서포터즈
7819                                        인턴2회, 봉사활동 다수
7874                                        인턴2회, 봉사활동 다수
Name: 0, dtype: object

In [284]:
first[first.str.contains("안양대")==True]="지방사립대(안양대학교)"

In [285]:
first[first.str.contains("건")==True]="서울사립대(건국대학교)"

In [286]:
first[first.str.contains("경희 수원")==True]="지방사립대(경희대학교)"

In [287]:
first[first.str.contains("경희 ")==True]="서울사립대(경희대학교)"

In [288]:
first[first.str.contains("상하이")==True]="해외대(중국)"

In [289]:
first[first.str.contains("중,아,인")==True]="서울사립대(아주대학교)"

In [290]:
first[first.str.contains("시립대")==True]="서울공립대(서울시립대학교)"

In [291]:
first[first.str.contains("중인시")==True]="지방사립대(인하대학교)"

In [292]:
first[first.str.contains("E 대학교")==True]="서울사립대(이화여자대학교)"

In [293]:
first[first.str.contains("국숭")==True]="서울사립대(숭실대학교)"

In [294]:
first[first.str.contains("홍익대학교 ")==True]="서울사립대(홍익대학교)"

In [295]:
first[first.str.contains("칭화대학교")==True]="해외대(중국)"

In [296]:
first[first.str.contains("센트럴")==True]="해외대(영국)"

In [297]:
first[first.str.contains("홍익 ")==True]="서울사립대(홍익대학교)"

In [298]:
first[first.str.contains("설카포")==True]="포항공과대학교"

In [299]:
first[first.str.contains("고려사이버")==True]="전문대"

In [300]:
first[first.str.contains("지방분교")==True]="지방사립대"

In [301]:
first[first.str.contains("명문대")==True]="서울사립대"

In [302]:
first[first.str.contains("인천소재")==True]="지방사립대"

In [303]:
"중,아,인 "

'중,아,인 '

In [304]:
first[first.str.contains("^거점국립대")==True]="지방거점국립대"

In [305]:
first[first.str.contains("경기도권")==True]="지방사립대"

In [306]:
first[first.str.contains("지방4")==True]="지방사립대"

In [307]:
first[first.str.contains("지방국립공")==True]="지방국립대"

In [308]:
first[first.str.contains("^국립대")==True]="지방국립대"

In [309]:
first[first.str.contains("숙대")==True]="서울사립대(숙명여자대학교)"

In [310]:
first[first.str.contains("서울하")==True]="서울사립대"

In [311]:
first[first.str.contains("서울소재")==True]="서울사립대"

In [312]:
first[first.str.contains("^지방사립 ")==True]

Series([], Name: 0, dtype: object)

In [313]:
first[first.str.contains("뉴")==True]="해외대(미국)"

In [314]:
first[first.str.contains("한서")==True]="지방사립대(한서대학교)"

In [315]:
first[first.str.contains("경기권")==True]

Series([], Name: 0, dtype: object)

In [316]:
first[first.str.contains("한국산업기술")==True]="지방사립대(한국산업기술대학교)"

In [317]:
first[first.str.contains("사립대학교")==True]="지방사립대"

In [318]:
first[first.str.contains("카이스트")==True]="KAIST"

In [319]:
first[first.str.contains("경남과학기술대학교")==True]="지방국립대(경남과학기술대학교)"

In [320]:
first[first.str.contains("인문")==True]

Series([], Name: 0, dtype: object)

In [321]:
first[first.str.contains("지방거점국립대학")==True]="지방거점국립대"

In [322]:
first[first.str.contains("서홍국")==True]="서울사립대(홍익대학교)"

In [323]:
first[first.str.contains("한기대")==True]="지방사립대(한국기술교육대학교)"

In [324]:
first[first.str.contains("중견")==True]="서울사립대"

In [325]:
first[first.str.contains("경원대")==True]="지방사립대(가천대학교)"

In [326]:
first[first.str.contains("목원")==True]="지방사립대(목원대학교)"

In [327]:
first[first.str.contains("c대")==True]="서울사립대(중앙대학교)"

In [328]:
first[first.str.contains("s")==True]

Series([], Name: 0, dtype: object)

In [329]:
first[first.str.contains("울산과학")==True]="UNIST"

In [330]:
first[first.str.contains("캠퍼스")==True]="지방사립대"

In [331]:
first[first.str.contains("북경항공")==True]="해외대(중국)"

In [332]:
first[first.str.contains("북경")==True]="해외대(중국)"

In [333]:
first[first.str.contains("서울사립대\(중앙대하굑\)")==True]="서울사립대(중앙대학교)"

In [334]:
first[first.str.contains("중앙대하굑")==True]

Series([], Name: 0, dtype: object)

In [335]:
first[first.str.contains("중,")==True]="서울사립대(경희대학교)"

In [336]:
first[first.str.contains("강남대학교")==True]="지방사립대(강남대학교)"

In [337]:
first[first.str.contains("홍대")==True]="서울사립대(홍익대학교)"

In [338]:
first[first.str.contains("에리카")==True]="지방사립대(한양대에리카)"

In [339]:
first[first.str.contains("교대")==True]="서울국립대(서울교육대학교)"

In [340]:
first[first.str.contains("중아인")==True]="서울사립대(아주대학교)"

In [341]:
first[first.str.contains("국외대")==True]="해외대"

In [342]:
first[first.str.contains("I대")==True]="지방사립대(인하대학교)"

In [343]:
first[first.str.contains("경기사립")==True]="지방사립대"

In [344]:
first[first.str.contains("지방거주")==True]="지방사립대"

In [345]:
first[first.str.contains("초대졸")==True]="전문대"

In [346]:
first[first.str.contains("지국대")==True]="지방국립대"

In [347]:
first[first.str.contains("지방국립")==True]

6          지방국립대(한경대학교)
7          지방국립대(한경대학교)
13         지방국립대(순천대학교)
15       지방국립대(금오공과대학교)
19         지방국립대(창원대학교)
              ...
10032             지방국립대
10042             지방국립대
10043      지방국립대(인천대학교)
10052             지방국립대
10089             지방국립대
Name: 0, Length: 692, dtype: object

In [348]:
first[first.str.contains("^가톨릭")==True]="서울사립대(가톨릭대학교)"

In [349]:
first[first.str.contains("IST")==True]="과학기술원"

In [350]:
first[first.str.contains("포항")==True]="과학기술원"

In [351]:
first[first.str.contains("학점")==True]

119      학점 3.57
139      학점 3.57
166      학점 3.57
811      학점 3.67
820      학점 3.67
           ...
7975     학점 3.96
8845     학점 3.99
9298     학점 3.38
10047     학점 3.6
10067     학점 3.6
Name: 0, Length: 104, dtype: object

In [352]:
df["학점"]

0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
        ...
10102    NaN
10103    NaN
10104    NaN
10105    NaN
10106    NaN
Name: 학점, Length: 10107, dtype: object

In [132]:
df.loc[:,"학점"]

0         학점 1.7등급
1               NaN
2           학점 3.3
3          학점 3.87
4           학점 4.0
            ...
10102           NaN
10103           NaN
10104           NaN
10105           NaN
10106           NaN
Name: 학점, Length: 10107, dtype: object

In [125]:
first[first.str.contains("학점")==True]

119      학점 3.57
139      학점 3.57
166      학점 3.57
811      학점 3.67
820      학점 3.67
           ...
7975     학점 3.96
8845     학점 3.99
9298     학점 3.38
10047     학점 3.6
10067     학점 3.6
Name: 0, Length: 107, dtype: object

In [354]:
first[first.str.contains("학점")==True]=""

In [355]:
first[first.str.contains("교내")==True]

11      교내 금융 동아리 3년, 학생회장단연합회 1년, 특성화고 권리 연합회 1년, 컴퓨터...
40      교내 금융 동아리 3년, 학생회장단연합회 1년, 특성화고 권리 연합회 1년, 컴퓨터...
421     교내 금융 동아리 3년, 학생회장단연합회 1년, 특성화고 권리 연합회 1년, 컴퓨터...
508     교내 금융 동아리 3년, 학생회장단연합회 1년, 특성화고 권리 연합회 1년, 컴퓨터...
569     교내 금융 동아리 3년, 학생회장단연합회 1년, 특성화고 권리 연합회 1년, 컴퓨터...
673     교내 금융 동아리 3년, 학생회장단연합회 1년, 특성화고 권리 연합회 1년, 컴퓨터...
1112    교내 금융 동아리 3년, 학생회장단연합회 1년, 특성화고 권리 연합회 1년, 컴퓨터...
1179    교내 금융 동아리 3년, 학생회장단연합회 1년, 특성화고 권리 연합회 1년, 컴퓨터...
Name: 0, dtype: object

In [356]:
df['경험사항']=first[first.str.contains("교내")==True]

In [357]:
first[first.str.contains("교내")==True]=""

In [358]:
first[first.str.contains("컴활")==True]

442    컴활2급, 워드프로세서, ERP(회계,인사,생산,물류), 한국사능력검정2급, 전산회...
528    컴활2급, 워드프로세서, ERP(회계,인사,생산,물류), 한국사능력검정2급, 전산회...
570    컴활2급, 워드프로세서, ERP(회계,인사,생산,물류), 한국사능력검정2급, 전산회...
674    컴활2급, 워드프로세서, ERP(회계,인사,생산,물류), 한국사능력검정2급, 전산회...
866    컴활2급, 워드프로세서, ERP(회계,인사,생산,물류), 한국사능력검정2급, 전산회...
Name: 0, dtype: object

In [359]:
df['경험사항']=first[first.str.contains("교내")==True]

In [360]:
first[first.str.contains("교내")==True]=""

In [361]:
first[first.str.contains("전기")==True]="전자전기공학과"

In [362]:
df["학과"]=first[first.str.contains("전자전기공학과")==True]

In [363]:
first[first.str.contains("전자전기공학과")==True]=""

In [364]:
first[first.str.contains("전자공")==True]="전자공학과"

In [365]:
first[first.str.contains("^전자")==True]="전자공학과"

In [366]:
#LG전자 이거는 뭐야아아아
first[first.str.contains("전자")==True]

1223             전자공학과
1864             전자공학과
2019             전자공학과
3515     LG전자 기술원 현장실습
3517             전자공학과
3535     LG전자 기술원 현장실습
3537             전자공학과
3691             전자공학과
4318             전자공학과
4344             전자공학과
4364             전자공학과
4561             전자공학과
4621             전자공학과
4718             전자공학과
4738             전자공학과
4773             전자공학과
5548             전자공학과
5568             전자공학과
9299             전자공학과
9448             전자공학과
9468             전자공학과
10026            전자공학과
10027            전자공학과
10046            전자공학과
Name: 0, dtype: object

In [367]:
df["학과"]=first[first.str.contains("전자공학과")==True]

In [368]:
first[first.str.contains("전자공학과")==True]=""

In [369]:
first[first.str.contains("디자인")==True]

4469    산업디자인
4489    산업디자인
7191    산업디자인
7206    산업디자인
7207    산업디자인
7234    산업디자인
7254    산업디자인
Name: 0, dtype: object

In [370]:
df["학과"]=first[first.str.contains("디자인")==True]

In [371]:
first[first.str.contains("디자인")==True]=""

In [372]:
df["학과"]=first[first.str.contains("그래픽")==True]

In [373]:
first[first.str.contains("그래픽")==True]=""

In [374]:
first[first.str.contains("컴퓨터")==True]="컴퓨터공학과"

In [375]:
df["학과"]=first[first.str.contains("컴퓨터")==True]

In [376]:
first[first.str.contains("컴퓨터")==True]=""

In [377]:
df["학과"]=first[first.str.contains("학과")==True]

In [378]:
first[first.str.contains("학과")==True]=""

In [379]:
df['자격증']=first[first.str.contains("컴활")==True]

In [380]:
first[first.str.contains("컴활")==True]=""

In [381]:
first[first.str.contains("컴")==True]="컴퓨터공학"

In [382]:
df["학과"]=first[first.str.contains("컴퓨터공학")==True]

In [383]:
first[first.str.contains("컴퓨터공학")==True]=""

In [384]:
first[first.str.contains("바이오")==True]="바이오공학"

In [385]:
df["학과"]=first[first.str.contains("바이오공학")==True]

In [386]:
first[first.str.contains("바이오공학")==True]=""

In [387]:
first[first.str.contains("경영")==True]="경영학"

In [388]:
df["학과"]=first[first.str.contains("경영학")==True]

In [389]:
first[first.str.contains("경영학")==True]=""

In [390]:
first[first.str.contains("경기도 대학")==True]="지방사립대"

In [391]:
df["학과"]=first[first.str.contains("정보통신공학")==True]

In [392]:
first[first.str.contains("정보통신공학")==True]=""

In [393]:
first[first.str.contains("화학공")==True]="화학공학"

In [394]:
df["학과"]=first[first.str.contains("화학공학")==True]

In [395]:
first[first.str.contains("화학공학")==True]=""

In [396]:
df["학과"]=first[first.str.contains("화학")==True]

In [397]:
first[first.str.contains("화학")==True]=""

In [398]:
df["학과"]=first[first.str.contains("산업공학")==True]

In [399]:
first[first.str.contains("산업공학")==True]=""

In [400]:
df["학과"]=first[first.str.contains("고분자공학")==True]

In [401]:
first[first.str.contains("고분자공학")==True]=""

In [402]:
df["학과"]=first[first.str.contains("환경공학")==True]

In [403]:
first[first.str.contains("환경공학")==True]=""

In [404]:
first[first.str.contains("환경")==True]="토목환경공학"

In [405]:
df["학과"]=first[first.str.contains("토목환경공학")==True]

In [406]:
first[first.str.contains("토목환경공학")==True]=""

In [407]:
df["학과"]=first[first.str.contains("신소재")==True]

In [408]:
first[first.str.contains("신소재")==True]=""

In [409]:
first[first.str.contains("경제")==True]="경제학"

In [410]:
df["학과"]=first[first.str.contains("경제학")==True]

In [411]:
first[first.str.contains("경제학")==True]=""

In [412]:
first[first.str.contains("^공과대학")==True]="공학"

In [413]:
df["학과"]=first[first.str.contains("공학")==True]

In [414]:
first[first.str.contains("공학")==True]=""

In [416]:
df["학과"]=first[first.str.contains("자연")==True]

In [417]:
first[first.str.contains("자연")==True]=""

In [418]:
first[first.str.contains("재료")==True]

2240    재료
2398    재료
2418    재료
2420    재료
7271    재료
Name: 0, dtype: object

In [419]:
df["학과"]=first[first.str.contains("재료공학")==True]

In [420]:
first[first.str.contains("재료공학")==True]=""

In [421]:
first[first.str.contains("메카")==True]="메카트로닉스공학"

In [362]:
#자연과학

In [422]:
df["학과"]=first[first.str.contains("메카")==True]

In [423]:
first[first.str.contains("메카")==True]=""

In [424]:
df["학과"]=first[first.str.contains("통상")==True]

In [425]:
first[first.str.contains("통상")==True]=""

In [426]:
first[first.str.contains("화공")==True]="화학공학과"

In [427]:
df["학과"]=first[first.str.contains("화학")==True]

In [428]:
first[first.str.contains("화학")==True]=""

In [429]:
first[first.str.contains("홍익대 ")==True]="서울사립대(홍익대학교)"

In [430]:
first[first.str.contains("부산 지잡")==True]="지방사립대"

In [431]:
df['경험사항']=first[first.str.contains("봉사")==True]

In [432]:
first[first.str.contains("봉사")==True]=""

In [433]:
df["어학"]=first[first.str.contains("토익")==True]

In [434]:
first[first.str.contains("토익")==True]=""

In [435]:
first[first.str.contains("it")==True]="컴퓨터공학과"

In [436]:
first[first.str.contains("I")==True]="컴퓨터공학과"

In [437]:
df["학과"]=first[first.str.contains("컴퓨터")==True]

In [438]:
first[first.str.contains("컴퓨터")==True]=""

In [439]:
df['경험사항']=first[first.str.contains("인턴 1회")==True]

In [440]:
first[first.str.contains("인턴 1회")==True]=""

In [441]:
first[first.str.contains("^인천")==True]="지방사립대"

In [442]:
first[first.str.contains("인턴 경험")==True]=""

In [443]:
df['경험사항']=first[first.str.contains("인턴1회")==True]

In [444]:
first[first.str.contains("인턴1회")==True]=""

In [445]:
first[first.str.contains("^인")==True]="지방사립대"

In [446]:
#LG어캐할까욤???
first[first.str.contains("LG")==True]

3515    LG전자 기술원 현장실습
3535    LG전자 기술원 현장실습
Name: 0, dtype: object

In [447]:
first[first.str.contains("^성대")==True]="서울사립대(성균관대학교)"

In [448]:
df["학과"]=first[first.str.contains("동물")==True]

In [449]:
first[first.str.contains("동물")==True]=""

In [450]:
df["어학"]=first[first.str.contains("토")==True]

In [451]:
first[first.str.contains("토")==True]=""

In [452]:
df["학과"]=first[first.str.contains("영어")==True]

In [453]:
first[first.str.contains("영어")==True]=""

In [454]:
first[first.str.contains("설포")==True]="과학기술원"

In [455]:
len(first[first.str.contains("과학기술")==True])

153

In [456]:
first[first.str.contains("^중")==True]="서울사립대(중앙대학교)"

In [457]:
first[first.str.contains("산공")==True]="산업공학과"

In [458]:
df["학과"]=first[first.str.contains("산업공")==True]

In [459]:
first[first.str.contains("산업공")==True]=""

In [460]:
first[first.str.contains("정보")==True]="정보통신공학"

In [461]:
df["학과"]=first[first.str.contains("정보")==True]

In [462]:
first[first.str.contains("정보")==True]=""

In [463]:
first[first.str.contains("^K")==True]="서울사립대(고려대학교)"

In [464]:
first[first.str.contains("^K")==True]

Series([], Name: 0, dtype: object)

In [465]:
first[first.str.contains("^통")==True]="통계학"

In [466]:
df["학과"]=first[first.str.contains("통계")==True]

In [467]:
first[first.str.contains("통계")==True]=""

In [468]:
first[first.str.contains("^경기도")==True]="지방사립대"

In [469]:
first[first.str.contains("자동")==True]="자동차공학"

In [470]:
df["학과"]=first[first.str.contains("자동")==True]

In [471]:
first[first.str.contains("자동")==True]=""

In [472]:
first[first.str.contains("서울사립 ")==True]="서울사립대"

In [473]:
first[first.str.contains("서카")==True]="과학기술원"

In [474]:
first[first.str.contains("한동")==True]="지방사립대(한동대학교)"

In [475]:
first.to_csv("20200807.txt",encoding='utf-8')

In [477]:
df['학교']=first

In [2078]:
df.to_csv("20200807.txt",encoding="utf-8")

In [ ]:
#first.to_csv("first.txt",encoding='utf-8')

In [480]:
len(df['학과'].notnull())

10107

In [ ]:
#first.to_csv("20200806_final.txt",encoding='utf-8')

In [361]:
second.to_csv("다시학과.txt",encoding='utf-8')