In [269]:
import pandas as pd

In [270]:
raw_df = pd.read_csv("WriteData.csv")

In [324]:
df=pd.read_csv("0811j.csv")

In [325]:
first = raw_df["2"].str.split("/",expand=True)[0]
second = raw_df["2"].str.split("/",expand=True)[1]
third = raw_df["2"].str.split("/",expand=True)[2]
#raw_df["2"].str.split("/",expand=True)[3]
#raw_df["2"].str.split("/",expand=True)[4]
#raw_df["2"].str.split("/",expand=True)[5]

In [326]:
third

0         인천 글로벌 숙련 진흥원 5일, 선반, 용접, 특수용접, 설비보전
1                                     학점 3.92
2                                       토익830
3                                      토익 835
4                                      토익 780
                         ...
10102                                  학점 4.3
10103                                  학점 3.06
10104                                  학점 3.7
10105                                  학점 3.7
10106                                  학점 3.7
Name: 2, Length: 10107, dtype: object

In [327]:
# 이름 바꾸기
third[third.str.contains("학점")==True]

1         학점 3.92
187        학점 3.9
191        학점 3.0
192       학점 3.04
199       학점 3.67
           ...
10102      학점 4.3
10103      학점 3.06
10104      학점 3.7
10105      학점 3.7
10106      학점 3.7
Name: 2, Length: 7570, dtype: object

In [328]:
#컬럼에 집어넣기
df.at[third[third.str.contains("학점")==True].index,["학점"]]=third[third.str.contains("학점")==True]

In [329]:
#컬럼 삭제
third[third.str.contains("학점")==True]=""

In [330]:
df["학점"]

0         학점 1.7등급
1          학점 3.92
2           학점 3.3
3          학점 3.87
4           학점 4.0
            ...
10102       학점 4.3
10103       학점 3.06
10104       학점 3.7
10105       학점 3.7
10106       학점 3.7
Name: 학점, Length: 10107, dtype: object

In [331]:
third[third.str.contains("토익 ")==True]
df.at[third[third.str.contains("토익 ")==True].index,["어학"]]=third[third.str.contains("토익 ")==True]

In [332]:
third[third.str.contains("토익 ")==True] = ""

In [333]:
third[third.str.contains("토익 ")==True]

Series([], Name: 2, dtype: object)

In [334]:
third[third.str.contains("토익")==True]
df.at[third[third.str.contains("토익")==True].index,["어학"]]=third[third.str.contains("토익")==True]

In [335]:
third[third.str.contains("토익")==True] = ""

In [336]:
third[third.str.contains("토익")==True]

Series([], Name: 2, dtype: object)

In [337]:
third[third.str.contains("오픽")==True]
df.at[third[third.str.contains("오픽")==True].index,["어학"]]=third[third.str.contains("오픽")==True]

In [338]:
third[third.str.contains("오픽")==True]=""

In [339]:
third[third.str.contains("오픽")==True]

Series([], Name: 2, dtype: object)

In [340]:
third[third.str.contains("오픽 ")==True]
df.at[third[third.str.contains("오픽 ")==True].index,["어학"]]=third[third.str.contains("오픽 ")==True]

In [341]:
third[third.str.contains("오픽 ")==True]=""

In [342]:
third[third.str.contains("오픽 ")==True]

Series([], Name: 2, dtype: object)

In [343]:
third[third.str.contains("토스 ")==True]
df.at[third[third.str.contains("토스 ")==True].index,["어학"]]=third[third.str.contains("토스 ")==True]

In [344]:
third[third.str.contains("토스 ")==True]=""

In [345]:
third[third.str.contains("토스 ")==True]

Series([], Name: 2, dtype: object)

In [346]:
third[third.str.contains("토스")==True]
df.at[third[third.str.contains("토스")==True].index,["어학"]]=third[third.str.contains("토스")==True]

In [347]:
third[third.str.contains("토스")==True]=""

In [348]:
third[third.str.contains("토스")==True]

Series([], Name: 2, dtype: object)

In [349]:
third[third.str.contains("OPIC")==True]
df.at[third[third.str.contains("OPIC")==True].index,["어학"]]=third[third.str.contains("OPIC")==True]

In [350]:
third[third.str.contains("OPIC")==True]=""

In [351]:
third[third.str.contains("OPIC")==True]

Series([], Name: 2, dtype: object)

In [352]:
third[third.str.contains("무역영어")==True]
df.at[third[third.str.contains("무역영어")==True].index,["자격증"]]=third[third.str.contains("무역영어")==True]

In [353]:
third[third.str.contains("무역영어")==True]=""

In [354]:
third[third.str.contains("토플")==True]
df.at[third[third.str.contains("토플")==True].index,["어학"]]=third[third.str.contains("토플")==True]

In [355]:
third[third.str.contains("토플")==True]=""

In [356]:
third[third.str.contains("토플")==True]

Series([], Name: 2, dtype: object)

In [357]:
third[third.str.contains("JPT")==True]
df.at[third[third.str.contains("JPT")==True].index,["어학"]]=third[third.str.contains("JPT")==True]

In [358]:
third[third.str.contains("JPT")==True]=""

In [359]:
third[third.str.contains("TOEIC")==True]
df.at[third[third.str.contains("TOEIC")==True].index,["어학"]]=third[third.str.contains("TOEIC")==True]

In [360]:
third[third.str.contains("TOEIC")==True]=""

In [361]:
third[third.str.contains("러시아어")==True]=""

In [362]:
third[third.str.contains("Im3")==True]
df.at[third[third.str.contains("Im3")==True].index,["어학"]]=third[third.str.contains("Im3")==True]

In [363]:
third[third.str.contains("Im3")==True]=""

In [364]:
third[third.str.contains("IH")==True]
df.at[third[third.str.contains("IH")==True].index,["어학"]]=third[third.str.contains("IH")==True]

In [365]:
third[third.str.contains("IH")==True]=""

In [366]:
third[third.str.contains("HSK")==True]
df.at[third[third.str.contains("HSK")==True].index,["어학"]]=third[third.str.contains("HSK")==True]

In [367]:
third[third.str.contains("HSK")==True]=""

In [368]:
third[third.str.contains("영어")==True]=""

In [369]:
df

,Unnamed: 0,기업명,지원부서,지원시기,학교,학과,학점,어학,자격증,경험사항,자소서
0,0,한국석유공사,설비,2020 상반기,NaN,전자공학과,학점 1.7등급,NaN,NaN,NaN,7.한국석유공사\n\n 1. 지원 분야 직무기술서 ‘직무수행 내용’ 중 본인이 가장...
1,1,CJ제일제당,Food Sales,2020 상반기,서울사립대(중앙대학교),상경계열학과,학점 3.92,NaN,NaN,NaN,CJ제일제당 및 선택한 직무에 대한 지원동기는 무엇인가요? ① 선택한 직무에 관심을...
2,2,한국가스안전공사,LP가스 안전지킴이사업,2020 상반기,지방거점국립대(제주대학교),NaN,학점 3.3,토익830,NaN,NaN,\n1. 한국가스안전공사가 진행하는 사업에 관심을 갖고 공사에 지원한 동기에 대해 ...
3,3,코레일,사무영업,2020 상반기,지방거점국립대(충남대학교),NaN,학점 3.87,토익 835,NaN,NaN,"1.공동체의 일원으로서 가장 중요하게 생각하는 가치를 제시하고, 그 가치를 실천했던..."
4,4,한국기술교육대학교,행정,2020 상반기,서울사립대(건국대학교),NaN,학점 4.0,토익 780,NaN,NaN,"1. 본인이 가진 가장 뛰어난 점과 그렇게 판단한 이유, 고용노동연수원 업무수행에서..."
...,...,...,...,...,...,...,...,...,...,...,...
10102,10102,현대자동차,영업관리,2013 상반기,서울사립대(상명대학교),국제통상학과,학점 4.3,NaN,NaN,NaN,1. 현대자동차에 지원하게 된 동기 또는 해당 직무에 지원하게 된 동기는 무엇입니까...
10103,10103,심팩,용접관리,2013 상반기,전문대,공업화학과,학점 3.06,NaN,NaN,NaN,성격소개\n\n대부분의 사람들이 평가하는 첫인상은 소심하고 내성적인 성격일것이라 생...
10104,10104,한국전력,"인턴[송,배전]",2013 상반기,지방거점국립대,전자공학과,학점 3.7,NaN,NaN,NaN,"[질문 1] 취업이라는 목표 이외에 인생의 큰 목표를 세운 경험, 그 목표를 실현하..."
10105,10105,한국전력,"인턴[송,배전]",2013 상반기,지방거점국립대,전자공학과,학점 3.7,NaN,NaN,NaN,한전 자가소개서 양식 500자 12줄 이내\n\n[질문 1] 취업이라는 목표 이외에...
10106,10106,한국전력,"인턴[송,배전]",2013 상반기,지방거점국립대,전자공학과,학점 3.7,NaN,NaN,NaN,한전 자가소개서 양식 500자 12줄 이내\n\n[질문 1] 취업이라는 목표 이외에...

# 자격증 및 경험사항

In [371]:
third[third.str.contains("세종")==True]
df.at[third[third.str.contains("세종")==True].index,["자격증"]]="한국사검정능력1급, GAIQ고급"

In [372]:
third[third.str.contains("세종")==True]
df.at[third[third.str.contains("세종")==True].index,["경험사항"]]="세종문화회관 인턴 (2개월), 구립망원청소년문화센터 계약직 (6개월), CJ ONE 대학생 서포터즈 3기 (3개월), 라틴음악동아리 (2년), 국악동아리 (6개월)"

In [373]:
third[third.str.contains("세종")==True]=""

In [374]:
third[third.str.contains("인천 글로벌")==True]
df.at[third[third.str.contains("인천 글로벌")==True].index,["경험사항"]]="인천 글로벌 숙련 진흥원, 선반, 용접 ,특수용접, 설비보전"

In [375]:
third[third.str.contains("인천 글로벌")==True]=""

In [376]:
third[third.str.contains("한국사능력검정시험 1급$")==True]
df.at[third[third.str.contains("한국사능력검정시험 1급$")==True].index,["자격증"]]="한국사검정능력1급"

In [377]:
third[third.str.contains("한국사능력검정시험 1급$")==True]=""

In [379]:
third[third.str.contains("LG 디스플레이")==True]
df.at[third[third.str.contains("LG 디스플레이")==True].index,["자격증"]]="한국사검정능력1급, 전기기사, 전기공사기사"

In [380]:
third[third.str.contains("LG 디스플레이")==True]
df.at[third[third.str.contains("LG 디스플레이")==True].index,["경험사항"]]="LG 디스플레이 3년 근무"

In [381]:
third[third.str.contains("LG 디스플레이")==True]=""

In [382]:
third[third.str.contains("산업안전기사")==True]
df.at[third[third.str.contains("산업안전기사")==True].index,["자격증"]]="한국사검정능력1급, 산업안전기사, 위험물산산업기사"

In [383]:
third[third.str.contains("산업안전기사")==True]=""

In [384]:
third[third.str.contains("중소기업 계약직")==True]
df.at[third[third.str.contains("중소기업 계약직")==True].index,["경험사항"]]="중소기업 계약직 1년"

In [385]:
third[third.str.contains("중소기업 계약직")==True]=""

In [386]:
third[third.str.contains("SAS Certified")==True] 
df.at[third[third.str.contains("SAS Certified")==True].index,["경험사항"]]="SAS Certified Base Programmer for SAS 9, SAS Certified Advanced Programmer for SAS 9 SQLD, GBSA SW-tech 전문교육 1기 (Data Scientist Academy) (1개월), 넥슨코리아 데이터분석 인턴 (6개월)"

In [387]:
third[third.str.contains("SAS Certified")==True]=""

In [388]:
third[third.str.contains("중소기업인턴")==True]
df.at[third[third.str.contains("중소기업인턴")==True].index,["경험사항"]]="중소기업인턴"

In [389]:
third[third.str.contains("중소기업인턴")==True]
df.at[third[third.str.contains("중소기업인턴")==True].index,["자격증"]]="한국사검정능력2급"

In [390]:
third[third.str.contains("중소기업인턴")==True]=""

In [391]:
third[third.str.contains("컴퓨터활용능력 1급")==True]
df.at[third[third.str.contains("컴퓨터활용능력 1급")==True].index,["자격증"]]=third[third.str.contains("컴퓨터활용능력 1급")==True]

In [392]:
third[third.str.contains("컴퓨터활용능력 1급")==True]=""

In [393]:
third[third.str.contains("학과 학생회")==True]
df.at[third[third.str.contains("학과 학생회")==True].index,["경험사항"]]="학과 학생회 (2년)"

In [394]:
third[third.str.contains("학과 학생회")==True]
df.at[third[third.str.contains("학과 학생회")==True].index,["자격증"]]="컴퓨터활용능력 2급"

In [395]:
third[third.str.contains("학과 학생회")==True]=""

In [396]:
third[third.str.contains("2018")==True]
df.at[third[third.str.contains("2018")==True].index,["경험사항"]]=third[third.str.contains("2018")==True]

In [397]:
third[third.str.contains("2018")==True]=""

In [401]:
third[third.str.contains("한전")==True]
df.at[third[third.str.contains("한전")==True].index,["경험사항"]]="한전 kps 인턴"

In [402]:
third[third.str.contains("한전")==True]
df.at[third[third.str.contains("한전")==True].index,["자격증"]]="한국사검정능력 2급, 전기기사"

In [403]:
third[third.str.contains("한전")==True]=""

In [404]:
third[third.str.contains("한자")==True]
df.at[third[third.str.contains("한자")==True].index,["자격증"]]=third[third.str.contains("한자")==True]

In [405]:
third[third.str.contains("한자")==True]=""

In [406]:
third[third.str.contains("정보처리기사")==True]
df.at[third[third.str.contains("정보처리기사")==True].index,["자격증"]]=third[third.str.contains("정보처리기사")==True]

In [407]:
third[third.str.contains("정보처리기사")==True]=""

In [408]:
third[third.str.contains("재경관리사")==True]
df.at[third[third.str.contains("재경관리사")==True].index,["자격증"]]=third[third.str.contains("재경관리사")==True]

In [409]:
third[third.str.contains("재경관리사")==True]=""

In [410]:
third[third.str.contains("금융감독원")==True]
df.at[third[third.str.contains("금융감독원")==True].index,["경험사항"]]=third[third.str.contains("금융감독원")==True]

In [411]:
third[third.str.contains("금융감독원")==True]=""

In [412]:
third[third.str.contains("기술보증끔")==True]
df.at[third[third.str.contains("기술보증끔")==True].index,["경험사항"]]="기술보증기금 체험형인턴 (2015 하반기)"

In [413]:
third[third.str.contains("기술보증끔")==True]
df.at[third[third.str.contains("기술보증끔")==True].index,["자격증"]]="컴퓨터활용능력1급"

In [414]:
third[third.str.contains("기술보증끔")==True]=""

In [415]:
third[third.str.contains("한국사검정능력 1급")==True]
df.at[third[third.str.contains("한국사검정능력 1급")==True].index,["자격증"]]=third[third.str.contains("한국사검정능력 1급")==True]

In [416]:
third[third.str.contains("한국사검정능력 1급")==True]=""

In [417]:
third[third.str.contains("한국사$")==True]
df.at[third[third.str.contains("한국사$")==True].index,["자격증"]]=third[third.str.contains("한국사$")==True]

In [418]:
third[third.str.contains("한국사$")==True]=""

In [419]:
third[third.str.contains("1팀")==True]
df.at[third[third.str.contains("1팀")==True].index,["경험사항"]]="1팀1기업 프로젝트 금상수상, 포항흥해황금들녘 허수아비 문화축제 대상수상"

In [420]:
third[third.str.contains("1팀")==True]
df.at[third[third.str.contains("1팀")==True].index,["자격증"]]="(기능사 : 위험물,용접,특수용접,선반,밀링,공유압), (산업기사 : 위험물산업기사)"

In [421]:
third[third.str.contains("1팀")==True]=""

In [422]:
third[third.str.contains("실습")==True]
df.at[third[third.str.contains("실습")==True].index,["경험사항"]]="실습-원광대학병원영양팀(1개월), 봉사활동-복지센터(1년)"

In [423]:
third[third.str.contains("실습")==True]
df.at[third[third.str.contains("실습")==True].index,["자격증"]]="영양사면허증, 위생사면허증, 한식조리기능사, 햅썹팀장과정수료증, 푸트예술치료사자격증"

In [424]:
third[third.str.contains("실습")==True]=""

In [425]:
third[third.str.contains("무역협회")==True]
df.at[third[third.str.contains("무역협회")==True].index,["경험사항"]]="무역협회 인턴 3회, 사회 봉사 72시간"

In [426]:
third[third.str.contains("무역협회")==True]
df.at[third[third.str.contains("무역협회")==True].index,["자격증"]]="운전면허 2종 보통, 매일경제테스트 우수등급"

In [427]:
third[third.str.contains("무역협회")==True]=""

In [428]:
third[third.str.contains("컴퓨터활용능력1급")==True]
df.at[third[third.str.contains("컴퓨터활용능력1급")==True].index,["자격증"]]=third[third.str.contains("컴퓨터활용능력1급")==True]

In [429]:
third[third.str.contains("컴퓨터활용능력1급")==True]=""

In [430]:
third[third.str.contains("컴퓨터활용능력 2급$")==True]
df.at[third[third.str.contains("컴퓨터활용능력 2급$")==True].index,["자격증"]]=third[third.str.contains("컴퓨터활용능력 2급$")==True]

In [431]:
third[third.str.contains("컴퓨터활용능력 2급$")==True]=""

In [432]:
third[third.str.contains("컴퓨터활용능력 2급,")==True]
df.at[third[third.str.contains("컴퓨터활용능력 2급,")==True].index,["경험사항"]]="보건복지부 금연서포터즈 (5개월), 한국노인인력개발원(5개월), 한국장학재단 나눔지기(6개월), 근로복지공단 기자단(8개월), 학교 취업지원동아리 회장(~1년 2개월) 등"

In [433]:
third[third.str.contains("컴퓨터활용능력 2급,")==True]
df.at[third[third.str.contains("컴퓨터활용능력 2급,")==True].index,["자격증"]]="컴퓨터활용능력 2급, 워드프로세스, 정보처리기능사, 한국사 1급"

In [434]:
third[third.str.contains("컴퓨터활용능력 2급,")==True]=""

In [435]:
third[third.str.contains("사회복지사")==True]
df.at[third[third.str.contains("사회복지사")==True].index,["자격증"]]=third[third.str.contains("사회복지사")==True]

In [436]:
third[third.str.contains("사회복지사")==True]=""

In [437]:
third[third.str.contains("CRA")==True]
df.at[third[third.str.contains("CRA")==True].index,["경험사항"]]=third[third.str.contains("CRA")==True]

In [438]:
third[third.str.contains("CRA")==True]=""

In [439]:
third[third.str.contains("아르바이트경험")==True]
df.at[third[third.str.contains("아르바이트경험")==True].index,["경험사항"]]=third[third.str.contains("아르바이트경험")==True]

In [440]:
third[third.str.contains("아르바이트경험")==True]=""

In [441]:
third[third.str.contains("인턴, 봉사활동")==True]
df.at[third[third.str.contains("인턴, 봉사활동")==True].index,["경험사항"]]=third[third.str.contains("인턴, 봉사활동")==True]

In [442]:
third[third.str.contains("인턴, 봉사활동")==True]=""

In [443]:
third[third.str.contains("봉사활동")==True]
df.at[third[third.str.contains("봉사활동")==True].index,["경험사항"]]=third[third.str.contains("봉사활동")==True]

In [444]:
third[third.str.contains("봉사활동")==True]=""

In [445]:
third[third.str.contains("대기업 인턴")==True]
df.at[third[third.str.contains("대기업 인턴")==True].index,["경험사항"]]=third[third.str.contains("대기업 인턴")==True]

In [446]:
third[third.str.contains("대기업 인턴")==True]=""

In [447]:
third[third.str.contains("인턴 2회")==True]
df.at[third[third.str.contains("인턴 2회")==True].index,["경험사항"]]=third[third.str.contains("인턴 2회")==True]

In [448]:
third[third.str.contains("인턴 2회")==True]=""

In [449]:
third[third.str.contains("인턴 1회")==True]
df.at[third[third.str.contains("인턴 1회")==True].index,["경험사항"]]=third[third.str.contains("인턴 1회")==True]

In [450]:
third[third.str.contains("인턴 1회")==True]=""

In [451]:
third[third.str.contains("인턴1회")==True]
df.at[third[third.str.contains("인턴1회")==True].index,["경험사항"]]=third[third.str.contains("인턴1회")==True]

In [452]:
third[third.str.contains("인턴1회")==True]=""

In [453]:
third[third.str.contains("외식업")==True]
df.at[third[third.str.contains("외식업")==True].index,["경험사항"]]=third[third.str.contains("외식업")==True]

In [454]:
third[third.str.contains("외식업")==True]=""

In [455]:
third[third.str.contains("금융권")==True]
df.at[third[third.str.contains("금융권")==True].index,["경험사항"]]=third[third.str.contains("금융권")==True]

In [456]:
third[third.str.contains("금융권")==True]=""

In [457]:
third[third.str.contains("LG")==True]
df.at[third[third.str.contains("LG")==True].index,["경험사항"]]=third[third.str.contains("LG")==True]

In [458]:
third[third.str.contains("LG")==True]=""

In [459]:
third[third.str.contains("지상파")==True]
df.at[third[third.str.contains("지상파")==True].index,["경험사항"]]=third[third.str.contains("지상파")==True]

In [460]:
third[third.str.contains("지상파")==True]=""

In [461]:
third[third.str.contains("해피무브")==True]
df.at[third[third.str.contains("해피무브")==True].index,["경험사항"]]=third[third.str.contains("해피무브")==True]

In [462]:
third[third.str.contains("해피무브")==True]=""

In [463]:
third[third.str.contains("봉사")==True]
df.at[third[third.str.contains("봉사")==True].index,["경험사항"]]=third[third.str.contains("봉사")==True]

In [464]:
third[third.str.contains("봉사")==True]=""

In [465]:
third[third.str.contains("인턴,")==True]
df.at[third[third.str.contains("인턴,")==True].index,["경험사항"]]=third[third.str.contains("인턴,")==True]

In [466]:
third[third.str.contains("인턴,")==True]=""

In [467]:
third[third.str.contains("대외활동")==True]
df.at[third[third.str.contains("대외활동")==True].index,["경험사항"]]=third[third.str.contains("대외활동")==True]

In [468]:
third[third.str.contains("대외활동")==True]=""

In [469]:
third[third.str.contains("인턴2회")==True]
df.at[third[third.str.contains("인턴2회")==True].index,["경험사항"]]=third[third.str.contains("인턴2회")==True]

In [470]:
third[third.str.contains("인턴2회")==True]=""

In [471]:
third[third.str.contains("삼성")==True]
df.at[third[third.str.contains("삼성")==True].index,["경험사항"]]=third[third.str.contains("삼성")==True]

In [472]:
third[third.str.contains("삼성")==True]=""

In [473]:
third[third.str.contains("대회")==True]
df.at[third[third.str.contains("대회")==True].index,["경험사항"]]=third[third.str.contains("대회")==True]

In [474]:
third[third.str.contains("대회")==True]=""

In [475]:
third[third.str.contains("한국사 1급")==True]
df.at[third[third.str.contains("한국사 1급")==True].index,["자격증"]]="한국사검정능력1급"

In [476]:
third[third.str.contains("한국사 1급")==True]=""

In [477]:
third[third.str.contains("교내활동")==True]
df.at[third[third.str.contains("교내활동")==True].index,["경험사항"]]=third[third.str.contains("교내활동")==True]

In [478]:
third[third.str.contains("교내활동")==True]=""

In [479]:
third[third.str.contains("데이터분석")==True]
df.at[third[third.str.contains("데이터분석")==True].index,["경험사항"]]=third[third.str.contains("데이터분석")==True]

In [480]:
third[third.str.contains("데이터분석")==True]=""

In [481]:
third[third.str.contains("전자전파")==True]
df.at[third[third.str.contains("전자전파")==True].index,["자격증"]]=third[third.str.contains("전자전파")==True]

In [482]:
third[third.str.contains("전자전파")==True]=""

In [483]:
third[third.str.contains("4.3")==True]="학점 4.3"

In [484]:
df.at[third[third.str.contains("4.3")==True].index,["학점"]]=third[third.str.contains("4.3")==True]

In [485]:
third[third.str.contains("4.3")==True]=""

In [487]:
third[third.str.contains("컴퓨터")==True]="컴퓨터공학과"
df.at[third[third.str.contains("컴퓨터")==True].index,["학과"]]=third[third.str.contains("컴퓨터")==True]

In [488]:
third[third.str.contains("컴퓨터")==True]=""

In [490]:
third[third.str.contains("에너지")==True]="에너지공학과"
df.at[third[third.str.contains("에너지")==True].index,["학과"]]=third[third.str.contains("에너지")==True]

In [491]:
third[third.str.contains("에너지")==True]=""

In [494]:
third[third.str.contains("전자")==True]="전자공학과"
df.at[third[third.str.contains("전자")==True].index,["학과"]]=third[third.str.contains("전자")==True]

In [495]:
third[third.str.contains("전자")==True]=""

In [497]:
third[third.str.contains("정보보호")==True]="정보보호학과"
df.at[third[third.str.contains("정보보호")==True].index,["학과"]]=third[third.str.contains("정보보호")==True]

In [498]:
third[third.str.contains("정보보호")==True]=""

In [501]:
third[third.str.contains("홍보광고")==True]="광고홍보학과"
df.at[third[third.str.contains("광고홍보")==True].index,["학과"]]=third[third.str.contains("광고홍보")==True]

In [502]:
third[third.str.contains("광고홍보")==True]=""

In [505]:
third[third.str.contains("경제학")==True]="경제학과"
df.at[third[third.str.contains("경제학")==True].index,["학과"]]=third[third.str.contains("경제학")==True]

In [506]:
third[third.str.contains("경제학")==True]=""

In [507]:
third[third.str.contains("광고홍보")==True]="광고홍보학과"
df.at[third[third.str.contains("광고홍보")==True].index,["학과"]]=third[third.str.contains("광고홍보")==True]

In [508]:
third[third.str.contains("광고홍보")==True]=""

In [509]:
third[third.str.contains("소프트웨어")==True]="소프트웨어학과"
df.at[third[third.str.contains("소프트웨어")==True].index,["학과"]]=third[third.str.contains("소프트웨어")==True]

In [510]:
third[third.str.contains("소프트웨어")==True]=""

In [511]:
third[third.str.contains("경제")==True]="경제학과"
df.at[third[third.str.contains("경제")==True].index,["학과"]]=third[third.str.contains("경제")==True]

In [512]:
third[third.str.contains("경제")==True]=""

In [513]:
third[third.str.contains("4.5")==True]="학점 4.5"
df.at[third[third.str.contains("4.5")==True].index,["학점"]]=third[third.str.contains("4.5")==True]

In [514]:
third[third.str.contains("4.5")==True]=""

In [515]:
third[third.str.contains("국제통상")==True]="국제통상학과"
df.at[third[third.str.contains("국제통상")==True].index,["학과"]]=third[third.str.contains("국제통상")==True]

In [516]:
third[third.str.contains("국제통상")==True]=""

In [517]:
third[third.str.contains("신소재공학")==True]="신소재공학과"
df.at[third[third.str.contains("신소재공학")==True].index,["학과"]]=third[third.str.contains("신소재공학")==True]

In [518]:
third[third.str.contains("신소재공학")==True]=""

In [519]:
third[third.str.contains("4.19")==True]="학점 4.19"
df.at[third[third.str.contains("4.19")==True].index,["학점"]]=third[third.str.contains("4.19")==True]

In [520]:
third[third.str.contains("4.19")==True]=""

In [521]:
third[third.str.contains("신문방송")==True]="신문방송학과"
df.at[third[third.str.contains("신문방송")==True].index,["학과"]]=third[third.str.contains("신문방송")==True]

In [522]:
third[third.str.contains("신문방송")==True]=""

In [523]:
third[third.str.contains("도시")==True]="도시공학과"
df.at[third[third.str.contains("도시")==True].index,["학과"]]=third[third.str.contains("도시")==True]

In [524]:
third[third.str.contains("도시")==True]=""

In [525]:
third[third.str.contains("부동산")==True]="부동산학과"
df.at[third[third.str.contains("부동산")==True].index,["학과"]]=third[third.str.contains("부동산")==True]

In [526]:
third[third.str.contains("부동산")==True]=""

In [527]:
third[third.str.contains("기계공학")==True]="기계공학과"
df.at[third[third.str.contains("기계공학")==True].index,["학과"]]=third[third.str.contains("기계공학")==True]

In [528]:
third[third.str.contains("기계공학")==True]=""

In [531]:
third[third.str.contains("광고관련")==True]="광고홍보학과"
df.at[third[third.str.contains("광고홍보")==True].index,["학과"]]=third[third.str.contains("광고홍보")==True]

In [532]:
third[third.str.contains("광고홍보")==True]=""

In [533]:
third[third.str.contains("의류")==True]="의류학과"
df.at[third[third.str.contains("의류")==True].index,["학과"]]=third[third.str.contains("의류")==True]

In [534]:
third[third.str.contains("의류")==True]=""

In [535]:
third[third.str.contains("외교통상")==True]="외교통상학과"
df.at[third[third.str.contains("외교통상")==True].index,["학과"]]=third[third.str.contains("외교통상")==True]

In [536]:
third[third.str.contains("외교통상")==True]=""

In [537]:
third[third.str.contains("화학")==True]="화학과"
df.at[third[third.str.contains("화학")==True].index,["학과"]]=third[third.str.contains("화학")==True]

In [538]:
third[third.str.contains("화학")==True]=""

In [539]:
third[third.str.contains("광고")==True]="광고홍보학과"
df.at[third[third.str.contains("광고")==True].index,["학과"]]=third[third.str.contains("광고")==True]

In [540]:
third[third.str.contains("광고")==True]=""

In [541]:
third[third.str.contains("심리")==True]="심리학과"
df.at[third[third.str.contains("심리")==True].index,["학과"]]=third[third.str.contains("심리")==True]

In [542]:
third[third.str.contains("심리")==True]=""

In [543]:
third[third.str.contains("통계")==True]="통계학과"
df.at[third[third.str.contains("통계")==True].index,["학과"]]=third[third.str.contains("통계")==True]

In [544]:
third[third.str.contains("통계")==True]=""

In [545]:
third[third.str.contains("회계")==True]="회계학과"
df.at[third[third.str.contains("회계")==True].index,["학과"]]=third[third.str.contains("회계")==True]

In [546]:
third[third.str.contains("회계")==True]=""

In [549]:
third[third.str.contains("건축공학")==True]=""

In [550]:
third[third.str.contains("건축")==True]="건축학과"
df.at[third[third.str.contains("건축")==True].index,["학과"]]=third[third.str.contains("건축")==True]

In [551]:
third[third.str.contains("건축")==True]=""

In [553]:
third[third.str.contains("\+경영")==True]="언론정보학과"
df.at[third[third.str.contains("언론정보학과")==True].index,["학과"]]=third[third.str.contains("언론정보학과")==True]

In [554]:
third[third.str.contains("언론정보학과")==True]=""

In [555]:
third[third.str.contains("미디어")==True]="미디어학과"
df.at[third[third.str.contains("미디어")==True].index,["학과"]]=third[third.str.contains("미디어")==True]

In [556]:
third[third.str.contains("미디어")==True]=""

In [558]:
third[third.str.contains("언론정보")==True]="언론정보학과"
df.at[third[third.str.contains("언론정보")==True].index,["학과"]]=third[third.str.contains("언론정보")==True]

In [559]:
third[third.str.contains("언론정보")==True]=""

In [560]:
third[third.str.contains("상경")==True]="상경계열학과"
df.at[third[third.str.contains("상경")==True].index,["학과"]]=third[third.str.contains("상경")==True]

In [561]:
third[third.str.contains("상경")==True]=""

In [562]:
third[third.str.contains("중문")==True]="중어중문학과"
df.at[third[third.str.contains("중문")==True].index,["학과"]]=third[third.str.contains("중문")==True]

In [563]:
third[third.str.contains("중문")==True]=""

In [564]:
third[third.str.contains("세포생물학")==True]="세포생물학과"
df.at[third[third.str.contains("세포생물학")==True].index,["학과"]]=third[third.str.contains("세포생물학")==True]

In [565]:
third[third.str.contains("세포생물학")==True]=""

In [567]:
third[third.str.contains("재료공학")==True]="재료공학과"
df.at[third[third.str.contains("재료공학")==True].index,["학과"]]=third[third.str.contains("재료공학")==True]

In [568]:
third[third.str.contains("재료공학")==True]=""

In [569]:
third[third.str.contains("국제무역")==True]="국제무역학과"
df.at[third[third.str.contains("국제무역")==True].index,["학과"]]=third[third.str.contains("국제무역")==True]

In [570]:
third[third.str.contains("국제무역")==True]=""

In [571]:
third[third.str.contains("정치외교학")==True]="정치외교학과"
df.at[third[third.str.contains("정치외교학")==True].index,["학과"]]=third[third.str.contains("정치외교학")==True]

In [572]:
third[third.str.contains("정치외교학")==True]=""

In [573]:
third[third.str.contains("금융")==True]="금융학과"
df.at[third[third.str.contains("금융")==True].index,["학과"]]=third[third.str.contains("금융")==True]

In [574]:
third[third.str.contains("금융")==True]=""

In [577]:
third[third.str.contains("화공")==True]="화학공학과"
df.at[third[third.str.contains("화학공학과")==True].index,["학과"]]=third[third.str.contains("화학공학과")==True]

In [578]:
third[third.str.contains("화학공학과")==True]=""

In [579]:
third[third.str.contains("정치외교")==True]="정치외교학과"
df.at[third[third.str.contains("정치외교")==True].index,["학과"]]=third[third.str.contains("정치외교")==True]

In [580]:
third[third.str.contains("정치외교")==True]=""

In [582]:
third[third.str.contains("복수")==True]=""

In [584]:
third[third.str.contains("복전")==True]=""

In [586]:
third[third.str.contains("부")==True]="경영학과"
df.at[third[third.str.contains("경영학과")==True].index,["학과"]]=third[third.str.contains("경영학과")==True]

In [587]:
third[third.str.contains("경영학과")==True]=""

In [589]:
third[third.str.contains("유")==True]=""

In [591]:
third[third.str.contains("경영")==True]="경영학과"
df.at[third[third.str.contains("경영")==True].index,["학과"]]=third[third.str.contains("경영")==True]

In [592]:
third[third.str.contains("경영")==True]=""

In [594]:
third[third.str.contains("경")==True]=""

In [596]:
third[third.str.contains("석사")==True]=""

In [598]:
third[third.str.contains("2회")==True]=""

In [600]:
third[third.str.contains("외")==True]=""

In [603]:
third[third.str.contains("홍")==True]=""

In [605]:
third.to_csv("123121.txt",encoding='utf-8')

In [610]:
df.to_csv("1.csv",encoding="utf-8")

In [609]:
df["어학"].isnull().sum()

8685