In [1]:
import pandas as pd
import io

In [2]:
raw_df=pd.read_csv("WriteData.csv")

In [3]:
raw_df

,1,2,3
0,한국석유공사 / 설비 / 2020 상반기,"광주전자공업고등학교 / 학점 1.7등급 / 인천 글로벌 숙련 진흥원 5일, 선반, ...",7.한국석유공사\n\n 1. 지원 분야 직무기술서 ‘직무수행 내용’ 중 본인이 가장...
1,CJ제일제당 / Food Sales / 2020 상반기,"중경외시 / 상경계열 / 학점 3.92 / 토익 905, 토스 LV 6 / 봉사활동...",CJ제일제당 및 선택한 직무에 대한 지원동기는 무엇인가요? ① 선택한 직무에 관심을...
2,한국가스안전공사 / LP가스 안전지킴이사업 / 2020 상반기,"제주대학교 / 학점 3.3 / 토익830 / 컴퓨터활용능력1급, 한국사1급",\n1. 한국가스안전공사가 진행하는 사업에 관심을 갖고 공사에 지원한 동기에 대해 ...
3,코레일 / 사무영업 / 2020 상반기,"충남대학교 / 학점 3.87 / 토익 835 / 토론동아리 3년, 컴활1급, 한국사1급","1.공동체의 일원으로서 가장 중요하게 생각하는 가치를 제시하고, 그 가치를 실천했던..."
4,한국기술교육대학교 / 행정 / 2020 상반기,"건국대학교 / 학점 4.0 / 토익 780 / 컴활 1급, 한국사1급","1. 본인이 가진 가장 뛰어난 점과 그렇게 판단한 이유, 고용노동연수원 업무수행에서..."
...,...,...,...
10102,현대자동차 / 영업관리 / 2013 상반기,"상명대학교 / 국제통상학 / 학점 4.3 / 토익 900, HSK 6급 / 해외인턴...",1. 현대자동차에 지원하게 된 동기 또는 해당 직무에 지원하게 된 동기는 무엇입니까...
10103,심팩 / 용접관리 / 2013 상반기,지방전문대 / 공업화학 / 학점 3.06,성격소개\n\n대부분의 사람들이 평가하는 첫인상은 소심하고 내성적인 성격일것이라 생...
10104,"한국전력 / 인턴[송,배전] / 2013 상반기","지거국 / 전자공학 / 학점 3.7 / 토익 900대 / 음악봉사활동, 멘토링 등","[질문 1] 취업이라는 목표 이외에 인생의 큰 목표를 세운 경험, 그 목표를 실현하..."
10105,"한국전력 / 인턴[송,배전] / 2013 상반기","지거국 / 전자공학 / 학점 3.7 / 토익 900 / 음악봉사활동, 멘토링등",한전 자가소개서 양식 500자 12줄 이내\n\n[질문 1] 취업이라는 목표 이외에...
10106,"한국전력 / 인턴[송,배전] / 2013 상반기","지거국 / 전자공학 / 학점 3.7 / 토익 900 / 음악봉사활동, 멘토링등",한전 자가소개서 양식 500자 12줄 이내\n\n[질문 1] 취업이라는 목표 이외에...

In [4]:
df=pd.read_csv("4.csv")

In [5]:
df.drop('Unnamed: 0.1.1.1.1', axis=1, inplace=True)

In [6]:
df.to_csv("realfin.csv",encoding="utf-8")

In [7]:
four=pd.read_csv("sophie20200810.csv",index_col=0)

In [8]:
four

                            3
0                         NaN
1                         NaN
2            컴퓨터활용능력1급, 한국사1급
3       토론동아리 3년, 컴활1급, 한국사1급
4                         NaN
...                       ...
10102                     NaN
10103                     NaN
10104                     NaN
10105                     NaN
10106                     NaN

[10107 rows x 1 columns]

In [9]:
four = four["3"]

In [10]:
four[four.str.contains("Auto CAD 2급")==True]

3552     워드1급, Auto CAD 2급, 한국사 1급
3567     워드1급, Auto CAD 2급, 한국사 1급
Name: 3, dtype: object

In [11]:
df.at[four[four.str.contains("Auto CAD 2급")==True].index,["자격증"]]=four[four.str.contains("Auto CAD 2급")==True]

In [12]:
four[four.str.contains("Auto CAD 2급")==True]=""

In [13]:
four[four.str.contains("중소기업 현장실습")==True]

64     중소기업 현장실습 인턴 (4개월)
95     중소기업 현장실습 인턴 (4개월)
Name: 3, dtype: object

In [14]:
df.at[four[four.str.contains("중소기업 현장실습")==True].index,["경험사항"]]=four[four.str.contains("중소기업 현장실습")==True]

In [15]:
four[four.str.contains("중소기업 현장실습")==True]=""

In [16]:
four[four.str.contains("컴퓨터활용능력1급, 한국사")==True]

2     컴퓨터활용능력1급, 한국사1급
Name: 3, dtype: object

In [17]:
df.at[four[four.str.contains("컴퓨터활용능력1급, 한국사")==True].index,["자격증"]]=four[four.str.contains("컴퓨터활용능력1급, 한국사")==True]

In [18]:
four[four.str.contains("컴퓨터활용능력1급, 한국사")==True]=""

In [19]:
four[four.str.contains("마케팅 인턴 2회")==True]

1966     마케팅 인턴 2회, 동아리 2회
2113     마케팅 인턴 2회, 동아리 2회
Name: 3, dtype: object

In [20]:
df.at[four[four.str.contains("마케팅 인턴 2회")==True].index,["경험사항"]]=four[four.str.contains("마케팅 인턴 2회")==True]

In [21]:
four[four.str.contains("마케팅 인턴 2회")==True]=""

In [22]:
four[four.str.contains("동아리$")==True]

1470               봉사동아리
1487               봉사동아리
4623                 동아리
4649     수상 경력 2회, 봉사동아리
4781                 동아리
9531               봉사동아리
9591               봉사동아리
9624               봉사동아리
9644               봉사동아리
9808               봉사동아리
9926                 동아리
9927                 동아리
Name: 3, dtype: object

In [23]:
df.at[four[four.str.contains("동아리$")==True].index,["경험사항"]]=four[four.str.contains("동아리$")==True]

In [24]:
four[four.str.contains("동아리$")==True]=""

In [25]:
four[four.str.contains("공모전 1회 수상")==True]

4916            공모전 1회 수상
5048            공모전 1회 수상
5069            공모전 1회 수상
5089            공모전 1회 수상
5636            공모전 1회 수상
5668            공모전 1회 수상
5688            공모전 1회 수상
8893     인턴 1회, 공모전 1회 수상
Name: 3, dtype: object

In [26]:
df.at[four[four.str.contains("공모전 1회 수상")==True].index,["경험사항"]]=four[four.str.contains("공모전 1회 수상")==True]

In [27]:
four[four.str.contains("공모전 1회 수상")==True]=""

In [28]:
four[four.str.contains("인턴2, 대외활동2")==True]

8031     인턴2, 대외활동2 (봉사포함), 공모전2
8317     인턴2, 대외활동2 (봉사포함), 공모전2
8337     인턴2, 대외활동2 (봉사포함), 공모전2
Name: 3, dtype: object

In [29]:
df.at[four[four.str.contains("인턴2, 대외활동2")==True].index,["경험사항"]]=four[four.str.contains("인턴2, 대외활동2")==True]

In [30]:
four[four.str.contains("인턴2, 대외활동2")==True]=""

In [31]:
four[four.str.contains("앱 공모전")==True]

9943     앱 공모전 수상
Name: 3, dtype: object

In [32]:
df.at[four[four.str.contains("앱 공모전")==True].index,["경험사항"]]=four[four.str.contains("앱 공모전")==True]

In [33]:
four[four.str.contains("앱 공모전")==True]=""

In [34]:
four[four.str.contains("공모전 2회 수상")==True]

8795     공모전 2회 수상, 연구회 활동 경험 있음, 사업계획서 2회, 인턴, 대외활동
8815     공모전 2회 수상, 연구회 활동 경험 있음, 사업계획서 2회, 인턴, 대외활동
9029     공모전 2회 수상, 연구회 활동 경험 있음, 사업계획서 2회, 인턴, 대외활동
Name: 3, dtype: object

In [35]:
df.at[four[four.str.contains("공모전 2회 수상")==True].index,["경험사항"]]=four[four.str.contains("공모전 2회 수상")==True]

In [36]:
four[four.str.contains("공모전 2회 수상")==True]=""

In [37]:
four[four.str.contains("공모전 2회")==True]

263      교내 연합봉사동아리 2년(부회장 1년), 교내 공모전 2회 참여: 우수상, 인기상...
638      교내 연합봉사동아리 2년(부회장 1년), 교내 공모전 2회 참여: 우수상, 인기상...
640      교내 연합봉사동아리 2년(부회장 1년), 교내 공모전 2회 참여: 우수상, 인기상...
645      교내 연합봉사동아리 2년(부회장 1년), 교내 공모전 2회 참여: 우수상, 인기상...
710      교내 연합봉사동아리 2년(부회장 1년), 교내 공모전 2회 참여: 우수상, 인기상...
714      교내 연합봉사동아리 2년(부회장 1년), 교내 공모전 2회 참여: 우수상, 인기상...
718      교내 연합봉사동아리 2년(부회장 1년), 교내 공모전 2회 참여: 우수상, 인기상...
730      교내 연합봉사동아리 2년(부회장 1년), 교내 공모전 2회 참여: 우수상, 인기상...
734      교내 연합봉사동아리 2년(부회장 1년), 교내 공모전 2회 참여: 우수상, 인기상...
738      교내 연합봉사동아리 2년(부회장 1년), 교내 공모전 2회 참여: 우수상, 인기상...
5023                                        인턴 2회, 공모전 2회
7591                                           공모전 2회, 인턴
7611                                           공모전 2회, 인턴
7663                                           공모전 2회, 인턴
Name: 3, dtype: object

In [38]:
df.at[four[four.str.contains("공모전 2회")==True].index,["경험사항"]]=four[four.str.contains("공모전 2회")==True]

In [39]:
four[four.str.contains("공모전 2회")==True]=""

In [40]:
four[four.str.contains("공모전 10회")==True]

5901     대외활동 20회, 공모전 10회 수상
5921     대외활동 20회, 공모전 10회 수상
6129     대외활동 20회, 공모전 10회 수상
7234           공모전 10회, 인턴 1회
7254           공모전 10회, 인턴 1회
Name: 3, dtype: object

In [41]:
df.at[four[four.str.contains("공모전 10회")==True].index,["경험사항"]]=four[four.str.contains("공모전 10회")==True]

In [42]:
four[four.str.contains("공모전 10회")==True]=""

In [43]:
four[four.str.contains("대학생 기획공모전")==True]

7883     대학생 기획공모전, 농촌 봉사활동, 학교 자치기구 학생회
Name: 3, dtype: object

In [44]:
df.at[four[four.str.contains("대학생 기획공모전")==True].index,["경험사항"]]=four[four.str.contains("대학생 기획공모전")==True]

In [45]:
four[four.str.contains("대학생 기획공모전")==True]=""

In [46]:
four[four.str.contains("단대학생회")==True]

4546     단대학생회, 반도체실무교육, 아르바이트 다수
4700     단대학생회, 반도체실무교육, 아르바이트 다수
4720     단대학생회, 반도체실무교육, 아르바이트 다수
Name: 3, dtype: object

In [47]:
df.at[four[four.str.contains("단대학생회")==True].index,["경험사항"]]=four[four.str.contains("단대학생회")==True]

In [48]:
four[four.str.contains("단대학생회")==True]=""

In [49]:
four[four.str.contains("학생회 4년")==True]

5653     학생회 4년, 스타트업 6개월, 학교 영어
Name: 3, dtype: object

In [50]:
df.at[four[four.str.contains("학생회 4년")==True].index,["경험사항"]]=four[four.str.contains("학생회 4년")==True]

In [51]:
four[four.str.contains("학생회 4년")==True]=""

In [52]:
four[four.str.contains("인턴 1회, 해외봉사 2회,")==True]

3917     인턴 1회, 해외봉사 2회, 통역, 교환학생
4029     인턴 1회, 해외봉사 2회, 통역, 교환학생
4049     인턴 1회, 해외봉사 2회, 통역, 교환학생
Name: 3, dtype: object

In [53]:
df.at[four[four.str.contains("인턴 1회, 해외봉사 2회,")==True].index,["경험사항"]]=four[four.str.contains("인턴 1회, 해외봉사 2회,")==True]

In [54]:
four[four.str.contains("인턴 1회, 해외봉사 2회,")==True]=""

In [55]:
four[four.str.contains("교환학생, 파트타이머")==True]

7310     교환학생, 파트타이머
7348     교환학생, 파트타이머
7368     교환학생, 파트타이머
Name: 3, dtype: object

In [56]:
df.at[four[four.str.contains("교환학생, 파트타이머")==True].index,["경험사항"]]=four[four.str.contains("교환학생, 파트타이머")==True]

In [57]:
four[four.str.contains("교환학생, 파트타이머")==True]=""

In [58]:
four[four.str.contains("물류관리사 자격증")==True]

1672     물류관리사 자격증
1692     물류관리사 자격증
1834     물류관리사 자격증
Name: 3, dtype: object

In [59]:
df.at[four[four.str.contains("물류관리사 자격증")==True].index,["자격증"]]=four[four.str.contains("물류관리사 자격증")==True]

In [60]:
four[four.str.contains("물류관리사 자격증")==True]=""

In [61]:
four[four.str.contains("인턴 1회$")==True]

1901                                       인턴 1회
1921                                       인턴 1회
2035                                       인턴 1회
2055                                       인턴 1회
2248                              대외활동 2회, 인턴 1회
2426                              대외활동 2회, 인턴 1회
2634     TV 예능 프로그램 특파원, 영국 내 한국전쟁 홍보 프로젝트 인턴 1회
2654     TV 예능 프로그램 특파원, 영국 내 한국전쟁 홍보 프로젝트 인턴 1회
2743                                       인턴 1회
2763                                       인턴 1회
2796                                       인턴 1회
2874                                       인턴 1회
2894                                       인턴 1회
2935                                       인턴 1회
3750                                       인턴 1회
3770                                       인턴 1회
3850                                       인턴 1회
5537                                       인턴 1회
5595                                       인턴 1회
5944                                       인턴 1회
6148                                       인턴 1회
6168                                       인턴 1회
7291                                       인턴 1회
9560                                       인턴 1회
9587                                       인턴 1회
9819                                       인턴 1회
Name: 3, dtype: object

In [62]:
df.at[four[four.str.contains("인턴 1회$")==True].index,["경험사항"]]=four[four.str.contains("인턴 1회$")==True]

In [63]:
four[four.str.contains("인턴 1회$")==True]=""

In [64]:
four[four.str.contains("인턴 무,")==True]

5556            봉사 무, 인턴 무, 공모전 1
5576            봉사 무, 인턴 무, 공모전 1
5601            봉사 무, 인턴 무, 공모전 1
9256     인턴 무, 학회 조교, 봉사활동 동아리 참여
9719     인턴 무, 학회 조교, 봉사활동 동아리 참여
9720     인턴 무, 학회 조교, 봉사활동 동아리 참여
Name: 3, dtype: object

In [65]:
df.at[four[four.str.contains("인턴 무,")==True].index,["경험사항"]]=four[four.str.contains("인턴 무,")==True]

In [66]:
four[four.str.contains("인턴 무,")==True]=""

In [67]:
four[four.str.contains("인턴 1회, 봉사")==True]

1713              인턴 1회, 봉사활동 1회
1858              인턴 1회, 봉사활동 1회
4102     인턴 1회, 봉사 많이, 공모전 수상 1회
4122     인턴 1회, 봉사 많이, 공모전 수상 1회
8167              인턴 1회, 봉사활동 2회
Name: 3, dtype: object

In [68]:
df.at[four[four.str.contains("인턴 1회, 봉사")==True].index,["경험사항"]]=four[four.str.contains("인턴 1회, 봉사")==True]

In [69]:
four[four.str.contains("인턴 1회, 봉사")==True]=""

In [70]:
four[four.str.contains("전공 대외활동")==True]

650     전공 대외활동 1회, 전공 관련 교내 동아리 1회
Name: 3, dtype: object

In [71]:
df.at[four[four.str.contains("전공 대외활동")==True].index,["경험사항"]]=four[four.str.contains("전공 대외활동")==True]

In [72]:
four[four.str.contains("전공 대외활동")==True]=""

In [73]:
four[four.str.contains("연구소인턴 2개월")==True]

9932     연구소인턴 2개월
Name: 3, dtype: object

In [74]:
df.at[four[four.str.contains("연구소인턴 2개월")==True].index,["경험사항"]]=four[four.str.contains("연구소인턴 2개월")==True]

In [75]:
four[four.str.contains("연구소인턴 2개월")==True]=""

In [76]:
four[four.str.contains("한국서부발전 체험형")==True]

260     한국서부발전 체험형 인턴 2개월
338     한국서부발전 체험형 인턴 2개월
Name: 3, dtype: object

In [77]:
df.at[four[four.str.contains("한국서부발전 체험형")==True].index,["경험사항"]]=four[four.str.contains("한국서부발전 체험형")==True]

In [78]:
four[four.str.contains("한국서부발전 체험형")==True]=""

In [79]:
four[four.str.contains("대외활동 3회$")==True]

3060     인턴 2회, 대외활동 3회
3363            대외활동 3회
3479            대외활동 3회
8853     인턴 1회, 대외활동 3회
9043     인턴 1회, 대외활동 3회
Name: 3, dtype: object

In [80]:
df.at[four[four.str.contains("대외활동 3회$")==True].index,["경험사항"]]=four[four.str.contains("대외활동 3회$")==True]

In [81]:
four[four.str.contains("대외활동 3회$")==True]=""

In [82]:
four[four.str.contains("대외활동 약")==True]

6331     인턴 1회\n\n봉사 및 대외활동 약 5회
6561     인턴 1회\n\n봉사 및 대외활동 약 5회
Name: 3, dtype: object

In [83]:
df.at[four[four.str.contains("대외활동 및")==True].index,["경험사항"]]=four[four.str.contains("대외활동 및")==True]

In [84]:
four[four.str.contains("대외활동 및")==True]=""

In [85]:
four[four.str.contains("대외활동 2")==True]

1418                           대외활동 2회
1432                           대외활동 2회
1452                           대외활동 2회
1990                    인턴 1회, 대외활동 2회
2129                    인턴 1회, 대외활동 2회
3331     편지번역 봉사, 마케팅 관련 대외활동 2개, 교생실습
3445     편지번역 봉사, 마케팅 관련 대외활동 2개, 교생실습
Name: 3, dtype: object

In [86]:
df.at[four[four.str.contains("대외활동 2")==True].index,["경험사항"]]=four[four.str.contains("대외활동 2")==True]

In [87]:
four[four.str.contains("대외활동 2")==True]=""

In [88]:
four[four.str.contains("현장실습 1")==True]

1660     현장실습 1회, 대외활동 1회, 공모전 수상 1회
1680     현장실습 1회, 대외활동 1회, 공모전 수상 1회
1825     현장실습 1회, 대외활동 1회, 공모전 수상 1회
Name: 3, dtype: object

In [89]:
df.at[four[four.str.contains("현장실습 1")==True].index,["경험사항"]]=four[four.str.contains("현장실습 1")==True]

In [90]:
four[four.str.contains("현장실습 1")==True]=""

In [91]:
four[four.str.contains("교내동아리")==True]

868     교내동아리, 산학연계현장실습(1개월)
Name: 3, dtype: object

In [92]:
df.at[four[four.str.contains("교내동아리")==True].index,["경험사항"]]=four[four.str.contains("교내동아리")==True]

In [93]:
four[four.str.contains("교내동아리")==True]=""

In [94]:
four[four.str.contains("현대오토에버 ")==True]

1624         현대오토에버 채용전제형인턴 (2개월
1706        현대오토에버 채용전제형 인턴 (2개월
1767         현대오토에버 채용전제형인턴 (2개월
1843        현대오토에버 채용전제형 인턴 (2개월
1970     현대오토에버 채용형 인턴(2018 상반기)
2108     현대오토에버 채용형 인턴(2018 상반기)
2217     현대오토에버 채용형 인턴 (2018상반기)
2370     현대오토에버 채용형 인턴 (2018상반기)
Name: 3, dtype: object

In [95]:
df.at[four[four.str.contains("현대오토에버 ")==True].index,["경험사항"]]=four[four.str.contains("현대오토에버 ")==True]

In [96]:
four[four.str.contains("현대오토에버 ")==True]=""

In [97]:
four[four.str.contains("인턴 봉사활동")==True]

8237     인턴 봉사활동 경험 有
8514     인턴 봉사활동 경험 有
8521     인턴 봉사활동 경험 有
Name: 3, dtype: object

In [98]:
df.at[four[four.str.contains("인턴 봉사활동")==True].index,["경험사항"]]=four[four.str.contains("인턴 봉사활동")==True]

In [99]:
four[four.str.contains("인턴 봉사활동")==True]=""

In [100]:
four[four.str.contains("보쉬전장")==True]

10088     보쉬전장 인턴(6개월), 글로벌 무역전문가 양성 사업단(1년 6개월)
Name: 3, dtype: object

In [101]:
df.at[four[four.str.contains("보쉬전장")==True].index,["경험사항"]]=four[four.str.contains("보쉬전장")==True]

In [102]:
four[four.str.contains("보쉬전장")==True]=""

In [103]:
four[four.str.contains("인턴1")==True]

1542                    인턴1회
1562                    인턴1회
2748                    인턴1회
2768                    인턴1회
2907                    인턴1회
2989         인턴1회, 동종업계 경력1년
3009         인턴1회, 동종업계 경력1년
5886                인턴1, 봉사1
5967                     인턴1
6207                     인턴1
6363           인턴1, 증권관련 알바1
6424        인턴1회, 학술대회 우수논문상
6518           인턴1, 증권관련 알바1
6538           인턴1, 증권관련 알바1
6636        인턴1회, 학술대회 우수논문상
6656        인턴1회, 학술대회 우수논문상
7423                    인턴1회
7522                    인턴1회
8017     인턴1회, 대회활동 다수, 상 다수
8557                     인턴1
8577                     인턴1
9293                    인턴1회
Name: 3, dtype: object

In [104]:
df.at[four[four.str.contains("인턴1")==True].index,["경험사항"]]=four[four.str.contains("인턴1")==True]

In [105]:
four[four.str.contains("인턴1")==True]=""

In [106]:
four[four.str.contains("인턴 1회 ,")==True]

7408     인턴 1회 , 정규직 1회
7472     인턴 1회 , 정규직 1회
7492     인턴 1회 , 정규직 1회
Name: 3, dtype: object

In [107]:
df.at[four[four.str.contains("인턴 1회 ,")==True].index,["경험사항"]]=four[four.str.contains("인턴 1회 ,")==True]

In [108]:
four[four.str.contains("인턴 1회 ,")==True]=""

In [109]:
four[four.str.contains("인턴 1회,")==True]

3592                              인턴 1회, 대외활동 다수, 봉사활동 다수
3609                              인턴 1회, 대외활동 다수, 봉사활동 다수
3690                                        인턴 1회, 자격증 보유
3698                              인턴 1회, 동아리, 대외활동, 알바 다수
3753     중소기업 광고직 인턴 1회, 대기업H 광고직 인턴 1회, HSAD 은상 수상, D...
3773     중소기업 광고직 인턴 1회, 대기업H 광고직 인턴 1회, HSAD 은상 수상, D...
3790                               인턴 1회, 해외봉사 1회, 공모전 1회
3803                              인턴 1회, 동아리, 대외활동, 알바 다수
3860     중소기업 광고직 인턴 1회, 대기업H 광고직 인턴 1회, HSAD 은상 수상, D...
3872                               인턴 1회, 해외봉사 1회, 공모전 1회
3880     중소기업 광고직 인턴 1회, 대기업H 광고직 인턴 1회, HSAD 은상 수상, D...
3892                               인턴 1회, 해외봉사 1회, 공모전 1회
4535                                    인턴 1회, 자동차 공모전 1회
5286                                인턴 1회, 해외봉사, 봉사활동 9개월
5431                                인턴 1회, 해외봉사, 봉사활동 9개월
5451                                인턴 1회, 해외봉사, 봉사활동 9개월
5958                                     인턴 1회, 동아리 활동 4개
6182                                     인턴 1회, 동아리 활동 4개
6325                               전자소재연구소 인턴 1회, 대외활동 1회
6804                         인턴 1회, 기타 창업 1회, 창업 관련 수상 2회
7455                                       인턴 1회, 대외활동 다수
7479                                       인턴 1회, 대외활동 다수
7499                                       인턴 1회, 대외활동 다수
8626                                 수상 2회, 인턴 1회, 자격증 2개
Name: 3, dtype: object

In [110]:
df.at[four[four.str.contains("인턴 1회,")==True].index,["경험사항"]]=four[four.str.contains("인턴 1회,")==True]

In [111]:
four[four.str.contains("인턴 1회,")==True]=""

In [112]:
four[four.str.contains("봉사 및 대외활동")==True]

6331     인턴 1회\n\n봉사 및 대외활동 약 5회
6561     인턴 1회\n\n봉사 및 대외활동 약 5회
Name: 3, dtype: object

In [113]:
df.at[four[four.str.contains("봉사 및 대외활동")==True].index,["경험사항"]]=four[four.str.contains("봉사 및 대외활동")==True]

In [114]:
four[four.str.contains("봉사 및 대외활동")==True]=""

In [115]:
four[four.str.contains("봉사 1년, 경")==True]

6941     봉사 1년, 경력 1년
7163     봉사 1년, 경력 1년
Name: 3, dtype: object

In [116]:
df.at[four[four.str.contains("봉사 1년, 경")==True].index,["경험사항"]]=four[four.str.contains("봉사 1년, 경")==True]

In [117]:
four[four.str.contains("봉사 1년, 경")==True]=""

In [118]:
four[four.str.contains("봉사 1$")==True]

7191     봉사 1
7206     봉사 1
7207     봉사 1
Name: 3, dtype: object

In [119]:
df.at[four[four.str.contains("봉사 1$")==True].index,["경험사항"]]=four[four.str.contains("봉사 1$")==True]

In [120]:
four[four.str.contains("봉사 1$")==True]=""

In [121]:
four[four.str.contains("봉사활동 100")==True]

8159      봉사활동 100시간
8422      봉사활동 100시간
8442      봉사활동 100시간
10091     봉사활동 100시간
Name: 3, dtype: object

In [122]:
df.at[four[four.str.contains("봉사활동 100")==True].index,["경험사항"]]=four[four.str.contains("봉사활동 100")==True]

In [123]:
four[four.str.contains("봉사활동 100")==True]=""

In [124]:
four[four.str.contains("봉사활동 다수.")==True]

1591     봉사활동 다수, 공모전 입상 2회
7558               봉사활동 다수.
Name: 3, dtype: object

In [125]:
df.at[four[four.str.contains("봉사활동 다수.")==True].index,["경험사항"]]=four[four.str.contains("봉사활동 다수.")==True]

In [126]:
four[four.str.contains("봉사활동 다수.")==True]=""

In [127]:
four[four.str.contains("봉사활동 다")==True]

6327     봉사활동 다수
Name: 3, dtype: object

In [128]:
df.at[four[four.str.contains("봉사활동 다")==True].index,["경험사항"]]=four[four.str.contains("봉사활동 다")==True]

In [129]:
four[four.str.contains("봉사활동 다")==True]=""

In [130]:
four[four.str.contains("해외봉사활동 ")==True]

7315     해외봉사활동 1회
7380     해외봉사활동 1회
Name: 3, dtype: object

In [131]:
df.at[four[four.str.contains("해외봉사활동 ")==True].index,["경험사항"]]=four[four.str.contains("해외봉사활동 ")==True]

In [132]:
four[four.str.contains("해외봉사활동 ")==True]=""

In [133]:
four[four.str.contains("해외봉사")==True]

23       아프리카 해외봉사 1년, 소상공인 경영지원 프로그램 3개월, 컴퓨터활용능력 1급,...
48       아프리카 해외봉사 1년, 소상공인 경영지원 프로그램 3개월, 컴퓨터활용능력 1급,...
79       아프리카 해외봉사 1년, 소상공인 경영지원 프로그램 3개월, 컴퓨터활용능력 1급,...
90       아프리카 해외봉사 1년, 소상공인 경영지원 프로그램 3개월, 컴퓨터활용능력 1급,...
109      아프리카 해외봉사 1년, 소상공인 경영지원 프로그램 3개월, 컴퓨터활용능력 1급,...
129      아프리카 해외봉사 1년, 소상공인 경영지원 프로그램 3개월, 컴퓨터활용능력 1급,...
280              컴퓨터활용능력 1급, 한국사 1급, 유앤트레블 인턴, 말레이시아 해외봉사
356              컴퓨터활용능력 1급, 한국사 1급, 유앤트레블 인턴, 말레이시아 해외봉사
376              컴퓨터활용능력 1급, 한국사 1급, 유앤트레블 인턴, 말레이시아 해외봉사
384                    말레이시아 해외봉사 유앤트레블 인턴, 컴활 1급, 한국사 1급
451                     말레이시아 해외봉사 유앤트레블 인턴, 컴활1급, 한국사1급
537                     말레이시아 해외봉사 유앤트레블 인턴, 컴활1급, 한국사1급
669        한국사1급, 말레이시아 해외봉사, 컴퓨터활용능력 1급, 일본 해외봉사, 여행사 인턴
1705     차세대 에너지 융합 기술 경진대회 우수상, 전북대학교 문화인재 청년 웅비상, 해외...
1841     차세대 에너지 융합 기술 경진대회 우수상, 전북대학교 문화인재 청년 웅비상, 해외...
1878     차세대 에너지 융합 기술 경진대회 우수상, 전북대학교 문화인재 청년 웅비상, 해외...
2240         공모전 1회, 인턴 0회, 대외활동은 동아리3개, 번역봉사, 해외봉사, 교육봉사
2398         공모전 1회, 인턴 0회, 대외활동은 동아리3개, 번역봉사, 해외봉사, 교육봉사
2418         공모전 1회, 인턴 0회, 대외활동은 동아리3개, 번역봉사, 해외봉사, 교육봉사
2420         공모전 1회, 인턴 0회, 대외활동은 동아리3개, 번역봉사, 해외봉사, 교육봉사
2734          정보처리기사, 금융교육봉사활동(4개월), 금융권대외활동(4개월), 해외봉사활동
2803     차세대 에너지 융합 기술 경진대회 우수상, 전북대학교 문화인재 청년 웅비상, 해외...
2863          정보처리기사, 금융교육봉사활동(4개월), 금융권대외활동(4개월), 해외봉사활동
2883          정보처리기사, 금융교육봉사활동(4개월), 금융권대외활동(4개월), 해외봉사활동
2929     차세대 에너지 융합 기술 경진대회 우수상, 전북대학교 문화인재 청년 웅비상, 해외...
4628                                        하나은행 인턴, 해외봉사
4788                                        하나은행 인턴, 해외봉사
4957                                      해피무브, 캄보디아 해외봉사
4977                                      해피무브, 캄보디아 해외봉사
5127                                      해피무브, 캄보디아 해외봉사
6723                             해외봉사 2회, 국내봉사 2회, 동아리 회장
6962                             해외봉사 2회, 국내봉사 2회, 동아리 회장
9556                                                해외봉사
Name: 3, dtype: object

In [134]:
four[four.str.contains("번역봉사")==True]

2240     공모전 1회, 인턴 0회, 대외활동은 동아리3개, 번역봉사, 해외봉사, 교육봉사
2398     공모전 1회, 인턴 0회, 대외활동은 동아리3개, 번역봉사, 해외봉사, 교육봉사
2418     공모전 1회, 인턴 0회, 대외활동은 동아리3개, 번역봉사, 해외봉사, 교육봉사
2420     공모전 1회, 인턴 0회, 대외활동은 동아리3개, 번역봉사, 해외봉사, 교육봉사
Name: 3, dtype: object

In [135]:
df.at[four[four.str.contains("번역봉사")==True].index,["경험사항"]]=four[four.str.contains("번역봉사")==True]

In [136]:
four[four.str.contains("번역봉사")==True]=""

In [137]:
four[four.str.contains("해피무브,")==True]

4957     해피무브, 캄보디아 해외봉사
4977     해피무브, 캄보디아 해외봉사
5127     해피무브, 캄보디아 해외봉사
Name: 3, dtype: object

In [138]:
df.at[four[four.str.contains("해피무브,")==True].index,["경험사항"]]=four[four.str.contains("해피무브,")==True]

In [139]:
four[four.str.contains("해피무브,")==True]=""

In [140]:
four[four.str.contains("하나은행")==True]

4628     하나은행 인턴, 해외봉사
4788     하나은행 인턴, 해외봉사
Name: 3, dtype: object

In [141]:
df.at[four[four.str.contains("하나은행")==True].index,["경험사항"]]=four[four.str.contains("하나은행")==True]

In [142]:
four[four.str.contains("하나은행")==True]=""

In [143]:
four[four.str.contains("공모전 4")==True]

2186       인턴 2, 봉사 2, 공모전 4
2345       인턴 2, 봉사 2, 공모전 4
5836     창업, 공모전 4회 수상, 인턴 2회
6065     창업, 공모전 4회 수상, 인턴 2회
Name: 3, dtype: object

In [144]:
df.at[four[four.str.contains("공모전 4")==True].index,["경험사항"]]=four[four.str.contains("공모전 4")==True]

In [145]:
four[four.str.contains("공모전 4")==True]=""

In [146]:
four[four.str.contains("봉사활동 1회,")==True]

1885     봉사활동 1회, 공모전 1회
2028     봉사활동 1회, 공모전 1회
2048     봉사활동 1회, 공모전 1회
Name: 3, dtype: object

In [147]:
df.at[four[four.str.contains("봉사활동 1회,")==True].index,["경험사항"]]=four[four.str.contains("봉사활동 1회,")==True]

In [148]:
four[four.str.contains("봉사활동 1회,")==True]=""

In [149]:
four[four.str.contains("봉사활동 경험")==True]

7300     봉사활동 경험 많음 : 노숙자 봉사, 입양어린이 등, 등교내 에세이, 수학경시대회...
7346     봉사활동 경험 많음 : 노숙자 봉사, 입양어린이 등, 등교내 에세이, 수학경시대회...
7366     봉사활동 경험 많음 : 노숙자 봉사, 입양어린이 등, 등교내 에세이, 수학경시대회...
Name: 3, dtype: object

In [150]:
df.at[four[four.str.contains("봉사활동 경험")==True].index,["경험사항"]]=four[four.str.contains("봉사활동 경험")==True]

In [151]:
four[four.str.contains("봉사활동 경험")==True]=""

In [152]:
four[four.str.contains("봉사활동 1")==True]

3547     인턴 3, 봉사활동 1, 공모전 2, 관련아르바이트 1, 동아리 2
3569     인턴 3, 봉사활동 1, 공모전 2, 관련아르바이트 1, 동아리 2
4168                                   봉사활동 1회
4238                                   봉사활동 1회
4258                                   봉사활동 1회
4928                           인턴 2회 , 봉사활동 1회
5078                           인턴 2회 , 봉사활동 1회
5098                           인턴 2회 , 봉사활동 1회
5361                                   봉사활동 1회
5512                                   봉사활동 1회
6904                              봉사활동 1, 인턴 1
8240             모 금융사 영업 및 지역 선관위 인턴, 봉사활동 1회
8476             모 금융사 영업 및 지역 선관위 인턴, 봉사활동 1회
Name: 3, dtype: object

In [153]:
df.at[four[four.str.contains("봉사활동 1")==True].index,["경험사항"]]=four[four.str.contains("봉사활동 1")==True]

In [154]:
four[four.str.contains("봉사활동 1")==True]=""

In [155]:
four[four.str.contains("멘토링 봉사활동 2")==True]

1556     인턴 1년, 멘토링 봉사활동 2회(1년, 6개월)
1576     인턴 1년, 멘토링 봉사활동 2회(1년, 6개월)
1642     인턴 1년, 멘토링 봉사활동 2회(1년, 6개월)
1788     인턴 1년, 멘토링 봉사활동 2회(1년, 6개월)
1808     인턴 1년, 멘토링 봉사활동 2회(1년, 6개월)
1903     인턴 1년, 멘토링 봉사활동 2회(1년, 6개월)
1923     인턴 1년, 멘토링 봉사활동 2회(1년, 6개월)
1996     인턴 1년, 멘토링 봉사활동 2회(1년, 6개월)
2039     인턴 1년, 멘토링 봉사활동 2회(1년, 6개월)
2059     인턴 1년, 멘토링 봉사활동 2회(1년, 6개월)
2134     인턴 1년, 멘토링 봉사활동 2회(1년, 6개월)
2783     인턴 1년, 멘토링 봉사활동 2회(1년, 6개월)
2913     인턴 1년, 멘토링 봉사활동 2회(1년, 6개월)
3367     인턴 1년, 멘토링 봉사활동 2회(1년, 6개월)
3483     인턴 1년, 멘토링 봉사활동 2회(1년, 6개월)
Name: 3, dtype: object

In [156]:
df.at[four[four.str.contains("멘토링 봉사활동 2")==True].index,["경험사항"]]=four[four.str.contains("멘토링 봉사활동 2")==True]

In [157]:
four[four.str.contains("멘토링 봉사활동 2")==True]=""

In [158]:
four[four.str.contains("봉사활동 90")==True]

1974     인턴2회\n\n봉사활동 90시간\n\n대외활동 1회
2117     인턴2회\n\n봉사활동 90시간\n\n대외활동 1회
Name: 3, dtype: object

In [159]:
df.at[four[four.str.contains("봉사활동 90")==True].index,["경험사항"]]=four[four.str.contains("봉사활동 90")==True]

In [160]:
four[four.str.contains("봉사활동 90")==True]=""

In [161]:
four[four.str.contains("봉사활동, 알바")==True]

7443     봉사활동, 알바
7533     봉사활동, 알바
Name: 3, dtype: object

In [162]:
df.at[four[four.str.contains("봉사활동, 알바")==True].index,["경험사항"]]=four[four.str.contains("봉사활동, 알바")==True]

In [163]:
four[four.str.contains("봉사활동, 알바")==True]=""

In [164]:
four[four.str.contains("봉사활동, ")==True]

1393     인턴, 대외활동, 봉사활동, 공모전, 자격증
3706                    봉사활동, 공모전
3808                    봉사활동, 공모전
5029             은행 1회, 봉사활동, 공모전
6353            아르바이트, 봉사활동, 대외활동
6398                봉사활동, 인턴경험 2회
6418                봉사활동, 인턴경험 2회
6541            아르바이트, 봉사활동, 대외활동
6627                봉사활동, 인턴경험 2회
6647                봉사활동, 인턴경험 2회
7756                     봉사활동, 인턴
7783                     봉사활동, 인턴
Name: 3, dtype: object

In [165]:
df.at[four[four.str.contains("봉사활동, ")==True].index,["경험사항"]]=four[four.str.contains("봉사활동, ")==True]

In [166]:
four[four.str.contains("봉사활동, ")==True]=""

In [167]:
four[four.str.contains("봉사활동 3회")==True]

6872     봉사활동 3회
6892     봉사활동 3회
7102     봉사활동 3회
7122     봉사활동 3회
Name: 3, dtype: object

In [168]:
df.at[four[four.str.contains("봉사활동 3회")==True].index,["경험사항"]]=four[four.str.contains("봉사활동 3회")==True]

In [169]:
four[four.str.contains("봉사활동 3회")==True]=""

In [170]:
four[four.str.contains("봉사활동 2년")==True]

3391     봉사활동 2년, 동종업계 정규직 2년
3411     봉사활동 2년, 동종업계 정규직 2년
3509     봉사활동 2년, 동종업계 정규직 2년
3529     봉사활동 2년, 동종업계 정규직 2년
Name: 3, dtype: object

In [171]:
df.at[four[four.str.contains("봉사활동 2년")==True].index,["경험사항"]]=four[four.str.contains("봉사활동 2년")==True]

In [172]:
four[four.str.contains("봉사활동 2년")==True]=""

In [173]:
four[four.str.contains("봉사활동 및")==True]

4101     인턴2, 봉사활동 및 대외활동 다수
4121     인턴2, 봉사활동 및 대외활동 다수
Name: 3, dtype: object

In [174]:
df.at[four[four.str.contains("봉사활동 및")==True].index,["경험사항"]]=four[four.str.contains("봉사활동 및")==True]

In [175]:
four[four.str.contains("봉사활동 및")==True]=""

In [176]:
four[four.str.contains("봉사활동 동행")==True]

7326     인턴 1개월, 대외활동 3, 봉사활동 동행
7390     인턴 1개월, 대외활동 3, 봉사활동 동행
Name: 3, dtype: object

In [177]:
df.at[four[four.str.contains("봉사활동 동행")==True].index,["경험사항"]]=four[four.str.contains("봉사활동 동행")==True]

In [178]:
four[four.str.contains("봉사활동 동행")==True]=""

In [179]:
four[four.str.contains("봉사활동 ,")==True]

7330     산학협력1회, 봉사활동 , NGO활동,
7394     산학협력1회, 봉사활동 , NGO활동,
Name: 3, dtype: object

In [180]:
df.at[four[four.str.contains("봉사활동 ,")==True].index,["경험사항"]]=four[four.str.contains("봉사활동 ,")==True]

In [181]:
four[four.str.contains("봉사활동 ,")==True]=""

In [182]:
four[four.str.contains("봉사활동 3")==True]

3587     인턴3, 대외활동 1, 자격증 2, 봉사활동 3
3603     인턴3, 대외활동 1, 자격증 2, 봉사활동 3
5838                 대외활동 3, 봉사활동 3
6069                 대외활동 3, 봉사활동 3
Name: 3, dtype: object

In [183]:
df.at[four[four.str.contains("봉사활동 3")==True].index,["경험사항"]]=four[four.str.contains("봉사활동 3")==True]

In [184]:
four[four.str.contains("봉사활동 3")==True]=""

In [185]:
four[four.str.contains("봉사활동 2번$")==True]

4935     봉사활동 2번
5108     봉사활동 2번
Name: 3, dtype: object

In [186]:
df.at[four[four.str.contains("봉사활동 2번$")==True].index,["경험사항"]]=four[four.str.contains("봉사활동 2번$")==True]

In [187]:
four[four.str.contains("봉사활동 2번$")==True]=""

In [188]:
four[four.str.contains("봉사활동 2회")==True]

4410     인턴 2회, 봉사활동 2회(해외,국내), 대외활동서포터즈 3회
4433     인턴 2회, 봉사활동 2회(해외,국내), 대외활동서포터즈 3회
Name: 3, dtype: object

In [189]:
df.at[four[four.str.contains("봉사활동 2회")==True].index,["경험사항"]]=four[four.str.contains("봉사활동 2회")==True]

In [190]:
four[four.str.contains("봉사활동 2회")==True]=""

In [191]:
four[four.str.contains("봉사활동 6")==True]

4477     인턴 2회, 대외봉사 및 봉사활동 6회
4497     인턴 2회, 대외봉사 및 봉사활동 6회
Name: 3, dtype: object

In [192]:
df.at[four[four.str.contains("봉사활동 6")==True].index,["경험사항"]]=four[four.str.contains("봉사활동 6")==True]

In [193]:
four[four.str.contains("봉사활동 6")==True]=""

In [194]:
four[four.str.contains("봉사활동 2,")==True]

5580     자격증1, 봉사활동 2, 증권회사 아르바이트
5610     자격증1, 봉사활동 2, 증권회사 아르바이트
Name: 3, dtype: object

In [195]:
df.at[four[four.str.contains("봉사활동 2,")==True].index,["경험사항"]]=four[four.str.contains("봉사활동 2,")==True]

In [196]:
four[four.str.contains("봉사활동 2,")==True]=""

In [197]:
four[four.str.contains(" 봉사활동1")==True]

2666     봉사활동1회, 인턴2회
2690     봉사활동1회, 인턴2회
5865     대외활동1, 봉사활동1
6097     대외활동1, 봉사활동1
Name: 3, dtype: object

In [198]:
df.at[four[four.str.contains(" 봉사활동1")==True].index,["경험사항"]]=four[four.str.contains(" 봉사활동1")==True]

In [199]:
four[four.str.contains(" 봉사활동1")==True]=""

In [200]:
four[four.str.contains("2017 상반기")==True]

92                               한국전력공사 체험형 인턴(2017 상반기)
111                              한국전력공사 체험형 인턴(2017 상반기)
131                              한국전력공사 체험형 인턴(2017 상반기)
145                              한국전력공사 체험형 인턴(2017 상반기)
147                              한국전력공사 체험형 인턴(2017 상반기)
167                              한국전력공사 체험형 인턴(2017 상반기)
172                              한국전력공사 체험형 인턴(2017 상반기)
1881                             한국전력공사 체험형 인턴(2017 상반기)
1895     정부부처 기자단(2015, 2016), 은행 홍보대사(2015~2016), 학과 ...
1971     정부부처 기자단(2015, 2016), 은행 홍보대사(2015~2016), 학과 ...
1981                             한국전력공사 체험형 인턴(2017 상반기)
2037     정부부처 기자단(2015, 2016), 은행 홍보대사(2015~2016), 학과 ...
2057     정부부처 기자단(2015, 2016), 은행 홍보대사(2015~2016), 학과 ...
2102     정부부처 기자단(2015, 2016), 은행 홍보대사(2015~2016), 학과 ...
2119     정부부처 기자단(2015, 2016), 은행 홍보대사(2015~2016), 학과 ...
2120     정부부처 기자단(2015, 2016), 은행 홍보대사(2015~2016), 학과 ...
2123                             한국전력공사 체험형 인턴(2017 상반기)
2155     정부부처 기자단(2015, 2016), 은행 홍보대사(2015~2016), 학과 ...
2175     정부부처 기자단(2015, 2016), 은행 홍보대사(2015~2016), 학과 ...
2325     정부부처 기자단(2015, 2016), 은행 홍보대사(2015~2016), 학과 ...
2488     정부부처 기자단(2015, 2016), 은행 홍보대사(2015~2016), 학과 ...
2800     정부부처 기자단(2015, 2016), 은행 홍보대사(2015~2016), 학과 ...
2802     정부부처 기자단(2015, 2016), 은행 홍보대사(2015~2016), 학과 ...
2811                              한국전력공사체험형 인턴(2017 상반기)
2844                             한국전력공사 체험형 인턴(2017 상반기)
2928     정부부처 기자단(2015, 2016), 은행 홍보대사(2015~2016), 학과 ...
2934     정부부처 기자단(2015, 2016), 은행 홍보대사(2015~2016), 학과 ...
2942                              한국전력공사체험형 인턴(2017 상반기)
2976                             한국전력공사 체험형 인턴(2017 상반기)
3113     정부부처 기자단(2015, 2016), 은행 홍보대사(2015~2016), 학과 ...
3121                             한국전력공사 체험형 인턴(2017 상반기)
3209     정부부처 기자단(2015, 2016), 은행 홍보대사(2015~2016), 학과 ...
3323     정부부처 기자단(2015, 2016), 은행 홍보대사(2015~2016), 학과 ...
3352                             한국전력공사 체험형 인턴(2017 상반기)
3392                             한국전력공사 체험형 인턴(2017 상반기)
3412                             한국전력공사 체험형 인턴(2017 상반기)
3433     정부부처 기자단(2015, 2016), 은행 홍보대사(2015~2016), 학과 ...
3465                             한국전력공사 체험형 인턴(2017 상반기)
3510                             한국전력공사 체험형 인턴(2017 상반기)
3530                             한국전력공사 체험형 인턴(2017 상반기)
Name: 3, dtype: object

In [201]:
df.at[four[four.str.contains("2017 상반기")==True].index,["경험사항"]]=four[four.str.contains("2017 상반기")==True]

In [202]:
four[four.str.contains("2017 상반기")==True]=""

In [203]:
four[four.str.contains("지원 당시")==True]

1595     지원 당시 회사 재직중(현대경제연구원 2016년~)
1736     지원 당시 회사 재직중(현대경제연구원 2016년~)
Name: 3, dtype: object

In [204]:
df.at[four[four.str.contains("지원 당시")==True].index,["경험사항"]]=four[four.str.contains("지원 당시")==True]

In [205]:
four[four.str.contains("지원 당시")==True]=""

In [206]:
four[four.str.contains("네이버")==True]

1992     네이버 인턴
2131     네이버 인턴
Name: 3, dtype: object

In [207]:
df.at[four[four.str.contains("네이버")==True].index,["경험사항"]]=four[four.str.contains("네이버")==True]

In [208]:
four[four.str.contains("네이버")==True]=""

In [209]:
four[four.str.contains("이코르")==True]

2003     이코르 동아리 1기 활동(11개월)
2141     이코르 동아리 1기 활동(11개월)
2161     이코르 동아리 1기 활동(11개월)
Name: 3, dtype: object

In [210]:
df.at[four[four.str.contains("이코르")==True].index,["경험사항"]]=four[four.str.contains("이코르")==True]

In [211]:
four[four.str.contains("이코르")==True]=""

In [212]:
four[four.str.contains("연구원 4")==True]

2190     연구원 4개월 인턴, 삼성 파운더리 사업부 체험의 장
2350     연구원 4개월 인턴, 삼성 파운더리 사업부 체험의 장
Name: 3, dtype: object

In [213]:
df.at[four[four.str.contains("연구원 4")==True].index,["경험사항"]]=four[four.str.contains("연구원 4")==True]

In [214]:
four[four.str.contains("연구원 4")==True]=""

In [215]:
four[four.str.contains("- 연구원 ")==True]

4158     경력 - 연구원 인턴 4개월, 경영지원 3개월, 사무보조 3개월\n\n수상 - 공...
4233     경력 - 연구원 인턴 4개월, 경영지원 3개월, 사무보조 3개월\n\n수상 - 공...
4253     경력 - 연구원 인턴 4개월, 경영지원 3개월, 사무보조 3개월\n\n수상 - 공...
Name: 3, dtype: object

In [216]:
df.at[four[four.str.contains("- 연구원 ")==True].index,["경험사항"]]=four[four.str.contains("- 연구원 ")==True]

In [217]:
four[four.str.contains("- 연구원 ")==True]=""

In [218]:
four[four.str.contains("교내 리모델링")==True]

1582     교내 리모델링 연구단, 학부생 인턴 8개월, 한국건설관리협회 원가관리 경진대회 장...
1724     교내 리모델링 연구단, 학부생 인턴 8개월, 한국건설관리협회 원가관리 경진대회 장...
1877     교내 리모델링 연구단, 학부생 인턴 8개월, 한국건설관리협회 원가관리 경진대회 장...
1949     교내 리모델링 연구단, 학부생 인턴 8개월, 한국건설관리협회 원가관리 경진대회 장...
2088     교내 리모델링 연구단, 학부생 인턴 8개월, 한국건설관리협회 원가관리 경진대회 장...
2196     교내 리모델링 연구단, 학부생 인턴 8개월, 한국건설관리협회 원가관리 경진대회 장...
2272     교내 리모델링 연구단, 학부생 인턴 8개월, 한국건설관리협회 원가관리 경진대회 장...
2292     교내 리모델링 연구단, 학부생 인턴 8개월, 한국건설관리협회 원가관리 경진대회 장...
2356     교내 리모델링 연구단, 학부생 인턴 8개월, 한국건설관리협회 원가관리 경진대회 장...
2447     교내 리모델링 연구단, 학부생 인턴 8개월, 한국건설관리협회 원가관리 경진대회 장...
Name: 3, dtype: object

In [219]:
df.at[four[four.str.contains("교내 리모델링")==True].index,["경험사항"]]=four[four.str.contains("교내 리모델링")==True]

In [220]:
four[four.str.contains("교내 리모델링")==True]=""

In [221]:
four[four.str.contains("위험물산업기사, 수질")==True]

1021     위험물산업기사, 수질환경기사, 대기환경기사
2309     위험물산업기사, 수질환경기사, 대기환경기사
2467     위험물산업기사, 수질환경기사, 대기환경기사
Name: 3, dtype: object

In [222]:
df.at[four[four.str.contains("위험물산업기사, 수질")==True].index,["자격증"]]=four[four.str.contains("위험물산업기사, 수질")==True]

In [223]:
four[four.str.contains("위험물산업기사, 수질")==True]=""

In [224]:
four[four.str.contains("사업부")==True]

9955     한솔PNS IT 서비스 사업부 인턴 2개월, 앱 개발 동아리, 이화앱센터 안드로이...
Name: 3, dtype: object

In [225]:
df.at[four[four.str.contains("사업부")==True].index,["경험사항"]]=four[four.str.contains("사업부")==True]

In [226]:
four[four.str.contains("사업부")==True]=""

In [227]:
four[four.str.contains("인턴경험")==True]

3100     인턴경험 없음, 대외활동, 동아리 경험 있음
3203     인턴경험 없음, 대외활동, 동아리 경험 있음
7786                      인턴경험 1회
Name: 3, dtype: object

In [228]:
df.at[four[four.str.contains("인턴경험")==True].index,["경험사항"]]=four[four.str.contains("인턴경험")==True]

In [229]:
four[four.str.contains("인턴경험")==True]=""

In [230]:
four[four.str.contains("일반")==True]

71                       교내 캡스톤디자인 경진대회 2등, 한국사1급, 일반기계기사
98                       교내 캡스톤디자인 경진대회 2등, 한국사1급, 일반기계기사
221                          일반기계기사, 농촌진흥청 현장실습(2015 상반기)
227      교내 봉사동아리 회장, 프랜차이즈 아르바이트 4년, 한국사 1급, 일반기계기사, ...
241                          일반기계기사, 농촌진흥청 현장실습(2015 상반기)
247      교내 봉사동아리 회장, 프랜차이즈 아르바이트 4년, 한국사 1급, 일반기계기사, ...
272                             일반기계기사, 한국사1급, 자작자동차대회 수상
273                             자작자동차대회 수상, 일반기계기사, 한국사1급
274                             자작자동차대회 수상, 일반기계기사, 한국사1급
277                                                일반기계기사
315      교내 봉사동아리 회장, 프랜차이즈 아르바이트 4년, 한국사 1급, 일반기계기사, ...
316                          일반기계기사, 농촌진흥청 현장실습(2015 상반기)
345                             일반기계기사, 한국사1급, 자작자동차대회 수상
350                             자작자동차대회 수상, 일반기계기사, 한국사1급
352                             자작자동차대회 수상, 일반기계기사, 한국사1급
353                                                일반기계기사
365                             일반기계기사, 한국사1급, 자작자동차대회 수상
370                             자작자동차대회 수상, 일반기계기사, 한국사1급
372                             자작자동차대회 수상, 일반기계기사, 한국사1급
373                                                일반기계기사
412                                                일반기계기사
427                             자작자동차대회 수상, 일반기계기사, 한국사1급
446                             자작자동차대회 수상, 일반기계기사, 한국사1급
507                             자작자동차대회 수상, 일반기계기사, 한국사1급
532                             자작자동차대회 수상, 일반기계기사, 한국사1급
1023                    교내 캡스톤디자인 경진대회 2등, 한국사 1급, 일반기계기사
1040                    교내 캡스톤디자인 경진대회 2등, 한국사 1급, 일반기계기사
1106                     교내 캡스톤디자인 경진대회 2등, 한국사1급, 일반기계기사
1128                    교내 캡스톤디자인 경진대회 2등, 한국사 1급, 일반기계기사
1182                     교내 캡스톤디자인 경진대회 2등, 한국사1급, 일반기계기사
1202                     교내 캡스톤디자인 경진대회 2등, 한국사1급, 일반기계기사
1278                         농촌진흥청 현장실습(2015 상반기), 일반기계기사
1378                         농촌진흥청 현장실습(2015 상반기), 일반기계기사
1559                                      일반기계기사, 식스시그마GB
1579                                      일반기계기사, 식스시그마GB
1726                                      일반기계기사, 식스시그마GB
2795                                               일반기계기사
2931                                               일반기계기사
3137                         농촌진흥청 현장실습(2015 상반기), 일반기계기사
3232                         농촌진흥청 현장실습(2015 상반기), 일반기계기사
Name: 3, dtype: object

In [231]:
df.at[four[four.str.contains("일반")==True].index,["자격증"]]=four[four.str.contains("일반")==True]

In [232]:
four[four.str.contains("일반")==True]=""

In [233]:
four[four.str.contains("한국전력공사")==True]

20       한국전력공사 체험형 인턴(2019 상반기 2주), 국민건강보험공단 체험형 인턴 (...
44       한국전력공사 체험형 인턴(2019 상반기 2주), 국민건강보험공단 체험형 인턴 (...
229                              한국전력공사 체험형 인턴 (2019상반기)
249                              한국전력공사 체험형 인턴 (2019상반기)
266                              한국전력공사 체험형 인턴 (2019상반기)
278                              한국전력공사 체험형 인턴 (2019상반기)
319                              한국전력공사 체험형 인턴 (2019상반기)
336                              한국전력공사 체험형 인턴 (2019상반기)
351                              한국전력공사 체험형 인턴 (2019상반기)
371                              한국전력공사 체험형 인턴 (2019상반기)
466      한국전력공사 체험형 인턴(2019 상반기 2주), 국민건강보험공단 체험형 인턴 (...
486      한국전력공사 체험형 인턴(2019 상반기 2주), 국민건강보험공단 체험형 인턴 (...
516      한국전력공사 체험형 인턴(2019 상반기 2주), 국민건강보험공단 체험형 인턴 (...
558      한국전력공사 체험형 인턴(2019 상반기 2주), 국민건강보험공단 체험형 인턴 (...
873      한국전력공사 체험형인턴(2019상반기), 한국수력원자력 체험형인턴(2019 하반기...
942      한국전력공사 체험형인턴(2019상반기), 한국수력원자력 체험형인턴(2019 하반기...
962      한국전력공사 체험형인턴(2019상반기), 한국수력원자력 체험형인턴(2019 하반기...
1055     한국전력공사 체험형인턴(2019상반기), 한국수력원자력 체험형인턴(2019하반기)...
1118     한국전력공사 체험형인턴(2019상반기), 한국수력원자력 체험형인턴(2019하반기)...
1144     한국전력공사 체험형인턴(2019상반기), 한국수력원자력 체험형인턴(2019하반기)...
1189     한국전력공사 체험형인턴(2019상반기), 한국수력원자력 체험형인턴(2019하반기)...
1209     한국전력공사 체험형인턴(2019상반기), 한국수력원자력 체험형인턴(2019하반기)...
1297     컴퓨터활용능력 1급, 한국사 1급, 한국전력공사 체험형 인턴 (2019 상반기 2...
1385     컴퓨터활용능력 1급, 한국사 1급, 한국전력공사 체험형 인턴 (2019 상반기 2...
1386     컴퓨터활용능력 1급, 한국사 1급, 한국전력공사 체험형 인턴 (2019 상반기 2...
Name: 3, dtype: object

In [234]:
df.at[four[four.str.contains("한국전력공사")==True].index,["자격증"]]=four[four.str.contains("한국전력공사")==True]

In [235]:
four[four.str.contains("한국전력공사")==True]=""

In [236]:
four[four.str.contains("광주문화")==True]

2834     광주문화재단 인턴2개월, 마케팅회사 근무 1년 6개월
2964     광주문화재단 인턴2개월, 마케팅회사 근무 1년 6개월
Name: 3, dtype: object

In [237]:
df.at[four[four.str.contains("광주문화")==True].index,["경험사항"]]=four[four.str.contains("광주문화")==True]

In [238]:
four[four.str.contains("광주문화")==True]=""

In [239]:
four[four.str.contains("광주")==True]

7219     2015광주하계유니버시아드 IT공모전 동상, 제8회 이브와 ICT 멘토링 동상, ...
7220     2015광주하계유니버시아드 IT공모전 동상, 제8회 이브와 ICT 멘토링 동상, ...
Name: 3, dtype: object

In [240]:
df.at[four[four.str.contains("광주")==True].index,["경험사항"]]=four[four.str.contains("광주")==True]

In [241]:
four[four.str.contains("광주")==True]=""

In [242]:
four[four.str.contains("러시아")==True]

3020     러시아 모스크바 국립 언어 대학교 교환학생, 중소기업청 주최 카자흐스탄 알마티 미...
Name: 3, dtype: object

In [243]:
df.at[four[four.str.contains("러시아")==True].index,["경험사항"]]=four[four.str.contains("러시아")==True]

In [244]:
four[four.str.contains("러시아")==True]=""

In [245]:
four[four.str.contains("수상경력")==True]

3022                 수상경력 3회
3140                 수상경력 3회
3160                 수상경력 3회
3240                 수상경력 3회
3315     공모전 수상경력 1회, 동아리 활동
3439     공모전 수상경력 1회, 동아리 활동
Name: 3, dtype: object

In [246]:
df.at[four[four.str.contains("수상경력")==True].index,["경험사항"]]=four[four.str.contains("수상경력")==True]

In [247]:
four[four.str.contains("수상경력")==True]=""

In [248]:
four[four.str.contains("공학사")==True]

91      공학사 우등졸업상, 졸업작품 우수상, 교외 창의적 아이디어 공모전 우수상((주)아...
110     공학사 우등졸업상, 졸업작품 우수상, 교외 창의적 아이디어 공모전 우수상((주)아...
130     공학사 우등졸업상, 졸업작품 우수상, 교외 창의적 아이디어 공모전 우수상((주)아...
Name: 3, dtype: object

In [249]:
df.at[four[four.str.contains("공학사")==True].index,["자격증"]]=four[four.str.contains("공학사")==True]

In [250]:
four[four.str.contains("공학사")==True]=""

In [251]:
four[four.str.contains("창업동아리")==True]

922      교내 창업동아리(1년), 에너지인력양성사업(1년), 해외취업프론티어(6개월), 기...
1008     교내 창업동아리(1년), 에너지인력양성사업(1년), 해외취업프론티어(6개월), 기...
3358     교내 창업동아리(1년), 에너지인력양성사업(1년), 해외취업프론티어(6개월), 기...
3475     교내 창업동아리(1년), 에너지인력양성사업(1년), 해외취업프론티어(6개월), 기...
Name: 3, dtype: object

In [252]:
df.at[four[four.str.contains("창업동아리")==True].index,["자격증"]]=four[four.str.contains("창업동아리")==True]

In [253]:
four[four.str.contains("창업동아리")==True]=""

In [254]:
four[four.str.contains("x")==True]

6266     x
6286     x
6496     x
Name: 3, dtype: object

In [255]:
df.at[four[four.str.contains("x")==True].index,["경험사항"]]=four[four.str.contains("x")==True]

In [256]:
four[four.str.contains("x")==True]=""

In [257]:
four[four.str.contains("X")==True]

777      X
787      X
3031      X
3156      X
3176      X
3260      X
3280      X
3990     X
4010     X
4095     X
Name: 3, dtype: object

In [258]:
df.at[four[four.str.contains("X")==True].index,["경험사항"]]=four[four.str.contains("X")==True]

In [259]:
four[four.str.contains("X")==True]=""

In [260]:
four[four.str.contains("토목기사")==True]

6        토목기사 자격증, 한국사 1급 자격증, 컴퓨터활용능력 1급 자격증, 대학교 내 튜...
7        토목기사 자격증, 한국사 1급 자격증, 컴퓨터활용능력 1급 자격증, 대학교 내 튜...
193                         컴퓨터활용능력 1급, 한국사능력검정 2급, 토목기사
200                         컴퓨터활용능력 1급, 한국사능력검정 2급, 토목기사
287                         컴퓨터활용능력 1급, 한국사능력검정 2급, 토목기사
354                         컴퓨터활용능력 1급, 한국사능력검정 2급, 토목기사
374                         컴퓨터활용능력 1급, 한국사능력검정 2급, 토목기사
426      토목기사 자격증, 한국사 1급 자격증, 컴퓨터활용능력 1급 자격증, 대학교 내 튜...
471                         컴퓨터활용능력 1급, 한국사능력검정 2급, 토목기사
491                         컴퓨터활용능력 1급, 한국사능력검정 2급, 토목기사
510      토목기사 자격증, 한국사 1급 자격증, 컴퓨터활용능력 1급 자격증, 대학교 내 튜...
559                         컴퓨터활용능력 1급, 한국사능력검정 2급, 토목기사
3114     컴퓨터활용능력 1급, 토목기사, 건설안전기사, 한국사1급, 코레일 인턴(2016년...
3210     컴퓨터활용능력 1급, 토목기사, 건설안전기사, 한국사1급, 코레일 인턴(2016년...
Name: 3, dtype: object

In [261]:
df.at[four[four.str.contains("토목기사")==True].index,["자격증"]]=four[four.str.contains("토목기사")==True]

In [262]:
four[four.str.contains("토목기사")==True]=""

In [263]:
four[four.str.contains("컴퓨터")==True]

5                                              컴퓨터활용능력 2급
19                                     컴퓨터활용능력 1급, 한국사 1급
23       아프리카 해외봉사 1년, 소상공인 경영지원 프로그램 3개월, 컴퓨터활용능력 1급,...
27                                     컴퓨터활용능력 1급, 한국사 1급
33       국민건강보험공단 체험형 인턴(2019 하반기), 관공서 아르바이트 1회, 컴퓨터활...
                              ...
3169                                           컴퓨터활용능력 2급
3207     컴퓨터활용능력1급, 워드프로세서1급, KBS한국어 3+, 한국사2급, 학생회 총무...
3223     교내 봉사동아리 회장 (12개월), 해외 인턴(Lanchid) (1개월), 증권사...
3246                                           컴퓨터활용능력 2급
5715     헌혈 30회, 기계가공 기능장, 기계설계산업기사, 컴퓨터응용가공산업기사, 기계정비...
Name: 3, Length: 255, dtype: object

In [264]:
df.at[four[four.str.contains("컴퓨터")==True].index,["자격증"]]=four[four.str.contains("컴퓨터")==True]

In [265]:
four[four.str.contains("컴퓨터")==True]=""

In [266]:
four[four.str.contains("기사")==True]

14       정보처리기사,  ICT 프로젝트 인턴십 (2017년 하반기), 태화기독교사회복지관...
41       정보처리기사,  ICT 프로젝트 인턴십 (2017년 하반기), 태화기독교사회복지관...
198              전기기사, 전기공사기사, 교내봉사단 1년, 한국어1급, 실용글쓰기 준2급
207                     교내봉사단 1년, 전기기사, 전기공사기사, 실용글쓰기 준2급
223      정보통신기사, 무선설비기사, 한국사 1급, 임베디드 연구실 작품활동 1년, 교내 ...
                              ...
4398                                   인턴 1회\n\n기사 자격증 1개
4430                                   인턴 1회\n\n기사 자격증 1개
4441                                   인턴 1회\n\n기사 자격증 1개
5977                                   전공관련 기사 2개, 공모전 1회
6196                                   전공관련 기사 2개, 공모전 1회
Name: 3, Length: 121, dtype: object

In [267]:
df.at[four[four.str.contains("기사")==True].index,["자격증"]]=four[four.str.contains("기사")==True]

In [268]:
four[four.str.contains("기사")==True]=""

In [269]:
four[four.str.contains("한국사")==True]

3                                   토론동아리 3년, 컴활1급, 한국사1급
8                               교환학생, 교내대의원, 한국사능력검정시험 1급
16       워드프로세서 1급, 유통관리사 2급, 한국사능력검정 1급, 투자 동아리 (3년),...
22                                           한국사능력검정시험 1급
26       삼성생명 금융영업전문가 과정, KT&G 상상발룬티어 (6개월), 국민연금 대학생 ...
42       삼성생명 금융영업전문가 과정, KT&G 상상발룬티어 (6개월), 국민연금 대학생 ...
52                                           한국사능력검정시험 1급
85                                   관련 직무 경력 4년, 한국사능력1급
104                                  관련 직무 경력 4년, 한국사능력1급
112           자전거, 워드프로세서 3급,  한국사 3급, 1종보통면허, 소방안전관리자 2급
124                                  관련 직무 경력 4년, 한국사능력1급
132           자전거, 워드프로세서 3급,  한국사 3급, 1종보통면허, 소방안전관리자 2급
156                    활용능력 1급, 한국사능력검정시험 1급, 매일경제Test 우수
182                    활용능력 1급, 한국사능력검정시험 1급, 매일경제Test 우수
202      컴활 2급, 정보처리기능사, 한국사 1급, 2018년 학과 학생회장, 2019년 ...
288                                      학교 교지편집부, 한국사 1급
359                                      학교 교지편집부, 한국사 1급
379                                      학교 교지편집부, 한국사 1급
384                    말레이시아 해외봉사 유앤트레블 인턴, 컴활 1급, 한국사 1급
393                             사기업 정규직 경력 4년 9개월, 한국사 1급
403                             사기업 정규직 경력 4년 9개월, 한국사 1급
440                                      학교 교지편집부, 한국사 1급
451                     말레이시아 해외봉사 유앤트레블 인턴, 컴활1급, 한국사1급
452      컴활 2급, 정보처리기능사, 한국사 1급, 2018년 학과 학생회장, 2019년 ...
467                                           컴활1급, 한국사2급
472                             사기업 정규직 경력 4년 9개월, 한국사 1급
487                                           컴활1급, 한국사2급
492                             사기업 정규직 경력 4년 9개월, 한국사 1급
524                                      학교 교지편집부, 한국사 1급
536      컴활 2급, 정보처리기능사, 한국사 1급, 2018년 학과 학생회장, 2019년 ...
537                     말레이시아 해외봉사 유앤트레블 인턴, 컴활1급, 한국사1급
651      워드프로세서 1급, 유통관리사 2급, 한국사능력검정 1급, 투자 동아리 (3년),...
664                           관련 직무 경력 (4년), 한국사능력검정시험 1급
667                             교환학생, 교내대의원, 한국사능력검정시험 1급
755                             교환학생, 교내대의원, 한국사능력검정시험 1급
756                           관련 직무 경력 (4년), 한국사능력검정시험 1급
764                                      학교 교지편집부, 한국사 1급
768                             교환학생, 교내대의원, 한국사능력검정시험 1급
1599                            관련 직무 경력 4년, 한국사능력검정시험 1급
1742                            관련 직무 경력 4년, 한국사능력검정시험 1급
1968                            사기업 정규직 경력 4년 9개월, 한국사 1급
2106                            사기업 정규직 경력 4년 9개월, 한국사 1급
2739                       한국마사회 청년인턴(2017하반기), 컴활1 ,한국사1
3107                       한국마사회 청년인턴(2017하반기), 컴활1 ,한국사1
3215                       한국마사회 청년인턴(2017하반기), 컴활1 ,한국사1
6387     농협중앙회 인턴(1개월), 농촌봉사활동(1회), 비영리재단 서포터즈(2회), 유통...
6407     농협중앙회 인턴(1개월), 농촌봉사활동(1회), 비영리재단 서포터즈(2회), 유통...
6554     농협중앙회 인턴(1개월), 농촌봉사활동(1회), 비영리재단 서포터즈(2회), 유통...
6616     농협중앙회 인턴(1개월), 농촌봉사활동(1회), 비영리재단 서포터즈(2회), 유통...
Name: 3, dtype: object

In [270]:
df.at[four[four.str.contains("한국사")==True].index,["자격증"]]=four[four.str.contains("한국사")==True]

In [271]:
four[four.str.contains("한국사")==True]=""

In [272]:
four[four.str.contains("은행")==True]

5907     대외활동 4개, 헌혈15번, 은행권 인턴
5927     대외활동 4개, 헌혈15번, 은행권 인턴
6139     대외활동 4개, 헌혈15번, 은행권 인턴
Name: 3, dtype: object

In [273]:
df.at[four[four.str.contains("은행")==True].index,["경험사항"]]=four[four.str.contains("은행")==True]

In [274]:
four[four.str.contains("은행")==True]=""

In [275]:
four[four.str.contains("컴활")==True]

39       컴활 2급, 마사회 인턴 1회(2019 상반기), 사기업 행정인턴 2회(2019 ...
60       컴활 2급, 마사회 인턴 1회(2019 상반기), 사기업 행정인턴 2회(2019 ...
77       컴활 2급, 마사회 인턴 1회(2019 상반기), 사기업 행정인턴 2회(2019 ...
101      컴활 2급, 마사회 인턴 1회(2019 상반기), 사기업 행정인턴 2회(2019 ...
121      컴활 2급, 마사회 인턴 1회(2019 상반기), 사기업 행정인턴 2회(2019 ...
295      학부연구생 1년, 한국철도공사 인턴 2달, 컴활1급, 워드1급, MOS MASTE...
383      학부연구생 1년, 한국철도공사 인턴 2달, 컴활1급, 워드1급, MOS MASTE...
540      학부연구생 1년, 한국철도공사 인턴 2달, 컴활1급, 워드1급, MOS MASTE...
562      학부연구생 1년, 한국철도공사 인턴 2달, 컴활1급, 워드1급, MOS MASTE...
625                  교내 연구실 활동(9개월), 워드 1급, 컴활 2급, 위험물기능사
627      학부연구생 1년, 한국철도공사 인턴 2달, 컴활1급, 워드1급, MOS MASTE...
708      학부연구생 1년, 한국철도공사 인턴 2달, 컴활1급, 워드1급, MOS MASTE...
728      학부연구생 1년, 한국철도공사 인턴 2달, 컴활1급, 워드1급, MOS MASTE...
833      학부연구생 1년, 한국철도공사 인턴 2달, 컴활1급, 워드1급, MOS MASTE...
853      학부연구생 1년, 한국철도공사 인턴 2달, 컴활1급, 워드1급, MOS MASTE...
884      학부연구생 1년, 한국철도공사 인턴 2달, 컴활1급, 워드1급, MOS MASTE...
920      학부연구생 1년, 한국철도공사 인턴 2달, 컴활1급, 워드1급, MOS MASTE...
929      학부연구생 1년, 한국철도공사 인턴 2달, 컴활1급, 워드1급, MOS MASTE...
957      학부연구생 1년, 한국철도공사 인턴 2달, 컴활1급, 워드1급, MOS MASTE...
977      학부연구생 1년, 한국철도공사 인턴 2달, 컴활1급, 워드1급, MOS MASTE...
1011     학부연구생 1년, 한국철도공사 인턴 2달, 컴활1급, 워드1급, MOS MASTE...
1030     학부연구생 1년, 한국철도공사 인턴 2달, 컴활1급, 워드1급, MOS MASTE...
1105     학부연구생 1년, 한국철도공사 인턴 2달, 컴활1급, 워드1급, MOS MASTE...
1181     학부연구생 1년, 한국철도공사 인턴 2달, 컴활1급, 워드1급, MOS MASTE...
1201     학부연구생 1년, 한국철도공사 인턴 2달, 컴활1급, 워드1급, MOS MASTE...
1231     학부연구생 1년, 한국철도공사 인턴 2달, 컴활1급, 워드1급, MOS MASTE...
1244     학부연구생 1년, 한국철도공사 인턴 2달, 컴활1급, 워드1급, MOS MASTE...
1273     학부연구생 1년, 한국철도공사 인턴 2달, 컴활1급, 워드1급, MOS MASTE...
1282     학부연구생 1년, 한국철도공사 인턴 2달, 컴활1급, 워드1급, MOS MASTE...
1285     학부연구생 1년, 한국철도공사 인턴 2달, 컴활1급, 워드1급, MOS MASTE...
1295     학부연구생 1년, 한국철도공사 인턴 2달, 컴활1급, 워드1급, MOS MASTE...
1315     학부연구생 1년, 한국철도공사 인턴 2달, 컴활1급, 워드1급, MOS MASTE...
1335     학부연구생 1년, 한국철도공사 인턴 2달, 컴활1급, 워드1급, MOS MASTE...
1360     학부연구생 1년, 한국철도공사 인턴 2달, 컴활1급, 워드1급, MOS MASTE...
1371     학부연구생 1년, 한국철도공사 인턴 2달, 컴활1급, 워드1급, MOS MASTE...
1373     학부연구생 1년, 한국철도공사 인턴 2달, 컴활1급, 워드1급, MOS MASTE...
Name: 3, dtype: object

In [276]:
df.at[four[four.str.contains("컴활")==True].index,["자격증"]]=four[four.str.contains("컴활")==True]

In [277]:
four[four.str.contains("컴활")==True]=""

In [278]:
four[four.str.contains("현대")==True]

3120     현대자동차 인턴
Name: 3, dtype: object

In [279]:
df.at[four[four.str.contains("현대")==True].index,["경험사항"]]=four[four.str.contains("현대")==True]

In [280]:
four[four.str.contains("현대")==True]=""

In [281]:
four[four.str.contains("2급")==True]

215     유통관리사2급, 운전면허2종보통, 마사회 체험형인턴, 모두투어 네트워크 채용연계형 인턴
304     유통관리사2급, 운전면허2종보통, 마사회 체험형인턴, 모두투어 네트워크 채용연계형 인턴
325             사기업 경력 6년 10개월(영업관리), ERP 회계2급, ERP 인사2급
392             사기업 경력 6년 10개월(영업관리), ERP 회계2급, ERP 인사2급
473     유통관리사2급, 운전면허2종보통, 마사회 체험형인턴, 모두투어 네트워크 채용연계형 인턴
493     유통관리사2급, 운전면허2종보통, 마사회 체험형인턴, 모두투어 네트워크 채용연계형 인턴
552     유통관리사2급, 운전면허2종보통, 마사회 체험형인턴, 모두투어 네트워크 채용연계형 인턴
648     유통관리사2급, 운전면허2종보통, 마사회 체험형인턴, 모두투어 네트워크 채용연계형 인턴
742     유통관리사2급, 운전면허2종보통, 마사회 체험형인턴, 모두투어 네트워크 채용연계형 인턴
Name: 3, dtype: object

In [282]:
df.at[four[four.str.contains("2급")==True].index,["자격증"]]=four[four.str.contains("2급")==True]

In [283]:
four[four.str.contains("2급")==True]=""

In [284]:
four[four.str.contains("1급")==True]

420     교내 공로상, 총동아리연합회장, Professional Codeing Specia...
580     교내 공로상, 총동아리연합회장, Professional Codeing Specia...
600     교내 공로상, 총동아리연합회장, Professional Codeing Specia...
Name: 3, dtype: object

In [285]:
df.at[four[four.str.contains("1급")==True].index,["자격증"]]=four[four.str.contains("1급")==True]

In [286]:
four[four.str.contains("1급")==True]=""

In [287]:
four[four.str.contains("워드")==True]

409      ITQ, 워드프로세서 2,3급, 매경 우수
470      ITQ, 워드프로세서 2,3급, 매경 우수
490      ITQ, 워드프로세서 2,3급, 매경 우수
1230                   워드프로세서 단일
Name: 3, dtype: object

In [288]:
df.at[four[four.str.contains("워드")==True].index,["자격증"]]=four[four.str.contains("워드")==True]

In [289]:
four[four.str.contains("워드")==True]=""

In [290]:
four[four.str.contains("공모전")==True]

1472                                    봉사2회, 공모전4회, 인턴2회
1496                                    봉사2회, 공모전4회, 인턴2회
2321                                   대외활동 1회, 공모전 수상 1회
2483                                   대외활동 1회, 공모전 수상 1회
3518                                       공모전 및 수상 경험 5회
3538                                       공모전 및 수상 경험 5회
3562                                       공모전 및 수상 경험 5회
3691                                         교내 공모전 수상 1회
4583                                    봉사단체 3회,공모전 수상 3회
4603                                    봉사단체 3회,공모전 수상 3회
4764                                    봉사단체 3회,공모전 수상 3회
5533                                             인턴 , 공모전
5544                           ICT관련 대외활동 , 중앙행정기관 공모전 수상
5564                           ICT관련 대외활동 , 중앙행정기관 공모전 수상
5591                                             인턴 , 공모전
5852                                               공모전 입상
6079                                               공모전 입상
6371                                인턴 2회, 대외활동 4회, 공모전1회
6669                                인턴 2회, 대외활동 4회, 공모전1회
6862     관련 회사 출퇴근 아르바이트 5개월, 논문 우수상, 교내 공모전 대상, 미래부&금...
6882     관련 회사 출퇴근 아르바이트 5개월, 논문 우수상, 교내 공모전 대상, 미래부&금...
7096     관련 회사 출퇴근 아르바이트 5개월, 논문 우수상, 교내 공모전 대상, 미래부&금...
Name: 3, dtype: object

In [291]:
df.at[four[four.str.contains("공모전")==True].index,["경험사항"]]=four[four.str.contains("공모전")==True]

In [292]:
four[four.str.contains("공모전")==True]=""

In [293]:
four[four.str.contains("아르바이트")==True]

5883     화장품 물류업무 1개월, 그 외 수많은 아르바이트
6108     화장품 물류업무 1개월, 그 외 수많은 아르바이트
7187                 교내활동 2, 아르바이트 1
7202                 교내활동 2, 아르바이트 1
Name: 3, dtype: object

In [294]:
df.at[four[four.str.contains("아르바이트")==True].index,["경험사항"]]=four[four.str.contains("아르바이트")==True]

In [295]:
four[four.str.contains("아르바이트")==True]=""

In [296]:
four[four.str.contains("알바")==True]

445     알바천국 서포터즈 (3개월), 캐시슬라이드 서포터즈 (2개월), KT&G 상상마케...
533     알바천국 서포터즈 (3개월), 캐시슬라이드 서포터즈 (2개월), KT&G 상상마케...
Name: 3, dtype: object

In [297]:
df.at[four[four.str.contains("알바")==True].index,["경험사항"]]=four[four.str.contains("알바")==True]

In [298]:
four[four.str.contains("알바")==True]=""

In [299]:
four[four.str.contains("서포터즈")==True]

284                                 교내 취업 지원팀 서포터즈 활동(1년)
357                                 교내 취업 지원팀 서포터즈 활동(1년)
377                                 교내 취업 지원팀 서포터즈 활동(1년)
10076     서울시주관 동생행복프로젝트(2012.9 - 12), 경기문화재단 도시락특공대 대학...
Name: 3, dtype: object

In [300]:
df.at[four[four.str.contains("서포터즈")==True].index,["경험사항"]]=four[four.str.contains("서포터즈")==True]

In [301]:
four[four.str.contains("서포터즈")==True]=""

In [302]:
four[four.str.contains("수상")==True]

4323         대외활동 수상 1회
4655       창업경진대회 수상 2번
4812       창업경진대회 수상 2번
5290     인턴 2회, 장관상 수상1
5468     인턴 2회, 장관상 수상1
Name: 3, dtype: object

In [303]:
df.at[four[four.str.contains("수상")==True].index,["경험사항"]]=four[four.str.contains("수상")==True]

In [304]:
four[four.str.contains("수상")==True]=""

In [305]:
four[four.str.contains("인턴 2회")==True]

1620     인턴 2회
1772     인턴 2회
2157     인턴 2회
2177     인턴 2회
2340     인턴 2회
3312     인턴 2회
3424     인턴 2회
6909     인턴 2회
7119     인턴 2회
7139     인턴 2회
8101     인턴 2회
8381     인턴 2회
Name: 3, dtype: object

In [306]:
df.at[four[four.str.contains("인턴 2회")==True].index,["경험사항"]]=four[four.str.contains("인턴 2회")==True]

In [307]:
four[four.str.contains("인턴 2회")==True]=""

In [308]:
four[four.str.contains("정보처리")==True]

148         국민건강보험공단 2개월, 정보처리기능사
173         국민건강보험공단 2개월, 정보처리기능사
217      국민건강보험공단 인턴 2개월, 정보처리기능사
308      국민건강보험공단 인턴 2개월, 정보처리기능사
633      국민건강보험공단 2개월 인턴, 정보처리기능사
701      국민건강보험공단 2개월 인턴, 정보처리기능사
721      국민건강보험공단 2개월 인턴, 정보처리기능사
911      국민건강보험공단 2개월 인턴, 정보처리기능사
999      국민건강보험공단 2개월 인턴, 정보처리기능사
1002     국민건강보험공단 2개월 인턴, 정보처리기능사
1066     국민건강보험공단 인턴 2개월, 정보처리기능사
1086     국민건강보험공단 인턴 2개월, 정보처리기능사
1153     국민건강보험공단 인턴 2개월, 정보처리기능사
1264        국민건강보험공단 2개월, 정보처리기능사
1351        국민건강보험공단 2개월, 정보처리기능사
2204     국민건강보험공단 인턴 2개월, 정보처리기능사
2339     국민건강보험공단 2개월 인턴, 정보처리기능사
2499     국민건강보험공단 2개월 인턴, 정보처리기능사
Name: 3, dtype: object

In [309]:
df.at[four[four.str.contains("정보처리")==True].index,["자격증"]]=four[four.str.contains("정보처리")==True]

In [310]:
four[four.str.contains("정보처리")==True]=""

In [311]:
four[four.str.contains("경영정보")==True]="경영정보학과"

In [312]:
df.at[four[four.str.contains("경영정보학과")==True].index,["학과"]]=four[four.str.contains("경영정보학과")==True]

In [313]:
four[four.str.contains("경영정보학과")==True]=""

In [314]:
four[four.str.contains("경영")==True]="경영학과"

In [315]:
df.at[four[four.str.contains("경영학과")==True].index,["학과"]]=four[four.str.contains("경영학과")==True]

In [316]:
four[four.str.contains("경영학과")==True]=""

In [317]:
four[four.str.contains("회계")==True]

3621     회계법인 인턴
3641     회계법인 인턴
7547      삼일회계법인
Name: 3, dtype: object

In [318]:
df.at[four[four.str.contains("회계")==True].index,["경험사항"]]=four[four.str.contains("회계")==True]

In [319]:
four[four.str.contains("회계")==True]=""

In [320]:
four[four.str.contains("없음")==True]

3685     없음
3787     없음
3865     없음
3885     없음
Name: 3, dtype: object

In [321]:
df.at[four[four.str.contains("없음")==True].index,["경험사항"]]=four[four.str.contains("없음")==True]

In [322]:
four[four.str.contains("없음")==True]=""

In [323]:
four[four.str.contains("봉사활동")==True]

4913     봉사활동
5054     봉사활동
5074     봉사활동
5094     봉사활동
Name: 3, dtype: object

In [324]:
df.at[four[four.str.contains("봉사활동")==True].index,["경험사항"]]=four[four.str.contains("봉사활동")==True]

In [325]:
four[four.str.contains("봉사활동")==True]=""

In [326]:
four[four.str.contains("인턴")==True]

422      인턴 3회(해외위치 국내기업 통역인턴 6개월, 국내위치 외국기관 인턴 6개월, 국...
439                             인턴 3회(해외위치 국내기업 인턴통역 6개월
509      인턴 3회(해외위치 국내기업 통역인턴 6개월, 국내위치 외국기관 인턴 6개월, 국...
523                             인턴 3회(해외위치 국내기업 인턴통역 6개월
572                                    인지컨트롤스 인턴 2018 하반기
1050                                           인턴 1회(6개월)
1137                                           인턴 1회(6개월)
1645                                          현장실습인턴 : 2번
1646                                          현장실습인턴 : 2번
1674                                                   인턴
1694                                                   인턴
1790                                          현장실습인턴 : 2번
1810                                          현장실습인턴 : 2번
1839                                                   인턴
2507                                                 인턴 1
2527                                                 인턴 1
3128                                               인턴 2개월
3230                                               인턴 2개월
3262                                                   인턴
3282                                                   인턴
3951                                 언론사인턴, 마케팅인턴, 홍보대사 등
4456                                                 인턴 1
4509                                                 인턴 1
5538                                          인턴 1, 동아리 1
5582                                       인턴 2,  대외활동  5
5596                                          인턴 1, 동아리 1
5612                                       인턴 2,  대외활동  5
5721                                                   인턴
5761                                                   인턴
7197                                             인턴2, 대외2
7212                                             인턴2, 대외2
7316                      신세계 I&C 동계인턴, ICT 프로젝트 산학협력 인턴십
7358                      신세계 I&C 동계인턴, ICT 프로젝트 산학협력 인턴십
7378                      신세계 I&C 동계인턴, ICT 프로젝트 산학협력 인턴십
7381                      신세계 I&C 동계인턴, ICT 프로젝트 산학협력 인턴십
Name: 3, dtype: object

In [327]:
df.at[four[four.str.contains("인턴")==True].index,["경험사항"]]=four[four.str.contains("인턴")==True]

In [328]:
four[four.str.contains("인턴")==True]=""

In [329]:
four[four.str.contains("금융")==True]

3910     금융자격증
Name: 3, dtype: object

In [330]:
df.at[four[four.str.contains("금융")==True].index,["자격증"]]=four[four.str.contains("금융")==True]

In [331]:
four[four.str.contains("금융")==True]=""

In [332]:
four[four.str.contains("마케팅")==True]

6256     유통회사 마케팅, 대외활동, 어학연수
6486     유통회사 마케팅, 대외활동, 어학연수
6581     유통회사 마케팅, 대외활동, 어학연수
Name: 3, dtype: object

In [333]:
df.at[four[four.str.contains("마케팅")==True].index,["경험사항"]]=four[four.str.contains("마케팅")==True]

In [334]:
four[four.str.contains("마케팅")==True]=""

In [335]:
four[four.str.contains("코트라")==True]="코트라 무역관 인턴"

In [336]:
df.at[four[four.str.contains("코트라 무역관 인턴")==True].index,["경험사항"]]=four[four.str.contains("코트라 무역관 인턴")==True]

In [337]:
four[four.str.contains("코트라 무역관 인턴")==True]=""

In [338]:
four[four.str.contains("회장")==True]

6723                             해외봉사 2회, 국내봉사 2회, 동아리 회장
6962                             해외봉사 2회, 국내봉사 2회, 동아리 회장
8799     스타트업 약 3년, 안랩 연수생 6개월, 캡스톤 경진대회 금상, 전공학회 4년 및 회장
8819     스타트업 약 3년, 안랩 연수생 6개월, 캡스톤 경진대회 금상, 전공학회 4년 및 회장
9033     스타트업 약 3년, 안랩 연수생 6개월, 캡스톤 경진대회 금상, 전공학회 4년 및 회장
Name: 3, dtype: object

In [339]:
df.at[four[four.str.contains("회장")==True].index,["경험사항"]]=four[four.str.contains("회장")==True]

In [340]:
four[four.str.contains("회장")==True]=""

In [341]:
four[four.str.contains("경력")==True]="관련직종 경력 3년"

In [342]:
df.at[four[four.str.contains("관련직종 경력 3년")==True].index,["경험사항"]]=four[four.str.contains("관련직종 경력 3년")==True]

In [343]:
four[four.str.contains("관련직종 경력 3년")==True]=""

In [344]:
four[four.str.contains("대외")==True]

5733     대외활동 1
5767     대외활동 1
5787     대외활동 1
5807     대외활동 1
8170       대외활동
8499       대외활동
Name: 3, dtype: object

In [345]:
df.at[four[four.str.contains("대외")==True].index,["경험사항"]]=four[four.str.contains("대외")==True]

In [346]:
four[four.str.contains("대외")==True]=""

In [347]:
four[four.str.contains("4.0")==True]

790          4.0
801          4.0
1043         4.0
1108         4.0
1134         4.0
1188         4.0
1208         4.0
4473     4.0(석사)
4493     4.0(석사)
4524     4.0(석사)
5021         4.0
5310         4.0
5330         4.0
5472         4.0
6330         4.0
6560         4.0
8621         4.0
8911         4.0
9160         4.0
9419         4.0
9420         4.0
Name: 3, dtype: object

In [348]:
df.at[four[four.str.contains("4.0")==True].index,["학점"]]=four[four.str.contains("4.0")==True]

In [349]:
four[four.str.contains("4.0")==True]=""

In [350]:
four[four.str.contains("유학")==True]

4596     중국 유학경험
4616     중국 유학경험
4775     중국 유학경험
Name: 3, dtype: object

In [351]:
df.at[four[four.str.contains("유학")==True].index,["경험사항"]]=four[four.str.contains("유학")==True]

In [352]:
four[four.str.contains("유학")==True]=""

In [353]:
four[four.str.contains("학회")==True]

4621     학회 참여
4773     학회 참여
Name: 3, dtype: object

In [354]:
df.at[four[four.str.contains("학회")==True].index,["경험사항"]]=four[four.str.contains("학회")==True]

In [355]:
four[four.str.contains("학회")==True]=""

In [356]:
four[four.str.contains("해외봉사")==True]

9556     해외봉사
Name: 3, dtype: object

In [357]:
df.at[four[four.str.contains("해외봉사")==True].index,["경험사항"]]=four[four.str.contains("해외봉사")==True]

In [358]:
four[four.str.contains("해외봉사")==True]=""

In [359]:
four[four.str.contains("해외")==True]

8197     해외대
8217     해외대
8434     해외대
8454     해외대
8504     해외대
Name: 3, dtype: object

In [360]:
df.at[four[four.str.contains("해외")==True].index,["학교"]]=four[four.str.contains("해외")==True]

In [361]:
four[four.str.contains("해외")==True]=""

In [362]:
four[four.str.contains("동아리")==True]

1652     동아리 활동
1786     동아리 활동
1806     동아리 활동
Name: 3, dtype: object

In [363]:
df.at[four[four.str.contains("동아리")==True].index,["경험사항"]]=four[four.str.contains("동아리")==True]

In [364]:
four[four.str.contains("동아리")==True]=""

In [365]:
four[four.str.contains("창업")==True]

5017     스타트업기업 CTO, 창업경진대회 은상 , 국내학술대회 논문 1회, 국외학술대회 ...
Name: 3, dtype: object

In [366]:
df.at[four[four.str.contains("창업")==True].index,["경험사항"]]=four[four.str.contains("창업")==True]

In [367]:
four[four.str.contains("창업")==True]=""

In [368]:
four[four.str.contains("무역")==True]

10099     글로벌 무역 전문가 양성사업단 5기 활동(1년 6개월)
Name: 3, dtype: object

In [369]:
df.at[four[four.str.contains("무역")==True].index,["경험사항"]]=four[four.str.contains("무역")==True]

In [370]:
four[four.str.contains("무역")==True]=""

In [371]:
four[four.str.contains("무")==True]="X"

In [372]:
df.at[four[four.str.contains("X")==True].index,["경험사항"]]=four[four.str.contains("X")==True]

In [373]:
four[four.str.contains("X")==True]=""

In [374]:
four[four.str.contains("봉사")==True]

3104     봉사1회
3202     봉사1회
Name: 3, dtype: object

In [375]:
df.at[four[four.str.contains("봉사")==True].index,["경험사항"]]=four[four.str.contains("봉사")==True]

In [376]:
four[four.str.contains("봉사")==True]=""

In [377]:
four[four.str.contains("4.25")==True]="4.25"

In [378]:
df.at[four[four.str.contains("4.25")==True].index,["학점"]]=four[four.str.contains("4.25")==True]

In [379]:
four[four.str.contains("4.25")==True]=""

In [380]:
four[four.str.contains("한국")==True]

636     한국여성과학기술인지원센터（WISET） 주관 2019년도 여대학원생 공학연구팀제 심...
709     한국여성과학기술인지원센터（WISET） 주관 2019년도 여대학원생 공학연구팀제 심...
729     한국여성과학기술인지원센터（WISET） 주관 2019년도 여대학원생 공학연구팀제 심...
Name: 3, dtype: object

In [381]:
df.at[four[four.str.contains("한국")==True].index,["경험사항"]]=four[four.str.contains("한국")==True]

In [382]:
four[four.str.contains("한국")==True]=""

In [383]:
four[four.str.contains("대학원")==True]=""

In [384]:
four[four.str.contains("1회")==True]=""

In [385]:
four[four.str.contains("미기재")==True]=""

In [386]:
four[four.str.contains("상경")==True]=""

In [387]:
four[four.str.contains("보험")==True]

7908     보험설계사 1년반
7931     보험설계사 1년반
Name: 3, dtype: object

In [388]:
df.at[four[four.str.contains("보험")==True].index,["경험사항"]]=four[four.str.contains("보험")==True]

In [389]:
four[four.str.contains("보험")==True]=""

In [390]:
four[four.str.contains("5회")==True]

8771         5회이상
8899     활동 5회 이상
Name: 3, dtype: object

In [391]:
df.at[four[four.str.contains("5회")==True].index,["경험사항"]]=four[four.str.contains("5회")==True]

In [392]:
four[four.str.contains("5회")==True]=""

In [393]:
four[four.str.contains("공대")==True]=""

In [394]:
four[four.str.contains("140")==True]=""

In [395]:
four[four.str.contains("4")==True]="4.0"

In [396]:
df.at[four[four.str.contains("4.0")==True].index,["학점"]]=four[four.str.contains("4.0")==True]

In [397]:
four[four.str.contains("4.0")==True]=""

In [398]:
four[four.str.contains("산업공학과")==True]

9442     산업공학과
9462     산업공학과
Name: 3, dtype: object

In [399]:
df.at[four[four.str.contains("산업공학과")==True].index,["학과"]]=four[four.str.contains("산업공학과")==True]

In [400]:
four[four.str.contains("산업공학과")==True]=""

In [401]:
four[four.str.contains("삼성")==True]

402     영삼성, kb폴라리스
Name: 3, dtype: object

In [402]:
df.at[four[four.str.contains("삼성")==True].index,["경험사항"]]=four[four.str.contains("삼성")==True]

In [403]:
four[four.str.contains("92")==True]=""

In [404]:
df.to_csv("5.csv", encoding="utf-8")

In [405]:
df

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Unnamed: 0.1.1.1,기업명,지원부서,지원시기,학교,학과,학점,어학,자격증,경험사항,자소서
0,0,0,0,0,한국석유공사,설비,2020 상반기,NaN,전자공학과,학점 1.7등급,NaN,NaN,"인천 글로벌 숙련 진흥원, 선반, 용접 ,특수용접, 설비보전",7.한국석유공사\n\n 1. 지원 분야 직무기술서 ‘직무수행 내용’ 중 본인이 가장...
1,1,1,1,1,CJ제일제당,Food Sales,2020 상반기,서울사립대(중앙대학교),상경계열학과,학점 3.92,"토익 905, 토스 LV 6",NaN,봉사활동 일부빼고는 전무.,CJ제일제당 및 선택한 직무에 대한 지원동기는 무엇인가요? ① 선택한 직무에 관심을...
2,2,2,2,2,한국가스안전공사,LP가스 안전지킴이사업,2020 상반기,지방거점국립대(제주대학교),NaN,학점 3.3,토익830,"컴퓨터활용능력1급, 한국사1급",NaN,\n1. 한국가스안전공사가 진행하는 사업에 관심을 갖고 공사에 지원한 동기에 대해 ...
3,3,3,3,3,코레일,사무영업,2020 상반기,지방거점국립대(충남대학교),NaN,학점 3.87,토익 835,"토론동아리 3년, 컴활1급, 한국사1급",NaN,"1.공동체의 일원으로서 가장 중요하게 생각하는 가치를 제시하고, 그 가치를 실천했던..."
4,4,4,4,4,한국기술교육대학교,행정,2020 상반기,서울사립대(건국대학교),NaN,학점 4.0,토익 780,"컴활 1급, 한국사1급",NaN,"1. 본인이 가진 가장 뛰어난 점과 그렇게 판단한 이유, 고용노동연수원 업무수행에서..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10102,10102,10102,10102,10102,현대자동차,영업관리,2013 상반기,서울사립대(상명대학교),국제통상학과,학점 4.3,"토익 900, HSK 6급",NaN,"해외인턴1회, 중국어 말하기 대회 1등, 와인바 매니저 1년 6개월 경력",1. 현대자동차에 지원하게 된 동기 또는 해당 직무에 지원하게 된 동기는 무엇입니까...
10103,10103,10103,10103,10103,심팩,용접관리,2013 상반기,전문대,공업화학과,학점 3.06,NaN,NaN,NaN,성격소개\n\n대부분의 사람들이 평가하는 첫인상은 소심하고 내성적인 성격일것이라 생...
10104,10104,10104,10104,10104,한국전력,"인턴[송,배전]",2013 상반기,지방거점국립대,전자공학과,학점 3.7,토익 900대,NaN,"음악봉사활동, 멘토링 등","[질문 1] 취업이라는 목표 이외에 인생의 큰 목표를 세운 경험, 그 목표를 실현하..."
10105,10105,10105,10105,10105,한국전력,"인턴[송,배전]",2013 상반기,지방거점국립대,전자공학과,학점 3.7,토익 900,NaN,"음악봉사활동, 멘토링등",한전 자가소개서 양식 500자 12줄 이내\n\n[질문 1] 취업이라는 목표 이외에...
10106,10106,10106,10106,10106,한국전력,"인턴[송,배전]",2013 상반기,지방거점국립대,전자공학과,학점 3.7,토익 900,NaN,"음악봉사활동, 멘토링등",한전 자가소개서 양식 500자 12줄 이내\n\n[질문 1] 취업이라는 목표 이외에...

In [407]:
df["학점"].isnull().sum()

734