In [1]:
import pandas as pd

In [2]:
raw_df = pd.read_csv("WriteData.csv")

In [3]:
raw_df

,1,2,3
0,한국석유공사 / 설비 / 2020 상반기,"광주전자공업고등학교 / 학점 1.7등급 / 인천 글로벌 숙련 진흥원 5일, 선반, ...",7.한국석유공사\n\n 1. 지원 분야 직무기술서 ‘직무수행 내용’ 중 본인이 가장...
1,CJ제일제당 / Food Sales / 2020 상반기,"중경외시 / 상경계열 / 학점 3.92 / 토익 905, 토스 LV 6 / 봉사활동...",CJ제일제당 및 선택한 직무에 대한 지원동기는 무엇인가요? ① 선택한 직무에 관심을...
2,한국가스안전공사 / LP가스 안전지킴이사업 / 2020 상반기,"제주대학교 / 학점 3.3 / 토익830 / 컴퓨터활용능력1급, 한국사1급",\n1. 한국가스안전공사가 진행하는 사업에 관심을 갖고 공사에 지원한 동기에 대해 ...
3,코레일 / 사무영업 / 2020 상반기,"충남대학교 / 학점 3.87 / 토익 835 / 토론동아리 3년, 컴활1급, 한국사1급","1.공동체의 일원으로서 가장 중요하게 생각하는 가치를 제시하고, 그 가치를 실천했던..."
4,한국기술교육대학교 / 행정 / 2020 상반기,"건국대학교 / 학점 4.0 / 토익 780 / 컴활 1급, 한국사1급","1. 본인이 가진 가장 뛰어난 점과 그렇게 판단한 이유, 고용노동연수원 업무수행에서..."
...,...,...,...
10102,현대자동차 / 영업관리 / 2013 상반기,"상명대학교 / 국제통상학 / 학점 4.3 / 토익 900, HSK 6급 / 해외인턴...",1. 현대자동차에 지원하게 된 동기 또는 해당 직무에 지원하게 된 동기는 무엇입니까...
10103,심팩 / 용접관리 / 2013 상반기,지방전문대 / 공업화학 / 학점 3.06,성격소개\n\n대부분의 사람들이 평가하는 첫인상은 소심하고 내성적인 성격일것이라 생...
10104,"한국전력 / 인턴[송,배전] / 2013 상반기","지거국 / 전자공학 / 학점 3.7 / 토익 900대 / 음악봉사활동, 멘토링 등","[질문 1] 취업이라는 목표 이외에 인생의 큰 목표를 세운 경험, 그 목표를 실현하..."
10105,"한국전력 / 인턴[송,배전] / 2013 상반기","지거국 / 전자공학 / 학점 3.7 / 토익 900 / 음악봉사활동, 멘토링등",한전 자가소개서 양식 500자 12줄 이내\n\n[질문 1] 취업이라는 목표 이외에...
10106,"한국전력 / 인턴[송,배전] / 2013 상반기","지거국 / 전자공학 / 학점 3.7 / 토익 900 / 음악봉사활동, 멘토링등",한전 자가소개서 양식 500자 12줄 이내\n\n[질문 1] 취업이라는 목표 이외에...

In [4]:
df = pd.DataFrame(columns=["기업명","지원부서","지원시기","학교","학과","학점","어학","자격증","경험사항","자소서"])

In [5]:
df["기업명"] = raw_df['1'].str.split("/",expand=True)[0]
df["지원부서"] = raw_df['1'].str.split("/",expand=True)[1]
df["지원시기"] = raw_df['1'].str.split("/",expand=True)[2]
df["자소서"] = raw_df["3"]

In [6]:
df

,기업명,지원부서,지원시기,학교,학과,학점,어학,자격증,경험사항,자소서
0,한국석유공사,설비,2020 상반기,NaN,NaN,NaN,NaN,NaN,NaN,7.한국석유공사\n\n 1. 지원 분야 직무기술서 ‘직무수행 내용’ 중 본인이 가장...
1,CJ제일제당,Food Sales,2020 상반기,NaN,NaN,NaN,NaN,NaN,NaN,CJ제일제당 및 선택한 직무에 대한 지원동기는 무엇인가요? ① 선택한 직무에 관심을...
2,한국가스안전공사,LP가스 안전지킴이사업,2020 상반기,NaN,NaN,NaN,NaN,NaN,NaN,\n1. 한국가스안전공사가 진행하는 사업에 관심을 갖고 공사에 지원한 동기에 대해 ...
3,코레일,사무영업,2020 상반기,NaN,NaN,NaN,NaN,NaN,NaN,"1.공동체의 일원으로서 가장 중요하게 생각하는 가치를 제시하고, 그 가치를 실천했던..."
4,한국기술교육대학교,행정,2020 상반기,NaN,NaN,NaN,NaN,NaN,NaN,"1. 본인이 가진 가장 뛰어난 점과 그렇게 판단한 이유, 고용노동연수원 업무수행에서..."
...,...,...,...,...,...,...,...,...,...,...
10102,현대자동차,영업관리,2013 상반기,NaN,NaN,NaN,NaN,NaN,NaN,1. 현대자동차에 지원하게 된 동기 또는 해당 직무에 지원하게 된 동기는 무엇입니까...
10103,심팩,용접관리,2013 상반기,NaN,NaN,NaN,NaN,NaN,NaN,성격소개\n\n대부분의 사람들이 평가하는 첫인상은 소심하고 내성적인 성격일것이라 생...
10104,한국전력,"인턴[송,배전]",2013 상반기,NaN,NaN,NaN,NaN,NaN,NaN,"[질문 1] 취업이라는 목표 이외에 인생의 큰 목표를 세운 경험, 그 목표를 실현하..."
10105,한국전력,"인턴[송,배전]",2013 상반기,NaN,NaN,NaN,NaN,NaN,NaN,한전 자가소개서 양식 500자 12줄 이내\n\n[질문 1] 취업이라는 목표 이외에...
10106,한국전력,"인턴[송,배전]",2013 상반기,NaN,NaN,NaN,NaN,NaN,NaN,한전 자가소개서 양식 500자 12줄 이내\n\n[질문 1] 취업이라는 목표 이외에...

In [7]:
first = raw_df["2"].str.split("/",expand=True)[0]
second = raw_df["2"].str.split("/",expand=True)[1]
third = raw_df["2"].str.split("/",expand=True)[2]
#raw_df["2"].str.split("/",expand=True)[3]
#raw_df["2"].str.split("/",expand=True)[4]
#raw_df["2"].str.split("/",expand=True)[5]

In [8]:
third

0         인천 글로벌 숙련 진흥원 5일, 선반, 용접, 특수용접, 설비보전
1                                     학점 3.92
2                                       토익830
3                                      토익 835
4                                      토익 780
                         ...
10102                                  학점 4.3
10103                                  학점 3.06
10104                                  학점 3.7
10105                                  학점 3.7
10106                                  학점 3.7
Name: 2, Length: 10107, dtype: object

In [9]:
# 이름 바꾸기
third[third.str.contains("학점")==True]

1         학점 3.92
187        학점 3.9
191        학점 3.0
192       학점 3.04
199       학점 3.67
           ...
10102      학점 4.3
10103      학점 3.06
10104      학점 3.7
10105      학점 3.7
10106      학점 3.7
Name: 2, Length: 7570, dtype: object

In [10]:
#컬럼에 집어넣기
df.at[third[third.str.contains("학점")==True].index,["학점"]]=third[third.str.contains("학점")==True]

In [11]:
#컬럼 삭제
third[third.str.contains("학점")==True]=""

In [12]:
df["학점"]

0              NaN
1         학점 3.92
2              NaN
3              NaN
4              NaN
           ...
10102      학점 4.3
10103      학점 3.06
10104      학점 3.7
10105      학점 3.7
10106      학점 3.7
Name: 학점, Length: 10107, dtype: object

In [13]:
third[third.str.contains("토익 ")==True]
df.at[third[third.str.contains("토익 ")==True].index,["어학"]]=third[third.str.contains("토익 ")==True]

In [14]:
third[third.str.contains("토익 ")==True] = ""

In [15]:
third[third.str.contains("토익 ")==True]

Series([], Name: 2, dtype: object)

In [16]:
third[third.str.contains("토익")==True]
df.at[third[third.str.contains("토익")==True].index,["어학"]]=third[third.str.contains("토익")==True]

In [17]:
third[third.str.contains("토익")==True] = ""

In [18]:
third[third.str.contains("토익")==True]

Series([], Name: 2, dtype: object)

In [19]:
third[third.str.contains("오픽")==True]
df.at[third[third.str.contains("오픽")==True].index,["어학"]]=third[third.str.contains("오픽")==True]

In [20]:
third[third.str.contains("오픽")==True]=""

In [21]:
third[third.str.contains("오픽")==True]

Series([], Name: 2, dtype: object)

In [22]:
third[third.str.contains("오픽 ")==True]
df.at[third[third.str.contains("오픽 ")==True].index,["어학"]]=third[third.str.contains("오픽 ")==True]

In [23]:
third[third.str.contains("오픽 ")==True]=""

In [24]:
third[third.str.contains("오픽 ")==True]

Series([], Name: 2, dtype: object)

In [25]:
third.to_csv("1.txt")

In [26]:
third[third.str.contains("토스 ")==True]
df.at[third[third.str.contains("토스 ")==True].index,["어학"]]=third[third.str.contains("토스 ")==True]

In [27]:
third[third.str.contains("토스 ")==True]=""

In [28]:
third[third.str.contains("토스 ")==True]

Series([], Name: 2, dtype: object)

In [29]:
third[third.str.contains("토스")==True]
df.at[third[third.str.contains("토스")==True].index,["어학"]]=third[third.str.contains("토스")==True]

In [30]:
third[third.str.contains("토스")==True]=""

In [31]:
third[third.str.contains("토스")==True]

Series([], Name: 2, dtype: object)

In [32]:
third.to_csv("1.txt")

In [33]:
third[third.str.contains("OPIC")==True]
df.at[third[third.str.contains("OPIC")==True].index,["어학"]]=third[third.str.contains("OPIC")==True]

In [34]:
third[third.str.contains("OPIC")==True]=""

In [35]:
third[third.str.contains("OPIC")==True]

Series([], Name: 2, dtype: object)

In [36]:
third[third.str.contains("무역영어")==True]
df.at[third[third.str.contains("무역영어")==True].index,["어학"]]=third[third.str.contains("무역영어")==True]

In [37]:
third[third.str.contains("무역영어")==True]=""

In [38]:
third[third.str.contains("무역영어")==True]

Series([], Name: 2, dtype: object)

In [39]:
third.to_csv("1.txt")

In [40]:
third[third.str.contains("토플")==True]
df.at[third[third.str.contains("토플")==True].index,["어학"]]=third[third.str.contains("토플")==True]

In [41]:
third[third.str.contains("토플")==True]=""

In [42]:
third[third.str.contains("토플")==True]

Series([], Name: 2, dtype: object)

In [43]:
third[third.str.contains("JPT")==True]
df.at[third[third.str.contains("JPT")==True].index,["어학"]]=third[third.str.contains("JPT")==True]

In [44]:
third[third.str.contains("JPT")==True]=""

In [45]:
third[third.str.contains("JPT")==True]

Series([], Name: 2, dtype: object)

In [46]:
third[third.str.contains("TOEIC")==True]
df.at[third[third.str.contains("TOEIC")==True].index,["어학"]]=third[third.str.contains("TOEIC")==True]

In [47]:
third[third.str.contains("TOEIC")==True]=""

In [48]:
third[third.str.contains("TOEIC")==True]

Series([], Name: 2, dtype: object)

In [49]:
third[third.str.contains("러시아어")==True]
df.at[third[third.str.contains("러시아어")==True].index,["어학"]]=third[third.str.contains("러시아어")==True]

In [50]:
third[third.str.contains("러시아어")==True]=""

In [51]:
third[third.str.contains("러시아어")==True]

Series([], Name: 2, dtype: object)

In [52]:
third[third.str.contains("Im3")==True]
df.at[third[third.str.contains("Im3")==True].index,["어학"]]=third[third.str.contains("Im3")==True]

In [53]:
third[third.str.contains("Im3")==True]=""

In [54]:
third[third.str.contains("Im3")==True]

Series([], Name: 2, dtype: object)

In [55]:
third[third.str.contains("IH")==True]
df.at[third[third.str.contains("IH")==True].index,["어학"]]=third[third.str.contains("IH")==True]

In [56]:
third[third.str.contains("IH")==True]=""

In [57]:
third[third.str.contains("IH")==True]

Series([], Name: 2, dtype: object)

In [58]:
third[third.str.contains("HSK")==True]
df.at[third[third.str.contains("HSK")==True].index,["어학"]]=third[third.str.contains("HSK")==True]

In [59]:
third[third.str.contains("HSK")==True]=""

In [60]:
third[third.str.contains("IH")==True]

Series([], Name: 2, dtype: object)

In [61]:
third[third.str.contains("영어")==True]
df.at[third[third.str.contains("영어")==True].index,["어학"]]=third[third.str.contains("영어")==True]

In [62]:
third[third.str.contains("영어")==True]=""

In [63]:
third[third.str.contains("영어")==True]

Series([], Name: 2, dtype: object)

In [64]:
third.to_csv("1.txt")

In [65]:
df

,기업명,지원부서,지원시기,학교,학과,학점,어학,자격증,경험사항,자소서
0,한국석유공사,설비,2020 상반기,NaN,NaN,NaN,NaN,NaN,NaN,7.한국석유공사\n\n 1. 지원 분야 직무기술서 ‘직무수행 내용’ 중 본인이 가장...
1,CJ제일제당,Food Sales,2020 상반기,NaN,NaN,학점 3.92,NaN,NaN,NaN,CJ제일제당 및 선택한 직무에 대한 지원동기는 무엇인가요? ① 선택한 직무에 관심을...
2,한국가스안전공사,LP가스 안전지킴이사업,2020 상반기,NaN,NaN,NaN,토익830,NaN,NaN,\n1. 한국가스안전공사가 진행하는 사업에 관심을 갖고 공사에 지원한 동기에 대해 ...
3,코레일,사무영업,2020 상반기,NaN,NaN,NaN,토익 835,NaN,NaN,"1.공동체의 일원으로서 가장 중요하게 생각하는 가치를 제시하고, 그 가치를 실천했던..."
4,한국기술교육대학교,행정,2020 상반기,NaN,NaN,NaN,토익 780,NaN,NaN,"1. 본인이 가진 가장 뛰어난 점과 그렇게 판단한 이유, 고용노동연수원 업무수행에서..."
...,...,...,...,...,...,...,...,...,...,...
10102,현대자동차,영업관리,2013 상반기,NaN,NaN,학점 4.3,NaN,NaN,NaN,1. 현대자동차에 지원하게 된 동기 또는 해당 직무에 지원하게 된 동기는 무엇입니까...
10103,심팩,용접관리,2013 상반기,NaN,NaN,학점 3.06,NaN,NaN,NaN,성격소개\n\n대부분의 사람들이 평가하는 첫인상은 소심하고 내성적인 성격일것이라 생...
10104,한국전력,"인턴[송,배전]",2013 상반기,NaN,NaN,학점 3.7,NaN,NaN,NaN,"[질문 1] 취업이라는 목표 이외에 인생의 큰 목표를 세운 경험, 그 목표를 실현하..."
10105,한국전력,"인턴[송,배전]",2013 상반기,NaN,NaN,학점 3.7,NaN,NaN,NaN,한전 자가소개서 양식 500자 12줄 이내\n\n[질문 1] 취업이라는 목표 이외에...
10106,한국전력,"인턴[송,배전]",2013 상반기,NaN,NaN,학점 3.7,NaN,NaN,NaN,한전 자가소개서 양식 500자 12줄 이내\n\n[질문 1] 취업이라는 목표 이외에...

# 자격증 및 경험사항

In [67]:
third[third.str.contains("세종")==True]
df.at[third[third.str.contains("세종")==True].index,["자격증"]]="한국사검정능력1급, GAIQ고급"

In [68]:
third[third.str.contains("세종")==True]
df.at[third[third.str.contains("세종")==True].index,["경험사항"]]="세종문화회관 인턴 (2개월), 구립망원청소년문화센터 계약직 (6개월), CJ ONE 대학생 서포터즈 3기 (3개월), 라틴음악동아리 (2년), 국악동아리 (6개월)"

In [69]:
third[third.str.contains("세종")==True]=""

In [70]:
third[third.str.contains("인천 글로벌")==True]
df.at[third[third.str.contains("인천 글로벌")==True].index,["경험사항"]]="인천 글로벌 숙련 진흥원, 선반, 용접 ,특수용접, 설비보전"

In [71]:
third[third.str.contains("인천 글로벌")==True]=""

In [72]:
third[third.str.contains("한국사능력검정시험 1급$")==True]
df.at[third[third.str.contains("한국사능력검정시험 1급$")==True].index,["자격증"]]="한국사검정능력1급"

In [73]:
third[third.str.contains("한국사능력검정시험 1급$")==True]=""

In [74]:
third[third.str.contains("한국사능력검정시험 1급$")==True]

Series([], Name: 2, dtype: object)

In [75]:
third[third.str.contains("LG 디스플레이")==True]
df.at[third[third.str.contains("LG 디스플레이")==True].index,["자격증"]]="한국사검정능력1급, 전기기사, 전기공사기사"

In [76]:
third[third.str.contains("LG 디스플레이")==True]
df.at[third[third.str.contains("LG 디스플레이")==True].index,["경험사항"]]="LG 디스플레이 3년 근무"

In [77]:
third[third.str.contains("LG 디스플레이")==True]=""

In [78]:
third[third.str.contains("산업안전기사")==True]
df.at[third[third.str.contains("산업안전기사")==True].index,["자격증"]]="한국사검정능력1급, 산업안전기사, 위험물산산업기사"

In [79]:
third[third.str.contains("산업안전기사")==True]=""

In [80]:
third[third.str.contains("중소기업 계약직")==True]
df.at[third[third.str.contains("중소기업 계약직")==True].index,["경험사항"]]="중소기업 계약직 1년"

In [81]:
third[third.str.contains("중소기업 계약직")==True]=""

In [82]:
third[third.str.contains("SAS Certified")==True] 
df.at[third[third.str.contains("SAS Certified")==True].index,["경험사항"]]="SAS Certified Base Programmer for SAS 9, SAS Certified Advanced Programmer for SAS 9 SQLD, GBSA SW-tech 전문교육 1기 (Data Scientist Academy) (1개월), 넥슨코리아 데이터분석 인턴 (6개월)"

In [83]:
third[third.str.contains("SAS Certified")==True]=""

In [84]:
third[third.str.contains("중소기업인턴")==True]
df.at[third[third.str.contains("중소기업인턴")==True].index,["경험사항"]]="중소기업인턴"

In [85]:
third[third.str.contains("중소기업인턴")==True]
df.at[third[third.str.contains("중소기업인턴")==True].index,["자격증"]]="한국사검정능력2급"

In [86]:
third[third.str.contains("중소기업인턴")==True]=""

In [87]:
third[third.str.contains("컴퓨터활용능력 1급")==True]
df.at[third[third.str.contains("컴퓨터활용능력 1급")==True].index,["자격증"]]=third[third.str.contains("컴퓨터활용능력 1급")==True]

In [88]:
third[third.str.contains("컴퓨터활용능력 1급")==True]=""

In [89]:
third[third.str.contains("학과 학생회")==True]
df.at[third[third.str.contains("학과 학생회")==True].index,["경험사항"]]="학과 학생회 (2년)"

In [90]:
third[third.str.contains("학과 학생회")==True]
df.at[third[third.str.contains("학과 학생회")==True].index,["자격증"]]="컴퓨터활용능력 2급"

In [91]:
third[third.str.contains("학과 학생회")==True]=""

In [92]:
third[third.str.contains("2018")==True]
df.at[third[third.str.contains("2018")==True].index,["경험사항"]]=third[third.str.contains("2018")==True]

In [93]:
third[third.str.contains("2018")==True]=""

In [94]:
third.to_csv("1.txt")

In [95]:
third[third.str.contains("한전")==True]
df.at[third[third.str.contains("한전")==True].index,["경험사항"]]="한전 kps 인턴"

In [96]:
third[third.str.contains("한전")==True]
df.at[third[third.str.contains("한전")==True].index,["자격증"]]="한국사검정능력 2급, 전기기사"

In [97]:
third[third.str.contains("한전")==True]=""

In [98]:
third[third.str.contains("한자")==True]
df.at[third[third.str.contains("한자")==True].index,["자격증"]]=third[third.str.contains("한자")==True]

In [99]:
third[third.str.contains("한자")==True]=""

In [100]:
third[third.str.contains("정보처리기사")==True]
df.at[third[third.str.contains("정보처리기사")==True].index,["자격증"]]=third[third.str.contains("정보처리기사")==True]

In [101]:
third[third.str.contains("정보처리기사")==True]=""

In [102]:
third[third.str.contains("재경관리사")==True]
df.at[third[third.str.contains("재경관리사")==True].index,["자격증"]]=third[third.str.contains("재경관리사")==True]

In [103]:
third[third.str.contains("재경관리사")==True]=""

In [104]:
third[third.str.contains("금융감독원")==True]
df.at[third[third.str.contains("금융감독원")==True].index,["경험사항"]]=third[third.str.contains("금융감독원")==True]

In [105]:
third[third.str.contains("금융감독원")==True]=""

In [106]:
third[third.str.contains("기술보증끔")==True]
df.at[third[third.str.contains("기술보증끔")==True].index,["경험사항"]]="기술보증기금 체험형인턴 (2015 하반기)"

In [107]:
third[third.str.contains("기술보증끔")==True]
df.at[third[third.str.contains("기술보증끔")==True].index,["자격증"]]="컴퓨터활용능력1급"

In [108]:
third[third.str.contains("기술보증끔")==True]=""

In [109]:
third[third.str.contains("한국사검정능력 1급")==True]
df.at[third[third.str.contains("한국사검정능력 1급")==True].index,["자격증"]]=third[third.str.contains("한국사검정능력 1급")==True]

In [110]:
third[third.str.contains("한국사검정능력 1급")==True]=""

In [111]:
third[third.str.contains("한국사$")==True]
df.at[third[third.str.contains("한국사$")==True].index,["자격증"]]=third[third.str.contains("한국사$")==True]

In [112]:
third[third.str.contains("한국사$")==True]=""

In [113]:
third[third.str.contains("1팀")==True]
df.at[third[third.str.contains("1팀")==True].index,["경험사항"]]="1팀1기업 프로젝트 금상수상, 포항흥해황금들녘 허수아비 문화축제 대상수상"

In [114]:
third[third.str.contains("1팀")==True]
df.at[third[third.str.contains("1팀")==True].index,["자격증"]]="(기능사 : 위험물,용접,특수용접,선반,밀링,공유압), (산업기사 : 위험물산업기사)"

In [115]:
third[third.str.contains("1팀")==True]=""

In [116]:
third[third.str.contains("실습")==True]
df.at[third[third.str.contains("실습")==True].index,["경험사항"]]="실습-원광대학병원영양팀(1개월), 봉사활동-복지센터(1년)"

In [117]:
third[third.str.contains("실습")==True]
df.at[third[third.str.contains("실습")==True].index,["자격증"]]="영양사면허증, 위생사면허증, 한식조리기능사, 햅썹팀장과정수료증, 푸트예술치료사자격증"

In [118]:
third[third.str.contains("실습")==True]=""

In [119]:
third[third.str.contains("무역협회")==True]
df.at[third[third.str.contains("무역협회")==True].index,["경험사항"]]="무역협회 인턴 3회, 사회 봉사 72시간"

In [120]:
third[third.str.contains("무역협회")==True]
df.at[third[third.str.contains("무역협회")==True].index,["자격증"]]="운전면허 2종 보통, 매일경제테스트 우수등급"

In [121]:
third[third.str.contains("무역협회")==True]=""

In [122]:
third.to_csv("1.txt")

In [123]:
third[third.str.contains("컴퓨터활용능력1급")==True]
df.at[third[third.str.contains("컴퓨터활용능력1급")==True].index,["자격증"]]=third[third.str.contains("컴퓨터활용능력1급")==True]

In [124]:
third[third.str.contains("컴퓨터활용능력1급")==True]=""

In [125]:
third[third.str.contains("컴퓨터활용능력 2급$")==True]
df.at[third[third.str.contains("컴퓨터활용능력 2급$")==True].index,["자격증"]]=third[third.str.contains("컴퓨터활용능력 2급$")==True]

In [126]:
third[third.str.contains("컴퓨터활용능력 2급$")==True]=""

In [127]:
third[third.str.contains("컴퓨터활용능력 2급,")==True]
df.at[third[third.str.contains("컴퓨터활용능력 2급,")==True].index,["경험사항"]]="보건복지부 금연서포터즈 (5개월), 한국노인인력개발원(5개월), 한국장학재단 나눔지기(6개월), 근로복지공단 기자단(8개월), 학교 취업지원동아리 회장(~1년 2개월) 등"

In [128]:
third[third.str.contains("컴퓨터활용능력 2급,")==True]
df.at[third[third.str.contains("컴퓨터활용능력 2급,")==True].index,["자격증"]]="컴퓨터활용능력 2급, 워드프로세스, 정보처리기능사, 한국사 1급"

In [129]:
third[third.str.contains("컴퓨터활용능력 2급,")==True]=""

In [130]:
third[third.str.contains("사회복지사")==True]
df.at[third[third.str.contains("사회복지사")==True].index,["자격증"]]=third[third.str.contains("사회복지사")==True]

In [131]:
third[third.str.contains("사회복지사")==True]=""

In [132]:
third[third.str.contains("CRA")==True]
df.at[third[third.str.contains("CRA")==True].index,["경험사항"]]=third[third.str.contains("CRA")==True]

In [133]:
third[third.str.contains("CRA")==True]=""

In [134]:
third[third.str.contains("아르바이트경험")==True]
df.at[third[third.str.contains("아르바이트경험")==True].index,["경험사항"]]=third[third.str.contains("아르바이트경험")==True]

In [135]:
third[third.str.contains("아르바이트경험")==True]=""

In [136]:
third[third.str.contains("인턴, 봉사활동")==True]
df.at[third[third.str.contains("인턴, 봉사활동")==True].index,["경험사항"]]=third[third.str.contains("인턴, 봉사활동")==True]

In [137]:
third[third.str.contains("인턴, 봉사활동")==True]=""

In [138]:
third[third.str.contains("봉사활동")==True]
df.at[third[third.str.contains("봉사활동")==True].index,["경험사항"]]=third[third.str.contains("봉사활동")==True]

In [139]:
third[third.str.contains("봉사활동")==True]=""

In [140]:
third.to_csv("1.txt")

In [141]:
third[third.str.contains("대기업 인턴")==True]
df.at[third[third.str.contains("대기업 인턴")==True].index,["경험사항"]]=third[third.str.contains("대기업 인턴")==True]

In [142]:
third[third.str.contains("대기업 인턴")==True]=""

In [143]:
third[third.str.contains("인턴 2회")==True]
df.at[third[third.str.contains("인턴 2회")==True].index,["경험사항"]]=third[third.str.contains("인턴 2회")==True]

In [144]:
third[third.str.contains("인턴 2회")==True]=""

In [145]:
third[third.str.contains("인턴 1회")==True]
df.at[third[third.str.contains("인턴 1회")==True].index,["경험사항"]]=third[third.str.contains("인턴 1회")==True]

In [146]:
third[third.str.contains("인턴 1회")==True]=""

In [147]:
third[third.str.contains("인턴1회")==True]
df.at[third[third.str.contains("인턴1회")==True].index,["경험사항"]]=third[third.str.contains("인턴1회")==True]

In [148]:
third[third.str.contains("인턴1회")==True]=""

In [149]:
third[third.str.contains("외식업")==True]
df.at[third[third.str.contains("외식업")==True].index,["경험사항"]]=third[third.str.contains("외식업")==True]

In [150]:
third[third.str.contains("외식업")==True]=""

In [151]:
third[third.str.contains("금융권")==True]
df.at[third[third.str.contains("금융권")==True].index,["경험사항"]]=third[third.str.contains("금융권")==True]

In [152]:
third[third.str.contains("금융권")==True]=""

In [153]:
third[third.str.contains("LG")==True]
df.at[third[third.str.contains("LG")==True].index,["경험사항"]]=third[third.str.contains("LG")==True]

In [154]:
third[third.str.contains("LG")==True]=""

In [155]:
third[third.str.contains("지상파")==True]
df.at[third[third.str.contains("지상파")==True].index,["경험사항"]]=third[third.str.contains("지상파")==True]

In [156]:
third[third.str.contains("지상파")==True]=""

In [157]:
third[third.str.contains("해피무브")==True]
df.at[third[third.str.contains("해피무브")==True].index,["경험사항"]]=third[third.str.contains("해피무브")==True]

In [158]:
third[third.str.contains("해피무브")==True]=""

In [159]:
third[third.str.contains("봉사")==True]
df.at[third[third.str.contains("봉사")==True].index,["경험사항"]]=third[third.str.contains("봉사")==True]

In [160]:
third[third.str.contains("봉사")==True]=""

In [161]:
third[third.str.contains("인턴,")==True]
df.at[third[third.str.contains("인턴,")==True].index,["경험사항"]]=third[third.str.contains("인턴,")==True]

In [162]:
third[third.str.contains("인턴,")==True]=""

In [163]:
third[third.str.contains("대외활동")==True]
df.at[third[third.str.contains("대외활동")==True].index,["경험사항"]]=third[third.str.contains("대외활동")==True]

In [164]:
third[third.str.contains("대외활동")==True]=""

In [165]:
third[third.str.contains("인턴2회")==True]
df.at[third[third.str.contains("인턴2회")==True].index,["경험사항"]]=third[third.str.contains("인턴2회")==True]

In [166]:
third[third.str.contains("인턴2회")==True]=""

In [167]:
third[third.str.contains("삼성")==True]
df.at[third[third.str.contains("삼성")==True].index,["경험사항"]]=third[third.str.contains("삼성")==True]

In [168]:
third[third.str.contains("삼성")==True]=""

In [169]:
third[third.str.contains("대회")==True]
df.at[third[third.str.contains("대회")==True].index,["경험사항"]]=third[third.str.contains("대회")==True]

In [170]:
third[third.str.contains("대회")==True]=""

In [171]:
third[third.str.contains("한국사 1급")==True]
df.at[third[third.str.contains("한국사 1급")==True].index,["자격증"]]="한국사검정능력1급"

In [172]:
third[third.str.contains("한국사 1급")==True]=""

In [173]:
third[third.str.contains("교내활동")==True]
df.at[third[third.str.contains("교내활동")==True].index,["경험사항"]]=third[third.str.contains("교내활동")==True]

In [174]:
third[third.str.contains("교내활동")==True]=""

In [175]:
third[third.str.contains("데이터분석")==True]
df.at[third[third.str.contains("데이터분석")==True].index,["경험사항"]]=third[third.str.contains("데이터분석")==True]

In [176]:
third[third.str.contains("데이터분석")==True]=""

In [177]:
third[third.str.contains("전자전파")==True]
df.at[third[third.str.contains("전자전파")==True].index,["자격증"]]=third[third.str.contains("전자전파")==True]

In [178]:
third[third.str.contains("전자전파")==True]=""

In [179]:
third.to_csv("1.txt")

In [180]:
third[third.str.contains("4.3")==True]
df.at[third[third.str.contains("4.3")==True].index,["학점"]]=third[third.str.contains("4.3")==True]

In [181]:
third[third.str.contains("4.3")==True]=""

In [182]:
third[third.str.contains("컴퓨터")==True]
df.at[third[third.str.contains("컴퓨터")==True].index,["학과"]]=third[third.str.contains("컴퓨터")==True]

In [183]:
third[third.str.contains("컴퓨터")==True]=""

In [184]:
third[third.str.contains("에너지")==True]
df.at[third[third.str.contains("에너지")==True].index,["학과"]]=third[third.str.contains("에너지")==True]

In [185]:
third[third.str.contains("에너지")==True]=""

In [186]:
third[third.str.contains("전자")==True]
df.at[third[third.str.contains("전자")==True].index,["학과"]]=third[third.str.contains("전자")==True]

In [187]:
third[third.str.contains("전자")==True]=""

In [188]:
third[third.str.contains("정보보호")==True]
df.at[third[third.str.contains("정보보호")==True].index,["학과"]]=third[third.str.contains("정보보호")==True]

In [189]:
third[third.str.contains("정보보호")==True]=""

In [190]:
third[third.str.contains("홍보광고")==True]
df.at[third[third.str.contains("홍보광고")==True].index,["학과"]]=third[third.str.contains("홍보광고")==True]

In [191]:
third[third.str.contains("홍보광고")==True]=""

In [192]:
third[third.str.contains("경제학")==True]
df.at[third[third.str.contains("경제학")==True].index,["학과"]]=third[third.str.contains("경제학")==True]

In [193]:
third[third.str.contains("경제학")==True]=""

In [194]:
third[third.str.contains("광고홍보")==True]
df.at[third[third.str.contains("광고홍보")==True].index,["학과"]]=third[third.str.contains("광고홍보")==True]

In [195]:
third[third.str.contains("광고홍보")==True]=""

In [196]:
third[third.str.contains("소프트웨어")==True]
df.at[third[third.str.contains("소프트웨어")==True].index,["학과"]]=third[third.str.contains("소프트웨어")==True]

In [197]:
third[third.str.contains("소프트웨어")==True]=""

In [198]:
third[third.str.contains("경제")==True]
df.at[third[third.str.contains("경제")==True].index,["학과"]]=third[third.str.contains("경제")==True]

In [199]:
third[third.str.contains("경제")==True]=""

In [200]:
third[third.str.contains("4.5")==True]
df.at[third[third.str.contains("4.5")==True].index,["학점"]]=third[third.str.contains("4.5")==True]

In [201]:
third[third.str.contains("4.5")==True]=""

In [202]:
third[third.str.contains("국제통상")==True]
df.at[third[third.str.contains("국제통상")==True].index,["학과"]]=third[third.str.contains("국제통상")==True]

In [203]:
third[third.str.contains("국제통상")==True]=""

In [204]:
third[third.str.contains("신소재공학")==True]
df.at[third[third.str.contains("신소재공학")==True].index,["학과"]]=third[third.str.contains("신소재공학")==True]

In [205]:
third[third.str.contains("신소재공학")==True]=""

In [206]:
third[third.str.contains("4.19")==True]
df.at[third[third.str.contains("4.19")==True].index,["학점"]]=third[third.str.contains("4.19")==True]

In [207]:
third[third.str.contains("4.19")==True]=""

In [208]:
third[third.str.contains("신문방송")==True]
df.at[third[third.str.contains("신문방송")==True].index,["학과"]]=third[third.str.contains("신문방송")==True]

In [209]:
third[third.str.contains("신문방송")==True]=""

In [210]:
third[third.str.contains("도시")==True]
df.at[third[third.str.contains("도시")==True].index,["학과"]]=third[third.str.contains("도시")==True]

In [211]:
third[third.str.contains("도시")==True]=""

In [212]:
third[third.str.contains("부동산")==True]
df.at[third[third.str.contains("부동산")==True].index,["학과"]]=third[third.str.contains("부동산")==True]

In [213]:
third[third.str.contains("부동산")==True]=""

In [214]:
third[third.str.contains("기계공학")==True]
df.at[third[third.str.contains("기계공학")==True].index,["학과"]]=third[third.str.contains("기계공학")==True]

In [215]:
third[third.str.contains("기계공학")==True]=""

In [216]:
third[third.str.contains("광고관련")==True]
df.at[third[third.str.contains("광고관련")==True].index,["학과"]]=third[third.str.contains("광고관련")==True]

In [217]:
third[third.str.contains("광고관련")==True]=""

In [218]:
third[third.str.contains("의류")==True]
df.at[third[third.str.contains("의류")==True].index,["학과"]]=third[third.str.contains("의류")==True]

In [219]:
third[third.str.contains("의류")==True]=""

In [220]:
third[third.str.contains("외교통상")==True]
df.at[third[third.str.contains("외교통상")==True].index,["학과"]]=third[third.str.contains("외교통상")==True]

In [221]:
third[third.str.contains("외교통상")==True]=""

In [222]:
third[third.str.contains("화학")==True]
df.at[third[third.str.contains("화학")==True].index,["학과"]]=third[third.str.contains("화학")==True]

In [223]:
third[third.str.contains("화학")==True]=""

In [224]:
third[third.str.contains("광고")==True]
df.at[third[third.str.contains("광고")==True].index,["학과"]]=third[third.str.contains("광고")==True]

In [225]:
third[third.str.contains("광고")==True]=""

In [226]:
third[third.str.contains("심리")==True]
df.at[third[third.str.contains("심리")==True].index,["학과"]]=third[third.str.contains("심리")==True]

In [227]:
third[third.str.contains("심리")==True]=""

In [228]:
third[third.str.contains("통계")==True]
df.at[third[third.str.contains("통계")==True].index,["학과"]]=third[third.str.contains("통계")==True]

In [229]:
third[third.str.contains("통계")==True]=""

In [230]:
third[third.str.contains("회계")==True]
df.at[third[third.str.contains("회계")==True].index,["학과"]]=third[third.str.contains("회계")==True]

In [231]:
third[third.str.contains("회계")==True]=""

In [232]:
third[third.str.contains("건축")==True]
df.at[third[third.str.contains("건축")==True].index,["학과"]]=third[third.str.contains("건축")==True]

In [233]:
third[third.str.contains("건축")==True]=""

In [234]:
third[third.str.contains("\+경영")==True]
df.at[third[third.str.contains("\+경영")==True].index,["학과"]]=third[third.str.contains("\+경영")==True]

In [235]:
third[third.str.contains("\+경영")==True]=""

In [236]:
third[third.str.contains("미디어")==True]
df.at[third[third.str.contains("미디어")==True].index,["학과"]]=third[third.str.contains("미디어")==True]

In [237]:
third[third.str.contains("미디어")==True]=""

In [238]:
third[third.str.contains("언론정보")==True]
df.at[third[third.str.contains("언론정보")==True].index,["학과"]]=third[third.str.contains("언론정보")==True]

In [239]:
third[third.str.contains("언론정보")==True]=""

In [240]:
third[third.str.contains("상경")==True]
df.at[third[third.str.contains("상경")==True].index,["학과"]]=third[third.str.contains("상경")==True]

In [241]:
third[third.str.contains("상경")==True]=""

In [242]:
third[third.str.contains("중문")==True]
df.at[third[third.str.contains("중문")==True].index,["학과"]]=third[third.str.contains("중문")==True]

In [243]:
third[third.str.contains("중문")==True]=""

In [244]:
third[third.str.contains("세포생물학")==True]
df.at[third[third.str.contains("세포생물학")==True].index,["학과"]]=third[third.str.contains("세포생물학")==True]

In [245]:
third[third.str.contains("세포생물학")==True]=""

In [246]:
third[third.str.contains("재료공학")==True]
df.at[third[third.str.contains("재료공학")==True].index,["학과"]]=third[third.str.contains("재료공학")==True]

In [247]:
third[third.str.contains("재료공학")==True]=""

In [248]:
third[third.str.contains("국제무역")==True]
df.at[third[third.str.contains("국제무역")==True].index,["학과"]]=third[third.str.contains("국제무역")==True]

In [249]:
third[third.str.contains("국제무역")==True]=""

In [250]:
third.to_csv("1.txt")

In [251]:
third[third.str.contains("정치외교학")==True]
df.at[third[third.str.contains("정치외교학")==True].index,["학과"]]=third[third.str.contains("정치외교학")==True]

In [252]:
third[third.str.contains("정치외교학")==True]=""

In [253]:
third[third.str.contains("금융")==True]
df.at[third[third.str.contains("금융")==True].index,["학과"]]=third[third.str.contains("금융")==True]

In [254]:
third[third.str.contains("금융")==True]=""

In [255]:
third[third.str.contains("화공")==True]
df.at[third[third.str.contains("화공")==True].index,["학과"]]=third[third.str.contains("화공")==True]

In [256]:
third[third.str.contains("화공")==True]=""

In [257]:
third[third.str.contains("정치외교")==True]
df.at[third[third.str.contains("정치외교")==True].index,["학과"]]=third[third.str.contains("정치외교")==True]

In [258]:
third[third.str.contains("정치외교")==True]=""

In [264]:
third[third.str.contains("복수")==True]=""

In [265]:
third[third.str.contains("복전")==True]=""

In [266]:
third[third.str.contains("부")==True]=""

In [268]:
third[third.str.contains("유")==True]=""

In [271]:
third[third.str.contains("경영")==True]
df.at[third[third.str.contains("경영")==True].index,["학과"]]=third[third.str.contains("경영")==True]

In [274]:
third[third.str.contains("경영")==True]=""

In [277]:
third[third.str.contains("경")==True]=""

In [279]:
third[third.str.contains("석사")==True]=""

In [282]:
third[third.str.contains("2회")==True]=""

In [288]:
third[third.str.contains("외")==True]=""

In [289]:
third[third.str.contains("홍")==True]
df.at[third[third.str.contains("홍")==True].index,["학교"]]=third[third.str.contains("홍")==True]

In [290]:
third[third.str.contains("홍")==True]=""